[2022-05-16 09:10] ivanturlakov commented on #3021
Verified on staging.
**Corrected to "New council elected."**
<img width="1213" alt="Снимок экрана 2022-05-16 в 12 05 35" src="https://user-images.githubusercontent.com/46903215/168558846-8931f865-f1bc-4893-bbe3-5b073003b897.png">

[2022-05-16 09:43] dmtrjsg opened #3066 "[feature request] Weak Stream"
**Taken at**: https://play.joystream.org/embedded/video/25422
**Fields**:
- Which feature are you missing?: Weak Stream
- What problem would that solve for you?: Although my internet connection is fine, the videos are cut off a lot. It loses its fluency and is distracting.
- Share your Github or Discord so we can get in touch: Erenn#5176

**Browser**: Chrome 101 (Windows 10)
**Screen size**: 1920x

[2022-05-16 09:52] ivanturlakov commented on #2889
Verified on staging.
The loading state looks good.

https://user-images.githubusercontent.com/46903215/168566732-be0c1650-41a7-46c2-854a-87c0cd61e34f.mov

[2022-05-16 11:30] polikosi commented on #2515
Verified on staging. Test evidences below:
![lead_rewards](https://user-images.githubusercontent.com/80429191/168583247-4a632881-b9dd-4758-8f06-22b20414fcb2.png)

[2022-05-16 12:30] RafalPloszka commented on #2312
The reason is probably known and will be addressed here: https://github.com/Joystream/joystream/issues/3573#issuecomment-1121399203

[2022-05-16 14:01] dmtrjsg opened #3070 "[USERSNAP] ESC button closes the modal with A LOT of edits thus ruining my work"
**Taken at**: https://dao.joystream.org/#/forum/category/12
**Fields**:
- Houston, we have a problem.: ESC button closes the modal with A LOT of edits thus ruining my work
- Comment: Warn user prior to closing modal!!!

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/03b5e3ee-d762-4dee-af36-84d833cce67c-annotated_339064ad-972a-4aa5-a49

[2022-05-16 14:18] #3058 closed

[2022-05-16 14:18] dmtrjsg commented on #3058
Issue moved to [Joystream/atlas #2699](https://github.com/Joystream/atlas/issues/2699) via [**ZenHub**](https://www.zenhub.com/)

[2022-05-16 14:22] dmtrjsg commented on #2354
@RafalPloszka let's show them as generic lock icons for the time being. If members have those locks applied, I'd suggest to display them as well. Eventually FE interfaces for those roles will make it to Pioneer :)

[2022-05-16 14:29] dmtrjsg opened #3071 "[feature request] test1"
**Taken at**: https://play.joystream.org/
**Fields**:
- Which feature are you missing?: test1
- What problem would that solve for you?: which bl it goes to

**Browser**: Chrome 101 (macOS Catalina)
**Screen size**: 1512x982
**[Open #7 in Usersnap](https://app.usersnap.com/l/feedback/94009665-b536-4b24-9f5c-54d345551d09?utm_medium=integration&utm_campaign=integration&utm_content=open)**

Powered by

[2022-05-16 14:30] dmtrjsg commented on #3071
test

[2022-05-16 14:30] #3071 closed

[2022-05-16 17:02] bedeho opened #3072 "Cheap first impression win"
Right now, people are landing on `Overview`, which is arguable _horrible_, I think `Working Groups`is by far the most engaging and relevant screen for newcomers. So I suggest
- remove `overview`
- make `working groups` the landing screen

This is really easy to do, so would urge just doing this asap.

[2022-05-16 17:52] dmtrjsg opened #3073 "Create Proposal for Channel Payouts"
## Context

Details are covered here:
- [ ] https://github.com/Joystream/pioneer/issues/2934

ℹ️ DM: in my head this shall broadly follow [this pattern](https://www.figma.com/file/pgNl83wgAub186krVkdiuo/Proposals?node-id=210%3A13897) for runtime upgrade, with some light touch validation thrown in, without going on an channel-specific level, since number of channels can be very (very-very) large ℹ️

[2022-05-16 17:52] dmtrjsg opened #3074 "View Proposal For Channel Payouts"
### Context

Same as in
-  #3073

### Scope

As a Council Member I want to view Channel Payout Proposal

Acceptance criteria:

Specific parameters shown as widgets showing key info for decision makers:

in scope:
- [ ] Show Max and Min Reward amount/  Max and Min Cashout
- [ ] Block/ Unblock all cashout attempts (e.g. cashouts - allowed)

out of scope:

- [ ] Hash of payload
- [ ] "Download the fi

[2022-05-16 18:00] dmtrjsg commented on #2701
@stepien4soft  Here I'd suggest to swap checkboxes, and place "do not show this again" below, to follow the convention :)

[2022-05-16 18:55] dmtrjsg opened #3075 "Vote on Channel Payout Proposal"
### Context

Same as in
-  #3073

### Scope

As a Council Member I want to vote on Channel Payout Proposal

Acceptance criteria:
- [ ] Follows [general pattern of proposal designs](https://www.figma.com/file/pgNl83wgAub186krVkdiuo/Proposals?node-id=338%3A12916)

[2022-05-16 19:20] #2934 closed

[2022-05-16 20:17] talentdev0807 commented on #2647
@talentdev0807

[2022-05-16 20:36] dmtrjsg opened #3076 "[USERSNAP] Reply button on the forum broken when no member selected"
**Taken at**: https://dao-git-staging-joystream.vercel.app/#/forum/thread/117
**Fields**:
- Houston, we have a problem.: Reply button on the forum broken when no member selected
- Comment: Either the reply button should be hidden unless you have selected a member, or it should some how prompt you to do so, or make your first membership if you dont have one.
- Feedback: bedeho

![SCREENSHOT](https:

[2022-05-16 20:41] talentdev0807 commented on #2221
Could you check again?
I can't see this kind of bug anymore

[2022-05-16 20:51] talentdev0807 commented on #2637
@talentdev0807

[2022-05-16 20:53] singulart commented on #2701
@dmtrjsg this is sent to DEV despite `qa-passed`? Will make my life harder when compiling the report

[2022-05-16 21:14] freakstatic commented on #2362
@dmtrjsg it seems that this [request](https://github.com/Joystream/pioneer/blob/ca9b298abbb45e157bcb734803345c34926933c9/packages/ui/src/council/hooks/useElectedCouncil.ts#L6) is getting cached by Apollo

I could be wrong but the "fix" applied [here[(https://github.com/Joystream/pioneer/blob/c3436611bf6120356cd168492e4ea94a1496f578/packages/ui/src/common/providers/transaction/provider.tsx#L25) to

[2022-05-17 08:08] dmtrjsg commented on #2701
@singulart this is a 1min thing, no need to get re-tested we will take care of bringing this further to prod.

[2022-05-17 08:18] dmtrjsg commented on #2413
1. Rationale

Agreed to show rationale re-using this design pattern:

<img width="1138" alt="Screenshot 2022-05-17 at 09 16 05" src="https://user-images.githubusercontent.com/93924525/168763966-80d01c0e-bfdc-48d0-b9fe-7b3a4ff15c16.png">

NB: Rationale is a single text input that applies to all entries for bounty judgement.

2. Slashed amount (this is always = full stake of applicant) we will try a

[2022-05-17 08:25] dmtrjsg commented on #2889
Token value changes turnes null returnable values into perpetual load.

[2022-05-17 08:29] dmtrjsg commented on #2889
@singulart no need to upd the reports, this is a nice issue (which is also hard to find) and we will handle it :)

[2022-05-17 08:30] dmtrjsg commented on #2701
@singulart also since this was not specified by myself, the QA verdic is correct, and no impact on qa-reports!

[2022-05-17 09:07] polikosi commented on #2864
Verified on staging. Test evidences below:

https://user-images.githubusercontent.com/80429191/168774340-b3d2bb34-9fa8-4094-a40f-3a8fce052ce6.mp4

[2022-05-17 09:11] dmtrjsg commented on #2413
@WRadoslaw

Copy:

"
You won the bounty!
Oracle judgement chose your work as winning. You can now recover your stake and claim reward!
"

"Your submission did not win.
You can withdraw your stake now and try next time!"

"You got slashed!
Your stake is now burned."

[2022-05-17 09:37] freakstatic commented on #2296
@freakstatic

[2022-05-17 09:37] ivanturlakov commented on #2689
Tested on staging.
MacOS Big Sur, latest versions Firefox/Safari/Chrome.

Without items
https://user-images.githubusercontent.com/46903215/168779938-b358cc4c-5344-40df-80e0-2e3d7e044db0.mov

With items
https://user-images.githubusercontent.com/46903215/168780390-a9b505ea-abe7-4fd1-af5c-140a64b1c84e.mov

[2022-05-17 09:43] polikosi commented on #2884
The button to delete the post ON THE VERY FIRST POST is removed
![Screenshot_14](https://user-images.githubusercontent.com/80429191/168779736-a4c0205d-c3ce-4a31-abd9-6f52e92c708c.png)

But when I delete the threads with one original post, then the "Latest thards" tab displays replies -1

https://user-images.githubusercontent.com/80429191/168781740-3b14704b-d642-47d4-95db-01cc6cc1851f.mp4

[2022-05-17 10:27] singulart commented on #2884
@polikosi Please create a new issue about incorrect delete thread behavior and attach the 👆🏻video

[2022-05-17 10:36] polikosi opened #3082 "When I delete the threads with one original post, then the "Latest theards" tab displays replies -1"
## Scope
- [ ] The deletion of post action should not impact the counter of replies

______

discovered during the testing https://github.com/Joystream/pioneer/issues/2884

Taken at: https://dao-git-staging-joystream.vercel.app/#/forum/latest-threads
Fields:

-  When I delete the threads with one original post, then the "Latest theards" tab displays replies -1

https://user-images.githubuserconten

[2022-05-17 11:09] #2970 closed

[2022-05-17 11:11] ivanturlakov commented on #2685
Verified on staging.
According to the results of recent council elections, the stakes are displayed correctly.
<img width="1440" alt="Снимок экрана 2022-05-17 в 13 33 47" src="https://user-images.githubusercontent.com/46903215/168797984-fe920563-3d4b-49fd-b72d-ab8e83ec594a.png">
<img width="1440" alt="Снимок экрана 2022-05-17 в 13 34 27" src="https://user-images.githubusercontent.com/46903215/1687

[2022-05-17 12:05] polikosi commented on #2821
Verified on staging. Test evidences below:
![Screenshot_17](https://user-images.githubusercontent.com/80429191/168806476-def03e40-81f1-427b-9170-872a668820c0.png)
![Screenshot_16](https://user-images.githubusercontent.com/80429191/168806502-7f426e77-b7b3-4a45-9f87-3aebe47acecd.png)
Link in tooltip correct
![image](https://user-images.githubusercontent.com/80429191/168806929-2a69fa46-5c1a-4187-b07c

[2022-05-17 12:30] #3041 closed

[2022-05-17 12:33] WRadoslaw commented on #3053
#3067

[2022-05-17 12:44] #2426 closed

[2022-05-17 12:44] #2428 closed

[2022-05-17 12:44] #2429 closed

[2022-05-17 12:44] #2437 closed

[2022-05-17 12:44] #2438 closed

[2022-05-17 12:44] #2951 closed

[2022-05-17 12:44] #2952 closed

[2022-05-17 12:47] #2785 closed

[2022-05-17 12:47] #2734 closed

[2022-05-17 12:50] dmtrjsg commented on #2992
we are deprecating (temporarily) overview, hence closing this for now

[2022-05-17 12:50] #2992 closed

[2022-05-17 13:06] dmtrjsg commented on #3056
@bwhm is it the case where they get synced up in arrears at a certain point in time regularly?

[2022-05-17 13:10] dmtrjsg opened #3085 "Loading State: Working Group"
## Context
* https://github.com/joystream/pioneer/issues/1214

## Scope
* Add loading states to WG module

:warning: this module is[ omitted from the designs](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=5239%3A150597), but my hope is that it can be done using the patterns provided for other modules.

In case of any unclear cases pls tag dmtrjsg in comments/ questions t

[2022-05-17 19:37] dmtrjsg opened #3086 "[USERSNAP] Cant scroll"
**Taken at**: https://dao.joystream.org/#/forum/category/4
**Fields**:
- Houston, we have a problem.: Cant scroll
- Comment: Browser Yandex (based on Blink, Chromium)
- Feedback: IgreX#0267

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/8021447f-7013-4514-b027-a52e06fc7afe-annotated_96dbe1c1-04b2-497b-99bb-6cf3330f7537.png?etag=6130c

[2022-05-18 07:56] ivanturlakov commented on #2839
Verified on staging.
All of the proposed changes were successfully implemented.

https://user-images.githubusercontent.com/46903215/168986734-3ec2f356-252c-49f1-b445-68bdd60430de.mov

[2022-05-18 10:22] singulart commented on #2735
@talentdev0807 Please address the requested changes in PR

[2022-05-18 11:05] #3049 closed

[2022-05-18 14:43] ivanturlakov commented on #2312
Tested on staging.
Done - "Hide Recover candidacy Stake cta for candidates during active announcing voting and revealing periods."
Done - "Display this lock as non-recoverable"
<img width="1440" alt="Снимок экрана 2022-05-18 в 17 27 40" src="https://user-images.githubusercontent.com/46903215/169069211-f881da0b-31d3-4d72-9b4a-6f56e5f9966d.png">
<img width="1440" alt="Снимок экрана 2022-05-18 в 17 2

[2022-05-18 20:54] adovrodion opened #3089 "Submit Judgement Error"
![image](https://user-images.githubusercontent.com/84832436/169153904-e4ca0dd5-4887-474b-99b5-426b2500e207.png)
I can't submit Judgement.

[2022-05-19 08:32] mochet commented on #3089
Error link: https://polkadot.js.org/apps/?rpc=wss://rpc.joystream.org:9944#/explorer/query/0x1147b2cfca8602b80d7a6b672aa456f3c0a7c4181e8413d0989858b3b26b119d

[2022-05-19 08:54] mochet commented on #3089
Actual entries within the bounty (on chain state) do not match what the transaction.
[code]

[2022-05-19 10:39] polikosi commented on #2624
Verified on staging. Test evidence below:
![2](https://user-images.githubusercontent.com/80429191/169274957-28a852fc-459c-468f-9f5c-bf2bc3931787.png)

[2022-05-19 11:05] ivanturlakov commented on #2730
Tested on staging.
"Problem experienced before: withdrawal modal was not triggered after selecting a member starting from guest view."
@dmtrjsg Did I understand correctly, that this is the case where there was a problem?

https://user-images.githubusercontent.com/46903215/169279116-6c6eed75-d48b-4889-ad31-01aa550a3a9d.mov

[2022-05-19 17:30] ivanturlakov commented on #2640
Tested on staging.

**"Unclaimed funds do not decrease with withdrawals" - The problem is still there.**
Two winners. After the first winner made a withdrawal unclaimed funds do not decrease and he is still shown the button to claim reward, after the second claiming an error occurs.
<img width="1204" alt="Снимок экрана 2022-05-19 в 19 50 34" src="https://user-images.githubusercontent.com/46903215/

[2022-05-20 03:55] dmtrjsg opened #3090 "[USERSNAP] Sign is oo long"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: Sign is oo long
- Comment: Every time in this I cant sign

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/4726fe6d-b043-43d1-9c35-28457390cdf1-annotated_822050f1-8cb8-4495-8e52-a40de68ebc00.png?etag=3864773932be1f89854389aaa31aa7d4)
*[Downloa

[2022-05-20 08:14] dmtrjsg opened #3091 "[USERSNAP] "Opening description" label is shown in Signal description"
**Taken at**: https://dao.joystream.org/#/proposals/preview/190
**Fields**:
- Houston, we have a problem.: &#34;Opening description&#34; label is shown in Signal description
- Comment: When I open a signal text, it is expected to see &#34;Signal Description&#34;, not opening description, because this window has nothing to do with openings..
Reported by isonar

![SCREENSHOT](https://resources.users

[2022-05-20 08:43] dmtrjsg opened #3092 "[USERSNAP] Proposals: Terminate Lead prop doesn't indicate whether slashing is occuring"
**Taken at**: https://dao.joystream.org/#/proposals/preview/189
**Fields**:
- Houston, we have a problem.: Proposals: Terminate Lead prop doesn&#39;t indicate whether slashing is occuring
- Comment: The field says &#34;Amount&#34; but:
- it does not say to the user &#34;this proposal is going to slash this amount from the lead&#34;
- it does not tell the user how much % wise the slash is for. 2m t

[2022-05-20 09:08] polikosi commented on #2349
Failed.

Actual: "Entrant stake must be greater than 1000 JOY"

Expected: "Minimum entrant stake must be greater than 1000 JOY"
![Screenshot_24](https://user-images.githubusercontent.com/80429191/169494965-80d9063d-8cb2-43b0-9382-faea6852fa14.png)

[2022-05-20 10:11] thesan commented on #2771
I'm repurposing this issue based on the 3rd field suggestion

[2022-05-20 10:13] #2278 closed

[2022-05-20 10:13] #2410 closed

[2022-05-20 10:13] #2446 closed

[2022-05-20 10:13] #2487 closed

[2022-05-20 10:13] #2515 closed

[2022-05-20 10:13] #2537 closed

[2022-05-20 10:13] #2561 closed

[2022-05-20 10:13] #2685 closed

[2022-05-20 10:13] #2689 closed

[2022-05-20 10:13] #2701 closed

[2022-05-20 10:13] #2737 closed

[2022-05-20 10:13] #2821 closed

[2022-05-20 10:13] #2839 closed

[2022-05-20 10:13] #2864 closed

[2022-05-20 10:13] #2884 closed

[2022-05-20 10:13] #2889 closed

[2022-05-20 10:13] #2983 closed

[2022-05-20 10:13] #3021 closed

[2022-05-20 15:21] ivanturlakov commented on #2618
Tested on staging.

https://user-images.githubusercontent.com/46903215/169553350-24711f1c-4f92-4472-a427-ca75630c85b4.mov

The candidate card is not updated. The "Voted" label and "Vote again" text on the button appears only after reloading the page.

My votes counter has been updated, but if you open the tab it is empty
<img width="1440" alt="Снимок экрана 2022-05-20 в 17 40 42" src="https://user

[2022-05-20 15:25] dmtrjsg opened #3093 "[feature request] Link to proposal / thread / post"
**Taken at**: https://dao.joystream.org/#/forum/thread/96
**Fields**:
- Which feature are you missing?: Link to proposal / thread / post
- What problem would that solve for you?: Is this possible? I saw some markup with `#` but didn&#39;t seem to produce links. How does it work? =&gt; Tooltip
- Share your Github or Discord so we can get in touch: l1dev

**Browser**: Chrome 100 (Linux)
**Screen siz

[2022-05-20 16:15] #3072 closed

[2022-05-20 16:30] traumschule commented on #3093
This isn't intuitive enough for me:
![forum-references](https://user-images.githubusercontent.com/31551045/169572060-064effde-41e4-491c-b7d8-ccca28654fa7.png)

[2022-05-21 08:00] dmtrjsg opened #3095 "[feature request] Link to tab routes"
**Taken at**: https://dao.joystream.org/#/bounty/preview/35
**Fields**:
- Which feature are you missing?: Link to tab routes
- What problem would that solve for you?: Feature request enabling users to link from a forum post to pioneer tabs [via anchors](https://stackoverflow.com/a/10491534), for example
`https://dao.joystream.org/#/bounty/preview/35#works`
&gt; Also make sure when users click on y

[2022-05-21 10:09] polikosi commented on #2509
Verified on staging. Test evidence below:
![Screenshot_27](https://user-images.githubusercontent.com/80429191/169646769-1b325aae-88e7-433c-8cad-70386a083a20.png)
![Screenshot_26](https://user-images.githubusercontent.com/80429191/169646776-1e94b170-7b47-458d-a0f0-828279cc3dd8.png)

[2022-05-21 10:23] polikosi commented on #2423
Verified on staging. Test evidence below:

![Screenshot_28](https://user-images.githubusercontent.com/80429191/169647327-0c2e1a57-9d7a-47e1-957a-b3eff762c7fb.png)

[2022-05-21 13:34] dmtrjsg opened #3096 "[USERSNAP] Forum crash on category 9"
**Taken at**: https://dao.joystream.org/#/forum/category/9
**Fields**:
- Houston, we have a problem.: Forum crash on category 9
- Comment: Better without `TypeError: Expected &#34;id&#34; to match &#34;[^\/]+?&#34;, but received &#34;&#34;`
- Feedback: l1dev

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/050c0bd3-f587-450f-addc-ea22c

[2022-05-21 13:38] traumschule commented on #3096
[code]
![forum-crash](https://user-images.githubusercontent.com/31551045/169654076-61528577-397d-4279-b353-afd6f96aa884.png)

[2022-05-21 15:23] traumschule opened #3097 "Meta: Pioneer as communication platform"
There are many ways to add remarks or rationales via extrinsic:
- https://github.com/Joystream/joystream/issues/3255
- https://github.com/Joystream/joystream/issues/2919
- https://github.com/Joystream/joystream/issues/3269

These changes could dramatically reduce the need for external communication methods and notification tools.

To enhance effectiveness of communication between workers, leads an

[2022-05-21 15:28] ivanturlakov commented on #2593
Tested on staging.

QN did not refetch.

1

https://user-images.githubusercontent.com/46903215/169658376-26406055-4dec-435f-81ca-977456632e18.mov

2

https://user-images.githubusercontent.com/46903215/169658330-3201bf4c-a837-4494-b1ad-b4561373abea.mov

3

https://user-images.githubusercontent.com/46903215/169658336-51d97027-b598-4da3-8fa6-fa1896407c37.mov

[2022-05-21 17:50] traumschule opened #3098 "Council: Sort by `Vote Power` + history"
From https://github.com/Joystream/pioneer/pull/2791#issuecomment-1121125529

1. sort candidates by `vote power`
2. Either of
- show **failed candidates** on Council page - maybe grayed in the same list or below with a heading `Not Elected`
- Past Councils -> Council Members: add `vote power` and failed candidates
- verify that just elected council shows on **Past Elections** (to compare vote power

[2022-05-22 06:14] dmtrjsg opened #3099 "[USERSNAP] Past Councils tab shows blank page"
**Taken at**: https://dao.joystream.org/#/council/past-councils
**Fields**:
- Houston, we have a problem.: Past Councils tab shows blank page
- Comment: First, the data is shown, then suddenly is stops showing.

https://dao.joystream.org/#/council/past-councils

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/81bb8dc1-210b-4b62-bf85-af

[2022-05-22 16:24] dmtrjsg opened #3100 "[USERSNAP] Openings: Minimal Stake value on pages is highly incorrect"
**Taken at**: https://dao.joystream.org/#/working-groups/openings/operationsWorkingGroupAlpha-3
**Fields**:
- Houston, we have a problem.: Openings: Minimal Stake value on pages is highly incorrect
- Comment: The actual min. stake for this role is 2m tJOY

This bug exists on all lead and worker openings that
I checked
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9

[2022-05-22 16:25] mochet commented on #3100
It appears the current value is being taken from the WGs budget

[2022-05-22 16:51] freakstatic commented on #3100
Fixed here: https://github.com/Joystream/pioneer/pull/3101
it was done by a community builder so appreciate if this can receive the `community-dev` label :smile:

[2022-05-22 17:32] dmtrjsg opened #3102 "[USERSNAP] Click outside of new post dialog closed it and my writing is GONE!"
**Taken at**: https://dao.joystream.org/#/forum/category/3
**Fields**:
- Houston, we have a problem.: Click outside of new post dialog closed it and my writing is GONE!
- Comment: Warn user if they wish to close the popup

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/a7adf67c-df4f-4ce0-a281-d6522b5a8442-annotated_ac65b6ba-96a9-4d27-

[2022-05-23 11:13] ivanturlakov commented on #2523
Tested on staging.

The countdown timer in blocks was added.

https://user-images.githubusercontent.com/46903215/169807125-0343dcc0-ca92-49f0-9689-bbda1ca3b7b6.mov

[2022-05-23 21:22] adovrodion opened #3105 ""Terminated" Bounty doesn't show information"
My understanding is that the Bounty goes to the "Past" section, from which all the stakes have been taken.
![image](https://user-images.githubusercontent.com/84832436/169906678-f891343b-04c8-4090-be90-0c3eca33b713.png)
On the main page, these bounties have "SUCCESSFUL" status.
![image](https://user-images.githubusercontent.com/84832436/169907245-16bea182-b34c-414e-9afb-a9e54dfdd18b.png)
But if you

[2022-05-24 04:35] traumschule commented on #2874
something for community dev?

[2022-05-24 14:00] dmtrjsg opened #3106 "[feature request] Compare forum post editions"
**Taken at**: https://dao.joystream.org/#/forum/thread/137
**Fields**:
- Which feature are you missing?: Compare forum post editions
- What problem would that solve for you?: I noticed two things when editing a forum post:
- after signing the tx and writing changes to chain the &#39;waiting for tx&#39; popup stays forever, some trigger must have failed
- going back and reloading the thread show th

[2022-05-25 10:27] singulart commented on #3017
missing description

[2022-05-25 10:27] singulart commented on #3046
missing description

[2022-05-25 10:28] singulart commented on #3019
missing description

[2022-05-25 11:56] secretgir1 commented on #2831
**to reproduce defect follow the instruction:**

1. Add new thread (e.g. test thread)
2. Moderate this thread using CLI  - I used this command - **forum:moderateThread - c (category ID) - t (thread ID) -r ("reason")**
3. Go to Forum Overview Tab
![image](https://user-images.githubusercontent.com/106246396/170255687-5c02f9ed-b3b5-475f-9789-eb1c06c6e1c0.png)
4. Thread is displayed with replies count

[2022-05-25 16:37] secretgir1 commented on #2832
**Steps to reproduce:**
1. Moderate thread using CLI - I used this command - **forum:moderateThread - c (category ID) - t (thread ID) -r ("reason")**
2. Check Forum Activities Panel
3. Forum lead nickname is displayed wrong. In Forum Activities Panel is appeared nickname of a previous forum lead. Please see the screenshoot below.
![image](https://user-images.githubusercontent.com/106246396/1703152

[2022-05-25 17:22] RafalPloszka opened #3109 "Add LockRecoveryTime logic"
Add logic to LockRecoveryTime component for locks:

- [x] BountyLockItem
- [x] CouncilCandidateLockItem
- [x] CouncilorLockItem
- [x] ProposalLockItem
- [x] WorkingGroupLockItem

Out of scope:

- [x] BoundAccountLockItem, InvitationLockItem - no way to know when lock will be recoverable
- [x] VoteLockItem - recovery time can vary depending on whether candidate will win

[2022-05-25 19:26] freakstatic commented on #2415
Bounty link: https://dao.joystream.org/#/bounty/preview/45

[2022-05-25 19:29] secretgir1 opened #3110 "Updating Category Title is not reflected in Pioneer"
**Steps to reproduce:**
1. Create Category with title "Test"
2. Update Category title to "Test 2" via **https://polkadot.js.org/apps/?rpc=wss://rpc.joystream.org:9944/#/extrinsics**
3. Observe **forum.CategoryTitleUpdated** in explorer **https://polkadot.js.org/apps/?rpc=wss://rpc.joystream.org:9944/#/explorer** to make sure update happened.
4. In Pioneer category shows with old title.

In query n

[2022-05-25 19:41] secretgir1 commented on #2833
Accepted for development

[2022-05-25 19:54] secretgir1 commented on #2659
Bug reproduce only during Funding Period.

[2022-05-25 19:54] secretgir1 commented on #2659
Accepted for development

[2022-05-25 20:09] secretgir1 commented on #2832
Accepted for Development

[2022-05-25 20:19] adovrodion commented on #2303
Bounty link: https://dao.joystream.org/#/bounty/preview/43

[2022-05-26 09:40] ivanturlakov commented on #3051
In this case, I entered the already taken handle that was successfully validated and I was able to initiate the transaction
<img width="1434" alt="Снимок экрана 2022-05-26 в 12 32 41" src="https://user-images.githubusercontent.com/46903215/170462285-7d86e7e5-a230-4d34-8c33-980242498836.png">

[2022-05-26 10:40] WRadoslaw commented on #3048
Good point, handled in #3111. Thanks!

[2022-05-26 10:59] adovrodion commented on #2795
Bounty link: https://dao.joystream.org/#/bounty/preview/47

[2022-05-26 11:44] ivanturlakov commented on #3053
Tested on staging.

The fields are validated correctly
The transaction gets sent with the parameter set in the modal

Member choosed for editing
<img width="1440" alt="Снимок экрана 2022-05-26 в 14 14 04" src="https://user-images.githubusercontent.com/46903215/170480253-f98c88c1-02d9-4583-be3f-0ee6dd612660.png">

Editing
<img width="956" alt="Снимок экрана 2022-05-26 в 14 15 03" src="https://user-

[2022-05-26 12:39] polikosi commented on #3046
verified on staging.
![Screenshot_30](https://user-images.githubusercontent.com/80429191/170489036-831a83cc-6ae1-47c5-a8a9-e1d13fc497fd.png)
Use CLI
![Screenshot_32](https://user-images.githubusercontent.com/80429191/170489059-9c701377-de95-4987-80d6-844c946d8614.png)

![Screenshot_31](https://user-images.githubusercontent.com/80429191/170489084-b1e3e4f9-8d73-4d63-9ad4-3669b098acbe.png)

[2022-05-26 14:06] MattAugustynowicz commented on #3029
Based on tests with several users, familiarization with the activities of other services having forums, our discussions, and knowledge, we come up with a proposal of forum solutions.   Let's start with what the user sees at the very beginning.

### The main page of the forum
[👉 Figma link here](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9364%3A333164)

<img width="109

[2022-05-26 14:55] polikosi commented on #3017
Verified on staging.

Announce candinancy.
![Screenshot_33](https://user-images.githubusercontent.com/80429191/170512607-8b09c99b-db75-4c7e-a3ed-b647038d0464.png)

Candidate profile
![Screenshot_34](https://user-images.githubusercontent.com/80429191/170512897-f1840ba3-514a-416d-982b-0885037b6db8.png)

Candidate summary
![Screenshot_35](https://user-images.githubusercontent.com/80429191/170513389-b

[2022-05-26 19:01] bedeho opened #3114 "Placeholder screen for disabled bounties"
Since people have become used to bounties, yet they are disabled, we should retain it in the side-menu and instead fill the main screen with some sort of explainer message saying that V2 version is coming soon.

Its unclear if we need this for `Carthage` as we in principle may end up using V1 bounty module there still, to not disrupt HR working group too badly.

* [ ] Bounties v2 is coming soon <-

[2022-05-27 08:54] ivanturlakov commented on #3051
Root account field validation.

https://user-images.githubusercontent.com/46903215/170666415-0af4b8fa-89c2-4472-b615-63e67e9e4a7e.mov

[2022-05-27 12:16] traumschule commented on #2361
Just to update since some things changed since Feb, not much however wrt to this issue.

## Current: single voting
- Currently voting requires me to know my account balances and keys.
- The `Vote for council` modal usually hides these because i voted in previous election => staked
- I paste the key into the select field and the account becomes visible. I could also paste someone else's key which i

[2022-05-27 13:42] dmtrjsg opened #3116 "[USERSNAP] Loading NFT pages is Blinking"
**Taken at**: https://play.joystream.org/nfts
**Fields**:
- Houston, we have a problem.: Loading NFT pages is Blinking
- Comment: When open NFT page and go to second pages, while page is loading nft images, loading animation seem blinking and irritating to the eye. it should be more smooth.
- Feedback: Ömer_ÖzdemirTR#5183

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6

[2022-05-27 14:37] thesan commented on #2362
@freakstatic I just made this [PR](https://github.com/Joystream/pioneer/pull/3117/files) for a similar issue on the election page. I added a hook (`@/common/hooks/useRefetchQueries`) to handle these kind of cases. Once the PR is merge you could use it here too.

[2022-05-27 15:36] ivanturlakov commented on #3019
Tested on staging.

The fields are validated correctly

https://user-images.githubusercontent.com/46903215/170729920-260e6edd-63ff-4e50-84f9-48d5dcfcf5ec.mov

The transaction gets sent with the parameter set in the modal
<img width="1440" alt="Снимок экрана 2022-05-27 в 18 06 16" src="https://user-images.githubusercontent.com/46903215/170730191-3135429f-1152-4511-a661-f231b2d4d49f.png">

Here I en

[2022-05-27 16:14] ytdbuolf commented on #2445
Accepted for issue #2445

[2022-05-27 16:41] singulart commented on #3019
@ivanturlakov I am marking this as success. Please create a separate ticket with your finding about balance validation. Thanks!

[2022-05-27 16:44] singulart commented on #3048
Marking this as success. Reported finding to be addressed separately as per the comment above

[2022-05-27 20:18] talentdev0807 commented on #2831
@talentdev0807

[2022-05-28 13:40] ytdbuolf commented on #2220
Will accept this for fixing

[2022-05-29 20:09] adovrodion commented on #2596
Bounty link: https://dao.joystream.org/#/bounty/preview/52

[2022-05-29 20:31] adovrodion commented on #2404
Bounty link: https://dao.joystream.org/#/bounty/preview/53

[2022-05-30 08:11] dmtrjsg opened #3119 "[USERSNAP] Proposals: After doing a successful search, a new query will not work, the old one remains"
**Taken at**: https://dao.joystream.org/#/proposals/past
**Fields**:
- Houston, we have a problem.: Proposals: After doing a successful search, a new query will not work, the old one remains
- Comment: I should be able to type in a new query and it should update the page but it doesn&#39;t
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbc

[2022-05-30 08:23] thesan commented on #2362
#3117 is now merged here's how the hook could be used for this issue:
[code]

[2022-05-30 08:27] dmtrjsg commented on #2341
@WRadoslaw https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=1373%3A67105 < tagged you on the page as well ;)

[2022-05-30 08:30] dmtrjsg commented on #2645
@thesan here's the issue, it was in the design sprint column, moving to In-design with a view to turn it around in a few hours. @MattAugustynowicz this is a blocker for a related issue > https://github.com/Joystream/pioneer/pull/3113 which has an open PR already.

[2022-05-30 08:33] dmtrjsg opened #3120 "Log out from currently selected membership button"
**Context:**
Feature of keeping the memebrship as signed in on browser page refresh

from  https://github.com/Joystream/pioneer/issues/2645
has an open PR>
https://github.com/Joystream/pioneer/pull/3113

**Scope:**
- [ ] Add sign-out flow designs (button and modal)

[2022-05-30 08:46] freakstatic commented on #2362
thanks very much!
I will use it

[2022-05-30 10:31] polikosi commented on #3046
LOCKED BALANCE
![Screenshot_40](https://user-images.githubusercontent.com/80429191/170967461-f44449de-9655-4b9c-9cb6-c528042ea8f7.png)

Minimum stake
![Screenshot_41](https://user-images.githubusercontent.com/80429191/170967603-456b91b8-6048-4255-9a5c-cc4434e8fd43.png)

Slash the worker
![Screenshot_42](https://user-images.githubusercontent.com/80429191/170967664-1f3a7376-7d9f-45fa-9d61-2203654419

[2022-05-30 10:54] freakstatic commented on #3100
@thesan can you move this to project 55?

[2022-05-30 11:18] dmtrjsg opened #3122 "[USERSNAP] Forum: The 1st post of a thread only includes the blockheight and no date/time"
## Scope

- Show date/time of 1st post

____
**Taken at**: https://dao.joystream.org/#/forum/thread/168
**Fields**:
- Houston, we have a problem.: Forum: The 1st post of a thread only includes the blockheight and no date/time
- Comment: subsequent posts do include this information
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/dat

[2022-05-30 11:20] mochet opened #3123 "WIP Research: Time format consistency across Pioneer"
It appears that some features or specific pages on Pioneer use either different formatting for times or don't have any at all.

A thorough look through every page should be done and a list should be created which explains what format is used on each page.

Who will do the research? Probably me. But I think this could be a great bounty for the community to work on also.

[2022-05-30 11:25] dmtrjsg opened #3124 "[USERSNAP] Council: Doesn't display specific date/time/block that the council started at"
**Taken at**: https://dao.joystream.org/#/council
**Fields**:
- Houston, we have a problem.: Council: Doesn&#39;t display specific date/time/block that the council started at
- Comment: SSIA
This is quite important information to have easily and readily available.
Although it is displayed in the feed on the right of the user&#39;s screen, this is insufficient and it should really be mentioned in t

[2022-05-30 11:27] dmtrjsg opened #3125 "[USERSNAP] Proposals: Activity feed is always out of date"
**Taken at**: https://dao.joystream.org/#/proposals/past
**Fields**:
- Houston, we have a problem.: Proposals: Activity feed is always out of date
- Comment: SSIA
Its a very weird problem because it always seems to be out of date by some number of days yet still works?
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_scree

[2022-05-30 11:58] ytdbuolf commented on #2220
Issue has been resolved

[2022-05-30 12:54] dmtrjsg commented on #3019
@singulart thank you for your steering 🙏 , cannot agree more on the approach to try and remain within the scope of Acceptance criteria and raise tangential/ related issues as separate bugs 🐞

[2022-05-30 14:36] freakstatic commented on #3100
@singulart already made a PR for this, can you assign me?

[2022-05-30 21:13] oleksanderkorn commented on #2712
<img width="1142" alt="image" src="https://user-images.githubusercontent.com/9252017/171059669-a7b2c70b-581d-4baf-a8b4-a97fb0552016.png">
Text which comes to MarkdownPreview is escaped with backslash.

[2022-05-31 05:32] #3116 closed

[2022-05-31 05:32] dmtrjsg commented on #3116
Issue moved to [Joystream/atlas #2767](https://github.com/Joystream/atlas/issues/2767) via [**ZenHub**](https://www.zenhub.com/)

[2022-05-31 06:19] dmtrjsg commented on #2824
@bwhm

Questions:
1. Guest view (IMG1 below, wallet not connected) banner shows a link to “start earning” but essentially needs to point to Discord channel aka “Speak with integrators”. What would be the right URL for this?
<img width="838" alt="Screenshot 2022-05-31 at 12 53 14" src="https://user-images.githubusercontent.com/93924525/171105378-97705671-5aa0-44dc-a2fb-d050545f8de8.png">

2. I foun

[2022-05-31 06:25] dmtrjsg commented on #2824
@MattAugustynowicz

Few comments on required design iteration (same points are added to Figma bubbles)
1. We need a view where member has wallet connected but membership not selected
2. Copy needs to get updated on H1 and H2 for banner and CTAs for membership selection
3. I think we may benefit from ability to show/hide this banner via different mechanics (vs do not show this again), since the fea

[2022-05-31 08:28] dmtrjsg opened #3131 "Sufficient Balance Check for Staking Account when Stake is a dynamic input > minimum requirement"
## Context

Identified no validation on staking acc balance where staking is user-input and above minimum value:
https://github.com/Joystream/pioneer/issues/3019#issuecomment-1139730525

## Scope

- [ ] Add validation on the staking account and show the error message for the account selected
(Insufficient balance) using existing field-level validation warning
- [ ] Wording: "Selected staking accou

[2022-05-31 08:32] ivanturlakov opened #3132 "VoteForCouncilModal voter balance validation"
In general, validation works well.
One finding. In case the user entered a value that exceeds the balance, the Next Step button appears active and the transaction will result in an insufficient balance error. Would be good if we validate this field in the first step)

https://user-images.githubusercontent.com/46903215/170731899-466dec37-fa93-4cd7-9317-17d359b24e8a.mov

[2022-05-31 08:44] ivanturlakov opened #3133 "UpdateMembership"
## Scope

- [ ] Add refetching of Membership details on side panel (on the left)
- [ ] and MemberId in the membership module

__________
Some frontend items(marked red) did not update after the transaction was executed.

Member choosed for editing
<img width="1440" alt="Снимок экрана 2022-05-26 в 14 14 04" src="https://user-images.githubusercontent.com/46903215/170480253-f98c88c1-02d9-4583-be3f-0e

[2022-05-31 09:22] dmtrjsg commented on #2824
Price https://status.joystream.org/price

[2022-05-31 11:09] dmtrjsg commented on #2659
@secretgir1 👋 trying to reach you on Discord in DM.. :) this is in relation to the Forum UX discovery test you participated in earlier. Look forward to hearing back there.

[2022-05-31 11:23] dmtrjsg opened #3134 "POC: Fetching Total Joys and $ from AirTable"
DOD:
- [ ] For logged in member show USD Joys Earned to Date (full historical) figure and JOYs

USD value = 60,000,000*(allocation)

[2022-05-31 11:24] dmtrjsg opened #3135 "POC: Identifying MemberId -> PersonID and building URL to redirect for signed in Members"
DOD:
- [ ] Quick mockup button "link to CRM" which links user to their ProfileID on the CRM

[2022-05-31 11:24] dmtrjsg opened #3136 "POC: Deterministic URL for App Version on CRM app"
DOD:

- [ ] remove / replace the version hash from the CRM
- [ ] find out what the pattern is (and what triggers the update) so that we can stay in sync with CRM board version upgrades

[2022-05-31 11:25] dmtrjsg opened #3137 "POC: Block number fetching for Updates Timestamp"
DOD:
- [ ] Display the block number of update of total joys earned and how much time elapsed since update (update X days hrs minutes ago)

[2022-05-31 11:25] dmtrjsg opened #3138 "Guest Member Banner"

[2022-05-31 11:25] dmtrjsg opened #3139 "Signed in Member Banner"

[2022-05-31 11:26] dmtrjsg opened #3140 "Wallet Identified, not signed in Member Banner"

[2022-05-31 11:28] dmtrjsg opened #3141 "Testnet Info (FM) Banner"
**Context:**
Reduced version follow up for the FM banner with a view to simplify and expedite this feature.

**Scope:**
- [ ] Banner shows for all users upon landing to Pioneer (any page)
- [ ] Do not show this again checkbox
- [ ] Setting stored in local storage
- [ ] Links from Copy pointing to the right pages on Gitbook
- [ ] "Speak with Community Integrators" points to Discord channel with int

[2022-05-31 11:37] dmtrjsg opened #3142 "Deploy Stabilisation6 release"
ssia

[2022-05-31 12:05] #2845 closed

[2022-05-31 12:05] dmtrjsg commented on #2845
Issue moved to [Joystream/joystream #3813](https://github.com/Joystream/joystream/issues/3813) via [**ZenHub**](https://www.zenhub.com/)

[2022-05-31 13:01] dmtrjsg opened #3143 "Stake not marked as recovered (awaiting Runtime upgrade)"
**Taken at**: https://dao.joystream.org/#/election/past-votes
**Fields**:
- Houston, we have a problem.: Stake not marked as recovered
- Comment: My steak is not marked as restored. I have already restored it and used the funds again. Sometimes I work from two devices.

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/c7ed1209-fd82-4075

[2022-05-31 16:24] talentdev0807 commented on #2431
@talentdev0807

[2022-06-01 05:55] #2349 closed

[2022-06-01 05:55] #2423 closed

[2022-06-01 05:55] #2509 closed

[2022-06-01 05:55] #2523 closed

[2022-06-01 05:55] #2647 closed

[2022-06-01 05:55] #3017 closed

[2022-06-01 05:55] #3019 closed

[2022-06-01 05:55] #3046 closed

[2022-06-01 05:55] #3053 closed

[2022-06-01 06:30] dmtrjsg commented on #2824
Superseded by https://github.com/Joystream/pioneer/issues/3141 in favour of ultra expedience.

This epic (and all related tickets) will be kept for reference, marked as enhancement and closed for the time being.

[2022-06-01 06:30] #2824 closed

[2022-06-01 06:30] #3134 closed

[2022-06-01 06:30] #3135 closed

[2022-06-01 06:30] #3136 closed

[2022-06-01 06:30] #3137 closed

[2022-06-01 06:31] #3138 closed

[2022-06-01 06:31] #3139 closed

[2022-06-01 06:31] #3140 closed

[2022-06-01 06:45] MattAugustynowicz commented on #3141
@dmtrjsg @mrexpat imo "get started" should direct [here](https://www.joystream.org/start-here/what-is-joystream). This will show users how to cooperate with Joystream, and they will be redirected to discord once they have read the "tutorial." Directly putting the user on discord may not be entirely clear

[2022-06-01 06:52] dmtrjsg commented on #3141
@MattAugustynowicz how about?

Primary: Learn More -> videos on marketing website
Secondary: Speak with Community Integrators -> Discord

__imo nothing works better than speaking with a live person in terms of CR ..

[2022-06-01 08:12] dmtrjsg commented on #3051
Root account validation - check for regex
Membership Handle - check for duplicates from QN

[2022-06-01 08:52] dmtrjsg opened #3144 "External Resource for Memberships"
Epic encapsulating

#1977
#2032

[2022-06-01 14:45] thesan opened #3148 "CI false positive"
Problem: Individual test keeps on randomly timing out.

Slow tests/test suites should be addressed more depth by #2798. But in the meantime the jest `testTimeout` should be increased globally.

[2022-06-01 17:28] mochet commented on #3143
Another user reported the same problem on Discord.

The previous votes section contains several votes which no longer exist within `chain state` which meant the user thought that they had 2m tJOY locked--in truth the amount was only 10k tjoy
![image](https://user-images.githubusercontent.com/50830161/171466046-f8d8e55c-971c-4857-8a4a-1152cb1b33d0.png)

![image](https://user-images.githubuserconten

[2022-06-01 18:25] dmtrjsg opened #3149 "[feature request] WG openings: Need to specify who the lead was at the time a worker was hired"
**Taken at**: https://dao.joystream.org/#/working-groups/openings/distributionWorkingGroup-2
**Fields**:
- Which feature are you missing?: WG openings: Need to specify who the lead was at the time a worker was hired
- What problem would that solve for you?: Since leads can change over time, it is important to attribute hiring decisions accordingly. Especially if they were performed by an older WG

[2022-06-02 06:00] dmtrjsg commented on #3141
@MattAugustynowicz thank you, looking good!

[2022-06-02 06:28] dmtrjsg opened #3151 "Forum: Landing Page - Main Tab - Latest Threads"
## Context
UX facelift of Forum Module

## Designs Preview

[LInk to Figma> ](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9364%3A333164)

Thread Card
![](https://user-images.githubusercontent.com/93924525/171571255-9eed3d5d-d6b8-4ece-acd9-73d52d6c0219.png)

Latest Threads

![](https://user-images.githubusercontent.com/93924525/171567397-0032aefd-4979-40ba-b188-ba30d285

[2022-06-02 06:28] dmtrjsg opened #3152 "Forum - My threads Tab"
## Context
UX facelift of Forum Module

## Designs Preview

![](https://user-images.githubusercontent.com/93924525/172781259-fc187779-7bb3-434a-b653-29894325773d.png)

[LInk to Figma> ](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9550%3A349072)

## Scope
**My threads Tab**

AC

* [ ] Section name My threads
* [ ] Display all threads as individual cards (basically filte

[2022-06-02 06:28] dmtrjsg opened #3153 "Forum Category Page"
## Context
Forum UX facelift upd

## Design Preview

[Link to Figma> ](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9364%3A339383)

![](https://user-images.githubusercontent.com/93924525/171611749-395475b8-274a-4e5b-a9ff-3a2339a66df3.png)

## Scope
:one: **Popular threads**
![](https://user-images.githubusercontent.com/93924525/171612242-f27c7b99-d2e5-41b1-ae01-09f9976b

[2022-06-02 06:28] dmtrjsg opened #3154 "Forum Thread Page"
## Context
UX facelift of Forum Module

## Designs Preview
<img width="749" alt="Screenshot 2022-06-02 at 17 45 34" src="https://user-images.githubusercontent.com/93924525/171613320-a7403c01-5690-4d3c-bd92-f8549629b2ad.png">

## Scope
- [x] Font upd
- [x] Centered on screen w padding
- [x] Action buttons moved to the left

## Out of scope
- [x] #3187

[2022-06-02 06:28] dmtrjsg opened #3155 "Forum Activity Drawer"
## Context
UX facelift of Forum Module

## Designs Preview

[Link to Figma> ](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9364%3A337918)

![](https://user-images.githubusercontent.com/93924525/171613632-355a2b78-b01c-4d6f-a301-c1e68315ee80.png)

## Scope
* [ ] Activity drawer [hidden behind button](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-i

[2022-06-02 06:53] dmtrjsg opened #3156 "Past councils page breaks upon loading"
Pages goes blank after a brief moment upon loading:

![Screen Shot 2022-06-02 at 9.24.27 AM.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/367969a8-ca4a-4ec4-b4d9-b77aa369c773
)

[2022-06-02 07:03] dmtrjsg opened #3157 "Forum Landing Page - Main Tab - categories"
## Context
UX facelift of Forum Module

## Designs

[Link to Figma >](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=8966%3A319910)

This page > https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9364%3A333164

## Scope
**Categories Section on Main Forum Tab**

![](https://user-images.githubusercontent.com/93924525/171575443-6a0a2770-8beb-4859-9688-8

[2022-06-02 07:40] MattAugustynowicz commented on #3120
[👉 Figma link](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9470%3A343505)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/da1c8bf9-3e7b-4acf-a3aa-ed747a7a58a3)

In my opinion, a modal with confirmation is not necessary here. It is rather difficult to missclick here, and logging in again does not require a password so it takes half a second.

[2022-06-02 07:59] mrexpat commented on #3141
They use the #start-here channel - here's the invite link (also available in the onboarding CTA) - https://discord.gg/nmWPBJNT5x

[2022-06-02 08:01] mrexpat commented on #3141
I say just go with the 1 CTA and have it go to discord.. we can send the right onboarding videos to the right person based on chatting with them

[2022-06-02 08:06] mrexpat commented on #3141
IMO, the paragraph could clarify more that users earn both tJOY and JOY by participating (if they verify).

I would go more along the lines of

--

Testnet participants earn a combination of our testnet token $tJOY, and allocation of our mainnet token $JOY (which will come to life upon mainnet launch).

$tJOY can be converted to cash immediately, whereas $JOY will be allocated shortly after mainne

[2022-06-02 08:09] #2690 closed

[2022-06-02 08:12] dmtrjsg commented on #2645
@stepien4soft pls add it to https://github.com/Joystream/pioneer/pull/3113

[2022-06-02 08:30] thesan opened #3159 "Map QN `BigInt` into `string`"
## Context
Currently the QN transmit `BigInt` fields as `string` code generated from the schema maps them to `any`. As a result typescript fails to detect some typing errors, which leads to issues like #3156.

## Scope
- [x] Map `BigInt` to `string` in the [`codegen.config.yml`](https://github.com/Joystream/pioneer/blob/d7bddcb98d79fc7a61c24b1a44a266d794541de5/packages/ui/codegen.config.yml)
- [x]

[2022-06-02 09:07] #3120 closed

[2022-06-02 09:34] thesan opened #3160 "Deploy Stabilisation7 release"
ssia

[2022-06-02 09:54] ivanturlakov commented on #2817
Tested on https://dao-git-feature-polkadot-worker-joystream.vercel.app/

**Performance tests**
Chrome Web Tools (Average. Tested several times)
<img width="334" alt="Снимок экрана 2022-06-01 в 18 18 05" src="https://user-images.githubusercontent.com/46903215/171596170-1736dd99-7ddf-48fe-8915-2e8b1b60f995.png">

Lighthouse Chrome Extension (Average. Tested several times)
<img width="1104" alt="Сним

[2022-06-02 10:23] dmtrjsg commented on #3141
@WRadoslaw copy is finalised!

Testnet participants [earn](https://joystream.gitbook.io/testnet-workspace/testnet/testnet-rewards) a combination of our testnet token [$tJOY](https://joystream.gitbook.io/testnet-workspace/testnet/usdtjoy), and allocation of our mainnet token $JOY (which will come to life upon mainnet launch).

$tJOY can be [converted](https://www.joystream.org/cashout/) to BCH, (Bi

[2022-06-02 10:31] mrexpat commented on #3141
small typo should be "by accruing $15k USD worth of $JOY"

[2022-06-02 10:31] dmtrjsg opened #3162 "Forum: Watchlist Threads"
## Context
Forum UX update

## Design

[LInk to Figma> ](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9639%3A354609)

## Scope
* [ ] Watchlist tab
* [ ] Counter of threads in the tab as pill

* [ ] Hover on thread card shows remove from watchlist
* [ ] Remove from watchlist action

:information_source:

thread card is described here - #3183

┆Issue is synchronized with

[2022-06-02 10:32] dmtrjsg opened #3163 "Forum: Reply to thread in a modal"
## Context
Forum UX facelift

## Design

[Link to Figma>](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9639%3A351739)

## Scope
Replying to thread

* [ ] Reply to thread triggers new modal if member logged in
* [ ] Reply modal contains original message in the header)
* [ ] Guest user prompted to choose membership automatically
* [ ] Once thread is posted, screen anchors

[2022-06-02 10:49] dmtrjsg opened #3164 "Hide Watchlist functionality"

[2022-06-02 10:50] dmtrjsg opened #3165 "Moderated posts"

[2022-06-02 11:03] thesan commented on #2817
@ivanturlakov thank you for the effort but this PR won't have any impact on PageSpeed results (since it only affect the browser with a polkadot extension, and the api is loaded after the page load anyway, it's the "Connecting to Joystream message"). Also it won't affect the query nodes, the changes are just about the RPC connection.

The testing should be about checking that no transaction is fail

[2022-06-02 11:03] singulart commented on #2415
@dmtrjsg Please clarify what does it mean `each card has shading disctinct borders`?

[2022-06-02 11:09] singulart commented on #2817
Thanks for clarification, @thesan. So, would it be sufficient to test just a few things listed below?
1. Posting on forum
2. Transfer funds
3. Contributing to a bounty
4. Commenting in a proposal

[2022-06-02 11:47] dmtrjsg commented on #3164
Erroneously raised

[2022-06-02 11:47] #3164 closed

[2022-06-02 11:52] ivanturlakov commented on #3051
Tested on staging.

Root account validation fixed
Membership Handle validation fixed

https://user-images.githubusercontent.com/46903215/171623096-42894a5c-fa0e-4fcb-8aad-8e5f8d14b180.mov

[2022-06-02 11:56] dmtrjsg opened #3166 "Spike: support fees"
DOD:

- [ ] Define the scope of work that is required to teach Pioneer working with fees
- [ ] How the fees are calculated -> add link/ paragraph on fees variation (and suggest a way to communicate this to customers)

[2022-06-02 12:34] polikosi commented on #2294
Current:
✅ Newest on top (default)
![Screenshot_43](https://user-images.githubusercontent.com/80429191/171627710-f9889aa1-63b7-4328-bd6a-562448e2d7da.png)

🚫Oldest on top (I can't sort by date, there are no fields or buttons for this)
![Screenshot_44](https://user-images.githubusercontent.com/80429191/171628067-73a3f072-651e-4083-a08c-c12a191b78e3.png)

✅ By Name A-Z
![Screenshot_45](https://user-

[2022-06-02 12:34] dmtrjsg opened #3168 "[USERSNAP] Past Elections: Shows incorrect blockheight for "Election Ended at""
## Scope
- [ ] Fix the page to show election ended blockheight, and not started (as right now).

___
**Taken at**: https://dao.joystream.org/#/election/past-elections
**Fields**:
- Houston, we have a problem.: Past Elections: Shows incorrect blockheight for &#34;Election Ended at&#34;
- Comment: SSIA
The blockheights shown are for when the announcing period started rather than when an election end

[2022-06-02 12:38] thesan commented on #2817
@singulart IMO the risk mostly resides on the data communication between the main thread and the webworker, so the transaction you listed are really good examples of high risk ones (except for transfer funds), I would just add:
- Bounty creation with a closed whitelist (because of the `BtreeSet`)
- Bounty judgment (Because of the judgement map)
- Post deletion (A slightly different `BtreeMap`)
- C

[2022-06-02 12:43] thesan commented on #2817
Actually I should have described what was expected of the QA in a comment earlier

[2022-06-02 14:51] ivanturlakov commented on #2817
**Posting on forum**
Everything is fine, until the moment when this window appears
<img width="1184" alt="Снимок экрана 2022-06-02 в 17 34 29" src="https://user-images.githubusercontent.com/46903215/171655341-164a65fc-971b-427d-a418-01768d7a88e5.png">

If you click on the Show my thread button, a white screen, and an error appears
<img width="1424" alt="Снимок экрана 2022-06-02 в 17 34 50" src="ht

[2022-06-03 08:13] singulart commented on #2817
@thesan Creating runtime upgrade proposal flow is faulty, as far as I know, as it sends empty blob. Last time I had to create this kind of proposal via Extrinsics tab on polkadot app

[2022-06-03 09:47] dmtrjsg opened #3169 "[feature request] Improved thread creation process"
**Taken at**: https://dao.joystream.org/#/forum/category/11
**Fields**:
- Which feature are you missing?: Improved thread creation process
- What problem would that solve for you?: The current workflow or &#34;performance&#34; as in what happens on screen when creating a thread or post is not very appealing, feels brittle that content could be  lost.
- the sign modal should keep the inserted conte

[2022-06-03 10:44] WRadoslaw commented on #1977
@dmtrjsg @MattAugustynowicz  hey, WDYT about keeping tiles above new inputs? That way user can just quick select desired socials and then fill input below. RN when you want to add multiple socials and then fill them out it's a pain since with each input they get pushed down

[2022-06-03 10:48] MattAugustynowicz commented on #1977
@WRadoslaw Excellent point sir. Sure! Let us do as you say. Thank you 🙌

[2022-06-03 11:19] bwhm commented on #3110
Hey,
If the query node isn't updated either, I'll assume it's because the transaction is:
- Rejected on chain
- Invalid according to the metaprotocol

In any event, that would not be a pioneer problem, but we need to know exactly what the issue is first!

Do you have the blockheight when (3) happened? The link just points to the explorer, so I can't see what happened without knowing the height, an

[2022-06-03 11:22] bwhm commented on #3110
`"updatedAt": "2022-05-25T19:31:12.000Z",`

refers to when it was deleted: https://polkadot.js.org/apps/?rpc=wss://rpc.joystream.org:9944/#/explorer/query/0x0df4889a88a1eab64efdc4e5a14d948f0a4a5262994e6b381a984df70ce8ceba

[2022-06-03 11:25] polikosi commented on #2712
⚠️  Proposal discussion:
strikethrough, block quote and bulleted list don't work correctly
![Screenshot_65](https://user-images.githubusercontent.com/80429191/171842099-e5742b73-0018-4d0e-898e-777f9a2d6dc2.png)
![Screenshot_66](https://user-images.githubusercontent.com/80429191/171842109-38c74eac-b9aa-4d1b-a371-82a4d4f7ea27.png)

Bounty discussion:

⚠️  Forum post:
strikethrough, block quote and b

[2022-06-03 12:11] polikosi commented on #3100
Verified on staging. Test evidence below:
Minimal stake is 2000 tjoy
![Screenshot_76](https://user-images.githubusercontent.com/80429191/171850936-e26a8832-ae9e-4c9f-bde2-61f46dcf06d9.png)
![Screenshot_75](https://user-images.githubusercontent.com/80429191/171850941-899f6dd1-302c-4162-a85e-cf8d8030dd83.png)

[2022-06-03 12:27] thesan opened #3170 "The bounties page crashes on `dev`/`staging`"
![Screenshot from 2022-06-03 14-26-10](https://user-images.githubusercontent.com/6571453/171853377-6d1e740c-a1f7-4343-9fad-f3b04fd4283b.png)

[2022-06-03 13:57] ivanturlakov commented on #3054
Tested on staging.

The fields are validated correctly but allow special characters.
The transaction gets sent with the parameter set in the modal.
<img width="1268" alt="Снимок экрана 2022-06-03 в 16 48 59" src="https://user-images.githubusercontent.com/46903215/171868381-119d397c-e9ab-4ce8-b5ad-9729bc430dc9.png">
<img width="1207" alt="Снимок экрана 2022-06-03 в 16 55 09" src="https://user-image

[2022-06-03 14:22] polikosi commented on #2831
verified on prod https://dao.joystream.org/#/forum/
Test evidence below:
![Screenshot_79](https://user-images.githubusercontent.com/80429191/171872372-76390d3c-7499-46a3-b65b-3ca339315a52.png)
![Screenshot_78](https://user-images.githubusercontent.com/80429191/171872381-f9f447d1-a451-4a2e-a447-6edad169e7a8.png)
![Screenshot_77](https://user-images.githubusercontent.com/80429191/171872389-229150d6-

[2022-06-03 14:24] ivanturlakov commented on #2735
Tested on staging.

Member selection menu triggers on reply.
CTA copy stays as it has been.

https://user-images.githubusercontent.com/46903215/171873179-d37d1f48-5d4a-49d6-bd7a-e12c7f0f5dcc.mov

[2022-06-03 14:40] traumschule commented on #3169
not in scope of #3054 but related. if accepted this would probably require a new design for thread preview or at least how to indicate that display is preliminary until transaction finalizes.

[2022-06-03 15:59] ivanturlakov commented on #2415
Tested on staging.

Cards shadow fixed
<img width="1206" alt="Снимок экрана 2022-06-03 в 18 55 29" src="https://user-images.githubusercontent.com/46903215/171902145-b593b422-eb12-48d5-bc89-87ba8f0c94b3.png">

[2022-06-03 16:29] talentdev0807 commented on #2735
I talked with @thesan, we decided to keep it

[2022-06-03 16:57] adovrodion commented on #2303
Bounty link: https://dao.joystream.org/#/bounty/preview/61

[2022-06-03 17:50] polikosi commented on #2637
Verified on staging. Everything works as expected. Test evidence below:

https://user-images.githubusercontent.com/80429191/171918971-e1cbc216-60fd-4972-83f4-1924fe45e92d.mp4

[2022-06-03 19:10] secretgir1 commented on #2431
Hey guys @mochet @dmtrjsg @bwhm Description here is unclear.

Let's discuss requirements regarding this ticket.
What is you expectation?

As I see button is clickable, but here is another problem. Page appears the same as a Categories Tab.
We should understand what user have to see on this page. Do we have UI for this page?

As Forum lead I expect to see list of the most popular threads. For examp

[2022-06-03 20:21] talentdev0807 commented on #2431
- We don't have page, router and query for this
- You are right, we can get top 10-15 threads
I thinks 5 threads is good

[2022-06-04 10:43] dmtrjsg opened #3174 "[USERSNAP] Forums: Categories don't show threads from subcategories"
**Taken at**: https://dao.joystream.org/#/forum
**Fields**:
- Houston, we have a problem.: Forums: Categories don&#39;t show threads from subcategories
- Comment: SSIA
Governance category has multiple threads but this makes it appear to users like there is no activity happening in the section
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46db

[2022-06-04 13:21] dmtrjsg opened #3175 "[feature request] Update thread view on new posts, changes"
**Taken at**: https://dao.joystream.org/#/forum/thread/196
**Fields**:
- Which feature are you missing?: Update thread view on new posts, changes
- What problem would that solve for you?: GH shows how comfortable it is when the view is automatically updated on new posts.
Mot reliably via request to QN for posts in current thread (+ catch if it got deleted etc.), maybe once every 15 minutes.
If con

[2022-06-04 14:22] adovrodion commented on #2770
Bounty link: https://dao.joystream.org/#/bounty/preview/63

[2022-06-04 14:29] adovrodion commented on #2601
Bounty link: https://dao.joystream.org/#/bounty/preview/64

[2022-06-05 07:01] dmtrjsg opened #3176 "[USERSNAP] Forum: Sorting of threads is sometimes incorrect"
**Taken at**: https://dao.joystream.org/#/forum/category/16
**Fields**:
- Houston, we have a problem.: Forum: Sorting of threads is sometimes incorrect
- Comment: SSIA
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/7115a535-cc25-40d1-9c77-7cd4b1bca800-annotated_ee0f1d31-4ea4-423d-a7a5-e2f5567264a4.png?etag=95e

[2022-06-05 15:55] dmtrjsg opened #3177 "[USERSNAP] Past Councils: "Proposals Rejected" is incorrect"
**Taken at**: https://dao.joystream.org/#/council/past-councils
**Fields**:
- Houston, we have a problem.: Past Councils: &#34;Proposals Rejected&#34; is incorrect
- Comment: SSIA
Numbers don&#39;t add up.
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/790d1c66-c3f3-4615-ae09-0771eb456a53-annotated_2492723e-67

[2022-06-05 19:43] dmtrjsg opened #3179 "[USERSNAP] Wrong council number representation"
**Taken at**: https://dao.joystream.org/#/council/past-councils/0000000a
**Fields**:
- Houston, we have a problem.: Wrong council number representation
- Comment: The council number should be 10 but it&#39;s showing as &#34;a&#34;.
- Feedback: freakstatic#0197

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/91190b68-b11f-4229-a9a9-a2a

[2022-06-05 20:05] mochet opened #3180 "WIP: WG representation of budgets + worker payments"

[2022-06-05 21:27] dmtrjsg opened #3181 "[USERSNAP] Worker profile: "Earned in 24h" incorrect"
**Taken at**: https://dao.joystream.org/#/working-groups/storage
**Fields**:
- Houston, we have a problem.: Worker profile: &#34;Earned in 24h&#34; incorrect
- Comment: SSIA
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/a4b14f37-d7e6-4063-9ea9-35c5e0c40956-annotated_ca32315f-00ac-4463-8bc9-96a80030008c.png?et

[2022-06-05 22:46] traumschule commented on #3180
To turn this into a feature request:
1. determine `$start_block` for current council
[code]
3. implement query to get all worker payments this term
[code]
4. design worker rewards sortable table (figma, community-dev-able?)
5. add as tab or below current members to Council overview

[2022-06-06 06:15] dmtrjsg commented on #2431
Guys just FYI here, we've done some design overhaul work which may impact this module going forward. This is not planned as of yet but most likely will be triaged and added to `community-dev` pipeline.

Imho, for the time being Top Threads could be  simply hidden.

Related ticket on Top Threads (as part of category): https://github.com/Joystream/pioneer/issues/3153
Related ticket for the full Epic

[2022-06-06 06:16] dmtrjsg opened #3183 "Thread Card"
## Context
UX facelift of Forum Module

## Designs Preview

Thread Card
<img width="328" alt="Screenshot 2022-06-02 at 13 56 04" src="https://user-images.githubusercontent.com/93924525/171571255-9eed3d5d-d6b8-4ece-acd9-73d52d6c0219.png">

## Scope
1️⃣ **Thread Card**

AC:

- [ ] Author name and avatar
- [ ] Timestamp in time (x days y hrs z mins ago)
- [ ] Copy truncated at fixed card dimensions
-

[2022-06-06 06:16] dmtrjsg opened #3184 "Category Card"
## Context
UX facelift of Forum Module

## Designs Preview

Categories list

## Scope
1️⃣  **Category Card**

**_Default View:_**
<img width="269" alt="Screenshot 2022-06-02 at 14 21 09" src="https://user-images.githubusercontent.com/93924525/171575576-1c1bd613-9e45-44da-bafc-946087f2ace4.png">

- [ ] Name
- [ ] Description
- [ ] Number of threads in the category
- [ ] Chevron pointing right, but

[2022-06-06 06:34] dmtrjsg opened #3185 "design worker rewards sortable table (figma, community-dev-able?)"

[2022-06-06 06:38] dmtrjsg commented on #3180
@traumschule pls have a look at https://github.com/Joystream/pioneer/issues/3185 and confirm if all data for the quick skim view is present in the raised design ticket. Thank youU!

[2022-06-06 07:03] dmtrjsg commented on #3175
This will be addressed in #2311 so closing as duplicate before addressed holistically.

[2022-06-06 07:03] #3175 closed

[2022-06-06 07:06] dmtrjsg commented on #3169
We do have this already in the pipe as part of overall Forum UX facelift:>

https://github.com/Joystream/pioneer/issues/3163

[2022-06-06 07:06] #3169 closed

[2022-06-06 07:14] dmtrjsg commented on #3143
@rafalpawlow @thesan do we store the state of stake recovered in local storage?  So when accessed from a diff device/ browser the state is not shown as up to date?

[2022-06-06 08:16] dmtrjsg commented on #2965
Cannot reproduce any longer after network update. Closing for the time being :)

[2022-06-06 08:16] #2965 closed

[2022-06-06 09:38] dmtrjsg commented on #3123
Cannot agree more.

There are a few places where
- Duration (e.g. bounty stage)
- Countdown (proposal or bounty)
- Starting block (trigger block in proposals)
- Ending block (for historic overview and for ETA)

would benefit from date-time inputs and time-adjusted display.

General direction of this work would be to convert all time inputs and time displays and address it in a single ticket.

[2022-06-06 09:47] dmtrjsg commented on #3114
@bedeho Bounties module is operational afaik (subj to QN bugs that have been raised and being fixed).

I will keep this issue in the "new issues" pipeline for the time being, with the view to clarify it around us all focussing on Carthage.

[2022-06-06 09:49] dmtrjsg commented on #3110
@secretgir1 keeping this issue in New Issues pipeline, while awaiting your response to question from Martin. Thank you in advance.

[2022-06-06 09:58] dmtrjsg commented on #3105
@adovrodion thanks for raising the question!

Long story short, the Terminated status would probably benefit from better naming on the user end to avoid confusion, but this is the final status -always. Can be terminated-failed, terminated-successful, and terminated- funding.

Here's a link to the V1 bounties state machine: https://joystream.gitbook.io/testnet-workspace/system/bounties#stage

The s

[2022-06-06 09:58] #3105 closed

[2022-06-06 09:59] dmtrjsg commented on #2413
+ pls ⚠️ re-test if Terminated bounties display winners/ losers/ slashed correctly. As per 3105.

[2022-06-06 10:13] dmtrjsg opened #3187 "Title stays sticky"
Make a sticky header on Forum Thread Page > [FIGMA LIN](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9126%3A329404)K

[2022-06-06 10:21] stepien4soft commented on #3187
For now we’re using generic components for the header. It’s the same for proposals, forums etc. Based on the designs we should add sticky functionality, white background etc. Should we implement it for all views or only for forum ( if we add it only for the forum general look will be inconsistently, but up to you)

[2022-06-06 10:32] dmtrjsg commented on #3187
@MattAugustynowicz can we look into this please and perhaps consider maintaining the off-white (light grey) header for consistency, or do you have smth else in mind to enable sticky header for Threads only?

[2022-06-06 10:39] dmtrjsg commented on #3102
Sorry to hear that was unfortunate. This issue is already raised here> https://github.com/Joystream/pioneer/issues/2291

ACs extended to ensure Forum posts are also included. Closing this as duplicate.

[2022-06-06 10:39] #3102 closed

[2022-06-06 10:40] dmtrjsg commented on #3099
Thank you for raising! Closing as duplicate of https://github.com/Joystream/pioneer/issues/3156

[2022-06-06 10:53] dmtrjsg opened #3189 "Show elected/ not elected distinction in past councils"
Show elected/ not elected distinction in past councils

Point 2 from this ticket: https://github.com/Joystream/pioneer/issues/3098

[2022-06-06 10:54] dmtrjsg opened #3190 "Past candidates' campaigns"
Point 3 from https://github.com/Joystream/pioneer/issues/3098

option to review former candidates' bullet points, image and program like Election View during an election but for past terms.

[2022-06-06 10:55] dmtrjsg commented on #3098
@traumschule thanks for raising, but for the future, let's pls try and keep the scope of raised issues within tasks that can be moved down the pipeline and handed over in dev 😇

For this issue:

Sorting candidates by votes -> already implemented:
<img width="1087" alt="Screenshot 2022-06-06 at 17 51 59" src="https://user-images.githubusercontent.com/93924525/172147403-e365f254-614f-4a93-8860-22765

[2022-06-06 10:55] #3098 closed

[2022-06-06 10:58] dmtrjsg commented on #3096
Cannot reproduce. Maybe a QN hickup..

[2022-06-06 10:58] #3096 closed

[2022-06-06 10:59] polikosi commented on #2413
Won displayed right:
![Screenshot_90](https://user-images.githubusercontent.com/80429191/172146251-dfc7c5ee-ca89-4903-ae5b-447db06273af.png)

Works Tab displayed right:
![Screenshot_91](https://user-images.githubusercontent.com/80429191/172146462-5ecc9a5c-531e-43c8-b0a4-5fa0909e4a9f.png)

Slashed displayed right:
![Screenshot_92](https://user-images.githubusercontent.com/80429191/172146559-34f1475

[2022-06-06 11:22] ivanturlakov commented on #2354
Tested on staging.

Voting stake.
<img width="1178" alt="Снимок экрана 2022-06-06 в 12 35 53" src="https://user-images.githubusercontent.com/46903215/172150250-6fb6da54-f156-4474-b540-879b047a7428.png">

Candidate lock
<img width="1176" alt="Снимок экрана 2022-06-06 в 12 48 42" src="https://user-images.githubusercontent.com/46903215/172150406-e8c84835-2cf3-4f16-a423-a110ef99c737.png">

Proposal lo

[2022-06-06 11:36] MattAugustynowicz commented on #3187
@dmtrjsg I think all headings should be sticky. This would allow quick access to go back to the previous screen (if someone would not like to use the native browser option), or perform a contextual action such as creating a bounty, or adding a new proposal. I think we talked about this in one of the first meetings, that it should be sticky

[2022-06-06 11:50] dmtrjsg commented on #3097
@traumschule thanks for raising!

What you are discussing here is a set of rather specific solutions.. I suggest for us to step back and spell out particular Objectives per user group and get designers and JSG tech team involved in arriving to the optimum solution, while being mindful of the new releases pipeline and mainNet critical scope on the horison.

On that basis, may I ask you to reply her

[2022-06-06 11:51] dmtrjsg commented on #3095
Sounds G, the URL structure could be enhanced no doubt. Tabs looks like a good place to get started.  Adding to the pipe to triage.

[2022-06-06 12:13] dmtrjsg commented on #3090
Sorry to hear that you've experienced sever delays. We had some infrastructure hickups which has and is been duly resolved. This feature is outside of Pioneer's team merit, but pls rest assured we are working on performance optimisation to prevent this similar issues going fwd.

[2022-06-06 12:13] #3090 closed

[2022-06-06 12:14] dmtrjsg commented on #3089
@thesan is that smth that you already fixed?

[2022-06-06 12:15] dmtrjsg commented on #3086
Sorry for inconvenience. We are currently only supporting Chrome and Firefox. Extended browser support will be considered at a later stage of the product.

[2022-06-06 12:15] #3086 closed

[2022-06-06 12:17] dmtrjsg commented on #3076
This will be fixed with #3163 so closing this issue for now.

[2022-06-06 12:17] #3076 closed

[2022-06-06 12:22] dmtrjsg opened #3191 "[USERSNAP] Forum: Unable to reply to thread"
**Taken at**: https://dao.joystream.org/#/forum/thread/197
**Fields**:
- Houston, we have a problem.: Forum: Unable to reply to thread
- Comment: SSIA
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/c9219540-fd0a-4a24-8456-6724878b9481-annotated_49169fe0-19da-479a-a628-094ecbb4f323.png?etag=17baaf4159f39a315aa6

[2022-06-06 12:26] mochet commented on #3191
Thanks to @freakstatic for noticing this:

it has the status
`ThreadStatusRemoved`

[2022-06-06 12:28] dmtrjsg commented on #3070
Will be addressed in #2291

[2022-06-06 12:28] #3070 closed

[2022-06-06 12:29] #3066 closed

[2022-06-06 12:39] dmtrjsg commented on #3039
Transferable balances tab acts as filter to display only accounts with positive transferable balance. Tested on production right now - works :) ✅

It may not be obvious for cases when all existing accounts have positive transferable balance.

[2022-06-06 12:39] #3039 closed

[2022-06-06 12:39] dmtrjsg commented on #3036
this was a test by DM

[2022-06-06 12:39] #3036 closed

[2022-06-06 12:40] dmtrjsg commented on #3035
this was a test of Feedback widget upd by DM

[2022-06-06 12:40] #3035 closed

[2022-06-06 12:42] dmtrjsg commented on #3033
🇺🇸 🕶️ Thank you for raising @kdembler  will be addressed as part of #3123

[2022-06-06 12:42] #3033 closed

[2022-06-06 12:47] dmtrjsg commented on #3024
Noted!

Will take care of this together with all other tooltips. The best place for this is Creation of Membership modal and displaying member details.

[2022-06-06 12:49] dmtrjsg commented on #3023
Question: is there anything else impacted other than Financials module?

[2022-06-06 12:58] #3006 closed

[2022-06-06 12:58] #2941 closed

[2022-06-06 12:59] dmtrjsg commented on #3005
Duplicate of https://github.com/Joystream/pioneer/issues/2849

[2022-06-06 12:59] #3005 closed

[2022-06-06 13:00] #2998 closed

[2022-06-06 13:04] dmtrjsg commented on #2991
Probably must be addressed in #2311. To be triaged.

[2022-06-06 13:15] dmtrjsg commented on #3187
Thank you for the analysis! @MattAugustynowicz can you pls paste it here for hte record?]

 This sounds a little more than we had the allowance for for general UX rn. While it sure does make sense, perhaps shall be parked for now as will not be insignificant.. :slightly_smiling_face:

Sticky first level categories.. I am not sure tbf I have not ever seen this pattern :disappointed:

Let’s just par

[2022-06-06 13:34] MattAugustynowicz commented on #3187
@dmtrjsg Sure. Uploading a short version

"It looks very good when we have only one nesting, i.e. these first level tabs.

![image](https://user-images.githubusercontent.com/95480823/172170107-1cf6c729-e0aa-4ea8-b8ec-f4a520e29173.png)

The moment we have the second level navigation it actually takes up some space. We could of course taper their top and bottom padding a bit so they don’t take up 1/

[2022-06-06 13:40] dmtrjsg commented on #2976
@adovrodion what's your screen dimensions and zoom level (100%?) when you are experiencing these issues?

Any other modals that were troublesome? Would be good to address them all in a single go..

[2022-06-06 13:42] dmtrjsg commented on #2972
Already on staging awaiting release to prod > https://github.com/Joystream/pioneer/issues/2294

[2022-06-06 13:42] #2972 closed

[2022-06-06 14:46] MattAugustynowicz commented on #3163
[👉 Figma link](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9553%3A351140)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/282dd0fe-34d6-4fcb-b09d-ac6fde48cc6b)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/7274d9ed-c096-4e16-bf9e-af75c2668359)

[2022-06-06 15:03] MattAugustynowicz commented on #3162
[👉 Figma Link](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9639%3A354609)

I think it would be better if this page were a separate tab. We have a simple filtering by which we could choose the author of the post we have in the watchlist, additionally like on the main page we can see the categories in pills and the number of replies on the tile. I think we can add on the

[2022-06-06 15:04] MattAugustynowicz commented on #3152
[👉 Figma Link](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9550%3A349072)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/0496a057-1791-4243-bc39-cfa3b8d55c70)

[2022-06-06 15:37] adovrodion commented on #3089
Can I test it again? Or has this not been dealt with?

[2022-06-06 15:39] adovrodion commented on #2993
@dmtrjsg Thank you! I think this has already been done.

[2022-06-06 20:50] talentdev0807 commented on #2832
@talentdev0807

[2022-06-06 21:46] singulart commented on #2431
@dmtrjsg I am thrilled to see the new designs and everything. What @talentdev0807 did, though, works just fine and may be used as an interim solution, meaning, once this PR is merged, there is no need to hide the tab...

@secretgir1 wdyt? 👇🏻

<img width="1280" alt="Screenshot 2022-06-07 at 00 43 47" src="https://user-images.githubusercontent.com/7863785/172254548-0456849b-634b-483f-8776-aa8562fbf0

[2022-06-06 22:07] dmtrjsg opened #3195 "[feature request] Forum quotes design"
- [ ] Check if CK editor can support the below, suggest a good way of showing the quotes (create a draft PR and take a screenshot + post to comments of this task) + assign to @dmtrjsg to review

ℹ️ Documentation: https://ckeditor.com/

Example of quotes turned to ">" : https://dao-git-fork-ken-tech-max-ko-2770-joystream.vercel.app/#/forum/thread/86

____

**Taken at**: https://dao.joystream.org/#/

[2022-06-06 22:52] traumschule commented on #3097
Np. These are just my ideas, they don't need to important for anyone else. Going to check by later and add user stories similar to #2713 when i see progress there although it might be better if someone else from the community writes them according to their understanding of what is needed.

[2022-06-06 23:30] traumschule commented on #3029
- The carousel slows navigation due to loading delay after every click. Load all ahead if you can.
- Do not truncate titles after 15 characters.
- Three columns are too busy and not useful in case of `YOUR WATCHLIST You don't have any watchlis` - just hide.
- `FORUM ACTIVITIES` takes too much space for old info - limit to three days and hide rest, unless user clicks `see all`. Could be expandable

[2022-06-07 08:17] dmtrjsg commented on #2988
We've done the overhaul of entire stake recovery, so this issue is now outdated. Closing.

[2022-06-07 08:17] #2988 closed

[2022-06-07 08:17] dmtrjsg commented on #2988
For reference: #2300

[2022-06-07 08:19] dmtrjsg commented on #3191
This thread was removed hence one cannot reply to such a thread.

[2022-06-07 08:19] #3191 closed

[2022-06-07 08:21] dmtrjsg commented on #2986
@traumschule is this for proposals? If so same as #2896

Pls confirm

[2022-06-07 08:22] dmtrjsg commented on #2971
Applying for the role.

[2022-06-07 08:25] dmtrjsg commented on #3089
@adovrodion Thank you for your question! sure pls go ahead.

We've checked this bounty and its successful so prob need to have another go (as we suspect this was QN-driven).

[2022-06-07 08:34] dmtrjsg commented on #2971
We've just checked on prod and random string is not accepted (one cannot sibmit transactioN). What was used as a value here? Closing in the meantime..

[2022-06-07 08:34] #2971 closed

[2022-06-07 08:35] #2907 closed

[2022-06-07 08:47] #2518 closed

[2022-06-07 08:47] dmtrjsg commented on #2518
@bwhm closed this issue as validations are now all in place.. :)

@thesan @WRadoslaw  also FYI

[2022-06-07 08:57] traumschule commented on #3180
lgtm

[2022-06-07 09:07] dmtrjsg opened #3196 "[feature request] WG History: Past Workers doesn't show resign/fired and doesn't show rationale"
**Taken at**: https://dao.joystream.org/#/working-groups/marketing
**Fields**:
- Which feature are you missing?: WG History: Past Workers doesn&#39;t show resign/fired and doesn&#39;t show rationale
- What problem would that solve for you?: SSIA
- Share your Github or Discord so we can get in touch: tomato#9464

**Browser**: Chrome 102 (Windows 10)
**Screen size**: 3440x1440
**[Open #15 in Usersna

[2022-06-07 09:56] polikosi commented on #2849
Verified on staging.
Current proposal: everything works as it should
![Screenshot_96](https://user-images.githubusercontent.com/80429191/172352041-5ac745e4-edb5-4403-94b8-9430a14adc65.png)

Past proposal: everything works as it should
![Screenshot_97](https://user-images.githubusercontent.com/80429191/172352466-9be7c44f-d455-4362-b0db-bc337f780250.png)

[2022-06-07 10:45] polikosi commented on #2464
verified on staging. Test evidence below:
![Screenshot_98](https://user-images.githubusercontent.com/80429191/172361255-58fd285e-5cb3-47e3-80a3-9cc6853b8233.png)
![Screenshot_99](https://user-images.githubusercontent.com/80429191/172361318-e3fa0425-df78-4ff8-afdf-6df431f47e77.png)

[2022-06-07 10:47] polikosi commented on #2521
Verified on staging. Test evodence below:

![Screenshot_100](https://user-images.githubusercontent.com/80429191/172361737-6690db58-7021-4594-acae-0d2fe821787b.png)
![Screenshot_101](https://user-images.githubusercontent.com/80429191/172361720-94682db1-20fe-4e80-a4a6-052235166a6f.png)

[2022-06-07 11:12] #3141 closed

[2022-06-07 11:44] thesan opened #3198 "Creating a runtime upgrade proposal stuck on blob validation"
<img width="1266" alt="Снимок экрана 2022-06-03 в 13 03 07" src="https://user-images.githubusercontent.com/46903215/171834163-598add94-8597-4d31-a8cc-97441d8ce0a2.png">

_Originally posted by @ivanturlakov in https://github.com/Joystream/pioneer/issues/2817#issuecomment-1144958409_

[2022-06-07 11:48] thesan commented on #3198
Duplicate of #2519

[2022-06-07 11:48] #3198 closed

[2022-06-07 11:49] thesan commented on #2817
@ivanturlakov thank you so much for the thorough testing I will take care of it this week

[2022-06-07 13:36] dmtrjsg opened #3199 "Pioneer Carthage Proposals"
## Context
We are introducing some proposals in the runtime, some proposals are already there, but perhaps not supported in QN, CLI or Pioneer.

## Scope

- [ ]Design proposal workflows to support these in pioneer

- Emergency Out of budget Spending Proposal: https://github.com/Joystream/joystream/issues/3663
- Generalised (Root Origin) Extrinsic Execution: https://github.com/Joystream/joystream/i

[2022-06-07 15:09] ivanturlakov commented on #3052
Tested on staging.

The fields are validated correctly
The transaction gets sent with the parameter set in the modal

 One thing, I was able to send 0 invites

https://user-images.githubusercontent.com/46903215/172415141-af709bc4-2326-485d-9f57-c133461f526a.mov

<img width="1404" alt="Снимок экрана 2022-06-07 в 17 52 19" src="https://user-images.githubusercontent.com/46903215/172415590-8e85a79a-30

[2022-06-07 16:10] mochet commented on #3185
An addition that is somewhat important:
* Designation of whether they are a worker or a lead

This helps to explain the breakdown of "salaries" when considering lead vs worker

[2022-06-07 16:35] polikosi commented on #2997
verified on staging. Tets evidence below:

https://user-images.githubusercontent.com/80429191/172434915-6e657a2c-0d46-4dc4-bf38-91ebb74f5086.mp4

[2022-06-07 16:47] polikosi opened #3201 "Incorrect window size on the "submit work" page"
## Context

Incorrect window size

the bottom of the modal is showing beneath screen fold
![Screenshot_102](https://user-images.githubusercontent.com/80429191/172436638-362f198a-e012-4b09-977a-5e3a6b2e4d1c.png)

## Scope

- [ ] Change the styling on the modal to support good centering and sizing
⚠️ pls do together with - https://github.com/joystream/pioneer/issues/3025
and - #2976

[2022-06-07 18:46] secretgir1 commented on #2431
Wow it looks nice. Thanks for resolve this issue @talentdev0807

[2022-06-07 22:47] Delranchorecipes opened #3202 "We need thumbnails to show up when sharing on Social Media"
When I try to share Joystream video links the thumbnails don’t show up. They only show half the time on facebook and 0% of the time on other social platforms where I share them.  Pinterest, google search, reddit, etc.

[2022-06-08 06:05] dmtrjsg commented on #3163
@MattAugustynowicz Thanks for putting this together, few more questions:

<img width="471" alt="Screenshot 2022-06-08 at 13 04 00" src="https://user-images.githubusercontent.com/93924525/172543452-95818ebc-a374-4311-b3bd-90747f1b9ce2.png">

<img width="266" alt="Screenshot 2022-06-08 at 13 05 03" src="https://user-images.githubusercontent.com/93924525/172543485-b7405aef-20c3-4d69-a1ac-14f137b50164

[2022-06-08 06:08] dmtrjsg commented on #3162
@MattAugustynowicz

Re filters, on the watchlist I would not worry about it as the amount of threads on watchlist would not be overwhelming for average user. Sorting with latest on top  without possibility to change it I think should suffice. @MattAugustynowicz pls remove filters from here.

[2022-06-08 06:10] dmtrjsg commented on #3152
My threads would be only posted by selected member, so also need to remove filtering :)

[2022-06-08 06:12] #3202 closed

[2022-06-08 06:12] dmtrjsg commented on #3202
Issue moved to [Joystream/atlas #2828](https://github.com/Joystream/atlas/issues/2828) via [**ZenHub**](https://www.zenhub.com/)

[2022-06-08 07:23] singulart commented on #2425
Requires testing

[2022-06-08 07:28] MattAugustynowicz commented on #3162
Resolved ✅

👉 [Figma Link](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9639%3A354609)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/63fc5eeb-7ea7-42a2-b5c2-41f24d6e41da)

[2022-06-08 07:31] MattAugustynowicz commented on #3152
@dmtrjsg You are right, for a moment I thought there would be threads from all our memberships :)

[👉 Figma link](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9550%3A349072)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/11008029-039f-4d32-b91c-ba2d094ea19e)

[2022-06-08 08:02] MattAugustynowicz commented on #3163
@dmtrjsg If you reply by clicking on the "reply" icon then you will always quote some statement, so you will have this view.

If, on the other hand, you want to add a post in this topic but not reply directly to someone's message, then it is natural that you will first read the replies below (to be sure you are not duplicating a question or thought) and then reply using the frame we currently have

[2022-06-08 08:05] dmtrjsg commented on #3056
@bwhm  pls advise :)

[2022-06-08 08:28] bwhm commented on #3056
For the distribution group as of block `#1,099,400`, it looks like this:

![Screen Shot 2022-06-08 at 10 10 12](https://user-images.githubusercontent.com/35237943/172566100-89156e3c-3a42-445c-9430-18f1c0e9eafc.png)

The budget, compared to the chain state is correct, but the last round of rewards for the group, at block [#1,086,750](https://polkadot.js.org/apps/#/explorer/query/1086750), we can se

[2022-06-08 09:06] dmtrjsg commented on #3132
already raised here: #3131

[2022-06-08 09:06] #3132 closed

[2022-06-08 09:16] dmtrjsg opened #3203 "Remove network name from the blockheight widget"
## Scope
* [ ] Remove Network name from this widget  from all places in the app
* [ ] Currently widget used on Forum

![Screenshot 2022-06-08 at 16.12.48.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/81218492-9063-4ad6-a0f9-f0d0b7448daa)

## Technical Guidelines
A good start would be to delete `NetworkType` from [@/common/types/Block.](https://github.com/Joystream/pioneer/blob

[2022-06-08 09:18] dmtrjsg commented on #3119
@mochet can you pls clarify what that means? We tried to reproduce and could not just now. Perhaps a short screen rec 🙇

[2022-06-08 09:19] #3106 closed

[2022-06-08 09:36] #3064 closed

[2022-06-08 09:38] #3026 closed

[2022-06-08 09:48] dmtrjsg commented on #2993
Nice1 @adovrodion

[2022-06-08 09:48] #2993 closed

[2022-06-08 12:21] bwhm commented on #3056
I tried:

[code]
and got:
[code]
Adding these numbers up -> 1423164
Just the `isActive` -> 1067737 - which matches pioneer.

Conclusion:
Pioneer is correctly filtering for `isActive`, but the query node is not updating debts for `NewMissedRewardLevelReached` events.

[2022-06-08 14:41] ivanturlakov commented on #3038
Tested on staging.

Election view updating:

Announcing period
<img width="1440" alt="Снимок экрана 2022-06-08 в 17 34 18" src="https://user-images.githubusercontent.com/46903215/172644849-20b64331-88f3-4245-900a-20217cf3452e.png">

Voting period
<img width="1440" alt="Снимок экрана 2022-06-08 в 17 34 38" src="https://user-images.githubusercontent.com/46903215/172644995-53353c38-002f-484a-b1a6-626

[2022-06-08 16:00] ivanturlakov commented on #2933
Tested on staging

Past election results are displayed for all candidates
<img width="1440" alt="Снимок экрана 2022-06-08 в 18 54 48" src="https://user-images.githubusercontent.com/46903215/172663336-040f3642-2242-4cb0-946c-8f443db9ee77.png">
<img width="1440" alt="Снимок экрана 2022-06-08 в 18 55 50" src="https://user-images.githubusercontent.com/46903215/172663347-5693328a-450a-48c2-9239-6c1f9e4

[2022-06-08 19:39] bedeho commented on #2978
That is probably a good idea, wallet support should be rolled out in both apps at the same time, as a user may create a membership in one app and want to use it in the other.

[2022-06-08 21:39] bedeho commented on #3114
Moving this issue to `Carthage` scope due to this https://github.com/Joystream/joystream/issues/3881.

[2022-06-09 07:20] dmtrjsg commented on #3073
@thesan qq

[Figma Link](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9707%3A378598)

<img width="706" alt="Screenshot 2022-06-09 at 14 20 02" src="https://user-images.githubusercontent.com/93924525/172788492-7cebee29-0151-4bee-b0a4-9c71123c0973.png">

[2022-06-09 08:09] dmtrjsg commented on #3052
Scope: fix validation to prevent 0 invites transfer.

[2022-06-09 08:15] #3062 closed

[2022-06-09 08:32] thesan commented on #3166
Substrate doc:
- https://docs.substrate.io/v3/runtime/weights-and-fees/
- https://docs.substrate.io/v3/concepts/weight/

[2022-06-09 08:55] dmtrjsg opened #3208 "Proposal to only update min/max cashout limits"
![](https://user-images.githubusercontent.com/93924525/172807512-f6827cff-751a-43c2-8359-1a7cdf809948.png)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202078489349362/1202419262938520) by [Unito](https://www.unito.io)

[2022-06-09 09:05] dmtrjsg opened #3209 "Fees Update Preparation"
## Context
Next runtime release will impact the way how fees are calculated and displayed.  There are a number of issues that will need to be considered in anticipation of [this work.](https://github.com/Joystream/pioneer/issues/2898)

## Scope
Collect all Screen Modals  and provide a list with screenshots in the comment to this ticket

* [ ] where transaction fees are displayed as part of signing

[2022-06-09 09:22] traumschule commented on #2361
To summarize the video:
- the user is able to insert more than available balance without validation error
- it is unknown how much the person staked / locked => these can be used for voting and should be visible

[2022-06-09 11:27] dmtrjsg commented on #2973
Post-mainnet

[2022-06-09 11:28] dmtrjsg commented on #3004
Superseded by #2531

[2022-06-09 11:28] #3004 closed

[2022-06-09 11:40] bedeho commented on #3114
It will be disabled not only on mainnet, but even in `Carthage`, talked to Martin, and he said the social ramifications of this change were not severe, so its a good idea in order to just further simplify things.

[2022-06-09 12:30] MattAugustynowicz commented on #3073
[👉 Figma User Story Here](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9707%3A376114)

Several screens remain in the form of wireframes, as we do not have these views in Figma, while they are ready and implemented for other proposals

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/6b430c0c-ec8a-4fd3-a873-9f9b674697ec)

[2022-06-09 12:32] MattAugustynowicz commented on #3074
[👉 Figma link](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9707%3A376124)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/6d342c57-83bf-4782-b517-0f7d1aecfa98)

[👉 Blocked Payout Possibility here](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9707%3A376321)

![image.png](https://images.zenhubusercontent.com/61f04aa

[2022-06-09 12:37] MattAugustynowicz commented on #3075
These screens remain in the form of wireframes, as we do not have these views in Figma and we need only change the text content of the left column, I hope it's not a problem 🙌

[👉 Vote on Proposal](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9707%3A376533)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/dd1e4f24-cc0d-447d-b755-a9fa4381aaeb)

[2022-06-09 12:38] dmtrjsg opened #3211 "Spike: Images unfurling"
As a user, when I include a link to an image into my forum post, I expect that link to be presented as an actual image (unfurled) when I save my post, so that other users experience added context and continuity of conversation.

DOD:

- [ ]  Find the library/ approach to implementing the above and advise on design constraints based on tech we choose

⚠️ at current we would not be able to support p

[2022-06-09 13:12] dmtrjsg opened #3212 "Talisman Wallet / Signer Designs"
## Context
Originating Issue

* https://github.com/Joystream/atlas/issues/1971

Atlas Design ticket:

* https://github.com/Joystream/atlas/issues/2817

:art: [Figma link:](https://www.figma.com/file/ymHYOFItrmFaLeBC5Z4tpQ/Sign-in?node-id=511%3A56665)

Spike: - https://github.com/Joystream/pioneer/issues/3239

:information_source:  Product Website: https://talisman.xyz/

## Scope
* [ ] Design adapt

[2022-06-09 13:20] dmtrjsg commented on #2978
Going with [Talisman Implementation](https://github.com/Joystream/pioneer/issues/3212) first

[2022-06-09 13:20] #2978 closed

[2022-06-09 14:16] mochet commented on #3119
Wasn't able to replicate again sadly ): Will close because of that.

[2022-06-09 15:40] ivanturlakov commented on #3047
Tested on staging

Staking account validation bug

https://user-images.githubusercontent.com/46903215/172883286-de3e1dcc-2e5b-48cb-854d-0b22f1eeb22c.mov

Trigger field validation behavior

https://user-images.githubusercontent.com/46903215/172884682-5b4570f7-6904-40b9-ad8e-ebabc8323ca5.mov

Perhaps the validation should take into account the current value?
<img width="1440" alt="slash-wg-lead" src

[2022-06-09 18:20] dmtrjsg opened #3215 "[feature request] Working Groups: Budget separators"
**Taken at**: https://dao.joystream.org/#/working-groups
**Fields**:
- Which feature are you missing?: Working Groups: Budget separators
- What problem would that solve for you?: Very hard to distinguish 6- from 7-digits Budget values without `.` or space.
- Share your Github or Discord so we can get in touch: l1dev

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46db

[2022-06-10 05:33] dmtrjsg opened #3216 "Spike: estimate effort for Bounties v2"

[2022-06-10 07:20] dmtrjsg opened #3217 "Pioneer and Carthage Runtime QA"
# Context
New runtime release - `carthage`
* https://github.com/Joystream/joystream/issues/3666

Overarching test plan:
- #3403

# Testing Env Details

ℹ️ Playground config details: https://54.172.154.45.nip.io/network/config.json
Pioneer Instance: https://dao-git-carthage-joystream.vercel.app/
Current council size is set to 1; WG leads are pre-hired with each WG has 1 worker; Alice account has JO

[2022-06-10 07:38] adovrodion opened #3218 "Bounty descriptions do not work correctly"
This is what the description looks like when creating
![image](https://user-images.githubusercontent.com/84832436/173014473-06582ad6-83a8-49ee-89e4-e40785a61ba9.png)

This is what the description looks like after creation
![image](https://user-images.githubusercontent.com/84832436/173015134-f640702e-27b4-4254-a068-e33ac79285e3.png)

Testing was conducted on the bounty - https://dao.joystream.org/#

[2022-06-10 08:08] dmtrjsg commented on #3052
fix applied

[2022-06-10 08:09] dmtrjsg commented on #2413
fix applied

[2022-06-10 08:35] dmtrjsg opened #3219 "Fix Storybook"
## Context
ATM the state of Pioneer's storybook is so bad it has almost no good use.
It should be fix in order for it to become a good UI development environment and an easy way to explore the existing component to improve their re-usability.

## Scope
- [ ] Fix all the stories which crashes on opening (e.g: `Common/MarkdownPreview`)
- [ ] Fix the stories which crash because of missing `ReactRoute

[2022-06-10 09:11] polikosi commented on #3089
verified on staging. Test evidence below:

https://user-images.githubusercontent.com/80429191/173032509-37d1f21e-c578-41bd-9c55-eba0193da7be.mp4

https://polkadot.js.org/apps/?rpc=wss://3.235.196.1.nip.io/ws-rpc#/explorer/query/0xc0304cfdee8035b393a01ea6c7ac8d86a0af9904839f4184d50e9db9677ff70b

[2022-06-10 09:35] ivanturlakov commented on #3043
@dmtrjsg could you add a scope for QA?

[2022-06-10 09:51] ivanturlakov commented on #3148
Jest testTimeout has been increased

<img width="1440" alt="Снимок экрана 2022-06-10 в 12 42 21" src="https://user-images.githubusercontent.com/46903215/173039229-9ad9e519-8395-42c2-8f70-49903466b954.png">

@dmtrjsg if there is a wider context, could you add some description for QA?

[2022-06-10 10:18] polikosi commented on #2341
verified on staging. Test evidence below:
![Screenshot_103](https://user-images.githubusercontent.com/80429191/173042375-e5bd2134-894a-4be6-a7a8-edc44a68df35.png)

[2022-06-10 11:32] MattAugustynowicz commented on #3208
[👉 Figma Link](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9741%3A372154)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/b73cc5ef-6e57-472b-9fd8-c863f2afc163)

[2022-06-10 18:52] ivanturlakov commented on #3052
Still able to transfer 0 invites

[2022-06-10 19:06] WRadoslaw commented on #3052
I guess you've tested it on staging where fix hasn't arrived yet. On dev it looks alright.

![image](https://user-images.githubusercontent.com/92513933/173133504-681df2be-82a2-491a-959d-833874048258.png)

[2022-06-10 22:57] freakstatic commented on #2362
I notice that the council page has the "council activities" so the cache invalidation needs to be every new election stage. Did a PR that fixes this issue [here](https://github.com/Joystream/pioneer/pull/3221) @thesan please let me know what do you think.
The "council activities" still has issues that I think it's related with getting the data directly from the chain to trigger the cache invalidat

[2022-06-10 22:59] freakstatic commented on #2362
Would be good to be able to subscribe to QN events so that we could fix this situations properly...

[2022-06-10 23:07] freakstatic commented on #3201
@singulart please assign

[2022-06-11 07:41] dmtrjsg opened #3222 "[feature request] Refresh election status after revealing a vote"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Which feature are you missing?: Refresh election status after revealing a vote
- What problem would that solve for you?: - hide &#34;Reveal&#34; button
- update Voting Results
- Share your Github or Discord so we can get in touch: l1dev

**Browser**: Chrome 102 (Linux)
**Screen size**: 1920x1080
**[Open #17 in Usersnap](https://app.u

[2022-06-11 08:37] dmtrjsg opened #3223 "[feature request] Tell me I don't have enough funds"
**Taken at**: https://play.joystream.org/video/26860
**Fields**:
- Which feature are you missing?: Tell me I don&#39;t have enough funds
- What problem would that solve for you?: When I open the Buy now/bid screen for an NFT, the Buy button is disabled, but its not explained why.
- Share your Github or Discord so we can get in touch: bedeho

**Browser**: Firefox 100 (macOS Catalina)
**Screen size*

[2022-06-11 09:17] dmtrjsg opened #3224 "Forum: Tx progress on post/ thread updating"
## Scope
* [ ] Show the bottom right modal with tx progress when updating post / thread

NB: Waiting times on categories/ threads pages will be reduced as a product of UX pages revamp

### Out of scope:

* Polling is covered ina. diff ticket
* Caching is done already
* #3029 will make all pages load faster

### Context
- - -
**Taken at**: https://dao.joystream.org/#/forum/thread/242
**Fields**:

*

[2022-06-11 14:29] polikosi commented on #2413
verified on https://pioneer-2-git-fix-show-tab-on-terminated-bounty-joystream.vercel.app/#/bounty/past
works as expected:
![Screenshot_104](https://user-images.githubusercontent.com/80429191/173192005-d0078de7-0a6f-4700-9790-6aa8ec28df1e.png)

verified on https://dao-git-fix-show-tab-on-terminated-bounty-joystream.vercel.app/#/working-groups
works as expected:
![Screenshot_105](https://user-images

[2022-06-11 15:02] polikosi commented on #2924
verified on staging. Looks good:
NewProposal : "See My Proposal" and redirected to just created proposal
![Screenshot_106](https://user-images.githubusercontent.com/80429191/173193139-78bc7c44-a4e3-40ce-9f1f-e72e3f2e5e63.png)

Voting : "Back to Proposals "
![Screenshot_107](https://user-images.githubusercontent.com/80429191/173193192-100860f4-b3d9-487f-945f-e02051215797.png)
and redirected to "Pro

[2022-06-11 19:57] singulart commented on #2485
Low priority, do not work on this issue

[2022-06-11 19:58] singulart commented on #2659
Low priority, do not work on this issue

[2022-06-11 19:58] singulart commented on #2765
Low priority, do not work on this issue

[2022-06-11 19:58] singulart commented on #2769
Low priority, do not work on this issue

[2022-06-12 11:17] dmtrjsg opened #3225 "[USERSNAP] Past Councils > Working Groups: all data is wrong"
**Taken at**: https://dao.joystream.org/#/council/past-councils/0000000a
**Fields**:
- Houston, we have a problem.: Past Councils &gt; Working Groups: all data is wrong
- Comment: SSIA
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/efd1c1b2-6984-46ab-b230-80575b8c673d-annotated_12a2b2ea-dd96-46b6-a9b8-fc284241

[2022-06-12 11:19] dmtrjsg opened #3226 "[USERSNAP] Past Councils > Term ID is not human readable"
## Scope

- [ ] Show election_round_cycle instead of election_id

<img width="230" alt="Screenshot 2022-06-17 at 18 57 04" src="https://user-images.githubusercontent.com/93924525/174293741-798d7bae-c5c4-4fe5-b6d1-8084adc5b679.png">

____________

**Taken at**: https://dao.joystream.org/#/council/past-councils
**Fields**:
- Houston, we have a problem.: Past Councils &gt; Term ID is not human readab

[2022-06-12 14:30] adovrodion opened #3227 "Closed bounties don't work"
I did some testing. Closed bounties still don't work.
I can't apply from a profile that is on a white list.
![image](https://user-images.githubusercontent.com/84832436/173238051-2a3e6bc1-a443-4a72-933c-0374a2615643.png)

[2022-06-12 14:32] adovrodion opened #3228 "Closed bounties do not display all the information"
Closed bounties, once created, do not show anywhere for whom this bounty was created.
Bounty, which are created with a white list.
I think this is wrong.
![image](https://user-images.githubusercontent.com/84832436/173238130-5627c703-7833-41c6-8d50-0754a93d97bc.png)

[2022-06-12 15:17] bedeho commented on #3185
From the original issue:

This problems seems entirely an artifact of incentives v3, there is no inherent reason to focus on payments to anyone aligned with council periods in a realistic world. Its only because we have JOY earning schemes tied to this. **I do not think this is wise to do at all.**

There is sensible information to add associated with workers, like how much they earn, their reward

[2022-06-12 15:27] bedeho commented on #3185
Let me actually be extra clear here:

I do actually think there is a sound case for a sort of deep overview of the workers involved, which could make sense in a table, because the right hand column is already quite cramped, I just want us to then focus on address genuine mainnet problems, not problems that artefactual to incentivesv3.

[2022-06-12 17:31] mochet commented on #3185
Based on further discussion it seems showing their rewards over the most recent council period term may be a bit arbitrary, it may make more sense to have the past week instead. Although a council is 1 week long now that could change and likely will.

[2022-06-12 17:49] dmtrjsg opened #3229 "[USERSNAP] Description text distorted when cropped"
**Taken at**: https://play.joystream.org/video/26861
**Fields**:
- Houston, we have a problem.: Description text distorted when cropped
- Comment: When video description is long enough, it gets cropped, and you have to click the &#34;Show more&#34; button. Unfortunately, this cropping results in introducing a distorting effect on the content layout, which it should not, it becomes unreadable in ma

[2022-06-12 18:23] bedeho commented on #3185
Let me suggest concrete other values relevant to each worker that could be more useful

- Identifying the member
- Worker id
- Title: do we have this? really should
- Reward rate
- What they are owed
- Staked quantity
- Tenure: how long they have had this role
- Application: button to open detailed application view like now

**Do we actually need anything else under real world conditions?**

Also,

[2022-06-12 21:38] adovrodion commented on #3089
@polikosi Hey
The problem was that the participant turned in his work, then withdrew it back, and submitted a new work. After all of this, I was unable to judge his work.
There were other participants in the bounty. I was able to judge them. But the system simply did not see the work of one participant.
Try to check this process.
![image](https://user-images.githubusercontent.com/84832436/17325476

[2022-06-13 06:46] dmtrjsg commented on #3043
@ivanturlakov sure, the underlying info and broader context is covered here:
- https://github.com/Joystream/pioneer/issues/2300

This specific task shall address displaying the locks info and release time ETA based on block duration of underlying processes:

[Figma Link](urlhttps://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=8759%3A393512)

<img width="801" alt="Screenshot 202

[2022-06-13 07:24] #3229 closed

[2022-06-13 08:10] dmtrjsg commented on #2362
Will be covered in #2311

[2022-06-13 08:14] dmtrjsg commented on #2675
@mnaamani  are you aware of the corresponding Runtime issue or should I raise it? ty

[2022-06-13 08:20] dmtrjsg commented on #2312
Closing for Pioneer and awaiting for runtime to deploy.

[2022-06-13 08:20] #2312 closed

[2022-06-13 08:26] bedeho commented on #2675
My last comment explains that there is no need for anything new on the runtime, perhaps I am misunderstanding something here?

[2022-06-13 08:33] dmtrjsg commented on #2675
@thesan pls advise.

[2022-06-13 08:44] freakstatic commented on #3025
@singulart please assign

[2022-06-13 09:14] polikosi commented on #3089
@adovrodion Hi, yes, you're right. When I repeat your steps I can choose his work. But when I signed the transaction it failed.
![Screenshot_112](https://user-images.githubusercontent.com/80429191/173320877-ed5e0b02-7642-466d-9e07-3ecf14150c16.png)

TX: https://polkadot.js.org/apps/?rpc=wss://3.235.196.1.nip.io/ws-rpc#/explorer/query/0x1119ad0f5734f1846f4757d84ed0bb480c23217a282b66d221430ead886a58

[2022-06-13 15:45] #2645 closed

[2022-06-14 08:09] polikosi commented on #2431
verified on staging. Test evidence below:
![Screenshot_113](https://user-images.githubusercontent.com/80429191/173527140-3f584ef7-d75b-4032-a184-9b82d63e9a0a.png)

[2022-06-14 08:17] #3209 closed

[2022-06-14 08:34] dmtrjsg commented on #3047
Prevent from posting number out of range and Add under-copy to the input field "Amount must be greater than 0 and less than current stake."

[2022-06-14 08:43] dmtrjsg commented on #2712
⚠️ pls address all areas outside of Bounties module, since it is being deprecated very soon in the light of new version upgrade later.

[2022-06-14 08:44] ivanturlakov commented on #2425
Tested on staging

The bullet points looks good
<img width="1440" alt="Снимок экрана 2022-06-14 в 11 40 15" src="https://user-images.githubusercontent.com/46903215/173534360-d0ecee04-d51a-4e1c-8620-4a811f101ac8.png">

[2022-06-14 10:14] ivanturlakov commented on #3143
Tested on staging.

The situation is similar to that described by Dmitry in the first post. But lately, I have been using only one device

No recoverable locks in account section
<img width="1176" alt="Снимок экрана 2022-06-14 в 12 49 50" src="https://user-images.githubusercontent.com/46903215/173551485-8f06b6f2-e562-4a64-a97e-7ad6c2a14410.png">

But one of my past votes shows as recoverable
<img

[2022-06-14 13:10] singulart commented on #2817
@dmtrjsg this task is show in "in progress" column although I know for a fact that Builders don't work on it.

[2022-06-14 15:26] ivanturlakov commented on #3109
Tested on staging

**BountyLockItem**
Entrant stake 1,000tJOY
26min = 16min(working period) + 10min(judging period)
<img width="1440" alt="Снимок экрана 2022-06-14 в 18 07 50" src="https://user-images.githubusercontent.com/46903215/173612714-86614e6f-7fcc-4bbf-9e80-24d9c90d3fc8.png">
<img width="1440" alt="Снимок экрана 2022-06-14 в 18 07 30" src="https://user-images.githubusercontent.com/46903215

[2022-06-14 16:31] thesan opened #3234 "Simplify creating forum categories on local node"
Create a forum category on a new local node with:
[code]

[2022-06-14 20:14] adovrodion opened #3236 "Incorrect display of comments in a proposal"
## Scope

- [ ] Use block count for sorting

 ⚠️ if this fails then the issue is with Hydra - post the results of attempt to comments
__________

During the discussion it was possible to find out that the proposal does not correctly display more than 15 comments - https://dao.joystream.org/#/proposals/preview/274

The 16th comment moved up the discussion. You can see from the time in the screensho

[2022-06-15 06:51] dmtrjsg opened #3237 "New Proposal: UpdateGlobalNftLimitsProposal"
Design proposal to update globalNftLimits

[2022-06-15 07:50] RafalPloszka opened #3238 "New logic and UI for selecting staking account"
2. and 3. from https://github.com/Joystream/pioneer/issues/2300

AC:

- [ ] Account selection for staking purposes
- [ ] Handling situation when no accounts are available, but some might be suitable after funds are transferred

[2022-06-15 08:12] dmtrjsg opened #3239 "Talisman Implementation"
## Context

Talisman implementation
Design ticket:
- https://github.com/Joystream/pioneer/issues/3212

## Scope

- [ ] Implement Talisman Wallet sign in flow
- [ ] Design update for the guest onboarding overlay

## Design

[Link to Figma> ](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9914%3A437366)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/

[2022-06-15 08:23] dmtrjsg commented on #3203
@thesan can you hide this behind a flag and create a ticket to show it once we are on mainnet? I think we should not release it with "Mainnet" before it actually happens as users will get confused ..

[2022-06-15 09:44] dmtrjsg opened #3240 "Create a separate storybook FEES component (fee + tootip)"
## Context

- https://github.com/Joystream/pioneer/issues/2898
- https://github.com/Joystream/pioneer/issues/2531

## Scope

Mirror this implementation:
- https://github.com/Joystream/atlas/issues/2277

- Design Fees component to be included to transaction signer and to footer of all modals with user inputs
- Fees shown in JOY. For small fees < 0.01 JOY, we show "< 0.01 JOY"
- On hover tooltip sho

[2022-06-15 09:59] dmtrjsg commented on #2817
@singulart I moved it there with Theo assigned since it already made its way to QN pipe, but fixes needed to be applied and I did not want to introduce yet another pipeline. Let me know what works best from your pov to handle cases when QA found a bug and it is back to JSG team to fix. I'm flexible here and open to suggestions.

[2022-06-15 10:14] singulart opened #3241 "Pioneer allows handles with spaces"
User handles should not contain special characters and spaces.

[2022-06-15 12:40] dmtrjsg commented on #2817
decision was made to keep such tickets in progress pipeline with a responsible developer from JSG team assigned to fixing.

[2022-06-15 14:11] dmtrjsg opened #3243 "[USERSNAP] Validation error when editing a membership"
## Scope

Update validation checks on membership handle
- [ ] Check handle availability with QN before throwing error

## OUT OF SCOPE
- [ ] #3263

This modal was addressed in this PR:
- https://github.com/Joystream/pioneer/pull/3088

______

**Taken at**: https://dao.joystream.org/#/profile/memberships
**Fields**:
- Houston, we have a problem.: Validation error when editing a membership
- Comment

[2022-06-15 15:25] MattAugustynowicz commented on #2888
[👉 Figma Link here](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9825%3A387305)

As we do not have a lot of space to accommodate all the information, I propose to relocate the member ID  directly below the membership handle (as Dmitry rightly pointed out during the meeting, no one will sort the list by ID number).

It is also not necessary to show council members as a s

[2022-06-15 17:13] singulart opened #3244 ""This handle is already taken" when editing my Joystream handle"
Users can't edit their Joystream handle, getting an error: "This handle is already taken", irrespective of the change done. No backend call is made according to what I see in the Dev tools. Seems like a purely client side issue.

[2022-06-15 18:32] ivanturlakov commented on #2896
Tested on staging

Proposal metrics and status are dynamically updated after each vote
<img width="1199" alt="Снимок экрана 2022-06-15 в 21 20 46" src="https://user-images.githubusercontent.com/46903215/173898645-4af02914-f4be-4e84-a79c-fcf945ea7479.png">
<img width="1193" alt="Снимок экрана 2022-06-15 в 21 21 52" src="https://user-images.githubusercontent.com/46903215/173899622-73569cef-d6c1-4ef4

[2022-06-15 21:05] adovrodion opened #3245 "Incorrect display of subcategories in the forum"
## Scope
- [ ] Move the date stamp a few PX above so that the text does not overlap with the long string in the bottom of this card

## Context
![image](https://user-images.githubusercontent.com/84832436/173929616-ff4e14ba-7c7c-47f8-971f-7f62ebf97751.png)
It looks a little blurry. I think you should increase the distance a little bit.

[2022-06-16 08:25] polikosi commented on #2210
verified on staging. Test evidence below:
after canceling the transaction, "invite a member" and "add membership" buttons are inactive and the "Waiting for the extension" window loads indefinitely

https://user-images.githubusercontent.com/80429191/174026641-139276bf-3ed5-4ec7-9503-4e20bc50a6f0.mp4

[2022-06-16 09:40] dmtrjsg opened #3246 "[USERSNAP] the ugly disruptive banner keeps reappearing"
**Taken at**: https://dao.joystream.org/#/bounty/preview/68
**Fields**:
- Houston, we have a problem.: the ugly disruptive banner keeps reappearing
- Comment: SSIA
- Feedback: l1dev

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/82783e91-0aa6-435e-861d-5662f83474e1-annotated_d2cba3e2-83c7-42e7-80db-ff424058c210.png?etag=fdfc732f1b337

[2022-06-16 11:09] ivanturlakov commented on #2592
Tested on staging

Limited founding period
<img width="1213" alt="Снимок экрана 2022-06-16 в 13 04 18" src="https://user-images.githubusercontent.com/46903215/174055808-92e8c73f-c18c-414b-8304-775db5f500a4.png">

QN Refetched
Working period
<img width="1211" alt="Снимок экрана 2022-06-16 в 13 18 03" src="https://user-images.githubusercontent.com/46903215/174055816-0c9f47f6-32a3-456b-b458-281642f03

[2022-06-16 11:51] dmtrjsg opened #3247 "[USERSNAP] incorrect group spending"
**Taken at**: https://dao.joystream.org/#/working-groups/hr
**Fields**:
- Houston, we have a problem.: incorrect group spending
- Comment: thought lkskrn fixed string concatenation before.
- Feedback: l1dev

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/32eacf61-872f-40c3-9f25-17adc50fb997-annotated_150ff1e0-27fa-4f1b-b000-1e940bf755

[2022-06-16 11:56] dmtrjsg opened #3248 "[USERSNAP] WG: empty about page"
**Taken at**: https://dao.joystream.org/#/working-groups/content
**Fields**:
- Houston, we have a problem.: WG: empty about page
- Comment: Tooltip lacks vital info: &#34;Total spending of the working group in&#34;

No newcomer info.
No info on salaries.

This page needs a list how much was spend by the group per term:
- total salaries
- total discretionary spending
- Feedback: l1dev

![SCREENSHOT

[2022-06-16 13:26] traumschule commented on #3247
`query { budgetSpendingEvents { inBlock amount groupId }}`

[2022-06-16 19:33] freakstatic commented on #2445
@singulart please assign

[2022-06-16 20:45] adovrodion opened #3251 "Loss of tJOY in the application"
## Scope

- [ ] Fix recovering the role staking after role was closed via proposal.

Add a button to "recover lock" and follow the general designs for it

Out of scope:
- [x] Fix showing past openings closed via proposal. Opening that was closed via proposal is missing in the openings history of given WG. (resolved in -https://github.com/Joystream/pioneer/issues/3348)

## Context

There have been

[2022-06-16 22:03] adovrodion commented on #2692
Bounty link: https://dao.joystream.org/#/bounty/preview/79

[2022-06-16 22:20] dmtrjsg opened #3253 "[feature request] Support finding members by ID"
## Scope

- [ ] Support finding members by ID

<img width="1229" alt="Screenshot 2022-06-17 at 12 54 14" src="https://user-images.githubusercontent.com/93924525/174234188-353351ec-f53b-497e-aceb-f11b2de1d660.png">

NB: pls do together with :
- https://github.com/Joystream/pioneer/issues/2657

_____
**Taken at**: https://dao.joystream.org/#/members
**Fields**:
- Which feature are you missing?: Supp

[2022-06-17 01:23] traumschule commented on #3251
are the tokens burned or locked? a screenshot or wallet address would help to debug.

[2022-06-17 05:52] dmtrjsg commented on #3246
@traumschule "Don't show this again" checkbox must be set to true before closing for this not to show. We store this in local storage so will pop up on diff browser/ device for same member.

[2022-06-17 05:52] #3246 closed

[2022-06-17 06:28] dmtrjsg commented on #3241
will be done as part of overall handle validation ticket here: #3244

[2022-06-17 06:28] #3241 closed

[2022-06-17 06:28] dmtrjsg commented on #3244
will be done in #3243

[2022-06-17 06:28] #3244 closed

[2022-06-17 06:33] dmtrjsg commented on #3228
https://github.com/Joystream/joystream/issues/3665 < QN issue

[2022-06-17 06:35] dmtrjsg commented on #3224
@traumschule thanks for raising, we will add this to the Forum UX facelift epic.

[2022-06-17 06:38] #3223 closed

[2022-06-17 06:38] dmtrjsg commented on #3223
Issue moved to [Joystream/atlas #2872](https://github.com/Joystream/atlas/issues/2872) via [**ZenHub**](https://www.zenhub.com/)

[2022-06-17 06:47] #3218 closed

[2022-06-17 07:48] adovrodion commented on #3251
@traumschule
![image](https://user-images.githubusercontent.com/84832436/174251717-6b77d658-9af9-453b-8efa-cdc065f0b035.png)

5FdtkcMwGtPWH7bX7tLto39SxTG5zwyxBCXfXcmFHykCHp74
5D5K5fmQoxC2aubHM7DwPUntHEEJvdkprDwPxicbDJbcvxMF

[2022-06-17 08:13] dmtrjsg commented on #3143
⚠️  It's a runtime issue. Moving this to On Hold/ Blocked.

[2022-06-17 08:21] bedeho commented on #2959
This description does not spell it out entirely, but what entity does a row here correspond to? its not tokens or a token, its an account, vesting occurs per account. The natural place of such information is the account table, why a new table?

[2022-06-17 09:50] freakstatic opened #3254 "[Crash] Submitting an application to a curators opening it's showing a blank page"
When applying to the opening of the curators group ID: 15 a blank page is displayed in the last modal step

Console error:
![image](https://user-images.githubusercontent.com/7486476/174273641-820cf6bf-50f6-4075-9f37-57207a872c44.png)
![image](https://user-images.githubusercontent.com/7486476/174278337-babc65b9-3640-4bd6-8ea9-42ca21361eb6.png)

https://dao.joystream.org/#/working-groups/openings/co

[2022-06-17 09:52] freakstatic commented on #3254
also I'm not sure if this should be empty
![image](https://user-images.githubusercontent.com/7486476/174274668-36da3ba5-4d59-473c-9602-cae9bbf62654.png)

[2022-06-17 10:26] thesan opened #3255 "Going back to the "Applying for role" previous step disable the "Next Step" button"
The "Next Step" button is re-enabled once a field get unfocused (i.e `onBlur`).
This will become a problem after #3249 (the PR for #2445) gets merged

[2022-06-17 11:42] #3110 closed

[2022-06-17 11:42] dmtrjsg commented on #3110
Issue moved to [Joystream/joystream #3918](https://github.com/Joystream/joystream/issues/3918) via [**ZenHub**](https://www.zenhub.com/)

[2022-06-17 11:44] dmtrjsg commented on #3215
Closing to be addressed in #2531

[2022-06-17 11:44] #3215 closed

[2022-06-17 11:47] dmtrjsg commented on #3222
The problem lies on the QN side.. @mnaamani  [obvs for after you are on the surface with Substrate v3] but I thought this one was fixed? Pls advise how to take this further as this is not on the Pioneer side...

[2022-06-17 11:47] dmtrjsg commented on #3222
Issue moved to [Joystream/joystream #3919](https://github.com/Joystream/joystream/issues/3919) via [**ZenHub**](https://www.zenhub.com/)

[2022-06-17 11:47] #3222 closed

[2022-06-17 12:10] dmtrjsg commented on #3245
Cancelling since Forum is redesigned now and awaiting dev

[2022-06-17 12:10] #3245 closed

[2022-06-17 12:22] dmtrjsg commented on #3251
@thesan to check if there is an extrensic to recover apply on opening stake for this action..

[2022-06-17 12:24] dmtrjsg commented on #1544
@thesan pls scope out QN tickets to support this one..

[2022-06-17 17:28] traumschule commented on #3254
i asked the lead - questions were left out intentionally, just seems pioneer doesn't expect that?

[2022-06-17 18:59] traumschule commented on #3248
yes, thanks!

[2022-06-17 21:15] dmtrjsg opened #3256 "[feature request] Hide or indicate withdrawn applications"
## Scope

- [ ] Rename "Applications" to "Active applications"
- [ ] Display withdrawn applications separately underneath active. Title "Withdrawn applications". Counter pill for total.

_______
**Taken at**: https://dao.joystream.org/#/working-groups/openings/distributionWorkingGroup-7
**Fields**:
- Which feature are you missing?: Hide or indicate withdrawn applications
- What problem would that

[2022-06-17 23:17] freakstatic commented on #2362
seems good to go now!

[2022-06-19 11:11] dmtrjsg opened #3258 "[USERSNAP] I didn't get my NFT sale payment on Atlas"
**Taken at**: https://play.joystream.org/video/26854
**Fields**:
- Houston, we have a problem.: I didn&#39;t get my NFT sale payment on Atlas
- Comment: I sold an NFT on 14th of June priced 1M tJOY but i didn&#39;t get the payment. It has been 5days. I mantioned it on the discord &#34;bug channel&#34; and they said this is a bug they seen for the frist time to be refunded by Martin.
My polkadot Ad

[2022-06-19 12:21] MattAugustynowicz commented on #2898
I don't think we need to show on screens with the creation of a proposal, for example, the stake amount visible at the bottom all the time, because we can see it in the left part of the modal, so here rather as simply a confirmation I will say yes - it is good that the fee is visible all the time. It should be right next to the CTA on the right side.

The only change I would make additionally is t

[2022-06-19 15:30] singulart commented on #2832
Initial research done in Term 11: https://discord.com/channels/811216481340751934/812344874099277824/984758366985420830

[2022-06-20 09:06] thesan commented on #1544
This task require the notification to be filterable by membership. Here's a proposed solution to achieve this: https://github.com/joystream/pioneer/issues/3023

[2022-06-20 09:30] #3023 closed

[2022-06-20 09:30] dmtrjsg commented on #3023
Issue moved to [Joystream/joystream #3925](https://github.com/Joystream/joystream/issues/3925) via [**ZenHub**](https://www.zenhub.com/)

[2022-06-20 09:45] dmtrjsg commented on #3254
@WRadoslaw pls look into this one as a high-prio..

<img width="759" alt="Screenshot 2022-06-20 at 10 44 56" src="https://user-images.githubusercontent.com/93924525/174574669-dc27a7af-e880-44d1-bdf6-7ccb3a91530c.png">

[2022-06-20 09:47] dmtrjsg opened #3259 "New users ob - Signer CTA disabled on screen zoom < 100%"
![Screenshot 2022-06-20 at 10.46.05.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/0b7ed5b1-9781-40d6-a3a5-28cfcc076ff7)

[2022-06-20 10:22] dmtrjsg opened #3260 "[USERSNAP] Data shown on TOTAL SPENT column is strange"
**Taken at**: https://dao.joystream.org/#/council/past-councils
**Fields**:
- Houston, we have a problem.: Data shown on TOTAL SPENT column is strange
- Comment: I mean, as a Council member, it doesn&#39;t tell me anything. Where is this data coming from? What does it represent? Councils technically spends on so many things, including, but not limited to, proposals, but those are shown separately.

[2022-06-20 10:46] ivanturlakov commented on #3243
Tested on staging.

Membership handle availability check works well

https://user-images.githubusercontent.com/46903215/174583368-66f776d0-36a9-4419-9f9b-031b6dd50343.mov

Spaces and special characters are still acceptable

https://user-images.githubusercontent.com/46903215/174585221-305f8d0c-e47a-49e7-9bfe-2fa65c5064bb.mov

[2022-06-20 11:00] dmtrjsg opened #3263 "Add validation "Spaces and special characters are not supported""
## Context
https://github.com/Joystream/pioneer/issues/3243

## Scope

- [ ] Add validation "Spaces and special characters are not supported" for membership handle create/update.

[2022-06-20 12:55] ivanturlakov commented on #2817
Tested on https://dao-git-feature-polkadot-worker-joystream.vercel.app/

<img width="689" alt="Снимок экрана 2022-06-20 в 15 54 58" src="https://user-images.githubusercontent.com/46903215/174606285-8daaed1c-964c-4277-8710-0aba16b452c5.png">

Post deletion

https://user-images.githubusercontent.com/46903215/174605297-7c63b7e7-5b22-4488-b49b-024024ed1869.mov

Creating a runtime upgrade proposal - St

[2022-06-20 13:01] singulart commented on #2817
@dmtrjsg  failed in QA

[2022-06-20 13:09] dmtrjsg commented on #2817
@singulart @ivanturlakov is Runtime blob proposal the last use case that is not supported? There's an underlying runtime issue raised for that so its outside of Pioneer hands..

Having that as an input, shall we package this use case into a separate ticket to be tested once we can?

Broadly speaking are we ready for this feature to be released?

@thesan cc

[2022-06-20 13:23] ivanturlakov commented on #2817
@dmtrjsg Yes, only these two cases showed up

[2022-06-20 15:45] dmtrjsg commented on #2817
ok thanks for confirming, for Runtime upgrade proposal we have a separate issue for that:
 - https://github.com/Joystream/pioneer/issues/2519

Raising a separate issue for
- [ ] Fix post deletion

[2022-06-20 15:46] dmtrjsg opened #3266 "Delete and Edit buttons are shown on removed thread pages"
The delete and edit button still show on `ThreadStatusRemoved` threads. Clicking them results in a failed transaction

These button also incorrectly show when the thread creator is not selected. See https://github.com/Joystream/pioneer/issues/2817#issuecomment-1163133211

https://user-images.githubusercontent.com/46903215/175046190-bf14410f-46a4-40df-81c1-596f09bfc4b1.mov

[2022-06-20 18:02] bedeho commented on #2959
I don't think I understand this, feel free to supply a low-fi sketch or something.

[2022-06-20 18:03] #3254 closed

[2022-06-20 18:04] #3259 closed

[2022-06-20 19:23] dmtrjsg commented on #2712
@polikosi it certainly did make total sense at the time of writing it up and grooming, but cannot connect the dots now. Pls skip this point and I will mark this as a strike-through and out of scope. Thank you for asking!

[2022-06-21 00:34] traumschule opened #3268 "Wrong group names"
## Scope
- [ ] The correct implementation was done in  [packages/ui/src/common/helpers.ts](https://github.com/Joystream/pioneer/blob/dev/packages/ui/src/common/helpers.ts#L25); function called `nameMapping`, we need to do the same in the other files

Expected result:
- more DRY code
- `operationsWorkingGroupBeta` resolves to "HR"
- `operationsWorkingGroupGamma` resolves to "Marketing"
- `#/working

[2022-06-21 08:05] dmtrjsg commented on #3047
@ivanturlakov ready to be retested. Fix merged.

[2022-06-21 08:07] dmtrjsg commented on #3054
@ivanturlakov we concluded its acceptable for the forum threads.

[2022-06-21 08:12] dmtrjsg commented on #2210
This case is covered in this ticket
- https://github.com/Joystream/pioneer/issues/2815

[2022-06-21 08:24] dmtrjsg commented on #2361
@ivanturlakov can you pls raise this case as a separate issue, the remainder is left only cosmetic treatment. We need to show the validation error underneath the account selector "Insufficient funds".

This one goes to production as is as not blocking.

[2022-06-21 08:25] dmtrjsg commented on #3050
@singulart was this tested after the latest PR was merged 8 days ago?

[2022-06-21 08:31] dmtrjsg commented on #2817
Also a problem of cancelling transaction (any transaction) throws an error. @thesan will take care of this and #3266

[2022-06-21 09:37] singulart commented on #3201
Should be fixed by https://github.com/Joystream/pioneer/issues/3025

[2022-06-21 10:20] ivanturlakov commented on #3025
Tested on staging

Screenshots were taken on MacBook 13"

Perhaps the good solution for window positioning was implemented on Add New Proposal window and could be used here too.

<img width="1438" alt="Снимок экрана 2022-06-21 в 13 02 19" src="https://user-images.githubusercontent.com/46903215/174774506-454d9cb2-cb34-4e1d-9125-04e5038c02b7.png">
<img width="1440" alt="Снимок экрана 2022-06-21 в 13

[2022-06-21 14:25] ivanturlakov commented on #3047
Tested on staging

Bugs are fixed

https://user-images.githubusercontent.com/46903215/174822654-55952e8d-51c2-4147-a444-8ae731229aa0.mov

https://user-images.githubusercontent.com/46903215/174822848-986bae4f-dd18-4b24-802f-452f8fc2251d.mov

<img width="1255" alt="Снимок экрана 2022-06-21 в 17 18 02" src="https://user-images.githubusercontent.com/46903215/174822971-bb5b3093-12fa-4237-90e8-bffa51a93

[2022-06-21 14:39] ivanturlakov opened #3270 "Vote for council modal. Add validation error msg."
## Scope
- [ ] Display the validation error on staking amount field. "Insufficient amount on the selected account. Choose different account, or reduce the staking amount."

## Context

Tested on staging

[#2361 ](https://github.com/Joystream/pioneer/issues/2361#issuecomment-1161424863)

https://user-images.githubusercontent.com/46903215/174826176-560e54b4-f9a3-45dc-9261-b52ecfc8d11a.mov

[2022-06-21 14:53] ivanturlakov commented on #3050
Tested on staging

The fields are validated correctly
The transaction gets sent with the parameter set in the modal

Special characters are not allowed

https://user-images.githubusercontent.com/46903215/174829088-baf88657-e6b5-4e66-9d63-a9252f338fa1.mov

[2022-06-21 19:43] polikosi commented on #2787
Verified on staging. Test evidence below.

The "vote" button is hidden.
![Screenshot_127](https://user-images.githubusercontent.com/80429191/174884459-78fc2525-db2a-428b-a073-06753cb66a6a.png)
![Screenshot_126](https://user-images.githubusercontent.com/80429191/174884474-184bec14-b389-49c4-8b0e-914f0f2c4795.png)

[2022-06-22 09:24] bedeho opened #3272 "Update to use new Polkadot library"
Based on outcome here: https://github.com/Joystream/joystream/issues/3939

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202597151801536) by [Unito](https://www.unito.io)
┆Link To Issue: https://app.asana.com/0/1202132419573087/1202597151801536

[2022-06-22 09:37] ivanturlakov commented on #2220
Tested on staging

The panel still opens when you click on the chevron

Openings

https://user-images.githubusercontent.com/46903215/174994876-8c19faa9-c0c4-43e8-ade6-51d61d6dd3f4.mov

Proposals

https://user-images.githubusercontent.com/46903215/174994914-50e3ef83-57e8-427a-8974-aff228dd5935.mov

Bounty

https://user-images.githubusercontent.com/46903215/174994921-1b133ae4-25a7-4a33-ba96-cd8ae8c3

[2022-06-22 09:45] MattAugustynowicz commented on #3240
[👉 Figma Link here](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9966%3A406759)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/7a6a8aa8-5c1c-4f8c-b0aa-f04af250a670)

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/cbaebef7-6c28-4efc-94bd-ac4d1abc6e7d)

[2022-06-22 13:18] dmtrjsg opened #3273 "[feature request] Forum: tooltip to show full thread title"
## Scope

 - [ ] Truncate thread title after 2 lines
 - [ ] Show full thread name on hover over on title in the tooltip

## Guidance

truncateLines={2}

## Context

**Taken at**: https://dao.joystream.org/#/forum/category/11
**Fields**:
- Which feature are you missing?: Forum: tooltip to show full thread title
- What problem would that solve for you?: Can&#39;t see full thread titles, want to hove

[2022-06-22 13:57] ivanturlakov commented on #2817
Tested on https://dao-git-staging-joystream.vercel.app/

@thesan the error happens only if current memeber != thread author (ivant != ivant-tester-9 in my case)

https://user-images.githubusercontent.com/46903215/175046190-bf14410f-46a4-40df-81c1-596f09bfc4b1.mov

[2022-06-22 14:14] thesan commented on #2817
@ivanturlakov thanks for catching this, the buttons shouldn't show when the wrong member is picked. I added this to #3266. In both case (already removed thread and wrong member) the transaction fails (as it should). However the page shouldn't crash because of failed transaction I just merged the fix to this problem (#3271) on `staging`

[2022-06-22 15:41] MattAugustynowicz commented on #3212
[👉 Figma Page here](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9876%3A383547)

We changed the first screen showing three specific wallets and updated the message + we're changing the CTA from "join us" to "connect wallet."

![image.png](https://images.zenhubusercontent.com/61f04aadb8abb13c0fc2e178/35e6e849-dd8f-4466-af02-f671b9b82c41)

When we select one of the visibl

[2022-06-22 18:09] #3160 closed, assigned to nobody

[2022-06-22 20:04] oleksanderkorn commented on #2220
Hey maybe it was not deployed to staging?
Because on my branch pr deployment it works fine:
https://dao-git-fork-oleksanderkorn-bugfix-2220-joystream.vercel.app/#/proposals/preview/310

[2022-06-23 07:51] RafalPloszka opened #3276 "Fix LockTimeRecovery"
Scope:

- [ ] Fix CouncilorLock time in voting period
- [ ] For Proposals: copy logic from Proposal details page
- [ ] Do not show (or should it be recoverable?) recovery time for Closed opening - fix for both recovery time and on the opening page

[2022-06-23 07:58] dmtrjsg opened #3277 "[feature request] Extra white space in Forum"
**Taken at**: https://dao.joystream.org/#/forum/thread/214
**Fields**:
- Which feature are you missing?: Extra white space in Forum
- What problem would that solve for you?: I&#39;ve noticed that Forum threads are now surrounded with more extra white space. While it is visually ok, I expected this to have a different behavior when the screen is resized.

Expected: when screen is resized, forum thr

[2022-06-23 08:10] dmtrjsg commented on #3089
The problem is valid, but we are not fixing this one right now, since this resides in bounty v1 module which gets deprecated with the new Carthage release.

Putting this one back to On-hold. (even tho its on production)

[2022-06-23 08:16] dmtrjsg commented on #3043
The locks recovery times are handled in:
- https://github.com/Joystream/pioneer/issues/3109

[2022-06-23 08:18] dmtrjsg commented on #3109
Fixes addressed here:
- https://github.com/Joystream/pioneer/issues/3276

[2022-06-23 08:36] dmtrjsg opened #3278 "Token value component"
⚠️  here we are changing all fees and prices/ rewards/ all to token_value component!!

Blocked by #2531

[2022-06-23 08:59] ivanturlakov commented on #2220
@oleksanderkorn yes, indeed

Retested on https://pioneer-2.vercel.app/

Dropdown expand on full panel click

https://user-images.githubusercontent.com/46903215/175259986-5189a52d-463a-48c6-9137-5f2661fe8e17.mov

https://user-images.githubusercontent.com/46903215/175260008-e221317c-ad4f-4a58-b80c-f6aef18a2a03.mov

https://user-images.githubusercontent.com/46903215/175260023-f5c880b7-b771-43f3-bffe-

[2022-06-23 09:14] ivanturlakov commented on #3025
Retested on https://pioneer-2.vercel.app/

<img width="1440" alt="Снимок экрана 2022-06-23 в 12 10 28" src="https://user-images.githubusercontent.com/46903215/175263354-eb5ac8e5-ace0-4792-844d-a40fc5521f75.png">

[2022-06-23 10:41] thesan opened #3279 "Broken looking discussions on proposals and bounties"
![image](https://user-images.githubusercontent.com/6571453/175280575-a43b8800-52d4-459e-8f26-0ebfcded0d30.png)

[2022-06-23 11:13] dmtrjsg opened #3281 "[USERSNAP] Is not possible to edit a post"
**Taken at**: https://dao.joystream.org/#/proposals/preview/311
**Fields**:
- Houston, we have a problem.: Is not possible  to edit a post
- Comment: Is not possible  to edit a post neither in the proposal or in the forum. The box to edit the text appears empty and is not possible to click in the `save` button

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceff

[2022-06-23 11:52] dmtrjsg commented on #3109
Remains to be fixed:

**Functional**

- [ ] Fix CouncilorLock time in voting period
- [ ] For Proposals: copy logic from Proposal details page
- [ ] For Workers: Closed opening - fix for both recovery time and on the opening page

For open opening-  display "Based on hiring decision"
For worker actively in the role, the lock will remain for as long as the worker in the role.
For closed opening - i

[2022-06-23 11:59] dmtrjsg commented on #3276
@RafalPloszka closing this ticket for the follow up PR raised against original ticket - https://github.com/Joystream/pioneer/issues/3109

[2022-06-23 11:59] #3276 closed

[2022-06-23 12:30] dmtrjsg commented on #3212
@toiletgranny the very first issue from Pioneer for your capable hands :)

We'd need to update the onboarding flow modal served to users w/o connected wallet based on the comment below:

 About the flow, Atlas don’t have the same issue as we do, since they first make user pick a wallet before deciding whether to take them through onboarding or just login as normal user.  I would be behind doing th

[2022-06-23 13:00] dmtrjsg commented on #2959
Issue description re-written after confirmed with Bedeho.

[2022-06-23 13:09] dmtrjsg commented on #3114
Let's go with this version + Copy update

 "Bounties module is coming back soon!"

 We are working on the necessary upgrades for the much loved Bounties module to be released shortly! Stay Tuned!

<img width="679" alt="Screenshot 2022-06-23 at 14 06 39" src="https://user-images.githubusercontent.com/93924525/175305778-d6ecfb02-23e6-4ae9-a3e7-f1c1f9ebb6f1.png">

[2022-06-23 13:44] #2296 closed

[2022-06-23 13:44] #2341 closed

[2022-06-23 13:44] #2354 closed

[2022-06-23 13:44] #2361 closed

[2022-06-23 13:44] #2413 closed

[2022-06-23 13:44] #2415 closed

[2022-06-23 13:44] #2425 closed

[2022-06-23 13:44] #2521 closed

[2022-06-23 13:44] #2637 closed

[2022-06-23 13:44] #2712 closed

[2022-06-23 13:44] #2802 closed

[2022-06-23 13:44] #2831 closed

[2022-06-23 13:44] #2849 closed

[2022-06-23 13:44] #2896 closed

[2022-06-23 13:44] #2997 closed

[2022-06-23 13:44] #3038 closed

[2022-06-23 13:44] #3043 closed

[2022-06-23 13:44] #3047 closed

[2022-06-23 13:44] #3048 closed

[2022-06-23 13:44] #3050 closed

[2022-06-23 13:44] #3051 closed

[2022-06-23 13:44] #3054 closed

[2022-06-23 13:44] #3100 closed

[2022-06-23 13:44] #3148 closed, assigned to nobody

[2022-06-23 13:44] #3170 closed

[2022-06-23 13:44] #3183 closed

[2022-06-23 13:44] #3184 closed

[2022-06-23 14:35] #2464 closed

[2022-06-23 14:35] #2203 closed

[2022-06-23 14:36] #2933 closed

[2022-06-23 14:37] #2924 closed

[2022-06-23 14:37] #3243 closed

[2022-06-24 08:07] dmtrjsg opened #3284 "Types Upd to Universal Meta Format from"
## Scope
- [ ] Make Pioneer work with the new types / universal meta format

## Changes to accommodate
Changelog on QN changes covered here
-https://github.com/Joystream/joystream/blob/carthage/types/CHANGELOG.md

Atlas PR dealing with types upd here:
- https://github.com/Joystream/atlas/pull/2926

## Context

![Screenshot 2022-06-24 at 09.06.26.png](https://images.zenhubusercontent.com/6197874e19

[2022-06-24 11:30] thesan opened #3285 "Hydra sometime gen `Float` instead of `BigInt`"
In the schema:

[code]

(despite being defined as a `BigInt` in [joystream/query-node/schemas/bounty.graphq](https://github.com/Joystream/joystream/blob/e6f2fb45de38717b851ebc7d289e8936cff4b0a2/query-node/schemas/bounty.graphql#L131))
And `Float` generates `number` with the codegen (which makes sense).

A way to fix this without requesting changes on Hydra would be to have `Float` generates `strin

[2022-06-24 11:31] polikosi commented on #3201
verified on https://pioneer-2.vercel.app/#/profile . Not fixed
![Screenshot_129](https://user-images.githubusercontent.com/80429191/175525906-275f6156-e62f-4fcf-8d1c-28bbb7cb57e7.png)

verified on https://dao-git-staging-joystream.vercel.app/#/profile . Not fixed
![Screenshot_128](https://user-images.githubusercontent.com/80429191/175526027-9daca958-3a6f-4954-8889-e4415d0ab49f.png)

[2022-06-24 12:42] thesan opened #3287 "Harcoded value in `@/memberships/components/MemberProfile/MemberRoleToggle.tsx`"
The value of "Earned in 24h" in [@/memberships/components/MemberProfile/MemberRoleToggle.tsx#L76](https://github.com/Joystream/pioneer/blob/f5d7b3d140e9fde9be0141556f83f48717b8293a/packages/ui/src/memberships/components/MemberProfile/MemberRoleToggle.tsx#L76) is harcoded.

_Originally posted by @thesan in https://github.com/Joystream/pioneer/pull/3265#discussion_r905960783_

[2022-06-24 12:54] thesan commented on #3285
Also opened on Hydra https://github.com/Joystream/hydra/issues/494

[2022-06-24 13:06] #3281 closed

[2022-06-24 13:18] dmtrjsg commented on #2032
There's dependency on the QN PR
- https://github.com/Joystream/joystream/pull/3862

[2022-06-24 14:30] toiletgranny commented on #3212
@dmtrjsg @stepien4soft, guys, my apologies, I thought I got it at the end of our Friday afternoon call, but, honestly... the more I look at the designs and messages from Radek, the more I'm getting back to where I started, meaning: I can't understand what seems to be the problem and why can't this be implemented the way Matt had prepared it.

Instead, while reviewing the designs, I started having

[2022-06-24 14:44] dmtrjsg commented on #3212
@toiletgranny thanks for sharing.

My thinking was very simple (and I think it is okay to show the onboarding modal for all users whose wallet is not connected). I think it is important to entice users to do it with explanation of benefits so the changes from Matt's designs can be minimal, namely:

1. The modal will be shown to all users whose wallet is not recognised (even if they have had an acc

[2022-06-24 15:16] ivanturlakov commented on #2692
Tested on staging

Threads links work well

https://user-images.githubusercontent.com/46903215/175565158-4fbd0b36-1d18-4435-ac6f-f5e15347a455.mov

[2022-06-24 15:58] dmtrjsg opened #3290 "[USERSNAP] Tried to resubmit candidacy, transaction failed"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: Tried to resubmit candidacy, transaction failed
- Comment: A previous submissed was interrupted due to another pioneer issue. I just resubmitted it without deleting the other candidacy.

Would be great if pioneer could pick up where it got interrupted last - just place the candidacy with the second transa

[2022-06-24 16:24] traumschule opened #3291 "Candidacy process interrupted, editor caused CPU load, transaction not picked up"
Route: https://dao.joystream.org/#/election, last step of `Announce Candidacy` modal

TLDR Users wan't to use keyboard navigation and click to position the cursor without the editor changing cursor position.

Reported [here](https://discord.com/channels/811216481340751934/812344874099277824/989887189842296842) and [here](https://discord.com/channels/811216481340751934/812343711870091285/9898955117

[2022-06-24 16:25] traumschule commented on #3290
related to https://github.com/Joystream/pioneer/issues/3291

[2022-06-24 16:52] polikosi commented on #3255
verified on staging. test evidence below:

https://user-images.githubusercontent.com/80429191/175606754-dce3f99d-7fbb-4558-8b94-22da0cc23982.mp4

[2022-06-24 18:48] dmtrjsg opened #3292 "[USERSNAP] stuck in finalizing transaction announcing candidacy"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: stuck in finalizing transaction announcing candidacy
- Comment: transaction should finalize when announcing candidacy and signing
- Feedback: eclipsingbinary

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/26e8b979-c9fa-4c8f-817e-031c912180eb

[2022-06-25 12:23] dmtrjsg opened #3293 "[USERSNAP] Announce Candidacy bug"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: Announce Candidacy bug
- Comment: It&#39;s asking me to sign with my root account and not my announcing account.
It should announce my candidacy after following the steps
- Feedback: eclipsingbinary

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screen

[2022-06-25 16:48] dmtrjsg opened #3294 "[USERSNAP] "Add proposal" button is being hidden"
**Taken at**: https://dao.joystream.org/#/proposals/current
**Fields**:
- Houston, we have a problem.: &#34;Add proposal&#34; button is being hidden
- Comment: Even with a council member account selected the &#34;add proposal&#34; button disappears after the page loads
- Feedback: freakstatic#0197

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_

[2022-06-26 00:08] traumschule commented on #3294
realted to https://github.com/Joystream/pioneer/issues/2787?

[2022-06-27 08:27] dmtrjsg commented on #3294
@freakstatic and @traumschule is that reproduce-able right now?

Just checked on prod:

<img width="1412" alt="Screenshot 2022-06-27 at 09 26 47" src="https://user-images.githubusercontent.com/93924525/175894855-84a823b7-d935-4701-a48a-4282298ef39b.png">

[2022-06-27 08:44] freakstatic commented on #3294
@dmtrjsg yeah can't reproduce right now.. could it be related with the election have failed to get applicants? Because I remember that's what happen when the bug appeared

[2022-06-27 09:06] dmtrjsg opened #3295 "[USERSNAP] Cannot reveal election vote"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: Cannot reveal election vote
- Comment: Getting stuck on &#34;Checking requirements&#34; while trying to reveal a election vote

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/23283a7e-7295-49c0-ab0c-94e81e65a3e4-annotated_3bc870ab-d2bf-4297-8

[2022-06-27 09:58] #3294 closed

[2022-06-27 10:08] ivanturlakov commented on #3211
Tested on staging

**png, jpg, jpeg, gif**

<img width="1419" alt="Снимок экрана 2022-06-27 в 12 11 24" src="https://user-images.githubusercontent.com/46903215/175915610-a7655ac3-e650-4802-a214-7205c095a12a.png">
<img width="1431" alt="Снимок экрана 2022-06-27 в 12 58 46" src="https://user-images.githubusercontent.com/46903215/175915776-b4e289c4-0a47-4664-901d-4f2ac9c84a5e.png">

**svg**

<img wid

[2022-06-27 14:12] dmtrjsg opened #3296 "[USERSNAP] Livesession is struggling with capturing contents of sliding up overlays"
**Taken at**: https://play.joystream.org/video/26934
**Fields**:
- Houston, we have a problem.: Livesession is struggling with capturing contents of sliding up overlays
- Comment: https://app.livesession.io/app/sessions/d3fa576d-22cd-464f-46ef-8e13f652bee2/8f7525a5-9083-4eca-5e66-c1dee835a294 is that worth raising to

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46d

[2022-06-27 14:14] #3296 closed

[2022-06-27 14:14] dmtrjsg commented on #3296
Issue moved to [Joystream/atlas #2920](https://github.com/Joystream/atlas/issues/2920) via [**ZenHub**](https://www.zenhub.com/)

[2022-06-27 14:21] dmtrjsg opened #3297 "Tooltips on Account Creation - Root and Controller Accounts"
## Scope
- Update tooltips on root and controller accounts in the create membership flow, and everywhere where they are selected.

![Screenshot 2022-06-27 at 15.20.12.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/6abf33ef-23a4-4ebd-84b3-33bf3f8cfd92)

tootlip for root acc:
Root account is the primary account associated with the membership. It cannot be changed. Root account is

[2022-06-27 15:02] dmtrjsg opened #3298 "Fiat Exchange"
Same as this for Pioneer: - https://github.com/Joystream/atlas/issues/2906

[2022-06-27 15:10] dmtrjsg opened #3299 "Storage of Avatar Images internally (as opposed to asking for URL)"
## Context
Ensure less friction and better experience for all users, since avatar image via URL come with many problems. Atlas team is building a simple back end service

* https://github.com/Joystream/atlas/issues/2885

And corresponding adjustments to the onboarding flow

* https://github.com/Joystream/atlas/issues/2884

## Scope
* [ ] Update the membership creation and editing flows in favour o

[2022-06-27 15:40] dmtrjsg opened #3300 "QA task for mainnet"
## Context

It has been reported that transaction status modal is not showing on some transactions, especially on the multi-step transactions that require bounding account, staking and signing in a single flow (like applying to a role).

## Scope

- [ ] Conduct the complete set of workflows manual run through and capture failed scenarios as comments to this ticket

[2022-06-27 15:45] dmtrjsg opened #3301 "Smoke testing: Members and Transfers"
ℹ️ Playground config details: https://54.172.154.45.nip.io/network/config.json
Pioneer Instance: https://dao-git-carthage-joystream.vercel.app/
Current council size is set to 1; WG leads are pre-hired with each WG has 1 worker; Alice account has JOY balances.

☝️ For each workflow make a note of the fees displayed **_on each_** step of the modal, and final fees both on Pioneer AND double-check via

[2022-06-27 15:49] dmtrjsg opened #3302 "Carthage testing: WG and Proposals Light"
ℹ️ Playground config details: https://54.172.154.45.nip.io/network/config.json
Pioneer Instance: https://dao-git-carthage-joystream.vercel.app/
Current council size is set to 1; WG leads are pre-hired with each WG has 1 worker; Alice account has JOY balances.

☝️ For each workflow make a note of the fees displayed **_on each_** step of the modal, and final fees both on Pioneer AND double-check via

[2022-06-27 15:51] dmtrjsg opened #3303 "Carthage testing: Council and Election"
ℹ️ Playground config details: https://54.172.154.45.nip.io/network/config.json
Pioneer Instance: https://dao-git-carthage-joystream.vercel.app/
Current council size is set to 1; WG leads are pre-hired with each WG has 1 worker; Alice account has JOY balances.

☝️ For each workflow make a note of the fees displayed **_on each_** step of the modal, and final fees both on Pioneer AND double-check via

[2022-06-27 15:56] dmtrjsg opened #3304 "Smoke testing: Forum"
ℹ️ Playground config details: https://54.172.154.45.nip.io/network/config.json
Pioneer Instance: https://dao-git-carthage-joystream.vercel.app/
Current council size is set to 1; WG leads are pre-hired with each WG has 1 worker; Alice account has JOY balances.

☝️ For each workflow make a note of the fees displayed **_on each_** step of the modal, and final fees both on Pioneer AND double-check via

[2022-06-27 16:22] dmtrjsg opened #3305 "Polkadot wallet account not picked up in Firefox"
https://www.loom.com/share/cbdfab278f384611995857f49ca6e30d

[2022-06-27 16:22] dmtrjsg commented on #3305
Will be addressed in implementation of talisman #3239

[2022-06-27 16:22] #3305 closed

[2022-06-27 16:23] dmtrjsg opened #3306 "Root account validation takes 25 seconds in creating proposal"
## Context
Staking account validation displays with a red border now, and no messaging, potentially confusing the user as Next button is disabled without any warnings during validation checks.

## Scope
* [ ] Design and implement the waiting state

Remove red border
Show a small progress spinner under the selector
and copy "Account validation in progress, please wait"

┆Issue is synchronized with

[2022-06-28 08:25] singulart opened #3308 "Prohibit editing and deleting proposal discussion posts"
Bad faith CMs may use editing feature (and ability to remove posts, for that matter) to cover things up and distort the perception of proposals discussions.

In my humble opinion, proposals discussion should be made completely immutable. The below example shows that CMs (not necessarily acting in bad faith) use this feature quite extensively:

<img width="256" alt="Screenshot 2022-06-28 at 11 25 2

[2022-06-28 08:38] adovrodion commented on #2303
Bounty link: https://dao.joystream.org/#/bounty/preview/90

[2022-06-28 09:37] polikosi opened #3309 "Unable to withdraw stake from failed bounty"
https://user-images.githubusercontent.com/80429191/176146957-75e83f16-cf6c-49f2-914b-c7a48e958c4c.mp4

![image](https://user-images.githubusercontent.com/80429191/176147036-c0d1ee28-b885-402c-9352-31f72cdab5f9.png)
TX: https://polkadot.js.org/apps/?rpc=wss://3.235.196.1.nip.io/ws-rpc#/explorer/query/0xf1011544f163eed15a89149ff54050c149f744a7c37ac9cec73d1f4870e6502d

[2022-06-28 09:55] toiletgranny commented on #3212
Dima, just so you know, I can't change this issue's assignee or the column, so I'd kindly ask you to do that for me when you have a moment. 🙏

[2022-06-28 20:28] singulart opened #3310 "Incorrect "SPENDING" value is shown on the Working Group "About" tab"
How to reproduce:
1. Go to https://dao.joystream.org/#/working-groups/builders
2. Navigate to "About"
3. Observe "Spending" section

<img width="1277" alt="Screenshot 2022-06-28 at 23 24 38" src="https://user-images.githubusercontent.com/7863785/176278246-b5a86c3a-2bbd-4cb6-82de-6a87575a0549.png">

NOTE: This is only reproduced for Builders WG, because apparently this is the only WG using `discret

[2022-06-30 08:07] dmtrjsg commented on #3239
Designs are covered here> https://github.com/Joystream/pioneer/issues/3212

[2022-06-30 15:57] ivanturlakov commented on #3300
Tested on staging

Transaction status modal is not showing:

**Create Bounty. Step 2.**
<img width="1189" alt="Снимок экрана 2022-06-30 в 18 51 01" src="https://user-images.githubusercontent.com/46903215/176722762-d236665c-bd98-49b6-ae27-f74f385b073f.png">

[2022-06-30 16:06] dmtrjsg commented on #3300
@ivanturlakov thank you for posting. Bounties module will get deprecated, so on that basis we will have to skip this particular case, but ensure everything else works as expected.

[2022-06-30 23:35] freakstatic commented on #2833
@dmtrjsg doesn't seems to be a problem of pioneer. It's just showing what the QN returns.

QN:
[code]

Chain:
Application 12:
{
  role_account_id: 5C4hrfjw9DjXZTzV3MwzrrAr9P1MJhSrvWGWqi1eSuyUpnhM
  reward_account_id: 5C4hrfjw9DjXZTzV3MwzrrAr9P1MJhSrvWGWqi1eSuyUpnhM
  staking_account_id: 5C4hrfjw9DjXZTzV3MwzrrAr9P1MJhSrvWGWqi1eSuyUpnhM
  member_id: 0
  description_hash:
  opening_id: 0
}

Applicati

[2022-07-01 09:04] #2770 closed

[2022-07-01 09:21] dmtrjsg commented on #3260
After having a look: on the FE we don't do any calculations. We get it from QN (Event name = budget_spending) and its all money spent by Council.

@singulart over to you on what's a preferred target state. Pls feel free to reply here or ping me in DM on discord. Thank yoU!

[2022-07-01 09:31] singulart commented on #3260
The desired state is to show the exact figure spent via discretionary spending. For my WG, it's 18M tJOY

[2022-07-01 09:53] bedeho commented on #2959
1. I think so yes, but even if you could claim them to some other account, this can be done in a second transfer later, so lets not overcomplicate the design with this variation even if possible.
2. What do you mean by unilateral, do you mean identical? if so then no, and there will be future stakeholders that may be subject to new vesting schedules.
3. This question was a  bit unclear, but on mai

[2022-07-01 09:59] dmtrjsg commented on #2959
@Adam based on the above:
1. I suggest to include “cliff duration” and “unlocked after cliff %” as explicit details to the vesting lock card.
2. Since the allocation rules are different, the tooltip with the diagram can benefit from additional copy “This chart is only for illustration purposes, please refer to the vesting lock details for actual info).

[2022-07-01 10:55] bedeho commented on #2959
I have to stress that you really need to speak to @thesan or someone to make sure you are designing in accordance with the low level properties of the vesting mechanism being used, this is not like $CRT vesting. I am not sure how or whether cliffs exist as a concept directly, this must be fully verified. Has this all been checked out?

[2022-07-01 12:27] dmtrjsg commented on #2959
That's a fair point, and we did not have a chance to drive this by Theo just yet. Duly noted.

cc @thesan

[2022-07-01 20:50] singulart opened #3316 "Deleted threads shows up in multiple places"
Reproduce:
1. Create thread
2. Delete thread

Expected result:
1. Deleted thread cannot be opened by ID
2. Deleted thread is not showing anywhere in Forum

Actual result:
1. Deleted thread is visible in `MY THREADS`
2. It is possible to click and view the deleted thread.
3. It is possible to add Deleted thread to Watchlist
4. Watchlisted deleted thread is visible in `YOUR WATCHLIST`
5. Post from d

[2022-07-01 21:42] freakstatic commented on #2833
after some more investigation I notice that the Application 12 has the status "ApplicationStatusWithdrawn"
[code]
so this issue can probably be solved by not showing the applications that were withdrawn

[2022-07-02 09:43] traumschule opened #3318 "regression causes high CPU load"
Since one of the last updates pioneer suffers a nasty regression that causes high CPU load. Could be related to contributions by community dev or something else. I did not check where loops have been added recently but someone more familiar with the code base will be faster to find it.

STR: Keep pioneer open (in chromium browser) for a while next to a cpu monitor.
Symptom: CPU around 100%

![pion

[2022-07-04 08:44] traumschule opened #3319 "Fix available balance for voting / council candidacy and member / wg role / proposals"
## Scope

1️⃣
* [ ] Update the title of the balance to "Available" in account selection for staking  (instead of transferable) and calculate it as "Total balance - rivalrous locks".

![](https://user-images.githubusercontent.com/93924525/179704851-e6d143b5-f5e5-4700-bc38-43b2112227d1.png)

2️⃣

* [ ] Validate the sufficient amount based on this, and if not enough show "insufficient balance"

![](h

[2022-07-04 10:52] polikosi commented on #2657
Verified on staging. Test evidence below:
✅ Search member by key:
![Screenshot_134](https://user-images.githubusercontent.com/80429191/177140001-2a46e987-b485-46fb-854c-fc47aa5a06c3.png)

🚫finding members by ID:
![Screenshot_136](https://user-images.githubusercontent.com/80429191/177140321-8d751d26-a411-4415-9c99-8dbef74e9ac3.png)
![Screenshot_135](https://user-images.githubusercontent.com/8042919

[2022-07-04 10:58] polikosi commented on #2787
Verified on staging. Test evidence below:
✅the button isn't hidden
![Screenshot_137](https://user-images.githubusercontent.com/80429191/177141116-437b750f-e463-4242-b4eb-6ec2ba8bcc2e.png)

[2022-07-04 11:29] polikosi commented on #3056
Verified on staging.
Distribution group:

{"data":{"workers":[{"missingRewardAmount":"8692550","__typename":"Worker"},{"missingRewardAmount":"1695648","__typename":"Worker"}]}}

Add 8,692,550 and 1,695,648 = 10,388,198

![Screenshot_139](https://user-images.githubusercontent.com/80429191/177144929-c773a67b-a3cb-41d5-a66a-b0cfea412e37.png)

[2022-07-04 12:44] ivanturlakov commented on #3109
Tested on staging

Based on Dmitry`s list

_**Fix CouncilorLock time in voting period: > Council Period Countdown***_

<img width="1440" alt="Снимок экрана 2022-07-01 в 14 37 38" src="https://user-images.githubusercontent.com/46903215/177153367-7b2c2642-6b0e-490a-a210-89040022efc5.png">

Elected

<img width="1171" alt="Снимок экрана 2022-07-04 в 15 36 37" src="https://user-images.githubusercontent

[2022-07-04 13:21] ivanturlakov commented on #3300
@dmtrjsg I have not found stable scenarios where the transaction status window is not shown

However, I have sometimes observed this in different scenarios -

1. I sign a transaction in polkadot extension
2. the status window appears for a moment and then immediately hides
3. related buttons become disabled
4. After a while, the success window appears (Application submitted!)

[2022-07-04 16:00] dmtrjsg commented on #2959
Mokhtar kindly pointed me to the pallet documentation and based on my review, we only have the
- starting block
- vesting per each block
- min vested transfer [not sure if this is this to allocate or to recover tokens ❓]

[Link to documentation >](https://docs.rs/pallet-vesting/latest/pallet_vesting/trait.Config.html)
(see img)
<img width="1082" alt="Screenshot 2022-07-04 at 16 56 41" src="https:/

[2022-07-05 10:00] dmtrjsg commented on #3109
@RafalPloszka two points left to address here

For Workers: For closed opening - if candidate rejected (not hired) -> do not display anything and show "Recover" CTA
Fix CouncilorLock time in voting period: > Council Period Countdown* + Tooltip "Recoverable if not elected"

[2022-07-05 12:02] ivanturlakov commented on #3238
Tested on staging

**1. Account selection for staking purposes**

Stake recovered after unlocked for role-based locks; while other locks can be recovered automatically (like proposal locks, when they get rejected)

<img width="1173" alt="Снимок экрана 2022-07-05 в 14 23 53" src="https://user-images.githubusercontent.com/46903215/177319018-8f0ac41f-d57d-4128-9c9e-147cd4ca7c35.png">
<img width="1253

[2022-07-05 16:22] dmtrjsg commented on #3238
@ivanturlakov thanks for thorough testing 💪
@RafalPloszka over to you mate 🎾

#### UI:

1. Selector needs to push the list down, and correctly overlays on top of the first account card.
3. Colour of disabled lock filling matches the border. Borders (horizontal delimiters) need to be visible.
3. Space to be added between icons and balances

#### Tooltips upd for locks

Tooltip on proposal locks:
2.

[2022-07-05 17:09] dmtrjsg commented on #2948
Checked after wrapping polkadot into webworker, only accounts page is loading, but the ticket is still valid, with the need of prompting users to check extension dialogue window, that may be shown outside of the browser window.

<img width="1280" alt="Screenshot 2022-07-05 at 18 06 53" src="https://user-images.githubusercontent.com/93924525/177380446-6fe53222-2245-4db7-b8fa-52ae8aa2f994.png">

[2022-07-05 17:29] #3018 closed

[2022-07-05 18:45] singulart commented on #2657
I don't think searching by ID was required. May be requested via a separate ticket, though. Considering this as PASSED QA

[2022-07-05 18:54] singulart commented on #3056
As @bwhm found, this is a QN issue

[2022-07-05 21:30] bedeho opened #3321 "Sybil resistant faucet"
## Scope

- [ ] Add captcha to the create membership flow

ℹ️  Atlas ticket:
- https://github.com/Joystream/atlas/issues/2969

## Background

We will have a faucet that gives people sufficient funds to make a membership, channel and upload content. This faucet is powered by Atlas operator funds, so it is costly for the operator. The upside is that the user cannot use funds for anything except tran

[2022-07-06 00:42] freakstatic commented on #2888
@singulart please assign

[2022-07-06 08:25] dmtrjsg commented on #3109
+ Copy in the eta field to use same block info

[2022-07-06 10:35] freakstatic commented on #3310
It's also happening for HR which also uses `discretionary budget spending`
https://dao.joystream.org/#/working-groups/hr

[2022-07-06 11:44] freakstatic commented on #3319
I got this error when trying to recover a vote stake

`Unable to retrieve the specified block details. Unable to decode storage system.events:: createType(Vec<EventRecord>):: Vec<EventRecord>:: Decoded input doesn't match input, received 0x0c00000000000000482d7c09000000000200000001000000000000000000000000000200000002000000000103120ce8daf52800000000000000 (58 bytes), created 0x0c00000000000000482d7

[2022-07-06 11:46] dmtrjsg opened #3329 "[USERSNAP] My WG application stake stucked for 2 months"
**Taken at**: https://dao.joystream.org/#/404
**Fields**:
- Houston, we have a problem.: My WG application stake stucked for 2 months
- Comment: I have no idea
- Feedback: hayabusa#1942

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/68e51d81-a645-45ca-993c-54df32edd4d4-annotated_0bfc0aa7-8fe9-4f99-9801-2667a42869f0.png?etag=3de29ed5f

[2022-07-06 12:58] dmtrjsg opened #3330 "[USERSNAP] `Create Post` does nothing after canceling previous post"
## Scope

- [ ] Close the modal after cancelling transaction

## Tech Guidance

NB: we don't handle cancelled state in the state machine rn

## Context

**Taken at**: https://dao.joystream.org/#/forum/thread/396?post=814
**Fields**:
- Houston, we have a problem.: `Create Post` does nothing after canceling previous post
- Comment: Canceled transactions leaves state that prevents future posting on t

[2022-07-06 16:54] dmtrjsg opened #3331 "[USERSNAP] submit work box cannot fit the screen"
**Taken at**: https://dao.joystream.org/#/bounty/preview/97
**Fields**:
- Houston, we have a problem.: submit work box cannot fit the screen
- Comment: it should fit entire screen. i cannot zoom out.

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/cfd7a817-e79d-4508-ae21-cbeb774dc23f-annotated_844cf9cf-029b-4552-89b0-b0cb078b8131.png?

[2022-07-06 17:54] freakstatic commented on #3331
duplicated by #3201

[2022-07-06 18:07] dmtrjsg opened #3332 "[USERSNAP] Missing cancel button for my bounty"
**Taken at**: https://dao.joystream.org/#/bounty/preview/1
**Fields**:
- Houston, we have a problem.: Missing cancel button for my bounty
- Comment: According to @adovrn cancelling a bounty was possible before. Maybe not duringfunding period though?

Cancelling via extrinsic didn&#39;t work either
https://discord.com/channels/811216481340751934/812343711870091285/992762856351219803
https://discord

[2022-07-07 11:14] #3332 closed

[2022-07-07 11:19] dmtrjsg commented on #3308
@bedeho would this require runtime change? What's your view on this feature request.

[2022-07-07 11:26] dmtrjsg commented on #3319
@freakstatic to your point, here's the issue that fixes it: https://github.com/Joystream/pioneer/issues/3143

[2022-07-07 11:29] dmtrjsg commented on #3319
@traumschule would this not be better if we implement the same rules as here to the referendum voting screen as in #3238? as "Make it accept all values below total balance. If other locks let tx fail, show that error." is sounds like a suboptimal design treatment for this case.

So when you don't have enough on your transferable balance / and or conflicting locks we would show acc as unavailable w

[2022-07-07 11:32] dmtrjsg commented on #3310
@WRadoslaw this looks like a good candidate to take care of when you are finished with Talisman.

[2022-07-07 11:35] dmtrjsg commented on #3309
@WRadoslaw this one looks pretty strange.. runtime side issue?

[2022-07-07 11:36] dmtrjsg commented on #3295
Cannot action at this moment, thank you for reporting @freakstatic and pls let me know if you encounter it again..

[2022-07-07 11:36] #3295 closed

[2022-07-07 11:41] dmtrjsg commented on #3293
<img width="614" alt="Screenshot 2022-07-07 at 12 40 59" src="https://user-images.githubusercontent.com/93924525/177765165-7815ba2a-9875-49f0-82a2-c303dc73ae72.png">

[2022-07-07 11:44] dmtrjsg commented on #3292
Cannot reproduce or debug without trx details. Reached out on Discord to get more info.

[2022-07-07 11:44] #3293 closed

[2022-07-07 12:19] dmtrjsg opened #3333 "Add "View lock details" link in the unavailable accounts due to locking tooltip"
## Context
Core issue is in this ticket:
- https://github.com/Joystream/pioneer/issues/3238

## Scope

- Add anchors to account lock details page so that user can be directed to an expanded lock + screen focus.
- Add "View lock details>" to the tooltip used for unavailable accounts due to locks:

Below the copy and above "Learn more about locks>"
![Screenshot 2022-07-07 at 13.15.23.png](https://im

[2022-07-07 12:20] dmtrjsg commented on #3238
Adding a follow up issue to include an anchor to the locks page and make them hyperlinkable: https://github.com/Joystream/pioneer/issues/3333

[2022-07-07 12:20] dmtrjsg commented on #3238
@RafalPloszka tooltip wording updated as agreed:

"2. Change copy to “You cannot select this account because it has a lock preventing its usage for staking. Role stake can be recovered after the role is terminated, while proposal locks get recovered automatically, when proposals get executed.
Learn more about locks> (pointing to gitlab)”

[2022-07-07 13:35] Ken-tech-max commented on #3153
Hi, Isonar, Can you explain the issues one by one?
I want to ensure the issues and jump to development.

[2022-07-07 19:40] WRadoslaw commented on #3310
@dmtrjsg looks like this issue has been resolved and the fix is on `dev`

![image](https://user-images.githubusercontent.com/92513933/177858284-dea92985-e50a-4f69-b9fd-404ca852d95f.png)

[2022-07-07 19:43] WRadoslaw commented on #3309
Not sure, I'm unable to open `tx` link and video doesn't really help 😞

[2022-07-08 08:44] polikosi commented on #2362
Verified on staging. Test evidence below:
Works as expected
![Screenshot_144](https://user-images.githubusercontent.com/80429191/177953728-efe18710-ff88-4654-b2e1-9b80d803a9a6.png)

[2022-07-08 11:11] dmtrjsg commented on #3212
Agreed to corrections:
- Static overlay on top of the screen for not-signed in users, stepper flow only shows in the flow modals
- Extension blocking the app must be shown on step 2
- Welcome back toaster shown to users, whose account is saved in local storage
<img width="553" alt="Screenshot 2022-07-08 at 12 09 19" src="https://user-images.githubusercontent.com/93924525/177981192-134b75db-83e9-4a

[2022-07-08 11:12] dmtrjsg commented on #3239
Agreed to corrections:
- Static overlay on top of the screen for not-signed in users, stepper flow only shows in the flow modals
- Extension blocking the app must be shown on step 2
- Welcome back toaster shown to users, whose account is saved in local storage
<img width="553" alt="Screenshot 2022-07-08 at 12 09 19" src="https://user-images.githubusercontent.com/93924525/177981192-134b75db-83e9-4a

[2022-07-08 12:12] dmtrjsg opened #3336 "QA task: test Talisman for Pioneer on preview branch"
## Scope
- [ ] quick test of Talisman implementation for Pioneer on preview branch would be helpful

Can be tested here> https://pioneer-2-6zm2fsfi7-joystream.vercel.app/#/profile
Or here
![image](https://user-images.githubusercontent.com/93924525/177991453-b06bb14d-5344-410d-8659-a1c895356580.png)

Relevant PR:
https://github.com/Joystream/pioneer/pull/3327

Originating Issue link:
- https://gith

[2022-07-08 12:38] dmtrjsg opened #3337 "[USERSNAP] Minutes-long delay picking up QN transaction"
**Taken at**: https://dao.joystream.org/#/proposals/preview/354
**Fields**:
- Houston, we have a problem.: Minutes-long delay picking up QN transaction
- Comment: After voting on a proposal further voting is blocked for several minutes.
- Feedback: l1

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/df06a04b-86ff-4692-b48f-d2a500718d84

[2022-07-10 12:45] adovrodion opened #3341 "When creating a bounty, a thread is created in the wrong forum category"
## Problem

Issue identified to be a Query node issue. Pioneer uses the following query to fetch the "Bounties" forum category: https://raw.githubusercontent.com/Joystream/pioneer/aa9aef7db06cb103257078bee2fc67d2efedc216/packages/ui/src/bounty/hooks/useBountyForumCategory.ts However, this query return random categories :)

## Implication on Pioneer

![image](https://user-images.githubusercontent.c

[2022-07-11 07:39] singulart commented on #2888
Another assignee is to be given for this. Requirements and scope changes is better to be discussed with secret_girl#4386

[2022-07-11 08:11] dmtrjsg commented on #3309
@polikosi are they all failing like this? Is this reproducable on staging as well?

The block details not helping much:
<img width="1160" alt="Screenshot 2022-07-11 at 09 10 55" src="https://user-images.githubusercontent.com/93924525/178218543-d67dd618-dddf-45d0-b0fe-2378a3ab29a2.png">

[2022-07-11 09:39] traumschule commented on #3319
Ok let me be more clear what the current problem is. It worked for weeks and just got borked.

Got 100M in my account, staked for nomination.
![account](https://user-images.githubusercontent.com/31551045/178234025-3d0939aa-168b-441d-93d3-2da9be77b34a.png)

This stake should be available for voting. I explained this in another issue which got resolved. Now it got bugged back like wrecking your car

[2022-07-11 11:34] ivanturlakov commented on #3336
Tested on https://pioneer-2-6zm2fsfi7-joystream.vercel.app/#/working-groups

QN didn’t update after member created
<img width="1440" alt="after_member_created-1" src="https://user-images.githubusercontent.com/46903215/178254585-1bf16c9c-d718-43f8-acfe-54aea4652920.png">

Acc details after member created
<img width="1173" alt="after_member_created_acc" src="https://user-images.githubusercontent.com

[2022-07-11 11:49] dmtrjsg opened #3342 "[USERSNAP] Reward notification does not mention group"
## Scope

- [ ] Add Role name to the notification. "The reward for opening_title was increased to X joy per block."
- [ ] Add "Read more" link pointing to the related opening details page

## Tech Guidance

⚠️ Event name is "workerRewardAmountUpdatedEvents"

## Context
**Taken at**: https://dao.joystream.org/#/proposals/preview/376
**Fields**:
- Houston, we have a problem.: Reward notification doe

[2022-07-11 14:28] dmtrjsg commented on #3291
We are not sure what can be done here, so pls let me know if this repeats and we will re-open. @traumschule

[2022-07-11 14:50] dmtrjsg commented on #3251
@adovrodion do we have any info on what specific role was cancelled via proposal?

[2022-07-11 16:51] adovrodion commented on #3251
@dmtrjsg This openings:
https://dao.joystream.org/#/working-groups/openings/operationsWorkingGroupGamma-6
https://dao.joystream.org/#/working-groups/openings/contentWorkingGroup-12

[2022-07-11 17:11] dmtrjsg opened #3343 "Refetch QN when new membership is created"
## Context

Based on this comment:

- https://github.com/Joystream/pioneer/issues/3336#issuecomment-1180299768

The issue only shows up when new membership is created with Faucet.

## Scope

- Refetch QN after new membership created (with Faucet), take user to https://dao.joystream.org/#/profile on success
- Display positive notification in the end of the flow:
Header:"New membership created succe

[2022-07-11 17:18] dmtrjsg opened #3344 "Add tooltip to the invitation lock"
## Context
- https://github.com/Joystream/pioneer/issues/3336#issuecomment-1180299768

## Scope

- Add tooltip icon next to the lock title  "invitation lock"
- Content of the tooltip:
"Invitation lock can be spent on transaction fees and allows you to vote for council candidates, create post and reply to threads in the forum. Invitation lock balance cannot be transferred to other account."

[2022-07-11 17:19] dmtrjsg opened #3345 "Invitation lock enhancements"
## Context
- https://github.com/Joystream/pioneer/issues/3336#issuecomment-1180299768

## Scope

- Add "Restricted usage allowed" label underneath locked amount
- Use the same font as for network here:
![Screenshot 2022-07-11 at 18.14.22.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/3a2f07d7-d556-4c74-82d7-f4e2faddad1f)
- Add tooltip
"Invitation lock can be spent on transactio

[2022-07-11 18:57] traumschule commented on #3291
It needs a performance audit, for example with dev tools.

[2022-07-12 07:20] bedeho commented on #3308
Editing is clearly very useful in some cases also, so it's not clear cut. I see two ways of dealing with this
1. Just make it simple and have no editing ever, and then people have to make a second post to signal an edit.
2. Try to introduce some UI level treatment of showing edits were done.

I could see 1 being better.

It would, but I think we should not touch this really, we should make a metap

[2022-07-12 08:07] dmtrjsg commented on #3251
When someone applies to application and application is cancelled via proposal - runtime does not pick it up and staking amount gets locked for eternity. Reclaim staking amount exrensic does not exist, so is not supported for the working groups.

There is only withdrawal of the application, but if the application is closed it is unclear how this can be done. Our (pioneer team) assumption is that st

[2022-07-12 10:48] Songoku1691 opened #3347 "Creation date and time is not displayed for a Forum Thread"
Hello guyz:

I just noticed this possible improvement or addition in Joystream Pioneer.
If you create a new Forum Thread and open it, the date and time of creation of the thread is not shown.
Whereas if you reply on that thread, the date and time of reply thread is shown in the right side.

Please see picture on link below for easy illustration...
https://drive.google.com/file/d/1m9l8nQgA-pHohckhK

[2022-07-12 11:09] WRadoslaw opened #3348 "Sorting on past openings"

[2022-07-12 12:56] dmtrjsg commented on #3291
@traumschule ok re-opened, added to community pipe, pls feel free to take this one on at some point. But pls bear in mind that issues marked with label:mainnet are of highest prio.

cc @singulart

[2022-07-12 13:24] ivanturlakov commented on #3025
Tested on staging

<img width="1440" alt="Снимок экрана 2022-07-12 в 16 23 49" src="https://user-images.githubusercontent.com/46903215/178500371-e277ca5e-cdd5-4649-9bd9-84a67143ea46.png">

[2022-07-12 13:53] adovrodion commented on #3251
@dmtrjsg Is there anything I can do to help at this stage? We would like to return the tokens to the users as soon as possible

[2022-07-12 21:49] dmtrjsg opened #3350 "[USERSNAP] Wrong date"
**Taken at**: https://dao.joystream.org/#/bounty/preview/101
**Fields**:
- Houston, we have a problem.: Wrong date
- Comment: Wrong date
The creation date cannot be later than the submission date of the work.
- Feedback: adovrn#1094

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/e675f62f-b125-4991-a12a-14c1c6e058b8-annotated_82a80ea6

[2022-07-13 08:06] #3212 closed

[2022-07-13 09:56] dmtrjsg opened #3352 "Caching and Polling: Forum module"
## Context

As part of the overall caching and polling work (- https://github.com/Joystream/pioneer/issues/2311) Forum was left out of scope with a view to do it after the redesign work is done

This ticket addresses caching and polling for Forum

⚠️ Frequency is defined here: https://github.com/Joystream/pioneer/pull/3221

## Scope

⚠️ Do after the respective pages from #3029 are ~completed~ merg

[2022-07-13 10:22] ivanturlakov opened #3353 "Right side of proposal page is outside of the screen"
## Scope

- [ ] Make sure all components on a page fit to a page on smaller screens (13 inch)

⚠️ we are suggesting not to wait till the #1794 epic design is finished, and suggesting to fix this one by reducing the width and white space in the table.

## Context

Tested on prod
MacBook 13`
Latest Chrome

Proposal page
<img width="1440" alt="Снимок экрана 2022-07-13 в 13 10 59" src="https://user-im

[2022-07-13 12:41] Funnydev1031 commented on #3151
Hello. I confirmed my task.

[2022-07-13 12:43] singulart commented on #3151
Assigned to @Funnydev1031

[2022-07-13 13:10] m00n620 commented on #2008
let's start!

[2022-07-13 17:29] polikosi commented on #3309
I never saw it again. I think it was a momentary mistake.
I think that this ticket can be closed.

[2022-07-13 17:31] #3309 closed

[2022-07-13 17:54] singulart commented on #2832
Moving to "to do" due to inactivity.

[2022-07-13 18:52] polikosi commented on #3203
Verified on https://dao-5i7qbhq9l-joystream.vercel.app/#/profile.
Network name is hidden.

Member profiles:
![Screenshot_145](https://user-images.githubusercontent.com/80429191/178809229-08cc0a94-f2c9-44b1-a1c4-6f6d874297c0.png)

Forum thread header and replies:
![Screenshot_150](https://user-images.githubusercontent.com/80429191/178809090-4814ccd7-c927-4300-b752-3c617a8495f5.png)

Application:
![

[2022-07-13 22:57] freakstatic commented on #2793
the QN part doesn't seem to be required anymore since the bullets appear in the applications list
![image](https://user-images.githubusercontent.com/7486476/178850901-c7379578-2fb9-4e2e-a8b0-a7ef5bad0034.png)

[2022-07-14 07:48] gyroflaw commented on #2793
Hi advorn this is gyroflaw.
Please assign this issue to me

[2022-07-14 08:03] adovrodion commented on #2793
Bounty was created - https://dao.joystream.org/#/bounty/preview/107

[2022-07-14 13:41] singulart commented on #2793
Assigned to @gyroflaw

[2022-07-15 08:06] dmtrjsg commented on #3336
@ivanturlakov pls elaborate on the button text point (acc connected)

[2022-07-15 08:55] ivanturlakov commented on #3336
@dmtrjsg It's about the text on the buttons, the design provides for the text - "Connect Wallet" (on the screenshot - "Join Now" and "Continue").

Perhaps after connecting the account, the text should change to "Join now" or "Continue"... sorry for the confusion 🙂

[2022-07-15 10:21] ivanturlakov commented on #3238
Tested on staging

**UI**
1. Colour of disabled lock filling matches the border. Borders (horizontal delimiters) need to be visible.
2. Space to be added between icons and balances.
<img width="1010" alt="Снимок экрана 2022-07-15 в 12 51 24" src="https://user-images.githubusercontent.com/46903215/179199702-8454e7a5-4d34-4d6a-8520-d0510730d9fb.png">
<img width="912" alt="Снимок экрана 2022-07-15 в

[2022-07-15 11:25] thesan commented on #3201
After #3322 on firefox modals the `<ModalGlass />` dimension looks good but `<ModalWrap />` is now extra short:
![Screen Shot 2022-07-15 at 13 16 19](https://user-images.githubusercontent.com/6571453/179213613-7e92cb9f-008c-4c2f-98df-e4f1fa782a86.png)

[2022-07-15 11:42] secretgir1 commented on #3155
Accepted. Ready for development.

[2022-07-15 11:42] dmtrjsg commented on #3238
@ivanturlakov looks like all good, thanks a mil for testing it and bringing over the finish line, assigning ready-for-prod label. Pls ping me if you disagree :)

[2022-07-15 11:46] dmtrjsg commented on #3258
@bwhm FYI am closing this issue since all relevant comms were done on Discord.

[2022-07-15 11:46] #3258 closed

[2022-07-15 11:49] #2005 closed

[2022-07-15 11:58] dmtrjsg commented on #3336
@thesan @WRadoslaw to discuss this

Agreed, the buttons should always have "Connect wallet".

Once wallet chosen and account is connected:

if memebrship for this wallet exists: Show membership card with name and avatar (like right now)
if membership does not exist for wallet: Show select membership (where existing accounts shown, and "Create membership" option is in the bottom)

[2022-07-15 12:11] dmtrjsg commented on #3201
@freakstatic pls see last comment from @thesan. Feel free to address it when the time is good.

[2022-07-15 12:31] WRadoslaw commented on #3201
It should be just the matter of removing `max-height` from `ModalWrap`. I just realised that `ModalGlass` has a `padding-bottom` that is acting as `max-height`. @freakstatic

[2022-07-15 12:37] dmtrjsg opened #3360 "Test if worker application can be withdrawn for the closed opening"
⚠️ Action: we need to test if application can be withdrawn for the closed opening to inform this task:

- #3251

[2022-07-15 12:38] dmtrjsg commented on #3360
@singulart pls feel free to assign to qa when the time is good, thank you!

[2022-07-15 13:13] dmtrjsg commented on #2146
Closing this issue as most of the child issues are done, the only one remains is sorting forum posts by relevance, which is blocked by Hydra and already added to QN board / backlog.

[2022-07-15 13:13] #2146 closed

[2022-07-15 13:15] dmtrjsg commented on #2254
Work will be done here: #2006

[2022-07-15 13:15] #2254 closed

[2022-07-15 14:15] secretgir1 commented on #3152
Hey @dmtrjsg
Some questions to AC:
-- Could you please explain in more details what did you mean here:
" Show threads counter in a pill on tab"?
-- Also " Display all threads as individual cards (basically filter by creator)" - My Threads Tab will be displayed just my personal threads isn't it? Can't understand why should it be filtered by creator if we have just one creator here.

[2022-07-15 14:28] secretgir1 commented on #3157
Hi @dmtrjsg

Could you please provide link for this page in figma?

[2022-07-15 15:40] dmtrjsg commented on #3157
@secretgir1 sure, [here's the link>](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=9364%3A333164)

Will also review other tickets in this epic and do the same if needed.

[2022-07-15 15:47] dmtrjsg commented on #3152
Sure @secretgir1

We display the number of threads contained in that tab as a "pill" label with the counter:
<img width="88" alt="Screenshot 2022-07-15 at 16 46 02" src="https://user-images.githubusercontent.com/93924525/179259192-85f857ce-bd3a-4f11-a68d-5bf049c0b708.png">

We do not display "0" in the pill.

You are correct, this was more of a clarification point. This tab only contains own threa

[2022-07-15 21:50] dmtrjsg opened #3361 "[USERSNAP] Council members keep reloading"
**Taken at**: https://dao.joystream.org/#/council
**Fields**:
- Houston, we have a problem.: Council members keep reloading
- Comment: Looks like an endless loop fetching council members.
- Feedback: l1dev

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/60f4601a-f0f6-4171-ab86-ce6a1d19fc51-annotated_0549fbf9-366e-4c1d-8ddb-e3aef614487

[2022-07-16 12:51] Songoku1691 opened #3362 "WG Application Interchanging of Answers Bug"
Hello Guys:

I would like to report this bug or error when applying in WG opening. This occurs when you skip questions and return to answer them back. You will notice that answers interchange. I hope this will be fixed. Please watch video below that I made to illustrate the issue.

https://play.joystream.org/video/27072

Thank you

[2022-07-17 08:37] secretgir1 commented on #3152
@dmtrjsg  thanks

[2022-07-17 08:37] secretgir1 commented on #3152
Accepted. Ready for development.

[2022-07-17 08:52] secretgir1 commented on #3157
It would be nice if you provide design of see all button, the rest is understandable, thanks.

[2022-07-17 08:58] secretgir1 commented on #3163
Accepted. Ready for development.

[2022-07-17 10:13] secretgir1 commented on #3162
Accepted. Ready for development.

[2022-07-17 10:41] secretgir1 commented on #3174
Accepted. Ready for development.

[2022-07-18 10:27] dmtrjsg commented on #3361
Validated. Reproduce-able on production. To be triaged.

[2022-07-18 10:38] ivanturlakov commented on #3360
Tested on staging

No matter is an active opening or closed(via proposal as well), hired someone or not, the recovery button doesn't do anything:

https://user-images.githubusercontent.com/46903215/179488416-b2bcfc6d-5a69-4d06-85d1-4421e27a4277.mov

[2022-07-18 10:42] dmtrjsg opened #3364 "Show all button expands the rest of the categories"

[2022-07-18 10:44] dmtrjsg commented on #3157
@secretgir1 thanks for the question!

I've isolated this AC to a separate issue and added to the backlog for design team. This will be done in a few weeks time as we are busy on smth else on Atlas rn.

- https://github.com/Joystream/pioneer/issues/3364

please feel free to proceed showing all categories (with the order specified in the description)

[2022-07-18 10:46] dmtrjsg commented on #3360
@ivanturlakov thank you for the fast turnaround on this issue! Will triage and raise a corresponding runtime fix.

[2022-07-18 10:57] ivanturlakov commented on #3360
@dmtrjsg I am able to successfully withdraw my application(opening closed via proposal) via polkadot.js.

[2022-07-18 10:59] dmtrjsg commented on #3360
Must be QN then.. thank you sir @ivanturlakov 🙏

[2022-07-18 11:43] dmtrjsg opened #3365 "Pioneer Logo"
## Scope
- [x] Logo for Pioneer

- [x] Powered by Joystream
- [x] Link to Github

![Screenshot 2022-07-18 at 12.42.51.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/85b61a98-6fff-4e8e-a738-709a76bd78dc)

[2022-07-18 12:26] singulart commented on #2008
@m00n620 Please share the status of this work, thank you!

[2022-07-18 12:58] Palllke2015 commented on #3152
I'd like to work on this task

[2022-07-18 13:00] singulart commented on #3152
Assigned to @Palllke2015

[2022-07-18 13:03] bedeho opened #3366 "Add gateway working group support"
# Background

https://github.com/Joystream/joystream/issues/4057

# Proposal

Add support, which I thin basically means adding row to WG screen, as well as variation of subpages, and also variation of existing proposals.

## Design

WG description copy: Gateways group is responsible for maintaining content directory and query node providing infrastructure for multiple consumer applications powered

[2022-07-18 13:43] #3362 closed

[2022-07-18 13:44] dmtrjsg commented on #3362
Issue moved to [Joystream/joystream #4060](https://github.com/Joystream/joystream/issues/4060) via [**ZenHub**](https://www.zenhub.com/)

[2022-07-18 13:46] dmtrjsg commented on #3360
marking this one as closed, fix will be handled  in 3251

[2022-07-18 14:02] dmtrjsg commented on #3347
Adding to community backlog

xcc
@secretgirl1

[2022-07-18 14:04] dmtrjsg commented on #3350
Putting on hold before the new module is moved to active dev. Will be fixed as part of v2 bounties.

[2022-07-18 14:50] dmtrjsg commented on #3287
Already fixed with reduced function that is calculating it

[2022-07-18 14:50] #3287 closed, assigned to nobody

[2022-07-18 15:04] dmtrjsg commented on #3290
@ondratra do you know if it would be possible to resubmit the candidacy or edit the candidacy note?

[2022-07-18 15:11] dmtrjsg commented on #2999
Cannot do this as we show fee on every screen of the modals now so doing this ticket would only move the needle marginally.

[2022-07-18 15:11] #2999 closed

[2022-07-18 19:35] secretgir1 commented on #3165
Accepted. Ready for development.

[2022-07-18 21:45] freakstatic commented on #3201
thanks for reporting!
I did a new PR here to address that:
https://github.com/Joystream/pioneer/pull/3367

[2022-07-19 07:38] singulart opened #3368 "Worker application form displays answers incorrectly"
As far a I know, when creating an application, there is no way to mark certain questions as mandatory. Due to this design, applicant often skip questions they feel uncomfortable to answer or simply not knowing what to answer :)

This is completely fine, we are all people after all! However, if an application form has some skipped questions, it is displayed incorrectly in Pioneer UI.

Example:
<img

[2022-07-19 08:13] #3336 closed

[2022-07-19 08:14] dmtrjsg commented on #3239
Only two points left to fix:
- https://github.com/Joystream/pioneer/issues/3336#issuecomment-1185473945

[2022-07-19 08:17] dmtrjsg commented on #2311
@ QA: Polling is set to 6 seconds (block time) - just check on each page that it is not flicking / trying to load every 6 seconds (like it is now on prod with council).

[2022-07-19 08:28] dmtrjsg commented on #3319
Voting modals should have staking account with "available" balance, which is Total balance - [rivalrous locks](https://joystream.gitbook.io/testnet-workspace/system/accounts-and-staking#locks-1).

- [ ] Update the title of the balance to "Available" in account selection for staking and calculate it as "Total balance - rivalrous locks".

NB: balances locked in role staking can be used for voting.

[2022-07-19 08:34] dmtrjsg commented on #3319
Will be handled right after carthage

[2022-07-19 09:10] #2220 closed

[2022-07-19 09:10] #2300 closed

[2022-07-19 09:10] #2362 closed

[2022-07-19 09:10] #2445 closed

[2022-07-19 09:10] #2692 closed

[2022-07-19 09:10] #3159 closed

[2022-07-19 09:10] #3211 closed

[2022-07-19 09:10] #3234 closed

[2022-07-19 09:10] #3240 closed

[2022-07-19 09:10] #3255 closed

[2022-07-19 09:10] #3279 closed

[2022-07-19 09:18] Palllke2015 commented on #3152
@dmtrjsg Should we have Pagination here?

[2022-07-19 09:32] dmtrjsg opened #3369 "Search Member by ID"
## Context

Follow up use case originating from this comment:
- https://github.com/Joystream/pioneer/issues/2657#issuecomment-1173671702

## Scope

- [ ] Enable searching member by ID

[2022-07-19 09:33] #2787 closed

[2022-07-19 09:37] dmtrjsg commented on #3300
@WRadoslaw is this actionable or can be further debugged? Any pointers on how to approach this would be helpful.

[2022-07-19 09:42] dmtrjsg commented on #3152
@Palllke2015 Was not part of this issue, but will add to the backlog as enhancement.

[2022-07-19 09:43] dmtrjsg opened #3370 "Pagination and Pinned icon for My threads"
## Context
https://github.com/Joystream/pioneer/issues/3152

## Scope

- [ ] Pagination by 10
- [ ] Pinned icon, which pins selected threads to top

[2022-07-19 10:29] singulart commented on #3341
https://polkadot.js.org/apps/?rpc=wss://rpc.joystream.org:9944/#/explorer/query/1667890 wrong category ID is being sent in the extrinsic

[2022-07-19 14:58] dmtrjsg commented on #2557
This will hardly be done in the light of the pipeline of more pertinent issues both for jsg team and community dev. While it is nice to have the ROI at this point of time or foreseeable future is not justified for this enhancement, so making the decision to stick with this pattern.

[2022-07-19 14:58] #2557 closed

[2022-07-19 18:45] singulart commented on #3224
@dmtrjsg The description is a bit unclear. How does this relate to the forum thread cited?

[2022-07-20 05:27] dmtrjsg opened #3371 "[USERSNAP] Council members section is reloaded all the time"
**Taken at**: https://dao.joystream.org/#/council
**Fields**:
- Houston, we have a problem.: Council members section is reloaded all the time
- Comment: Seen here: https://dao.joystream.org/#/council
- Feedback: isonar

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/5e35b0e9-3c8b-4050-80c5-8e5b97ef6bd6-annotated_1a2e0f73-a9be-4e71-835

[2022-07-20 07:59] dmtrjsg commented on #3371
@singulart thanks for raising, already fixed in #2311, now in code review getting deployed to staging today, so out on prod as early as gets tested by qa.

[2022-07-20 07:59] #3371 closed

[2022-07-20 08:16] dmtrjsg commented on #3300
was fixed in
- https://github.com/Joystream/pioneer/pull/3327

[2022-07-20 10:25] BeardKoda commented on #3163
Started Development.

[2022-07-20 13:24] dmtrjsg commented on #2959
Outstanding points to clarify:

* Starting block can be in the future (from the point of adding the lock, so this delay is representing a cliff)
* Is vesting schedule linear or defined by custom function?
 * Whether unlocked funds can be transferred to any account at any moment (without any minimum accruals) and does not require the act of “claiming” the unlocked funds

 preview of vesting lock co

[2022-07-20 15:38] thesan opened #3373 "JOY input component"
## Context
Part of #2531
There need to be a input component to input JOY values. This is needed before #3278 because it should solve most of the test failing in  #3315.

## Scope
The JOY values will keep being integer (`BN`) but the UI of the input should display them as decimals.
E.g:

* 100000 shows: "0.00001 JOY"
* 10^14 show: "10,000 JOY"

┆Issue is synchronized with this [Asana task](https://