[2022-07-20 17:25] dmtrjsg opened #3375 "[USERSNAP] Error message"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: Error message
- Comment: Allegedly not enough tokens for a stake

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/81056a50-48a7-4a3f-9be1-9343e9d337b4-annotated_ae2a3c77-e54a-49c1-a8cf-35982f018864.png?etag=f250f67c861972a07e839be1bd4147b2)
*[

[2022-07-21 07:27] ignazio-bovo commented on #2959
* Starting block can be in the future (from the point of adding the lock, so this delay is representing a cliff) :heavy_check_mark:
 Basically substrate uses a `locked_at` method (function) for accounting the amount that is locked at a particular `block` (and cannot be recovered yet). The formula is : `total_locked_amount - rate * (block - starting_block)` https://github.com/paritytech/substrate/b

[2022-07-21 12:43] #3375 closed

[2022-07-21 13:17] thesan opened #3379 "Update QN schema to `carthage`"
SSIA

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202644736600646) by [Unito](https://www.unito.io)

[2022-07-21 13:36] dmtrjsg commented on #3368
@thesan is this also QN related, same as https://github.com/Joystream/joystream/issues/4060 ?

[2022-07-21 14:09] #2657 closed

[2022-07-21 14:35] dmtrjsg commented on #2959
@ignazio-bovo thanks a mil for your curation! re point 3

Cliff ✅
Liner vesting schedule ✅

On the third question a few additional questions:

Does this mean in the UI terms that we shall rather show “Unlocked” balance separate to “Transferable” and “Locked in vesting schedule” balances to the user and they would need to “Vest”   the unlocked amount, (or aka “Recover" as per [this mockup](https://

[2022-07-21 14:43] ignazio-bovo commented on #2959
I would recommend the following words (so that re-use the same terminology used in the runtime implementation):
- Vested instead of Unlocked
- Unvested instead of Locked In
- Vest instead of Recover (but I also don't mind Recover either)

Yes locks are restriction imposed on your free balance.
When a vesting schedule is added to your account more or less the following happens:
- `free_balance += t

[2022-07-21 15:16] ivanturlakov commented on #2888
Tested on staging

Also could be added digit dividers as shown in the design(block counter).

<img width="1182" alt="Снимок экрана 2022-07-21 в 18 02 18" src="https://user-images.githubusercontent.com/46903215/180247821-8d5c963c-52db-4cac-8809-346ae05c7872.png">
<img width="1175" alt="Снимок экрана 2022-07-21 в 18 02 52" src="https://user-images.githubusercontent.com/46903215/180247809-ab2d2045-f5

[2022-07-21 20:41] dmtrjsg opened #3380 "[USERSNAP] Proposals: vote modal respawns"
**Taken at**: https://dao.joystream.org/#/proposals/preview/404
**Fields**:
- Houston, we have a problem.: Proposals: vote modal respawns
- Comment: for some reason the modal disappears, reappears resetting inserted text.
this is a regression and worked some months ago.
- Feedback: l1dev

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot

[2022-07-21 20:43] dmtrjsg opened #3381 "[USERSNAP] Proposals: Processing tx forever"
**Taken at**: https://dao.joystream.org/#/proposals/preview/404
**Fields**:
- Houston, we have a problem.: Proposals: Processing tx forever
- Comment: for some reason the tx isn&#39;t picked up which makes voting on multiple proposals cumbersome (requires page reload).
this is a regression and worked some months ago.
- Feedback: l1dev

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-

[2022-07-21 21:09] adovrodion commented on #2442
Bounty was created: https://dao.joystream.org/#/bounty/preview/131

[2022-07-22 09:09] freakstatic commented on #2795
@singulart please assign @BeardKoda since he was been working on this here:
https://github.com/Joystream/pioneer/pull/3338

[2022-07-22 09:46] dmtrjsg commented on #3381
@traumschule to clarify, are you saying that after the tx is successful the app does not allow you to vote on next proposal without the reload? Or tx takes a long time?

What do you mean by "tx not picked up"?

[2022-07-22 09:49] dmtrjsg commented on #3380
@traumschule is it possible to provide a video capture of this? Anything in console?

Does it happen only once, or every x seconds? Resetting inserted text, meaning rationale for voting gets deleted on page refresh?

[2022-07-22 10:19] ivanturlakov opened #3382 "Lock icons overlap balance on account select dropdown"
Tested on staging

<img width="1249" alt="Снимок экрана 2022-07-22 в 13 14 34" src="https://user-images.githubusercontent.com/46903215/180419057-ece744be-da5d-44d5-ba84-fe11bdf91808.png">

[2022-07-22 12:14] ondratra commented on #3290
Candidacy note can be changed anytime via `set_candidacy_note`. Candidacy can also be withdrawn during the announcement period via `withdraw_candidacy`. After the candidacy is withdrawn, it can be reannounced once again.

I'm a little bit confused about how the transaction was "interrupted". Since blockchain transaction is atomic, the candidacy was either fully submitted or not. Theoretically, it

[2022-07-22 12:30] dmtrjsg commented on #3290
@ondratra thank you for your detailed answer ⭐ We will triage this with the Pioneer folks now, but looks like we've got what we asked for 🙇‍♂️

[2022-07-22 12:52] thesan opened #3383 "Issues with the `ProxyApi` on `carthage`"
* On every transaction the web worker reports `uncaught exception: obj[method] is not a function`
* The transaction result events are not decoded: so for e.g the id of the created entity won't be available on transaction success

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202651449361868) by [Unito](https://www.unito.io)

[2022-07-22 13:39] adovrodion commented on #3268
Bounty was created: https://dao.joystream.org/#/bounty/preview/133

[2022-07-22 14:27] dmtrjsg commented on #3382
looks like this may be caused by
- https://github.com/Joystream/pioneer/pull/3351

@singulart adding to project 55 to get assigned as part of stab9 release.

[2022-07-22 14:32] dmtrjsg commented on #3224
@singulart

Thank you for asking, indeed there was a typo in the scope section.. When we triaged it, it seemed like the only part that was missing is the transaction progress indicator modal, that is shown in the bottom right corner of the transaction as other points are covered by different issues. I think this should be done / checked in the very end of the module redesign, as improved page stru

[2022-07-22 15:32] singulart commented on #3341
Issue identified to be a Query node issue. Pioneer uses the following query to fetch the "Bounties" forum category: https://raw.githubusercontent.com/Joystream/pioneer/aa9aef7db06cb103257078bee2fc67d2efedc216/packages/ui/src/bounty/hooks/useBountyForumCategory.ts However, this query return random categories :)

[2022-07-22 17:08] ivanturlakov commented on #3300
Tested on staging

Signer/status modal works as designed. Previous issues are fixed.

[2022-07-22 23:10] traumschule commented on #3380
yes, text is reset to empty. can happens multiple times while typing, quite probably because of a code change that lets the modal (re)spawn.

[2022-07-22 23:12] traumschule commented on #3381
yes, the first. it is supposed to catch when the tx block finalizes - maybe a QN issue?

[2022-07-22 23:15] traumschule commented on #3337
it could be that related to websocket disconnects

[2022-07-23 06:49] singulart commented on #3382
Should this be in progress or in To do?

[2022-07-23 06:50] singulart commented on #3382
@dmtrjsg

[2022-07-23 11:22] ivanturlakov commented on #3348
Tested on staging

Before the new opening was created

<img width="896" alt="Снимок экрана 2022-07-23 в 13 32 47" src="https://user-images.githubusercontent.com/46903215/180602617-3cca9718-af0e-42ce-9482-ab2caf5b63f0.png">

The new opening was created (ID 5 - Sorting on past openings)...
Opening closed via proposal...

<img width="1174" alt="Снимок экрана 2022-07-23 в 13 36 02" src="https://user-i

[2022-07-24 18:27] polikosi commented on #3152
verified on https://dao-git-fork-palllke2015-feature-forum-my-threads-joystream.vercel.app/#/forum/my-threads

 Section name "My thread"
![Screenshot_159](https://user-images.githubusercontent.com/80429191/180660606-95bcf869-646e-404b-b2f5-880826c1b74a.png)

 Display all threads as individual cards (basically filter by creator)
![Screenshot_161](https://user-images.githubusercontent.com/80429191/1

[2022-07-24 22:20] dmtrjsg commented on #3382
@singulart In progress I would say to be released together with the recent stabilisation9 scope which is due next.

[2022-07-25 08:55] bedeho opened #3387 "Add visual presentation of FM status"
## Context
Support this: https://github.com/Joystream/joystream/issues/3931

As part of bootstrapping the state of Carthage and mainnet, the set of initial members with FM status must be identified on-chain, the purpose of this issue to describe the extrinsic for the creation of such founding members.

We need a way to display this status in Pioneer

## Scope

@Design * [x]  new icon for council m

[2022-07-25 10:02] polikosi commented on #3203
tested on staging. Network name is hidden.

[2022-07-25 10:21] ivanturlakov commented on #2705
Tested on staging

No upcoming openings

<img width="1205" alt="Снимок экрана 2022-07-25 в 12 45 48" src="https://user-images.githubusercontent.com/46903215/180754496-7f3fa02c-0616-47f7-bac1-884ced3a363b.png">

1 upcoming opening

<img width="1204" alt="Снимок экрана 2022-07-25 в 13 00 05" src="https://user-images.githubusercontent.com/46903215/180754507-9de908d9-ed89-4c4b-9218-46d701597b99.png">

[2022-07-25 10:32] polikosi commented on #2311
Tested on staging.
✅Council Page
✅Bounty Preview
🚫Openings Current - requests aren't sent
✅Openings Upcoming
✅Current Candidates list
🚫Proposal page + discussions (preview) - requests aren't sent
✅Current Proposals list
✅Forum categories

[2022-07-25 10:52] polikosi commented on #2303
@dmtrjsg hi, where this tooltip should appear? Where is the first selector? Thanks)
 "Add tooltip to first selector: "Accounts free from [rivalrous](https://joystream.gitbook.io/testnet-workspace/system/accounts-and-staking#locks-1) locks bound to current member required for staking.
[More details](https://joystream.gitbook.io/testnet-workspace/system/council#candidacy-1) > ""

[2022-07-25 11:10] WRadoslaw opened #3389 "Fix for inputs that may exceed it's type limits"
Fix inputs that may exceed the safety limit of it's runtime corresponding types. It needs to be covered since if user inputs bigger number site will throw runtime error. It was covered, but with the introduction of decimals with Carthage logic need to be updated.

Examples:
- Proposal - Membership lead invitation quota - type `u32`
- Proposal - block number for triggering proposal - `TriggerAndDis

[2022-07-25 11:29] #3389 closed

[2022-07-25 14:10] traumschule commented on #3290
When announcing a candidacy pioneer makes two transactions to first submit then edit it. The user has to sign each individually and sometimes the second is skipped (due to a pioneer issue or user not signing it).

=> Pioneer should be able to recognize the former blank candidacy and offer to edit it (ideally from local storage without having to reenter everything).

[2022-07-25 15:10] dmtrjsg commented on #2303
@polikosi thank you for your question, I should have been more clear -> here is the indication of the suggested positioning

<img width="639" alt="Screenshot 2022-07-25 at 16 09 53" src="https://user-images.githubusercontent.com/93924525/180812657-8a26c456-ada7-4e14-b9ea-23e062d40ab8.png">

[2022-07-25 18:23] dmtrjsg commented on #3341
Moving this issue to QN board.

[2022-07-25 18:24] #3341 closed

[2022-07-25 18:24] dmtrjsg commented on #3341
Issue moved to [Joystream/joystream #4081](https://github.com/Joystream/joystream/issues/4081) via [**ZenHub**](https://www.zenhub.com/)

[2022-07-26 10:08] ivanturlakov commented on #2833
Tested on staging ✅

Two applications are pending from ivant

<img width="1206" alt="Снимок экрана 2022-07-26 в 12 53 57" src="https://user-images.githubusercontent.com/46903215/180980680-03c84875-845f-4dc6-909e-dfbde0b67906.png">
<img width="762" alt="Снимок экрана 2022-07-26 в 12 54 45" src="https://user-images.githubusercontent.com/46903215/180980694-d617c173-31de-484e-82a4-5bac0aefae91.png">

[2022-07-26 10:23] traumschule opened #3390 "Search by member id"
like #2657

[2022-07-26 10:51] polikosi commented on #2303
Verified on staging
Announce Candidacy:
![Screenshot_165](https://user-images.githubusercontent.com/80429191/180989017-d33d23f1-bbda-43d4-a0a0-e81a8cfd31ea.png)
Vote for Candidate:
![Screenshot_166](https://user-images.githubusercontent.com/80429191/180989250-4f45f6d5-b9ec-4741-9c1b-6db5a259c71b.png)

[2022-07-26 14:43] traumschule opened #3392 "Why do council members keep reloading"
See https://dao.joystream.org/#/council and watch how council members being reloading in a loop.

[2022-07-27 06:46] singulart commented on #2008
The task is vacant now.

[2022-07-27 06:52] singulart commented on #2311
@dmtrjsg Failed in QA, please see outcome

[2022-07-27 08:13] dmtrjsg opened #3394 "Carthage: loading wallet modal on local storage"
Progress modal not disappearing on carthage

[2022-07-27 08:26] dmtrjsg commented on #2311
We've triaged it with @WRadoslaw and identified the issue:

1. Proposals page was not done in this PR, so that was skipped (now refetches every second block, so 12 seconds on staging). We will also remove the refetch from past proposals discussion page.  On Carthage site, this worked fine. So once we merge Carthage this would be okay, if not we will re-raise it.
2. Openings current - just checked

[2022-07-27 13:48] dmtrjsg opened #3397 "[USERSNAP] "Read more" popup in WORKING GROUPS ACTIVITIES shows incorrect data"
**Taken at**: https://dao.joystream.org/#/working-groups/openings
**Fields**:
- Houston, we have a problem.: &#34;Read more&#34; popup in WORKING GROUPS ACTIVITIES shows incorrect data
- Comment: 1. Got to https://dao.joystream.org/#/working-groups/openings
2. Scroll Working group activities until you get to the events with &#34;Read more&#34; link
3. Click the link
4. Observe &#34;Lorem Ipsum&#34

[2022-07-27 20:35] dmtrjsg opened #3398 "[USERSNAP] First landing page experience"
**Taken at**: https://dao.joystream.org/#/working-groups
**Fields**:
- Houston, we have a problem.: First landing page experience
- Comment: When you first land in the app for the first app, without the extension or anything, the app explodes with overlays and banners, its seems like its breaks :D

Seems like it should reviewed an adjusted a bit.

![SCREENSHOT](https://resources.usersnap.com/compa

[2022-07-28 09:20] dmtrjsg opened #3400 "Remove Testnet Banner"
Remove this banner:

![](https://user-images.githubusercontent.com/93924525/181470872-c0398c8a-78a3-49a3-8a2d-92f471ab55dd.png)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1203143438951371) by [Unito](https://www.unito.io)

[2022-07-28 09:22] dmtrjsg commented on #3398
This is only a temporary banner, and will be removed with the mainnet launch. Coupled with #3239, this problem will get resolved.

[2022-07-28 09:22] #3398 closed

[2022-07-28 11:42] WRadoslaw commented on #3270
Will be covered by #3319

[2022-07-28 11:42] #3270 closed

[2022-07-28 11:53] toiletgranny commented on #2959
@dmtrjsg Below is the link tothe updated My Profile tab designs with added vesting locks information, based on our earlier discussion. I made one simple change in spite of our prior agreement, and that is to refer to the act of unlocking your vested coins as _Claiming_, instead of _Vesting_. So, for example, the button bringing up the dialog that allows you to unlock your vested tokens is called "

[2022-07-28 11:54] thesan opened #3402 "Validation crashes due to large JOY amounts"
SSIA

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202682200705554) by [Unito](https://www.unito.io)

[2022-07-28 12:00] dmtrjsg commented on #2959
@WRadoslaw  ready to go buddy 😎

[2022-07-28 12:17] dmtrjsg commented on #2959
+ AC if there is no vesting locks, we don’t show widget for vesting locks on top of the page.

[2022-07-28 14:50] #3056 closed

[2022-07-28 14:51] dmtrjsg commented on #3056
Issue moved to [Joystream/joystream #4090](https://github.com/Joystream/joystream/issues/4090) via [**ZenHub**](https://www.zenhub.com/)

[2022-07-28 17:46] dmtrjsg commented on #3114
@WRadoslaw sorry to bother, but we need to upd the page as per this comment:
https://github.com/Joystream/pioneer/issues/3114#issuecomment-1164389387

[2022-07-28 18:20] dmtrjsg opened #3403 "Info: Test Plan"
:warning:  Playground config details: https://54.172.154.45.nip.io/network/config.json
:warning:  Pioneer Instance: https://dao-git-carthage-joystream.vercel.app/
Current council size is set to 1; WG leads are pre-hired with each WG has 1 worker; Alice account has JOY balances.

* [Introduction](#introduction)
  * [Testing Phases](#testing-phases)
    * [Initial Testing](#initial-testing)
    * [F

[2022-07-28 18:25] dmtrjsg commented on #3403
[initial-test.md](https://github.com/Joystream/pioneer/files/9213246/initial-test.md)

[2022-07-28 19:02] dmtrjsg opened #3404 "Testing Vesting"
## Info

Related issue in Pioneer
- #2959

:warning: Document transaction fees values for each step below in the comments, following this format:
Process name; CLI estimate: x JOY;  Pioneers step1;... StepX of the flow; Pioneer Sign Transaction Modal; Actual fees checked in Polkadot.JS app;

Playground config details: https://54.172.154.45.nip.io/network/config.json
Pioneer Instance: https://dao-g

[2022-07-28 19:23] dmtrjsg opened #3405 "Validation"

[2022-07-28 19:23] dmtrjsg opened #3406 "Carthage Testing: Bounties via Polkadot.js"
## Context
Bounties is **not implemented** on Pioneer or QN, but we need to test the runtime part of it, relying on polkadot.js app

* QN issue: https://github.com/Joystream/joystream/issues/3642
* New state machine diagram: https://joystream.gitbook.io/testnet-workspace/system/bounties/v2#state-machine
* PR: https://github.com/Joystream/joystream/pull/3485

## Scenarios
Test bounties workflow, wi

[2022-07-28 19:30] dmtrjsg opened #3407 "Carthage Testing: Proposals Advanced"
## Context

ℹ️ Playground config details: https://54.172.154.45.nip.io/network/config.json
Pioneer Instance: https://dao-git-carthage-joystream.vercel.app/
Current council size is set to 1; WG leads are pre-hired with each WG has 1 worker; Alice account has JOY balances.

## Test Scenarios
For each of the below, ensure:
- Your changes are executed on chain
- The proposers stake is:
  - freed (if a

[2022-07-28 19:35] dmtrjsg opened #3409 "Carthage Testing: Content System"
## Content System
Once the required Leads have been hired

Scenarios TBD

[2022-07-28 19:55] dmtrjsg opened #3411 "Carthage Testing: Curators"
Playground details are covered in this issue:

* https://github.com/Joystream/pioneer/issues/3217

:warning: Content WG lead needs to be hired before this can be executed

### Resources File

[testing-resources.zip](https://github.com/Joystream/pioneer/files/9222719/testing-resources.zip)

### Curators Test Steps
* [ ] Content Lead to create 15 video
  * See resources
* [ ] Hire (at least) 3 more

[2022-07-28 19:57] dmtrjsg opened #3412 "Storage"

[2022-07-28 20:00] dmtrjsg opened #3413 "Carthage Testing: Distribution"
### Context and Env Deets
Playground details are covered in this issue:

* https://github.com/Joystream/pioneer/issues/3217

:warning: Distribution WG lead is required to be hired to execute steps below

### Resources File

[testing-resources.zip](https://github.com/Joystream/pioneer/files/9222719/testing-resources.zip)

### Distribution
* [ ] Follow the steps as explained in the resources to:
  *

[2022-07-28 20:00] dmtrjsg opened #3414 "Carthage Testing: Creation"
### Context and Playground Deets

Originating issue:
- #3403

⚠️  Staging Network details covered in this issue:
- ~https://github.com/Joystream/pioneer/issues/3484~

### Creation
* [ ] Create at least channels 6 with 2 videos in each
  * Make sure they are received by a (storage) liason and included in the "correct" amount of storage buckets and upon request
  * Make sure they are included in the

[2022-07-29 09:05] dmtrjsg commented on #2959
<img width="679" alt="Screenshot 2022-07-29 at 10 05 40" src="https://user-images.githubusercontent.com/93924525/181725133-86327536-7f96-4b6d-b79b-f2506258d974.png">

[2022-07-29 09:55] #3409 closed

[2022-07-29 10:18] dmtrjsg commented on #3409
this ticket is created erroneously

[2022-07-29 12:19] dmtrjsg commented on #3392
Resolved in #2311

[2022-07-29 12:19] #3392 closed

[2022-07-29 12:32] dmtrjsg commented on #3256
Closing this in the light of withdrawn applications not showing and we are quite thin on QN resources.

[2022-07-29 12:32] #3256 closed

[2022-07-29 13:03] dmtrjsg commented on #3260
@mochet ping :)

[2022-07-29 15:05] dmtrjsg opened #3415 "[USERSNAP] There are lorem ipsum text yet"
**Taken at**: https://dao.joystream.org/#/bounty/preview/159
**Fields**:
- Houston, we have a problem.: There are lorem ipsum text yet
- Comment: Please insert exact content and remove lorem ipsum text. Lorem ipsum text is not professional
- Link to polkadot block: 5CPcwRpsDTXC27NAGjjr7aC8aZeTJqCdshZkRr1etnD6XZc9
- Feedback: my discord id is de-cord#4083

![SCREENSHOT](https://resources.usersnap.c

[2022-07-29 15:30] adovrodion commented on #3273
Bounty was created: https://dao.joystream.org/#/bounty/preview/159

[2022-07-29 16:07] thesan opened #3417 "Regression on `main` councilor reward accounts default to an empty string"
SSIA

[2022-07-29 16:19] dmtrjsg commented on #1977
UPD:
Mokhtar merged and deployed https://github.com/Joystream/membership-faucet/pull/16

#16 :sa: External resources on register route
Comments: <https://github.com/[Joystream/membership-faucet](https://github.com/Joystream/membership-faucet)|Joystream/membership-faucet>Joystream/membership-faucet | Jul 15th | Added by [GitHub](https://joystreamworkspace.slack.com/services/B039R2P5FD4)

QN at [que

[2022-07-29 16:31] dmtrjsg commented on #3397
Is this a rendering problem and this value is hard coded?

[2022-07-29 19:21] dmtrjsg commented on #3414
@kdembler pls advise if we need a separate Atlas instance to the one you guys are using to execute on the above in context of WG leads testing scenarios

[2022-07-29 19:29] dmtrjsg opened #3418 "[USERSNAP] Carthage: Proposal created with wrong name"
⚠️ pls remember to create a ticket with the long term solution.

**Taken at**: https://dao.joystream.org/#/working-groups
**Fields**:

* Houston, we have a problem.: Carthage: Proposal created with wrong name
* Comment: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/3?network-config=https://54.172.154.45.nip.io/config.json
* Feedback: dmtrjsg

**Browser**: Chrome 103 (macOS Cata

[2022-07-29 19:35] dmtrjsg opened #3419 "[USERSNAP] Carthage test new env"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/working-groups
**Fields**:
- Houston, we have a problem.: Carthage test new env
- Comment: asd

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/48b442fc-b6b8-4399-84c3-31bca1bb1997-annotated_c634844f-32f1-4c34-8371-421b02ccf3d9.png?etag=b2a604196d5f2f665a00b53de7af81ad)
*[Do

[2022-07-29 19:36] #3419 closed

[2022-07-29 22:03] dmtrjsg opened #3421 "[USERSNAP] Announce candidacy fails with white scren"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/election
**Fields**:
- Houston, we have a problem.: Announce candidacy fails with white scren
- Comment: Expected: announcy candidacy model opened

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/f3f9f4b8-1157-4396-b968-9dfe174d5bb9-annotated_9e55c6cb-1f8c-4d9c-b6b0-d574a2fb

[2022-07-30 07:19] dmtrjsg commented on #3421
Cannot reproduce:
<img width="1218" alt="Screenshot 2022-07-30 at 08 18 36" src="https://user-images.githubusercontent.com/93924525/181879607-f0806b78-08f7-4231-ac39-84eb2ff4f83b.png">

[2022-07-30 07:19] #3421 closed

[2022-07-30 09:55] ivanturlakov opened #3422 "QN didn’t update after new account created"
Tested on https://dao-git-carthage-joystream.vercel.app

Action: Create membership for a new empty account (with faucet)
- QN didn’t update after transaction success, membership shows up only after page reload

[2022-07-30 10:22] ivanturlakov opened #3423 "Create free membership/Add Membership modals. "Member Name" field validation."
Tested on https://dao-git-carthage-joystream.vercel.app/

"Member Name" field doesn't allow spaces, so user cant input "John Doe"

<img width="797" alt="Снимок экрана 2022-07-30 в 13 20 39" src="https://user-images.githubusercontent.com/46903215/181906065-de8feb2f-c5d6-4d7a-9abc-1f17ed396f58.png">

[2022-07-30 10:40] ivanturlakov opened #3424 "Invite a member button could be disabled if user has 0 invites"
Tested on https://dao-git-carthage-joystream.vercel.app

<img width="1192" alt="Снимок экрана 2022-07-30 в 13 40 02" src="https://user-images.githubusercontent.com/46903215/181906652-61aa9185-570a-4bda-b2e9-2b2d55a07421.png">

[2022-07-30 11:14] ivanturlakov commented on #3301
Tested on https://dao-git-carthage-joystream.vercel.app/

Process name; Pioneer Sign Transaction Modal Trx Fee Estimate; Actual fees checked in Polkadot.JS app;
Create membership for new empty account (with faucet); -; -;
Create membership for existing account; 0.18; 1,770,141,845;
Update membership; 0.61; 6,057,706,150;
Invite member; 0.24; 2,387,811,197;
Simple transfer between members; 0.09; 89

[2022-07-30 12:31] dmtrjsg opened #3425 "[USERSNAP] Fill Distributors WG Lead: Wrong group and candidate in a proposal"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/16
**Fields**:

* Houston, we have a problem.: Fill Distributors WG Lead: Wrong group and candidate in a proposal
* Comment: The proposal created should have the correct group and candidate.
* Link to polkadot block: https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0x9da2cf7e89253a4e3

[2022-07-30 14:08] mochet opened #3426 "Problem: Lack of clarity regarding failed elections"
Example election: https://dao.joystream.org/#/election/past-elections/0000000j

![image](https://user-images.githubusercontent.com/50830161/181918036-12a2ae90-0b8b-4d7e-848f-3baa92930cb3.png)

This election failed for some reason, but to an end user there is no explanation of why.

At minimum I would suggest the following:
- An easily distinguishable signifier of whether an election `failed` or `s

[2022-07-30 14:10] mochet opened #3427 "Elections: Linking between elections"
Example page: https://dao.joystream.org/#/election/past-elections/0000000j

There are some improvements that could be made here:
- A link to the next/previous election
- If an election failed, a link to what was the next successful election (Note that this may not be the next immediate election but rather could be 2-3 elections after wards)
- A link to the previous successful election

[2022-07-30 14:15] mochet opened #3428 "WIP Research: Linking to next/previous item consistency across Pioneer"
It should be researched across the whole of Pioneer whether pages do or do not have:
- A link to the next/previous item
- Consistency/inconsistencies with language use (i.e. parent/child or next/previous)
- Whether there should be any special considerations for the particular page (i.e. "I don't want to see the next immediate election cycle, I want to go the next successful election")

Although ma

[2022-07-30 16:23] dmtrjsg opened #3429 "[USERSNAP] Proposal to fill Lead opening shows wrong opening"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/20
**Fields**:

* Houston, we have a problem.: Proposal to fill Lead opening shows wrong opening
* Comment: 1. Create an opening to fill Storage Lead role

1. Chose correct opening and a person
1. Sign and submit
1. Observe the opening data shows the wrong opening and the wrong candidate (Forum)

It seems that Pioneer

[2022-07-30 21:26] dmtrjsg opened #3430 "[USERSNAP] Invalid auto-fill of stake value on Announce Candidacy modal"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/election
**Fields**:
- Houston, we have a problem.: Invalid auto-fill of stake value on Announce Candidacy modal
- Comment: When the modal appears the value used for filling the stake field is not the minimum stake.

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/ea05a245-c

[2022-07-31 00:24] dmtrjsg opened #3431 "[USERSNAP] Pioneer crashing when opening election page"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/election
**Fields**:

* Houston, we have a problem.: Pioneer crashing when opening election page
* Comment: Getting an empty page and the following error on the console
Error: Number can only safely store up to 53 bits

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/89d64b4

[2022-07-31 00:25] freakstatic commented on #3431
![image](https://user-images.githubusercontent.com/7486476/182004536-e1f5ccae-b518-4976-839b-f2af0d90eec2.png)

[2022-07-31 00:55] freakstatic commented on #3429
@dmtrjsg this seems a regression bug
https://github.com/Joystream/pioneer/issues/2340

[2022-07-31 02:31] freakstatic opened #3432 "Carthage still shows "tJOY" token"
In Carthage tJOY will not exist anymore but it's being used all over pioneer. It should be replaced by "JOY"

[2022-07-31 02:32] freakstatic commented on #3432
An example of the /#/profile page

![image](https://user-images.githubusercontent.com/7486476/182007166-2f87d1fc-c855-405e-82cb-de400611e7b3.png)

[2022-07-31 02:41] freakstatic commented on #3431
Some debug information provided by @lkskrn

![image](https://user-images.githubusercontent.com/7486476/182007492-678fe133-0f4f-4703-8a95-1fc46a5fc3c7.png)

[2022-07-31 02:43] freakstatic commented on #3431
Example of one election where the crash is happening:
https://dao-git-carthage-joystream.vercel.app/#/election/past-elections/0000006i

[2022-07-31 12:33] oleksanderkorn commented on #3413
# Create Families

[code]

# Set family bucket metadata
[code]

[2022-07-31 13:06] yasiryagi opened #3433 "working-groups:createOpening require leader increase staking"

[2022-07-31 13:23] yasiryagi commented on #3412
Issue created : https://github.com/Joystream/pioneer/issues/3433

[2022-07-31 18:10] dmtrjsg opened #3434 "[USERSNAP] the Proposal voting page does not open after clicking the "vote" button"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/36
**Fields**:

* Houston, we have a problem.: the voting page does not open after clicking the &#34;vote&#34; button
* Comment: the voting page open after clicking the &#34;vote&#34; button

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/3b0bf7a9-7536-48e

[2022-07-31 18:12] dmtrjsg opened #3435 "[USERSNAP] the voting page does not open after clicking the "vote" button"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/36
**Fields**:
- Houston, we have a problem.: the voting page does not open after clicking the &#34;vote&#34; button
- Comment: the voting page open after clicking the &#34;vote&#34; button
- Feedback: oig_res#3573

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_scre

[2022-07-31 18:15] dmtrjsg opened #3436 "[USERSNAP] the "proposal" page does not open after clicking on the proposal"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/36
**Fields**:
- Houston, we have a problem.: the &#34;proposal&#34; page does not open after clicking on the proposal
- Comment: the &#34;proposal&#34; page does not open after clicking on the proposal
- Feedback: git - polikosi

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7

[2022-07-31 20:44] yasiryagi commented on #3433
wrong repo

[2022-07-31 20:44] #3433 closed

[2022-08-01 08:07] dmtrjsg commented on #3436
<img width="794" alt="Screenshot 2022-08-01 at 09 07 30" src="https://user-images.githubusercontent.com/93924525/182102888-31a4d29a-0b62-408a-9a5e-b211df93472a.png">

[2022-08-01 08:08] kdembler commented on #3414
In theory there shouldn't be an issue with using our playground for these testing scenarios _but_ our playground is a very simple setup. It contains only a single storage worker, single distribution worker, single distribution bucket and single storage bucket. So the testing concerning assigning correct amount of buckets would be very limited. It would be better to use some proper staging network

[2022-08-01 08:15] dmtrjsg commented on #3432
@freakstatic I think we are adding the denomination for now since we are on testnet, and JOYs will be shown only with mainnet release.

[2022-08-01 08:15] #3432 closed

[2022-08-01 08:19] dmtrjsg commented on #3430
When you hover over the number it shows the same, we are rounding it up in non-input fields. This value is correct.

[2022-08-01 08:19] #3430 closed

[2022-08-01 08:21] dmtrjsg opened #3437 "Duplicate empty tooltip on numbers component"
![Screenshot 2022-08-01 at 09.18.42.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/ba4a4c3c-31fb-4672-b5d9-bef2007af2e6)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202697265675764) by [Unito](https://www.unito.io)

[2022-08-01 08:24] dmtrjsg commented on #3423
Handle should not allow spaces -> show validation message "Spaces not allowed"
Member name should allow for spaces

[2022-08-01 08:50] #3403 closed

[2022-08-01 09:50] #3417 closed

[2022-08-01 10:03] dmtrjsg opened #3439 "[USERSNAP] working-groups:createOpening require leader increase staking, moving target"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/profile
**Fields**:
- Houston, we have a problem.: working-groups:createOpening require leader increase staking, moving target
- Comment: Create an opening and set a firm required stake
- Feedback: https://github.com/Joystream/joystream/issues/4101

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb

[2022-08-01 10:28] singulart commented on #3414
What's the branch you build Carthage flavor of Atlas from? Builder may try spinning up the Atlas on their own.

[2022-08-01 10:29] kdembler commented on #3414
it's `carthage`: https://github.com/Joystream/atlas/tree/carthage

[2022-08-01 10:30] dmtrjsg opened #3440 "[USERSNAP] I have 4 invites on my balance. Trying to transfer 2 invites and validation fails with "You only have > 0.01 invites left.""
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/profile/memberships
**Fields**:

* Houston, we have a problem.: I have 4 invites on my balance. Trying to transfer 2 invites and validation fails with &#34;You only have &gt; 0.01 invites left.&#34;
* Comment: It is expected that the transfer is possible with a sufficient balance.
* Feedback: Ivan T#1098

![SCREENSHOT](https://resources

[2022-08-01 11:01] mochet opened #3442 "Idea: Transaction Log"
We still have some users reporting failed transactions and after mainnet launch it is likely this will become of much greater importance due to the tokens being "live".

Is it viable to have all transactions that users submit be stored in local browser storage, along with the block they submitted them + a link to the polkadot-js wallet/block.

This _may_ make things easier, as well as make it easi

[2022-08-01 11:25] thesan opened #3443 "Remaining period timer doesn't update on the Election page"
SSIA

[2022-08-01 12:26] WRadoslaw commented on #3425
Will be fixed by #3441

[2022-08-01 12:26] #3425 closed

[2022-08-01 12:27] WRadoslaw commented on #3429
Will be fixed by #3441

[2022-08-01 12:27] #3429 closed

[2022-08-01 14:03] dmtrjsg commented on #3434
@WRadoslaw it was for proposal voting. Title updated.

[2022-08-01 14:09] #2303 closed

[2022-08-01 14:09] #2311 closed

[2022-08-01 14:09] #2793 closed

[2022-08-01 14:09] #2888 closed

[2022-08-01 14:09] #2976 closed

[2022-08-01 14:09] #3025 closed

[2022-08-01 14:09] #3082 closed

[2022-08-01 14:09] #3109 closed

[2022-08-01 14:09] #3201 closed

[2022-08-01 14:09] #3203 closed

[2022-08-01 14:09] #3238 closed

[2022-08-01 14:09] #3239 closed

[2022-08-01 14:09] #3285 closed

[2022-08-01 16:01] polikosi commented on #3303
Tested on https://dao-git-carthage-joystream.vercel.app/

Process name; Pioneer Sign Transaction Modal Trx Fee Estimate; Actual fees checked in Polkadot.JS app;

1st round:

- **Create 2x council candidate applications (>2, as current playground)**
Candidate 1
_Announce candidacy_
Creation fee - 0.15 tJOY
Chain - amount: u128 - 1,516,229,268
https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.ni

[2022-08-01 16:26] dmtrjsg commented on #3433
@yasiryagi pls provide more detail, I will transfer it to the Joystream repo.

Expected results: ...
Actual results:...

[2022-08-01 16:46] dmtrjsg opened #3449 "[USERSNAP] Error & white screen when creating proposal(signal)"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/proposals/current
**Fields**:

* Houston, we have a problem.: Error &amp; white screen when creating proposal(signal)
* Comment: Page keep working
* Link to polkadot block: https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0xed2e0a4e42e8160c060919e521fcd835eea544369b9bef93e4594c31a7b79831
* Feedback: Iv

[2022-08-01 16:47] ivanturlakov commented on #3449
<img width="1440" alt="Снимок экрана 2022-08-01 в 19 45 52" src="https://user-images.githubusercontent.com/46903215/182201108-a3ed7fc9-cba7-446e-aa4d-a7f97cb7545f.png">

[2022-08-01 18:22] singulart opened #3450 "Chromium: None of the distributors provided the asset"
Steps to reproduce:

1. Using latest version of Chromium from https://download-chromium.appspot.com/
2. Try to open Atlas video and play it: https://play.joystream.org/video/27246
3. Observe the error in Console: "None of the distributors provided the asset"

Expected result: I should be able to play the video

[2022-08-01 18:25] singulart commented on #3450
This bug prevents from making progress on puppeteer automation for Atlas: https://github.com/Joystream/community-repo/issues/744

[2022-08-01 18:34] #3450 closed

[2022-08-01 18:35] singulart commented on #3450
Moved to Atlas repo: https://github.com/Joystream/atlas/issues/3061

[2022-08-01 20:02] dmtrjsg commented on #3439
duplicate of joystream/4101

[2022-08-01 20:02] #3439 closed

[2022-08-02 08:08] dmtrjsg commented on #3449
Resolved by #3447

[2022-08-02 08:10] dmtrjsg commented on #3435
Duplicate of #3434

[2022-08-02 08:10] #3435 closed

[2022-08-02 08:14] dmtrjsg commented on #3418
in the mappings theres a sanitising string function which could be changed to check if its a hexadecimal and convert to a properly UTF8 string.

[2022-08-02 09:28] dmtrjsg opened #3452 "Test Genesis Vesting"
## Context

Same as #3404 but set up in the Genesis block

This issue must be tested in scope of 2nd round of QA, Env details are in the Epic pls see pioneer/3577>
https://github.com/Joystream/pioneer/issues/3577

⚠️ Importantly, the vesting lock in this testing will be pre-allocated in the Genesis block for the four test accounts: Alice, Bob, Charlie, Dave. The pace of unlocking per block and tot

[2022-08-02 10:29] dmtrjsg opened #3453 "[USERSNAP] Funding proposal transaction fails"
## Scope

QA:

- [ ] ⚠️ this ticket needs to be retested on the newest playground:

## Context

**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/proposals/current
**Fields**:

* Houston, we have a problem.: Founding proposal transaction fails
* Comment: Expecting created proposal
* Link to polkadot block: https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/qu

[2022-08-02 10:30] ivanturlakov commented on #3453
<img width="1440" alt="Снимок экрана 2022-08-02 в 13 23 28" src="https://user-images.githubusercontent.com/46903215/182353844-ba0cc1e9-c5b5-4a9e-9fdb-a9ada16cd37f.png">

[2022-08-02 11:19] WRadoslaw commented on #3453
This might be runtime bug.

I traced the origin on the error in runtime and it is getting thrown in two cases ⬇️
[code]

1. When funding balance is zero
2. When funding balance exceed the `MAX_SPENDING_PROPOSAL_VALUE` which is set to
`const MAX_SPENDING_PROPOSAL_VALUE: u32 = 50_000_000_u32;`

But after introducing the decimals even 1 tJOY (which is `10_000_000_000`) exceeds this value. Currently u

[2022-08-02 14:15] dmtrjsg opened #3456 "[USERSNAP] Announce candidacy transaction fails"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/election
**Fields**:
- Houston, we have a problem.: Announce candidacy transaction fails
- Comment: Announce candidacy transaction success
- Link to polkadot block: https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0xf3ab5fc1ed60f48633edee9eedf2589b278882b619fb62e97a98a8fac0849fab
- Feedback: Ivan T#109

[2022-08-02 14:15] ivanturlakov commented on #3456
<img width="1440" alt="Снимок экрана 2022-08-02 в 17 12 38" src="https://user-images.githubusercontent.com/46903215/182396568-8d686b7e-9bac-4b1d-9ed9-7fb6adb0cc7c.png">

[2022-08-02 14:53] dmtrjsg opened #3457 "[USERSNAP] Council page error after council reward changed"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/council
**Fields**:
- Houston, we have a problem.: Council page error after council reward changed
- Comment: ...
- Feedback: Ivan T#1098

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/deb04408-5e74-4154-81a6-2989df6ae144-annotated_e7ccbbb8-9bfb-4885-88a7-65106019305c.png?

[2022-08-02 14:55] ivanturlakov commented on #3457
<img width="1438" alt="Снимок экрана 2022-08-02 в 17 50 58" src="https://user-images.githubusercontent.com/46903215/182405198-ed39533f-0d3b-47bc-aa46-cdb0525cb923.png">
it happened after this proposal executed https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/47

[2022-08-02 15:23] dmtrjsg commented on #3397
@singulart this case is fairly infrequent. And to resolve it we'd need to add the rationale to specific proposal parameters to runtime  and QN. Respective issues are raised, but taken in context of misc other priorities for those teams considered a relatively low prio (due to the fact that it is infrequent and can be communicated on in alt channels).

Issues are referenced above.

Thank you for ra

[2022-08-02 15:27] dmtrjsg opened #3458 "Hide rationale from Slash and Decrease WGL stake details."
## Context

https://github.com/Joystream/pioneer/issues/3397#issuecomment-1202813480

## Scope
As a temp measure
- [ ] remove the rationale from "View more" tab on Decrease and Slash WGL Proposal Activities > view more
- [ ]Update "Slashed by" to "Reduced by" in the details section"

![Screenshot 2022-08-02 at 16.26.43.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/a3934923-f67

[2022-08-02 16:24] dmtrjsg commented on #3453
[Raised comment,](https://joystreamworkspace.slack.com/archives/C03JXJZC9FT/p1659457384830259) awaiting feedback to proceed.

[2022-08-02 17:52] bedeho commented on #3453
Seems correct @WRadoslaw , feel free to open a PR where this value is increased. I would expect there to be lots of issue like this with all nominal value constraints relating to proposals, such as min stake, max stake, etc.

[2022-08-03 16:14] bwhm commented on #3258
The screenshot is slightly misleading, as the video id for the NFT is not [26854](https://play.joystream.org/video/26854), but:

[code]

3% (30k) was paid to creator as royalty, the rest was burned...

Sending 970k to the account!

[2022-08-03 16:24] bwhm commented on #3258
https://polkadot.js.org/apps/#/explorer/query/0x7ea80df2a4c13a8734d92f2f52a5cc6a569f075fdf77e61047035c386a6019d8

[2022-08-03 20:44] freakstatic commented on #3411
Video categories blocked by this
https://github.com/Joystream/joystream/issues/4119

[2022-08-04 08:55] freakstatic commented on #3411
Channel categories not supported in the CLI? :thinking:

[code]

[2022-08-04 14:13] gyroflaw commented on #3153
hey I am gyroflaw#5905

[2022-08-05 07:35] singulart commented on #3304
Test report: https://www.notion.so/joystream/Report-Smoke-testing-Forum-4e55316df35c4d94b0f2380dadf20b46

[2022-08-05 08:35] dmtrjsg commented on #3456
@ivanturlakov

The account you are using is not bound to the member, how did you manage to do it? CLI or Pioneer? (see one from PIoneer for Member12 (pased to URL) and one in the polkadot.js)

<img width="760" alt="Screenshot 2022-08-05 at 09 34 05" src="https://user-images.githubusercontent.com/93924525/183037610-29513b21-f76b-4e99-a6b5-15c7653b67b7.png">

We are puzzled as per how did you select

[2022-08-05 08:55] dmtrjsg commented on #3434
Cannot reproduce

[2022-08-05 08:55] #3434 closed

[2022-08-05 08:57] dmtrjsg commented on #3418
Temp solution> Decision made to disable special characters in proposal titles. Add validation "Special characters not allowed".

Long term solution >

[2022-08-05 09:59] adovrodion opened #3462 "Bug comments on the forum"
https://dao.joystream.org/#/forum/thread/649?post=1263
![image](https://user-images.githubusercontent.com/84832436/183053626-6fe200be-22e4-437c-ac86-b2579a3b2cab.png)
The forum comment moves to the top of the page. Perhaps this is because the main post is being edited

[2022-08-05 10:26] ivanturlakov commented on #3456
@dmtrjsg

I just tried to announce candidacy and everything went well, without errors

I definitely did that in Poiner. The referral is Alice, I probably created it through the faucet
<img width="1184" alt="Снимок экрана 2022-08-05 в 13 06 55" src="https://user-images.githubusercontent.com/46903215/183056451-65ee6bab-17da-4725-8ac2-93bf501236de.png">

Maybe that's the reason
<img width="546" alt="

[2022-08-05 12:34] dmtrjsg commented on #3456
@ivanturlakov none of this account was a the staking acc that caused the error. if you can reproduce it with the video rec we can try and debug, but without hardly so.

Closing for now as "cannot reproduce".

[2022-08-05 12:34] #3456 closed

[2022-08-05 12:43] dmtrjsg opened #3464 "Fix deleted sub-category display in Pioneer"
## Context
Forum smoke testing results" https://joystream.notion.site/Report-Smoke-testing-Forum-4e55316df35c4d94b0f2380dadf20b46

⚠️ pls point the PR to Carthage branch

## Scope
* [ ] Fix erroneous display of deleted subcategory in Forum

![Screenshot 2022-08-05 at 13.41.16.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/e3034fd5-201a-4d3c-896d-4a5c3d1d303f)-

┆Issue is synchr

[2022-08-05 12:45] dmtrjsg opened #3465 "Update of extrinsic to create thread"
## Context

Forum smoke testing on carthage

## Scope

![Screenshot 2022-08-05 at 13.44.44.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/80526bfd-4453-4a46-a15e-c2129ff7139e
)

[2022-08-05 12:46] #3304 closed

[2022-08-05 12:51] dmtrjsg opened #3466 "Adjust payments designs wrt cumulatives"
![Screenshot 2022-08-05 at 13.50.20.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/70a5d50f-80b9-497b-b4a4-169229626a9e)

[2022-08-05 12:52] #3466 closed

[2022-08-05 12:52] dmtrjsg commented on #3466
Issue moved to [Joystream/atlas #3086](https://github.com/Joystream/atlas/issues/3086) via [**ZenHub**](https://www.zenhub.com/)

[2022-08-05 12:57] dmtrjsg opened #3467 "Testing that 100% locked funds from faucet can be used for starting as creator"
## Scope
Verify that even just using invitation funds, that are 100% locked (except for fees), we can do things like creating a channel and uploading assets and so on, because those actions include value payments above and beyond fees, for example bloat bonds and storage fees.

Very that fresh members with funds obtained exclusively from faucet:

* [ ] Can create acc
* [ ] Can create channel
* [ ]

[2022-08-05 14:25] dmtrjsg opened #3468 "Testing that 100% locked funds from faucet can be used for starting as Pioneer Member"
⚠️ blocked by>
- https://github.com/Joystream/pioneer/issues/3487

Current faucet config does not allocate sufficient funds to test Proposal creation scenario.

## Scope
Verify that even just using invitation funds, that are 100% locked (except for fees), we can do basic operations in Pioner because those actions include value payments above and beyond fees, for example bloat bonds and storage fee

[2022-08-05 16:54] dmtrjsg commented on #3404
Pioneer Ticket: https://github.com/Joystream/pioneer/issues/2959

[2022-08-07 14:51] dmtrjsg opened #3470 "[USERSNAP] Forum: cannot search for numbers"
## Scope

- [ ] Add a message "Minimum of three characters is required" as a normal validation error.
- [ ] Fix the bug of entering 3 into the field, and the reducing input to 2 chars, the validation will pass, but needs to work

## Context
**Taken at**: https://dao.joystream.org/#/forum/category/16
**Fields**:
- Houston, we have a problem.: Forum: cannot search for numbers
- Comment: The followin

[2022-08-07 15:19] dmtrjsg opened #3471 "[USERSNAP] Forum > user profile: "Blog Posts" should be "Forum Posts""
**Taken at**: https://dao.joystream.org/#/council
**Fields**:
- Houston, we have a problem.: Forum &gt; user profile: &#34;Blog Posts&#34; should be &#34;Forum Posts&#34;
- Comment: SSIA
- Feedback: tomato#9464

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/495be386-435b-4a25-8d59-326e9537565d-annotated_de2f365d-51ca-437f-ace9-5f5800

[2022-08-07 15:49] mochet opened #3472 "WIP Research: Navigation breadcrumb consistency"
The whole of Pioneer should be reviewed for this.

One example of where this is currently a problem:
1. Click a member name on some page and the right pane comes up
2. Click `Working Group Roles`
3. Open one of the roles (i.e. `Operations Beta Worker`)
4. Click `Application Preview`

At this point the right pane will change to view the application details but there is no way to navigate back to th

[2022-08-07 15:51] mochet commented on #3472
@dmtrjsg is it ok if I create a new label for these research/improvement issues that I've been making? Something like `post-mainnet research`?

Let me know if that works or would cause any issues, don't want to cause any problems for current workflow etc

[2022-08-07 15:52] dmtrjsg commented on #3472
@mochet sure sounds good, feel free!

[2022-08-07 17:33] mochet opened #3473 "WIP Research: Scaling issues with Notification feeds"
The amount of information that each notification/update feed on Pioneer works currently, but upon mainnet we may have large amounts of activity that require each item to be a summary of ongoing activity.

This would be to research each information feed and try and consider or come up with ways their design could be improved to deal with much higher levels of activity.

Explained here further: http

[2022-08-07 17:41] dmtrjsg opened #3474 "[USERSNAP] Refresh page"
**Taken at**: https://dao.joystream.org/#/proposals/preview/452
**Fields**:
- Houston, we have a problem.: Refresh page
- Comment: The page is updated frequently, does not allow you to write a message

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/295d993d-b484-4050-88de-4705e033b965-annotated_d74cd853-ca4a-4dc7-9a10-f68e48a94649.png

[2022-08-08 08:07] dmtrjsg commented on #3474
Duplicate of #3380

[2022-08-08 08:07] #3474 closed

[2022-08-08 09:03] #3467 closed

[2022-08-08 09:03] dmtrjsg commented on #3467
Issue moved to [Joystream/atlas #3089](https://github.com/Joystream/atlas/issues/3089) via [**ZenHub**](https://www.zenhub.com/)

[2022-08-08 10:23] bedeho opened #3477 "Warn user about absurd monetary values"
Certain actions require the user to spend funds above and beyond the block inclusion fee, such as state bloat bonds, staking, etc. Some of these parameters may be adjustable by leads, which makes them a bit more susceptible to abuse. It could be useful to make Pioneer a bit more sophisticated about warning users and actions which have absurdly high $JOY amounts being required. The difficulty is ho

[2022-08-08 11:37] WRadoslaw commented on #3381
Will be fixed by #3475

[2022-08-08 18:56] dmtrjsg opened #3478 "Update Lock icons positioning"
- [ ] Proposal staking acc selector
- [ ] My accounts
- [ ] Members view

[2022-08-08 19:01] #3301 closed

[2022-08-08 19:02] #3303 closed

[2022-08-08 19:04] #3380 closed

[2022-08-08 19:04] #3381 closed

[2022-08-08 19:05] dmtrjsg commented on #3302
@singulart this one can be tested without any blockers. Pls feel free to assign.

[2022-08-08 19:07] dmtrjsg commented on #3468
@singulart pls feel free to assign

[2022-08-08 19:08] dmtrjsg commented on #3407
⚠️ Funding Request proposal is blocked by: https://github.com/Joystream/pioneer/issues/3453.

The rest we could get started on @singulart pls feel free to assign

[2022-08-08 19:09] dmtrjsg commented on #3404
@singulart pls feel free to assign

[2022-08-08 19:24] dmtrjsg opened #3479 "Tooltip for Invitation Lock"
## Scope

- Add tooltip to invitation lock

"Invitation lock can be spent on transaction fees and staking for proposals, voting and working groups applications. JOY tokens subject to this lock cannot be transferred to any other accounts. This lock is unrecoverable. NB: Transaction fees will first be taken from your transferable balance if it is positive."

Learn more about locks>: https://joystrea

[2022-08-09 08:21] dmtrjsg commented on #3290
since that is possible, we need to design the flow to change it. Moving to design pipeline. This is a low prio since rarely would happen

[2022-08-09 08:22] dmtrjsg commented on #3290
⚠️ Partly QN > to change the protobuff

[2022-08-09 08:23] dmtrjsg commented on #3368
@WRadoslaw could look into picking a data structure that makes sense.

[2022-08-09 08:54] dmtrjsg commented on #3411
@freakstatic we don’t have channelCategories in Carthage since they are not being used.

[2022-08-09 12:17] dmtrjsg opened #3480 "[USERSNAP] Incorrect opening link in the account locks section."
## Scope

- [ ] Link to My Applications Tab
- [ ] Rename to "Show Openings"

NB: ⚠️ there is no possibility to link to the specific opening.

**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/profile
**Fields**:
- Houston, we have a problem.: Incorrect opening link in the account locks section.
- Comment: ...
- Feedback: Ivan T#1098

![SCREENSHOT](https://resources.usersnap.com/company

[2022-08-09 12:20] ivanturlakov commented on #3480
https://user-images.githubusercontent.com/46903215/183645206-1bd25716-d1ac-48a2-9dbd-ecb7aafc92e7.mov

<img width="1210" alt="Снимок экрана 2022-08-09 в 15 19 47" src="https://user-images.githubusercontent.com/46903215/183645321-9027edb0-f665-40d6-84bb-1b42f07ac075.png">

[2022-08-09 18:27] dmtrjsg opened #3482 "Pioneer Carthage Scope Epic"
## Context

Epic placeholder to encapsulate the scope of Carthage Pioneer work

[2022-08-10 08:19] dmtrjsg commented on #3418
Agreed to add:  !@£$%^&*()# to the allowed characters. :"><"'; in the change request.

[2022-08-10 08:24] dmtrjsg commented on #3368
Maybe we'd need to do the CLI adjustments for this as well.

[2022-08-10 10:07] polikosi opened #3483 "Slash worker doesn't work CLI"
![image](https://user-images.githubusercontent.com/80429191/183876593-fe3c2871-5509-48be-a8e8-804e94f6600a.png)

[2022-08-10 10:20] polikosi commented on #3302
Tested on https://dao-git-carthage-joystream.vercel.app/

Process name; Pioneer Sign Transaction Modal Trx Fee Estimate; Actual fees checked in Polkadot.JS app;

- **Terminate WGL**
Create proposal
Creation fee - 0.13 tJOY
Chain - amount: u128 - 1,313,895,381
https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0x9e97e1435eaaecb87a134b3d8b5e5a871b22444ce48e8a257e4d63

[2022-08-10 10:42] thesan commented on #3362
We tried to reproduce the application q1 -> q3 -> q2. But it did not reproduce the issue. Maybe it has been unknowingly fixed on Pioneer or the QN.

In case it reappear later here's the transaction details (for the application shown on the video):

  | 4912 84
-- | --
signer | eac9c2cdca925bfb73631a1359ae8f0df5ec37b5f0b7f37346d35d39043c6375
signature | 01   b8752055e84281223222c6a44484387125dde6e1

[2022-08-10 11:06] thesan commented on #3368
The issue on Pioneer was raised in #3362, but wasn't reproducible. This one looks more like CLI issue

[2022-08-10 14:00] dmtrjsg commented on #3302
@polikosi nicely done ✅ 💪

[2022-08-10 14:08] dmtrjsg opened #3484 "Meta: Staging Env details"
## Context

This ticket encapsulates Staging Env Details for testing the following tickets:

#3405

URL:  https://telemetry.joystream.org/#list/joystream_test_carthage_2
Joystream node binary can be built from this commit: `348df822589f5bd1b538a8d692dc68c6e61cbead`
Which is the current https://github.com/Joystream/joystream/tree/carthage-playground

The rpc endpoint is wss://34.238.255.182.nip.io/

[2022-08-10 14:17] singulart commented on #3464
SP estimate is missing

[2022-08-10 14:21] dmtrjsg commented on #3405
@singulart ready to be assigned. Tagged yasir and freakstatic in the Discord testing group.

[2022-08-10 14:25] dmtrjsg commented on #3414
@singulart staging network ready:
- https://github.com/Joystream/pioneer/issues/3484

Ticket can be assigned.

[2022-08-10 14:31] #3413 closed

[2022-08-10 14:35] dmtrjsg commented on #3464
@singulart added

[2022-08-10 17:32] singulart commented on #3407
In test by IvanT

[2022-08-11 08:43] singulart commented on #3468
@dmtrjsg How to obtain "invitation" funds?

[2022-08-11 08:53] dmtrjsg opened #3486 "[USERSNAP] Disabled View Profile button"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/profile/memberships
**Fields**:
- Houston, we have a problem.: Disabled View Profile button
- Comment: Actual: After transferring some invitations, the success dialog that shows up, has the CTA button disabled.

Expected: The CTA button (View Profile) should be enabled.

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929

[2022-08-11 08:55] singulart commented on #3440
Verified on https://dao-git-carthage-joystream.vercel.app/#/profile/memberships, works as expected.

Separate issue https://github.com/Joystream/pioneer/issues/3486 reported.

[2022-08-11 09:09] dmtrjsg commented on #3468
@singulart By creating new membership with Faucet, sorry config dns seem to have been updated since to: https://atlas-next.joystream.org/network/config.json

[2022-08-11 09:32] WRadoslaw commented on #2975
Places with blocks inputs:
- Bounties judgement period step
- Bounties funding period step
- Bounties working period step
- Add new proposal - Create WG Lead opening x2
- Add new proposal - trigger and discussion step
---
Displaying blocks left:
- Proposal list item
- Proposal preview
- Election list item
- Council page - next election in
- Bounty titles (on top of the page - bounty preview)
- Wor

[2022-08-11 09:48] dmtrjsg opened #3487 "[USERSNAP] I can't create proposal with a new account"
## Scope

- [x] Update the modal to display correct validation message (already fixed by Radek)
- [ ] Change the validation of sufficient balance to cover TX fees everywhere to consider transferable balance + invitation lock. Cases where to test first (Proposal, Forum Posting, Voting for Candidate)
- [x]  invitation lock funds can be used for staking, as this is a non-rivalrous lock. ✅  confirmed,

[2022-08-11 10:13] yasiryagi opened #3488 "Processor crashed after pulling the latest commit"
I pulled the lasted yesterday and compiled, the indexer works but the processor broke.

[code]

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202783212912223) by [Unito](https://www.unito.io)

[2022-08-11 10:19] yasiryagi commented on #3412
https://github.com/Joystream/pioneer/issues/3488

[2022-08-11 10:37] dmtrjsg commented on #3488
Issue reported while testing
- #3412

[2022-08-11 10:38] thesan opened #3489 "Tech Debt summary"
## Context

### Testing

1.
   Currently tests mock only the chain api and the query-node, which result most tests redundantly checking the same app logic (providers and hooks). As a result:
   - Any change in the app logic triggers a lot of test fix which makes any app refactor really hard.
   - the low level mocks are cumbersome to write and make testing a lot harder than it should be (versus fo

[2022-08-11 11:09] mnaamani commented on #3488
Which network did this happen on ?

[2022-08-11 11:11] zeeshanakram3 commented on #3488
@yasiryagi can you share the commit hash?

[2022-08-11 11:23] yasiryagi commented on #3488
4ee52ffad5f03fe7c429301a6231a5cd77fef392

[2022-08-11 11:33] dmtrjsg commented on #3302
@polikosi question: does Pioneer show 77.1717 mJOY in some cases just as you reported in the respective processes?

[2022-08-11 12:59] polikosi commented on #3302
@dmtrjsg i thought it was 77.1717 mJOY = 0.07 JOY
did i get it wrong?
Pioneer show Creation fee - 0.07 tJOY per Vote

[2022-08-11 13:07] polikosi commented on #3468
@dmtrjsg I've never been to the WGL forum but I can try

[2022-08-11 13:08] dmtrjsg commented on #3302
@polikosi that should be correct, but when you are covering CLI was tx fees displayed in very large numbers of base denomination coins (aka HAPI since recently, where 10^n HAPI = 1JOY), or was it actually displaying mJOY. That was the question. Thank you 🙏

[2022-08-11 13:21] polikosi commented on #3302
@dmtrjsg I have this photo, maybe it explains it all

last line
![image](https://user-images.githubusercontent.com/80429191/184142888-b7b2c035-7c7c-4edf-ac26-33e879057c60.png)

[2022-08-11 14:37] dmtrjsg commented on #3302
@polikosi very much so thanks a mil!

[2022-08-11 18:13] dmtrjsg opened #3491 "Backend Notifications for Pioneer"
To be unpacked together with @thesan

[2022-08-11 21:14] lkskrn commented on #3404
<img width="1823" alt="image" src="https://user-images.githubusercontent.com/3365614/184243210-1e8c591b-d160-4ae1-8544-06900025bd62.png">
@dmtrjsg i am getting `system.ExtrinsicFailed vesting.AmountLow` when i try to send `vesting.vestedTransfer()` transaction.

[2022-08-11 21:15] oleksanderkorn commented on #3404
<img width="1918" alt="image" src="https://user-images.githubusercontent.com/9252017/184243587-e9729848-8307-4889-93cb-9a1c63f0e1e4.png">
@dmtrjsg i am getting `system.ExtrinsicFailed vesting.AmountLow` when i try to send `vesting.vestedTransfer()` transaction.

[2022-08-11 21:24] oleksanderkorn commented on #3404
Worked with higher lock amount:
<img width="1920" alt="image" src="https://user-images.githubusercontent.com/9252017/184244955-5b7e1ead-d7d3-45e4-8280-616f835f1bb1.png">

[2022-08-11 21:31] oleksanderkorn commented on #3404
Step 2: `vesting.vest()` successful:

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/3365614/184245855-6b32c6f7-1092-43c9-891b-7d68eb5e4905.png">

[2022-08-11 21:42] oleksanderkorn commented on #3404
Created more vestings:
<img width="1425" alt="image" src="https://user-images.githubusercontent.com/9252017/184247466-1af101d3-6d93-42af-a3aa-9d8d29ef32c2.png">

[2022-08-12 06:30] polikosi commented on #3436
Verified on https://dao-git-carthage-joystream.vercel.app/

Work as expected
![Screenshot_181](https://user-images.githubusercontent.com/80429191/184297208-c6b969e5-7e9b-40e5-8f06-8b010814b67b.png)

[2022-08-12 07:23] dmtrjsg opened #3492 "[USERSNAP] Incorrect wording about Membership Lead"
## Scope

- [x] Update the last sentence of the copy on top of the modal to  "..to find out about the upcoming "Update Working Group Budget" and "Set Membership Lead Invitation Quota" proposals."
- [x] Update the Link to point to "https://discord.gg/DE9UN3YpRP"; Update the copy before the link to "Go to Discord ➡️"

## Context
______

**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/p

[2022-08-12 08:46] bwhm commented on #3492
I'm a little curious as to how you get to this screen, given that this person presumably (a) has tokens, but (b) is not a member. If I'm reading that correctly, they shouldn't be able to invite anyone due to b, so not sure why this is shown.
Anyway, if there aren't enough funds/invitations in the budget/"bank", it's nice to show something up front.

Regarding the comment/question:
The Lead is a ro

[2022-08-12 09:19] WRadoslaw opened #3493 "Display fee info for CreateThreadModal"
![image.png](https://images.zenhubusercontent.com/61b33b1e8ddbc86c62bdcd28/688d45d3-7dab-493a-86b5-b728a86c1ebe)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202805235563139) by [Unito](https://www.unito.io)

[2022-08-12 10:21] dmtrjsg commented on #3491
Duplicate of
- https://github.com/Joystream/pioneer/issues/2880

[2022-08-12 10:21] #3491 closed

[2022-08-12 13:02] singulart commented on #3492
I clicked on "Invite a Member" CTA button in the overview screen.

[2022-08-12 14:04] dmtrjsg commented on #3468
@polikosi upd:
1. Invitation lock should not be possible to use for inviting other members. To test this pls Approve proposal to "Increase Invitation WG funds".
2. Invitation lock should not be possible to use for posting to forum rn as we are still working on the fix for it to cover bloat bond fees and storage fees. So this scenario would need to be retested at later stage.

[2022-08-12 14:13] dmtrjsg opened #3495 "Testing Vesting Locks are non-rivalrous and can also cover tx fees"
## Context

Testing the non-rivalrous nature of the vesting locks

⚠️ How to add vesting locks: https://github.com/Joystream/pioneer/issues/3404

## Scope

Test that Vesting locks can be used for
1. Creating membership
2. Council candidate
3. Voting on candidates
4. Proposal Staking
5. Transaction fees

For this we'd need to have a membership with only _locked in vesting_ balances and nothing else

[2022-08-12 14:16] dmtrjsg commented on #3495
@oleksanderkorn since you've done a fantastic work on the
#3404 taking the liberty to suggest for you to take on this ticket.

cc @singulart

[2022-08-13 07:50] dmtrjsg opened #3496 "Testing Locked In Vesting funds can be used for misc scenarios"
## Context

Testing the non-rivalrous nature of the vesting locks

## Scope

Test that Vesting locks can be used for
1. Voting on candidates
2. Proposal Staking
3. Transaction fees

For this we'd need to have a membership with only _locked in vesting_ balances and nothing else.

[2022-08-13 07:50] dmtrjsg commented on #3496
duplicate of
#3495

[2022-08-13 07:50] #3496 closed

[2022-08-14 19:57] freakstatic commented on #3405
@dmtrjsg I didn't understood the example values for `vesting.vestedTransfer()` and I tried the following but I'm getting `vesting.AmountLow`
![image](https://user-images.githubusercontent.com/7486476/184552815-0acce0c5-cff4-4c4a-8a9d-db8f4b7d5427.png)

[2022-08-14 20:08] freakstatic commented on #3405
I also tried with lower values since this account only has 98 tJOY but I get the same behavior :thinking:
I'm doing it wrong or is this a bug?

[2022-08-15 08:51] bwhm commented on #3405
Seems like a "bad" constant.

[code]

[2022-08-15 09:05] dmtrjsg commented on #3405
@freakstatic try to transfer enough tokens from this account (see below), if it does not have enough funds to cover it, pls let me know:

__
Secret Key URI `//7SLBqFKv6HjqIlAG2OiK3gMiFQTI2TLd` is account:
  Network ID:        substrate
 Secret seed:       0x6283588ed9f31cbe689b0bae5b69ba6a196c3f46ecd8b8bfccf331e4fa8bc1b3
  Public key (hex):  0xa0d417698f1d0a2facc6dfd8435f2eeef96679403c1f49d69bfa8c

[2022-08-15 10:12] dmtrjsg opened #3497 "Update Validation screen for purchasing new membership with Invitation Lock"
## Context
Invitation lock account cannot be used for purchasing new membership.  Currently the message only covers balance insufficient:
![Screenshot 2022-08-15 at 11.03.39.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/d1951ddb-0dac-4bd7-b50c-20a5f2561d05)

## Scope
* [ ] Update the base denomination in validation error on purchase membership.

┆Issue is synchronized with thi

[2022-08-15 10:16] dmtrjsg commented on #3468
⚠️ Just re-tested for network:  /https://atlas-next.joystream.org/network/config.json (54.242.207.183)
<img width="901" alt="Screenshot 2022-08-15 at 10 55 22" src="https://user-images.githubusercontent.com/93924525/184615405-419b3c80-d4bb-4d12-99dd-115864277ea8.png">
<img width="774" alt="Screenshot 2022-08-15 at 10 55 08" src="https://user-images.githubusercontent.com/93924525/184615408-149fceec

[2022-08-15 10:23] dmtrjsg opened #3498 "Membership info is empty for new accounts created"
Steps to reproduce

- [ ] Create new membership for new account (faucet funds)
- [ ] On transaction conf modal click "view my membership"

The sliding drawer is empty with the constant spinner

tested on: https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://atlas-next.joystream.org/network/config.json

[2022-08-15 10:26] dmtrjsg opened #3499 "Validation errors are expressed in Base Denomination"
## Context

![Screenshot 2022-08-15 at 11.24.50.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/b8239b52-913c-4f38-b678-a555448aa50e)

## Scope
- [ ] Update validation errrors to be displayed in JOY decimals,

[2022-08-15 10:29] singulart opened #3500 "Unable to view members: "Runtime Object type "MembershipEntryGifted" is not a possible type for "MembershipEntryMethod"""
Steps:

1. Go to https://dao-git-carthage-joystream.vercel.app/#/members
2. Observe empty list of members despite 24 is shown as the total count of members
3. Observe the error in console:

[code]

[2022-08-15 10:42] dmtrjsg commented on #3500
@singulart pls add the network config to the ticket.

[2022-08-15 11:01] dmtrjsg opened #3501 "Rename Total Balance to Free Balance"
## Context
https://joystreamworkspace.slack.com/archives/C039QJHMM38/p1660553551656179

Correct behaviour:
![Screenshot 2022-08-15 at 12.00.34.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/298d18b5-9b76-44c9-855a-5675c87eed7a)

## Scope
* Update Total Balance Widget and Account Components to "Free Balance"
![Screenshot 2022-08-15 at 11.52.32.png](https://images.zenhubuserconte

[2022-08-15 15:00] dmtrjsg commented on #3498
Duplicate of #3343

[2022-08-15 15:21] adovrodion commented on #3382
Bounty was created: https://dao.joystream.org/#/bounty/preview/208

[2022-08-15 16:21] #1553 closed

[2022-08-15 16:33] dmtrjsg opened #3502 "Pioneer Mainnet Epic"
Epic To Encapsulate Mainnet Issues for Pioneer, mainly targeting misc UX enhancements / onboarding

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1202801207918593) by [Unito](https://www.unito.io)

[2022-08-15 20:48] bedeho commented on #3501
I don't get the problem we are trying to solve here, is it to replicate balance concepts from the chain?

If so, we don't need to have balance concepts that mirror low level Substrate specific balance concepts (which are quite bad). We have balance categories that reflect functional categories related to user objectives, this is much better in my mind. I don't believe we have had a single user who

[2022-08-16 07:42] WRadoslaw commented on #3343
This should be handled by #3445. QA failed?

[2022-08-16 07:44] dmtrjsg commented on #3501
Thanks for the feedback! Closing as such

[2022-08-16 07:44] #3501 closed

[2022-08-16 08:00] thesan opened #3503 "Selects are croped inside small modals"
## Context
![image](https://user-images.githubusercontent.com/6571453/184828536-dabce348-9f88-4818-a240-6f3eeff0bd91.png)

## Scope
- [ ] Update selects of accounts to go over the modal

❓ How to test
- Connect multiple accounts and try token transfer modal, see how selector goes over the modal border on upper z axis
- Test the same for any proposal creation (signal) or creation of opening and rep

[2022-08-16 08:00] dmtrjsg commented on #3488
Could not reproduce, closing @yasiryagi shout if it happens again

[2022-08-16 08:00] #3488 closed

[2022-08-16 08:32] #3497 closed

[2022-08-16 09:15] dmtrjsg commented on #3411
Since Curators will no longer be responsible for categories, this ticket does not need to be tested. Closing as such

cc
@kdembler @freakstatic @singulart

[2022-08-16 09:21] kdembler commented on #3411
@dmtrjsg It seems there's more to this ticket than just categories though?

[2022-08-16 09:55] dmtrjsg opened #3504 "[USERSNAP] Update Working Group Budget Proposal Execution Fail (any amounts))"
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/128
**Fields**:

* Houston, we have a problem.: Update Working Group Budget Proposal Execution Fail (any amounts))
* Comment: Expecting that WG budget will be updated
* Link to polkadot block: https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0xf08d04b522a330c9ce504da14ed3f1f8fdfea2e99

[2022-08-16 09:56] ivanturlakov commented on #3504
Transaction success
https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0xf08d04b522a330c9ce504da14ed3f1f8fdfea2e9971b75d47434b3d6f3cccbe1
Proposal execution failed
https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/127

[2022-08-16 10:34] dmtrjsg commented on #3411
@kdembler yes you are right 🙈, that was a premature move, I take it back. Thank you for keeping this in check 🙇  👍

[2022-08-16 10:49] ivanturlakov commented on #3407
### Funding Request
Blocked by #3453

### Update Working Group Budget (for all relevant groups)
Blocked by #3504

### Hire Leads Flow - Ok

**Create WG Lead Opening Proposal**
Fees:
Proposal type ~0.18
Staking account ~0.1
Fees reflect text fields(title, rationale, description, application process, questions) symbols amount: ~ 0.03/100chars
Pioneer estimate = Polkadot-js actual
Rendering - Ok
* Th

[2022-08-16 12:00] dmtrjsg commented on #3468
🚫  Forum thread cannot be created with Invitation Lock:

<img width="481" alt="Screenshot 2022-08-16 at 12 58 28" src="https://user-images.githubusercontent.com/93924525/184874326-9742d691-1c06-4ff7-a57e-96654a8aba4a.png">

[12:15](https://joystreamworkspace.slack.com/archives/D03HLABA8MA/p1660648535157219)
[https://polkadot.js.org/apps/?rpc=wss://atlas-next.joystream.org/ws-rpc#/explorer/query/0x

[2022-08-16 12:10] dmtrjsg opened #3505 "[USERSNAP] Set Councilor Reward Proposal. Rationale field rendering issue(shows 0x2a...)."
**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/131
**Fields**:

* Houston, we have a problem.: Set Councilor Reward Proposal. Rationale field rendering issue(shows 0x2a...).
* Comment: Expecting to see plain text in this field.
* Link to polkadot block: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/131

![SCREENSHOT](https://resources.usersnap.c

[2022-08-16 13:18] ivanturlakov commented on #3457
Tested on staging ✅

<img width="1208" alt="Снимок экрана 2022-08-16 в 16 17 08" src="https://user-images.githubusercontent.com/46903215/184889392-2849df21-35a5-4550-a943-55f1af980d26.png">
<img width="1208" alt="Снимок экрана 2022-08-16 в 16 17 18" src="https://user-images.githubusercontent.com/46903215/184889407-d9242bfb-f753-43d2-a983-b93173c2d2f1.png">

[2022-08-16 13:31] ivanturlakov commented on #3423
Tested on staging ✅

<img width="798" alt="Снимок экрана 2022-08-16 в 16 29 50" src="https://user-images.githubusercontent.com/46903215/184891887-2c41c19d-324b-4627-b0e4-3da7c726d9b9.png">
<img width="917" alt="Снимок экрана 2022-08-16 в 16 30 24" src="https://user-images.githubusercontent.com/46903215/184891893-b8b3dad3-ed54-42ac-9bfd-9b9a9287f402.png">

[2022-08-16 14:12] ivanturlakov commented on #3431
Tested on staging

<img width="1440" alt="Снимок экрана 2022-08-16 в 17 02 34" src="https://user-images.githubusercontent.com/46903215/184899573-f3a98f48-d522-4045-a25e-288c8ba737f7.png">

Example of one election where the crash is happening on the Revealing stage:
https://dao-git-carthage-joystream.vercel.app/#/election/past-elections/0000012y

Steps to reproduce:
1. Go to an election, Add 2 cand

[2022-08-16 14:51] dmtrjsg commented on #3407
@ivanturlakov nice work 💪

[2022-08-16 14:51] #3407 closed

[2022-08-16 17:34] dmtrjsg commented on #3404
@oleksanderkorn Can you pls try all of the scenarios listed in the description?

⚠️ Very important to test this one >
- [ ] Verify that that you can’t transfer funds that are subject to vesting.

@singulart this ticket is not ready just yet imho.

[2022-08-16 18:48] #3000 closed

[2022-08-16 18:49] dmtrjsg commented on #3000
done in #3203

[2022-08-16 19:05] dmtrjsg opened #3508 "Remove Black Loading Modal"
## Context

In quite a few places this loading spinner is used:

![Screenshot 2022-08-16 at 20.01.37.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/84f62845-ead8-415a-a652-3d3f917d9cca)

## Scope
- [x] Locate the places where its shown now and see if a local spinner / "bad loading states' are actually better

- [ ] Design treatment for removing this before loading states are do

[2022-08-16 20:11] oleksanderkorn commented on #3404
@dmtrjsg From UI it is blocked:
17000 JOY available to claim, balance shows 27 JOY.
<img width="1203" alt="image" src="https://user-images.githubusercontent.com/9252017/184974100-33cdcb71-4aee-4d67-853f-9dddd25f46b1.png">

<img width="1666" alt="image" src="https://user-images.githubusercontent.com/9252017/184974254-412c00d1-d191-454f-a5c6-e40bd3a098f6.png">

Balance in polkadot shows full amount:

[2022-08-16 20:26] dmtrjsg commented on #3404
@oleksanderkorn

Awesome, thanks a mil for double checking this case 🙌

Re staking and slashing, any chance to test that as well?:
<img width="564" alt="Screenshot 2022-08-16 at 21 25 54" src="https://user-images.githubusercontent.com/93924525/184978501-32d871fd-7cba-40ac-a6a3-5252527c1a6a.png">

[2022-08-16 20:34] WRadoslaw commented on #3505
Same problem as #3418

[2022-08-16 20:50] oleksanderkorn commented on #3404
Created new membership with staking account and sent vested transfer on it:
<img width="1684" alt="image" src="https://user-images.githubusercontent.com/9252017/184982690-8cdc2b5d-50cf-487c-9c82-bf59335dcd0b.png">

[2022-08-16 23:48] freakstatic commented on #3405
@dmtrjsg I'm a bit lost now,,, didn't the issue mention to use the `wss://34.238.255.182.nip.io/ws-rpc`? :sweat_smile:
Alice only has 100 JOY in this one
![image](https://user-images.githubusercontent.com/7486476/185004043-d2da8b83-f60b-45a0-ac29-019190d1d814.png)

I think that the chain spec that I have `[carthage-2-chainspec-raw.json.zip](https://github.com/Joystream/pioneer/files/9300707/cartha

[2022-08-17 07:56] #3505 closed

[2022-08-17 07:59] dmtrjsg commented on #3404
@oleksanderkorn thank you for the effort, looking good!

@bwhm cc

[2022-08-17 07:59] #3404 closed

[2022-08-17 08:21] dmtrjsg commented on #3405
@freakstatic can you try to create a vested transfer with 17 JOY? You are right, Alice only has that many funds there.. but this should be sufficient for the task (seems like it).

Let me know how it goes ✊

[2022-08-17 08:34] #3343 closed

[2022-08-17 09:19] ivanturlakov commented on #3402
@thesan could you elaborate on how to reproduce this bug?

[2022-08-17 09:33] oleksanderkorn commented on #3495
@dmtrjsg sure i can pick this one !

[2022-08-17 10:24] #3302 closed

[2022-08-17 10:28] dmtrjsg commented on #3468
⚠️ To test proposals please Use Alice account to transfer more than 400 JOY (minimum staking req for Signal) via `giftMembership` extrinsic.

Current faucet config does not allocate sufficient funds to test Proposal creation scenario.

[2022-08-17 10:49] ivanturlakov commented on #3453
Tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://54.172.154.45.nip.io/network/config.json

Stuck on validation, any amount fails
<img width="1258" alt="Снимок экрана 2022-08-17 в 13 43 30" src="https://user-images.githubusercontent.com/46903215/185099937-1af54fec-5e6d-442c-b7e4-7ae6abbd1a5c.png">

[2022-08-17 12:33] thesan commented on #1925
Filtering notification by members depends on https://github.com/Joystream/hydra/issues/438

[2022-08-17 13:16] mochet opened #3512 "Idea: Gateway Discovery UI"

[2022-08-17 14:25] ivanturlakov commented on #3319
@dmtrjsg can I use this env? https://dao-git-dev-joystream.vercel.app/#/settings?network-config=https://3.235.196.1.nip.io/network/config.json

I am trying to announce candidates to initiate voting but there are some issues...

Stuck here
<img width="1437" alt="Снимок экрана 2022-08-17 в 17 13 23" src="https://user-images.githubusercontent.com/46903215/185156631-bfeef8e6-2bbe-45e7-89b5-eda9c3eecf2

[2022-08-17 15:29] toiletgranny commented on #3321
Alright, @dmtrjsg, let's see how it goes!

Naturally, I wanted to mimic what we've recently done in Atlas while trying to take as much as possible could from the things Pioneer already had. And so, with this approach, it felt appropriate to have the hCaptcha widget also added to the last step of the membership creation flow and to display the information about invitation tokens together with the c

[2022-08-17 16:23] dmtrjsg commented on #3321
@toiletgranny Love it, job well done.

Re copy suggest to go with:

`Your membership has been created! Your account is topped up with XXX JOY tokens to help you getting started! These tokens are subject to a lock, meaning they are non-transferable, and can only be spent on transaction fees and staking by this account.`

NB: Invitation lock may be renamed ofc but for now we can just say lock imho..

[2022-08-17 17:29] dmtrjsg commented on #3344
Covered in
- https://github.com/Joystream/pioneer/issues/3479

[2022-08-17 17:29] #3344 closed

[2022-08-17 17:29] dmtrjsg commented on #3345
covered in
- https://github.com/Joystream/pioneer/issues/3479

[2022-08-17 17:29] #3345 closed

[2022-08-17 17:43] dmtrjsg opened #3514 "Accounts and Memberships Tabs Placeholder Copy for disconnected wallet/ account wo membership or hidden"
## Context

If wallet is not authorised, or  accounts are not created/ hidden or connected accounts have no membership for Joystream..

Accounts Page is blank

<img width="1280" alt="Screenshot 2022-07-05 at 18 06 53" src="https://user-images.githubusercontent.com/93924525/177380446-6fe53222-2245-4db7-b8fa-52ae8aa2f994.png">

Memberships Page has Lorem ipsum outdated message

<img width="1252" alt

[2022-08-17 17:46] dmtrjsg commented on #2948
Re Extension waiting in the other screen, this is covered in Pioneer already:
<img width="556" alt="Screenshot 2022-08-17 at 18 44 50" src="https://user-images.githubusercontent.com/93924525/185207241-f92b534f-971e-418f-9e60-31f3ccbf44c1.png">

[2022-08-17 17:46] dmtrjsg commented on #3514
Covered here:
- https://github.com/Joystream/pioneer/issues/2948

[2022-08-17 17:46] #3514 closed

[2022-08-17 17:54] dmtrjsg opened #3515 "QA task: Check that validation / nomination staking locks behave as rivalrous"
## Context

2nd round of QA, Env details are in the Epic pls see 3577>
- https://github.com/Joystream/pioneer/issues/3577

PR that we are testing here:
- https://github.com/Joystream/joystream/issues/4189#issuecomment-1218313831

## Scope
Test that Nomination and Validation locks prevents from staking for any WG openings applications, and act as true rivalrous locks

Test in both  sequences:

1. S

[2022-08-17 18:15] dmtrjsg opened #3516 "Pioneer JSG Mainnet Scope"
## Context

Mainnet Scope For Pioneer

## Scope

- #3657 - Downscale images for Avatars - ready for dev
- https://github.com/Joystream/pioneer/issues/3583 - Icon and Desc upd for Apps WG ⚠️  design required
- #3400  - remove testnet banner - Mainnet branch reqd
- #3527 - Change tJoy to Joy - Mainnet branch reqd

🆕 (potentially carthage) tbc
- https://github.com/Joystream/pioneer/issues/3688

👁️ QA

[2022-08-17 18:36] dmtrjsg commented on #3260
@mochet pls advise on the above

[2022-08-17 18:40] dmtrjsg commented on #3414
@kdembler  pls advise how to proceed here:

<img width="540" alt="Screenshot 2022-08-17 at 19 39 44" src="https://user-images.githubusercontent.com/93924525/185217573-f6e07aa4-6385-4219-8127-a5c6c6c9fe72.png">

<img width="739" alt="Screenshot 2022-08-17 at 19 39 46" src="https://user-images.githubusercontent.com/93924525/185217564-9df89340-7db5-40de-a99b-f333b5e561a2.png">

[LInk to discord](http

[2022-08-17 19:32] dmtrjsg commented on #3502
covered in
- #3516

[2022-08-17 19:32] #3502 closed

[2022-08-17 19:33] #1802 closed

[2022-08-17 19:43] dmtrjsg commented on #3365
@toiletgranny pls add figma link + powered by Joystream addition.

We are going forward with option 1 from iteration 2. The one yourself and Bedeho liked more.

[2022-08-17 20:01] #2436 closed

[2022-08-17 20:03] dmtrjsg commented on #2109
Overview needs to be re-designed from the Ground Up

[2022-08-17 20:03] #2109 closed

[2022-08-17 20:05] dmtrjsg opened #3517 "Overview Redesign"
Work was done, but poor UX and implementation prompted to put it down:
- #2109
- #3030
- #2900

[2022-08-17 20:06] #2900 closed

[2022-08-17 20:07] #3517 closed

[2022-08-17 20:08] dmtrjsg commented on #3517
work will be done here: - #3030

[2022-08-17 20:13] dmtrjsg commented on #3406
Bounties agreed to be removed from Carthage.

[2022-08-17 20:13] #3406 closed

[2022-08-17 20:16] dmtrjsg commented on #3143
seem to be unblocked now as linked issue is closed

[2022-08-17 20:23] dmtrjsg opened #3518 "Tooltips Update for Mainnet"
## Context
Umbrella issue to fix all tooltips

This is a tracker issue, respective work needs to be done in the tasks provided below:

## Scope
* https://github.com/Joystream/pioneer/issues/3297
* https://github.com/Joystream/pioneer/issues/3024
* https://github.com/Joystream/pioneer/issues/2346
* https://github.com/Joystream/pioneer/issues/2847
* https://github.com/Joystream/pioneer/issues/2680
*

[2022-08-17 20:24] #2681 closed

[2022-08-17 20:37] dmtrjsg opened #3519 "Bounties v1 Bugs and Misc Improvement Requests"

[2022-08-18 06:41] toiletgranny commented on #3365
@dmtrjsg right, sorry, this ticket wasn't meant to be in this column as we haven't picked the logo yet. All of the things you mentioned will be here once I finish working on this! 🫡

[2022-08-18 07:01] toiletgranny commented on #3321
Got it! Copy updated. Would you like to use this opportunity to review a similar copy we have for this in Atlas? https://www.figma.com/file/ymHYOFItrmFaLeBC5Z4tpQ/Sign-in?node-id=1277%3A30169

[2022-08-18 07:22] dmtrjsg commented on #3321
@toiletgranny for Atlas, the one in Figma works well 👌 !

[2022-08-18 08:03] #2250 closed

[2022-08-18 08:25] dmtrjsg opened #3520 "Add referrer as metadata"

[2022-08-18 08:29] dmtrjsg commented on #2060
Add more screenshots
Add Design links
Add Community Dev Board
ADd Discrod chat

[2022-08-18 08:56] toiletgranny commented on #3365
Alright, here I come with the links:
1. To an engineer implementing this: to export Pioneer logo in a desired color variant, size and format, use the below Figma link. Also, this is were favicon and iOS/Android icons can be found: https://www.figma.com/file/3hnTi8QWyHDOtkZENhjxjB/Pioneer-Brand?node-id=22%3A9469
2. I updated the Sidebar component in Figma to swap the JS logo with a Pioneer one, and

[2022-08-18 09:10] dmtrjsg commented on #3504
So we've checked the execution constraints:

☝️ ➕ If porposal is to increase WG, only check at the time of execution is for council to have sufficient budget
☝️ ➖ If proposal is to decrease WG budget, only check at the time of execution is that WG budget is sufficient to be decreased by stated amount.

Here's the extract from the runtime code:

<img width="466" alt="Screenshot 2022-08-18 at 10 02

[2022-08-18 09:19] freakstatic commented on #3405
I still get the `vesting.AmountLow` error, as Martin mention probably it's necessary something higher then 166 666 666 600 JOY or to change this constant right?
@dmtrjsg can you maybe make Alice richer? :magic_wand:

[2022-08-18 09:43] dmtrjsg commented on #3405
Hm strange.. 166 bln in U128 is roughly 17 JOY.. As U128 is base denomination.. ok let me ask @thesan for help. if this requires re-deployment of staging, we may need to wait till next week, but I will try and expedite this!

[2022-08-18 09:51] freakstatic commented on #3405
Oh I finally was able to do it :facepalm:
I forgot that the value was U128 like you mention
https://polkadot.js.org/apps/?rpc=wss%3A%2F%2F34.238.255.182.nip.io%2Fws-rpc#/explorer/query/0x3abd2ddb6cee88f631ec1e902de512a870b522ea961415c050d6acddee0beb8e

[2022-08-18 09:54] WRadoslaw commented on #3504
@dmtrjsg Yeah. Budget for council at block with hash (block of execution) 0xd54048dc318d6897c600b7484963df837c25b0032d54ce87accc73f18d72d83a was 10 in base unit. After denomination `0.000000001` tJOY, so update was way above budget.

[2022-08-18 10:07] ivanturlakov commented on #3504
@dmtrjsg @WRadoslaw I will try to update the council budget and retest

[2022-08-18 10:09] thesan commented on #3405
@freakstatic to clarify, does this fails on `34.238.255.182.nip.io/ws-rpc` ?
![image](https://user-images.githubusercontent.com/6571453/185368356-8c31bf7d-e549-43f5-ae47-2ac40ba40311.png)

This vesting transfer worked on `54.172.154.45.nip.io/ws-rpc` which has the same `minVestedTransfer` value. It results in a 17 tJOY vesting shown on Pioneer:
![image](https://user-images.githubusercontent.com/65

[2022-08-18 10:16] thesan opened #3521 "Move UI related tests to Stroybook"
## Context

### Testing

1.
   Currently tests mock only the chain api and the query-node, which result most tests redundantly checking the same app logic (providers and hooks). As a result:
   - Any change in the app logic triggers a lot of test fix which makes any app refactor really hard.
   - the low level mocks are cumbersome to write and make testing a lot harder than it should be (versus fo

[2022-08-18 10:19] thesan commented on #2801
Superseded by #2060

[2022-08-18 10:19] #2801 closed

[2022-08-18 10:22] dmtrjsg commented on #3414
My bad, the chain wasn't configured to do this test.

Pls try on this one: https://atlas-next.joystream.org/network/config.json

[2022-08-18 10:25] thesan opened #3522 "Refactor Modals"
## Context
The state machine being bound to each modal individually makes it really hard to refactor the modal code (changes often needs to be apply to each modal one by one).
This causes:
- #2026
- Modals to disappear yet still block the modal context when they return `null`

[2022-08-18 10:27] thesan opened #3523 "Refactor Query subscriptions"
## Context
Since chain interactions are proxies through a web worker `useObservable` create extra unnecessary subscriptions because it passes an observable created on component rendering instead of a callback. Also some of this subscription should close after getting the first data (so an alternative hook should probably be used), instead it creates unnecessary re-renders.

## Scope
- Pass a callb

[2022-08-18 10:33] freakstatic commented on #3405
I was able to use the vested tokens to validate

no it doesn't, initially I was testing with 1 JOY which it failed due to the minimum limit
but then I tested with 17 JOY but forgot to convert it to U128 base :facepalm:
I was able to do it here: https://polkadot.js.org/apps/?rpc=wss%3A%2F%2F34.238.255.182.nip.io%2Fws-rpc#/explorer/query/0x3abd2ddb6cee88f631ec1e902de512a870b522ea961415c050d6acddee0b

[2022-08-18 10:34] freakstatic commented on #3405
so @thesan sorry for making you waste time with my mistake :sweat_smile:

[2022-08-18 10:36] thesan opened #3524 "Remove not used code"
Currently some hooks helper functions and even components are still in the repos but not used (e.g `useNumberInput`).

- [ ] These should be removed from the codebase
- [ ] If possible the CI should be prevents these cases in the future

[2022-08-18 10:41] thesan opened #3525 "Add a script to decode metadata"
SSIA

from
- https://github.com/Joystream/pioneer/issues/2804

[2022-08-18 10:54] thesan opened #3526 "Decrease the bundle size"
On `carthage`:
![image](https://user-images.githubusercontent.com/6571453/185378391-9268a379-7939-49de-8db0-d3918d007217.png)

![image](https://user-images.githubusercontent.com/6571453/185378550-d26f967b-1685-4335-90a7-e829b16a7f9f.png)

[2022-08-18 10:59] #3489 closed

[2022-08-18 11:23] ivanturlakov commented on #3504
@dmtrjsg The proposal was successfully executed after the council budget increased 🙃

[2022-08-18 11:25] dmtrjsg commented on #2060
Add:
- tests
- story book

[2022-08-18 11:28] toiletgranny commented on #3299
Alright, @dmtrjsg, designs for both the Create and Edit Membership dialogs can be found here: https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10799%3A567889

Notes:
1. Naturally, I started off trying to re-use existing patterns and components in Pioneer, but the only component for uploading files that I have found ("Dropzone") felt excessive when put in the context of (a)

[2022-08-18 11:40] dmtrjsg opened #3527 "Change tJoy to JOY"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1202829081590251) by [Unito](https://www.unito.io)

[2022-08-18 12:08] #3306 closed

[2022-08-18 14:23] toiletgranny commented on #3479
Alright, @dmtrjsg, here's what I think we could do! https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10813%3A421425

Notes:
1. I've been experimenting with other places to show invitation locks across the "My Profile" page (due to its different nature), but, trying to devote a reasonable amount of time for these explorations, I couldn't come up with anything that would feel

[2022-08-18 14:39] thesan commented on #3405
@freakstatic no worries, it's starting to become confusing to use the polkadot app with the new denomination

[2022-08-18 17:14] dmtrjsg commented on #3431
Ready to be retested

[2022-08-18 18:49] dmtrjsg commented on #3479
good thinking, if I say we can go with a green colour and "Restricted Usage Supported" to emphasise the positive connotation of usage, rather than restriction.  wdyt?

Re naming, Invitation lock name is best you recon?

[2022-08-18 18:55] dmtrjsg commented on #3299
@toiletgranny Agreed!

I guess preview is also not needed here, I bet you thought about it already.. Perhaps its safe to remove the drop zone variant by this time as Choose file is perfect :)

[2022-08-18 19:34] oleksanderkorn commented on #3495
Created empty account with only vested balance:
<img width="1657" alt="image" src="https://user-images.githubusercontent.com/9252017/185478929-67fa3d4d-bc45-4fb8-a8ce-084a3926f7ee.png">

1. Create membership

Cannot be done with vested token, UI is blocked:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/9252017/185479077-5710c2f3-321e-4c43-9fe2-abbb1b3be1c3.png">

<im

[2022-08-18 19:51] oleksanderkorn commented on #3495
4. Creating proposal using vested balance seems to be not possible, last modal shows 0 balance, but before it shows locked balance:

<img width="1665" alt="image" src="https://user-images.githubusercontent.com/9252017/185482275-98e75eb7-f63b-4ab5-a994-cc1e749627ca.png">

<img width="1220" alt="image" src="https://user-images.githubusercontent.com/9252017/185482400-01727506-9058-4f0e-b3d7-b4224c461

[2022-08-18 20:09] oleksanderkorn commented on #3495
3. Vote for council candidate using only vested locked balance successful:
<img width="1241" alt="image" src="https://user-images.githubusercontent.com/9252017/185485208-9768c11b-1086-44af-aa73-b75633a1d609.png">
<img width="943" alt="image" src="https://user-images.githubusercontent.com/9252017/185485231-77b262a5-b677-4992-ad3b-b5ac2446b842.png">

<img width="938" alt="image" src="https://user-im

[2022-08-18 20:15] ivanturlakov commented on #3480
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://54.172.154.45.nip.io/network/config.json

https://user-images.githubusercontent.com/46903215/185486115-cb18a7a2-28d8-466c-b4d5-a060017bee30.mov

[2022-08-18 20:20] oleksanderkorn commented on #3495
5. Transaction fees:  Points 2, 3, 4 were successful also with transaction fee covered only by vested tokens.
Total vested balance was 20000, now its less, so transaction fees were deducted from the total:
<img width="1665" alt="image" src="https://user-images.githubusercontent.com/9252017/185487338-5b7e7f71-7d72-40ab-8f92-a711f6279385.png">

[2022-08-18 21:41] ivanturlakov commented on #3431
✅ 👍 Tested on https://dao-git-carthage-joystream.vercel.app/#/election/past-elections/0000017f
<img width="1206" alt="Снимок экрана 2022-08-19 в 00 32 09" src="https://user-images.githubusercontent.com/46903215/185500057-e213d1d5-1d11-49d1-be42-3cb4f8fb5cfb.png">

[2022-08-19 07:49] toiletgranny commented on #3479
Yeah, @dmtrjsg, I think the green color works even better! Here, have a look and let me know if you agree so that I can update the other screens: https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10821%3A414947

---

I missed the name part, sorry! Remembered that we wanted to tackle this in a separate task. Anyway, gave it some thought and here's my take on this.

Based on m

[2022-08-19 08:13] bedeho commented on #3479
No, not really, perhaps you are getting the invite lock mixed up with bloat bonds, where the idea is that whenever you do an action, you have to put up a bit of $JOY which you later can recover when/if you reverse the action.

[2022-08-19 08:31] toiletgranny commented on #3479
Ok, sorry if I'm confusing things. Can I break down my current understanding of this and ask you to point out where am I mistaken?

1. I create a new Joystream membership, and I receive 300 JOY tokens, all of which are under this invitation lock. And that's my entire account balance at the moment, I have nothing else.
2. I'm a prolific Pioneer user, I engage in a bunch of activities for which I ne

[2022-08-19 08:34] dmtrjsg commented on #3299
@toiletgranny can we pls add small preview in a circle pls for the avatar

[2022-08-19 08:43] toiletgranny commented on #3299
If we can spend a bit more time on this, then sure! I updated the designs, and here they are — https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10804%3A577502

[2022-08-19 08:56] bedeho commented on #3479
This is all correct, but not sure who `you` is, is it like a faucet or a friend or something?

I guess given that you understood it all, I possibly just misunderstood what you meant when you meant "repay". Its not that you are obligated to "pay someone" in order ot use the system, but if you are using the same account as before, then the lock persists, and so any new funds added will be impacted b

[2022-08-19 09:17] dmtrjsg opened #3532 "Proposals List"

[2022-08-19 09:17] freakstatic commented on #3405
@dmtrjsg
Test summary:
### Spin up a couple nodes, and join as a validator on one of them.
3 nodes were configured
![image](https://user-images.githubusercontent.com/7486476/185583267-6f330da3-6b9f-44b0-a9a0-37238673caa4.png)
<br/>

### In polkadot-js, create a new account ("stash") and make a vesting.vestedTransfer() of say 1 JOY for some amount to this new account. If at height #n:
1 JOY was not

[2022-08-19 09:54] dmtrjsg commented on #3479
@toiletgranny

"Welcome gift" is good imho, perhaps even take it further and go with "New Membership Gift"

This is in-line with the new feature that existing members will be able to call `giftMembership` extrinsic, which credits destination acc and debits the acc specified by user, and thereby sponsor someone with new membership. Same lock will apply there.

So let's go with "New Membership Gift"

[2022-08-19 10:04] bedeho commented on #3479
I think you guys are overthinking this 100x  :D

No user who does not know about locks will be looking into this trying to understand the significance of each lock, and mapping that to what they can and cannot do. Each product, say like Atlas, needs to treat the presence of locks properly and explain to users what they can or cannot do at any given time, as we have aspired to do with the new balan

[2022-08-19 11:03] dmtrjsg commented on #3495
Summary from Oleksanderkorn:

Noticed that membership cannot be created using vested balance, and proposal cannot be created. Apply to council & vote for council can be done using vested balance.

[2022-08-19 11:29] dmtrjsg commented on #3479
yeh you are probably right.. happens sometimes by Fridays 😅

ok then lets go with no change on Atlas and just a label "restricted usage allowed". In our defence, to my memory renaming Invitation lock was discussed sometime recently but let's not dwell on this for now 👍

[2022-08-19 11:59] toiletgranny commented on #3387
![image](https://user-images.githubusercontent.com/35307309/185613831-7cc20ac3-94b3-49b3-81f1-27e4329cc062.png)

Tasked with designing an icon indicating a Council Member, naturally, I started off by reviewing how council or council members are visually represented through icons in Pioneer right now (the top row in the above image). The good news is that consistency is definitely there, in terms o

[2022-08-19 12:15] dmtrjsg commented on #3405
Nice work @freakstatic thanks a mil for the effort 💪

[2022-08-19 12:17] bedeho commented on #3387
1. while the council and a council member are two distinct ideas, pretty nuts how many variations are present 🤯
2. agree, 2 is simpler, icons are already very crowded.

[2022-08-19 12:24] dmtrjsg commented on #3479
Addressed in 3518

[2022-08-19 12:27] dmtrjsg opened #3533 "Modals to disappear yet still block the modal context when they return `null`"
## Context
Was raised in epic
- #3522

## Scope
- SSIA

[2022-08-19 12:29] dmtrjsg opened #3534 "Remove notifications feed and icon to subscribe to notiff (from member selector)"
## Context

## Scope

Remove the notifications from design:

- [ ] Membership selection menu

<img width="557" alt="Screenshot 2022-08-19 at 13 58 44" src="https://user-images.githubusercontent.com/93924525/185623512-27ef5520-96f4-4442-b5ab-f4e9b79ff44e.png">

- [ ] Top of the side nav Bell icon
- [ ] Remove the queries fetching these
- [ ] Comment out notifications

![](https://user-images.github

[2022-08-19 12:42] dmtrjsg commented on #1977
Creation works ✅
Editing was breaking QN 🚫
Faucet to be tested ➡️

[2022-08-19 12:42] dmtrjsg commented on #2032
Resources were mapped inside the membership details in the side bar ✅
Search by resource wasn't possible due to QN issue 🚫

[2022-08-19 12:46] toiletgranny commented on #2936
Alright, @dmtrjsg, designs for this are ready to be reviewed. :)

https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10844%3A416233

Hopefully, it goes without saying that although the flow of reporting an image has been visualized based on a forum thread, the presence of the report button, its alignment, tooltip, and interactions should be the same wherever there's an image

[2022-08-19 12:49] dmtrjsg commented on #3143
Seems to be already resolved in
- https://github.com/Joystream/pioneer/issues/3303

@polikosi can you confirm if you have managed to successfully recover voting stake on Carthage?

[2022-08-19 12:53] dmtrjsg commented on #2032
⚠️ currently search not supported by Hydra but Theo will magic up a hacky Query 🤞

[2022-08-19 12:54] polikosi commented on #3143
@dmtrjsg yes, I confirm that everything was successful for me.
Just tried again - https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0xf4b7e7e1c7654f13c98694dffb2df38525f99fda4040a33b164e7542980036ad

[2022-08-19 13:12] dmtrjsg commented on #3299
@kdembler is the backend built already? Is there a place where we could use it for our mirroring feature dev?

[2022-08-19 13:16] kdembler commented on #3299
Yep, yep, there is an instance at https://atlas-services.joystream.org/avatars

To upload you run a POST:
[code]
As a response, you get back an object with single field called `fileName` that will give you the name of the uploaded file and then you can just request it with https://atlas-services.joystream.org/avatars/fileName

[2022-08-19 13:24] dmtrjsg commented on #2936
@toiletgranny just added a condition to show a fallback image for Moderated Images especially in the markdown

This is how moderated forum posts look like:
- https://github.com/Joystream/pioneer/issues/3165 (figma link there)

[2022-08-19 13:32] bedeho commented on #2032
By not supported, do we just mean "it returns bad results", or something else?

[2022-08-19 13:47] toiletgranny commented on #2936
Assuming that, unlike with moderated posts, we do not want to let others see the original image, and that the moderator can provide rationale behind removing an image, here's the design for this: https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10852%3A550596

[2022-08-19 13:53] toiletgranny commented on #3387
@WRadoslaw The new icon can be exported here: https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10852%3A551972

@dmtrjsg May I also suggest, on the Members tab, to add tooltips for each icon/button under the "Member type" section in the filters bar?

[2022-08-19 13:56] ivanturlakov commented on #3503
✅ Tested on https://dao-git-carthage-joystream.vercel.app

<img width="1013" alt="Снимок экрана 2022-08-19 в 13 02 17" src="https://user-images.githubusercontent.com/46903215/185633589-29983caa-f329-461f-adde-2d1a6dc6f4a2.png">
<img width="1254" alt="Снимок экрана 2022-08-19 в 16 46 31" src="https://user-images.githubusercontent.com/46903215/185633597-13a1ff02-8970-45ad-8818-923c7d15ed77.png">
<im

[2022-08-19 14:15] thesan commented on #2936
Image blacklisting workflow:
1. User click the report button -> the image is posted to e.g an Airtable base containing reported urls
2. An admin check the reported images and decide which one to move to the blacklisted table
3. The admin re-trigger pioneer deployment
4. If a `BLACKLIST_ENDPOINT` env is set and returns a list of urls (a JSON in the case of Airtable), these new urls are now availabl

[2022-08-19 14:24] ivanturlakov commented on #3499
✅ Tested on https://dao-git-carthage-joystream.vercel.app

@dmtrjsg Decimals have been updated and look correct now.
Another thing seems validation doesn’t count creation fee.
Do we have a related ticket?

<img width="919" alt="Снимок экрана 2022-08-19 в 17 19 42" src="https://user-images.githubusercontent.com/46903215/185639160-89b568c7-6e7c-44cc-a2d3-e1690171c26d.png">

[2022-08-19 14:31] polikosi commented on #3414
@dmtrjsg hi, how I can verified it
[code]

[2022-08-19 14:42] ivanturlakov commented on #3422
Guys, pls give me a tip on how to test it, because I am already created one account with a faucet

[2022-08-19 14:57] WRadoslaw commented on #3422
I would create new account in extension and hide accounts with already existing memberships, that way Pioneer should think that you are a newcomer. Btw make sure to have 0 balance on this newly created account @ivanturlakov

[2022-08-19 15:17] dmtrjsg commented on #2032
The way I understand it is that this feature requires nested filtering which is still in the pipe, but @thesan pls correct me if I'm wrong and pls elaborate on this based on your best understanding.

[2022-08-19 15:18] dmtrjsg commented on #3143
@polikosi great, thanks for confirming 🙌

[2022-08-19 15:18] #3143 closed

[2022-08-19 15:23] dmtrjsg opened #3535 "Documentation: Vesting and Invitations Locks Coverage"
# Context

Review of the Invitation and Vesting Locks coverage wrt various costs is completed. We need to ensure this is validated on the newest staging env.

⚠️ Important notes
* [🔗 Link to original reference](https://gist.github.com/Lezek123/7eb89937fcbffabefe73fede0b336943)
* Notable differences between Invitation and Vesting locks are marked with ☝️
* Transaction supported = costs are coverabl

[2022-08-19 15:52] polikosi commented on #3414
https://atlas-76qgel2nr-joystream.vercel.app/member/candidate-13?tab=About

**1 channel (candidate 13):**

first video :
https://polkadot.js.org/apps/?rpc=wss://atlas-next.joystream.org/ws-rpc#/explorer/query/0xc87aefdcf86fdf54ce94df97d5f7881154a51c93e9ad695203f2bb43d1599666
https://polkadot.js.org/apps/?rpc=wss://atlas-next.joystream.org/ws-rpc#/explorer/query/0x8bd795782466ea6db5d4e9c8c6e7740933

[2022-08-19 17:58] bedeho commented on #2936
This looks fine, except that it should not _require_ the Pioneer operator to use AirTable, they should be able to capture the information however they want, so the easiest would literally be to just allow operator to specify some arbitrary URL where user is sent via a new window, and that window can be whatever the operator wants (google form, airtable form, retool form connected with Airtable, IR

[2022-08-19 18:04] bedeho commented on #2032
Intuitively that sounds wrong, we are just querying "give me all members where X handle is sort of equal to <string>", so you are just free text searching on a particular field of the `Membership` entity, but perhaps the representation chosen for this whole external resource thing has some indirection in it for some reason, that seems redundant though.

[2022-08-20 11:32] ivanturlakov commented on #3453
upd

Validation works well now, but the initial error still occurs
https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0x066f89380b9ecfe94796beb2794df233c42ccd94fe4036f3c5e167ad060d0934

[2022-08-20 12:58] ivanturlakov commented on #3422
@WRadoslaw thx, tried this approach, and also tried using VPN but still got a faucet error
<img width="1440" alt="Снимок экрана 2022-08-20 в 15 44 23" src="https://user-images.githubusercontent.com/46903215/185747008-72420bdc-a4ba-46a4-8144-7ee22a3632c2.png">

@dmtrjsg are we all right with the https://54.172.154.45.nip.io/member-faucet/register?

[2022-08-22 08:16] toiletgranny commented on #2738
A few clarifying questions irt the scope:
1. The scope seems to be specific in describing the solution that was envisioned for this problem. Is it okay to do more outside-of-the-box explorations, or would you prefer me to stick to the core idea and just visualize it?
2. > Display connection for Both Runtime Node and Query Node

   I'm afraid I don't fully know what it means. Is there some reading

[2022-08-22 08:20] #3414 closed

[2022-08-22 08:26] dmtrjsg opened #3536 "Cannot create proposal with Vesting lock"
## Context
This is the final overview for Vesting and Invitation locks supported tx: https://github.com/Joystream/pioneer/issues/3535
Bug identified here> https://github.com/Joystream/pioneer/issues/3495#issuecomment-1219891897

## Scope
* [ ] Fix last modal on Pioneer to validate based on total funds - rivalrous locks.

Comment:

We seem to have fixed it for invitation locks, but remains to be do

[2022-08-22 08:26] dmtrjsg commented on #3495
Issue raised off the back of this testing ticket:
- https://github.com/Joystream/pioneer/issues/3536

[2022-08-22 09:13] bedeho commented on #3535
Note: also cover that invitation lock funds flow back to only the funding account, and that alternative funding sources allow having funds flow back to membership on a few extrinsics.

_feel free to delete this later_

[2022-08-22 09:21] #3431 closed

[2022-08-22 09:26] toiletgranny commented on #2948
@dmtrjsg A few clarifying questions irt the scope:

1. A common pattern is hiding parts of the app that require the user to be signed in. In this case, it would translate to hiding the "My Profile" for users that haven't connected their wallets. The implementation effort is substantially lower. Would you be interested in doing that instead?
2. > Add placeholder messages to Membership and Accounts

[2022-08-22 10:59] dmtrjsg commented on #2948
@toiletgranny

1. For this one, yeah could do, but would not this be less motivating to actually create membership?
2. you can create new wallet and try it on dao.joystream.org

[2022-08-22 11:37] dmtrjsg commented on #2738
Dot is good enough when all good, and when its not good show a banner that can be viewed together with the proposal creation flow

[2022-08-22 12:01] dmtrjsg commented on #3468
 @polikosi
 
 The faucet default amount of invitation lock has been increased to 5000 Joy. This should be enough to test proposals.
 
 Please feel free to proceed :)

[2022-08-22 14:40] toiletgranny commented on #3508
Having discussed it with Dima earlier today, @dmtrjsg, here are the designs for the agreed scope: https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10881%3A419797

Please note, that for the "Creating new proposal" dialog, the idea is to open up the dialog imidietaly after pressing the "Add New Proposal" button, with the animated spinning wheel inside. Once the content is loa

[2022-08-22 14:43] toiletgranny commented on #2948
Having discussed it with @dmtrjsg and @kdembler earlier today, we agreed to proceed with hiding the tab.

[2022-08-22 15:46] polikosi commented on #3468
I can't create a new account here https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://atlas-next.joystream.org/network/config.json
![image](https://user-images.githubusercontent.com/80429191/185960396-5449ff08-52b8-4ac4-9207-19d252beee20.png)

[2022-08-22 17:30] thesan opened #3539 "Reorganize the `Common` storybook structure"

[2022-08-22 17:30] thesan opened #3540 "Create a `Pages > My profile` storybook structure"

[2022-08-22 17:30] thesan opened #3541 "Create a `Pages > Working Groups` storybook structure"

[2022-08-22 17:30] thesan opened #3542 "Create a `Pages > Proposals` storybook structure"

[2022-08-22 17:30] thesan opened #3543 "Create a `Pages > Council` storybook structure"

[2022-08-22 17:30] thesan opened #3544 "Create a `Pages > Bounty` storybook structure"

[2022-08-22 17:30] thesan opened #3545 "Create a `Pages > Election` storybook structure"

[2022-08-22 17:30] thesan opened #3546 "Create a `Pages > Forum` storybook structure"

[2022-08-22 17:30] thesan opened #3547 "Create a `Pages > Members` storybook structure"

[2022-08-22 17:31] thesan opened #3548 "Create a `Pages > Settings` storybook structure"

[2022-08-22 17:31] thesan opened #3549 "Create a `Pages > Financial` storybook structure"

[2022-08-22 17:31] thesan opened #3550 "Create a `Pages > Overview` storybook structure"

[2022-08-22 17:31] thesan opened #3551 "Create a `Pages > Bounty` storybook structure"

[2022-08-22 17:31] thesan opened #3552 "Refactor `common`, `app/OnBoardingOverlay` and `page/Breadcrumbs` tests into `Common` stories"

[2022-08-22 17:31] thesan opened #3553 "Refactor `accounts` tests into `Pages > My profile` stories"

[2022-08-22 17:31] thesan opened #3554 "Refactor `council` tests into `Pages > Council` and `Pages > Election` stories"

[2022-08-22 17:31] thesan opened #3555 "Refactor `financials` tests into `Pages > Financial` stories"

[2022-08-22 17:31] thesan opened #3556 "Refactor `forum` tests into `Pages > Forum` stories"

[2022-08-22 17:31] thesan opened #3557 "Refactor `membership` tests into `Pages > Members` stories"

[2022-08-22 17:31] thesan opened #3558 "Refactor `overview` tests into `Pages > Overview` stories"

[2022-08-22 17:45] thesan commented on #3551
Duplicate of #3544

[2022-08-22 17:48] thesan opened #3559 "Refactor `proposals` tests into `Pages > Proposals` stories"

[2022-08-22 17:48] thesan opened #3560 "Refactor `working-groups` tests into `Pages > Working Groups` stories"

[2022-08-22 17:48] thesan opened #3561 "Refactor `bounty` tests into `Pages > Bounty` stories"

[2022-08-22 17:58] #3551 closed

[2022-08-23 09:02] polikosi commented on #3468
**- Can create acc**

![image](https://user-images.githubusercontent.com/80429191/186110322-0f3f6277-69ed-435b-9635-805114f5a8c2.png)

**- Cannot invite other members (invitation from faucet accs must be 0)**

![image](https://user-images.githubusercontent.com/80429191/186110601-aff1813a-db79-4e85-9cb9-244f547a5c6c.png)
![image](https://user-images.githubusercontent.com/80429191/186110635-af675828

[2022-08-23 09:15] dmtrjsg opened #3564 "Update validation message on creating account"
- [x] Add to the validation error for cases :
Tokens subject to Vesting and Invitation locks do not cover membership creation fees, and cannot be used to purchase new memberships.
- [x] remove "you need at least..."

![Screenshot 2022-08-23 at 10.14.31.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/040eff1c-3db8-496b-9fa1-d7ea8e8fdd26)

[2022-08-23 14:39] toiletgranny commented on #2823
@dmtrjsg Since, apparently, part of the task has already been done by Mateusz, assuming it was good to go, I focused only on the part about adding the Polkadot Explorer link to the side navigation.

My recommendation is to have it added as another menu item, with a small icon on the right-hand side to communicate that (a) it's an external link, and (b) that it's going to be opened in a new browser

[2022-08-23 17:06] adovrodion commented on #3382
Bounty was created: https://dao.joystream.org/#/bounty/preview/259

[2022-08-23 18:13] thesan opened #3566 "Failure events loose their data fields"
When transaction fails the data wasn't returned to the App to be shown.

[2022-08-23 18:29] dmtrjsg commented on #3468
@polikosi Nice work man, thanks for the retest  ✅  great to see it all works nicely 👍

[2022-08-23 18:29] #3468 closed

[2022-08-23 20:14] ivanturlakov commented on #3402
Tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://54.172.154.45.nip.io/network/config.json

According to the changed files, I tested the validation in:

✅ Transfer tokens Modal
✅ Proposal trigger field
✅ Creating new proposal: Create Working Group Lead Opening
✅ Creating new proposal: Set Initial Invitation Count
✅ Creating new proposal: Set Referral Cut
✅ C

[2022-08-24 08:22] dmtrjsg commented on #2936
Agreed to start with Discord and Airtable support and see how POST params would need to be extended to be move universal (support google spreadsheets etc).

[2022-08-24 10:12] toiletgranny commented on #2823
Action item: add a tooltip "Some operations for nomination and validation are only supported via Polkadot.js App" upon hovering the Explorer menu item in the side nav.

[2022-08-24 12:11] toiletgranny commented on #2738
@dmtrjsg Based on our call earlier today, here are the final mockups for you and the engineers to review.

https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10884%3A421798

If you're an engineer, make sure to enable comments visibility in Figma (SHIFT + C) to check out additional implementation hints I left here and there.

[2022-08-24 14:05] dmtrjsg commented on #3495
Nice work @oleksanderkorn thank you for the thorough results posting.

Just heads up: there are some changes applied now on runtime codebase wrt to costs that will be coveted by Invitation and Vesting locks, and it is most likely that Vesting locks will only cover staking; so will be behaving like other non-rivalrous locks.

I will update the relevant documentation and post it in a clear acceptanc

[2022-08-24 14:05] #3495 closed

[2022-08-24 14:29] dmtrjsg opened #3568 "Test that 100% tx fees are burned"
## Context
On testnet before Carthage 20% of tx fees used to go to validator workers reward. From Carthage and onwards to mainnet all 100% of tx fees will be burned.

Here's the ticket implementing this change:
- Issue: https://github.com/Joystream/joystream/issues/4176
- PR: https://github.com/Joystream/joystream/pull/4199

## Scope
- [ ] Test that 100% of tx fees get burned by executing the scen

[2022-08-24 14:51] dmtrjsg commented on #2823
⚠️ Validating if we need two separate links to validators / nominators.

[2022-08-24 16:48] adovrodion commented on #2334
Bounty was created: https://dao.joystream.org/#/bounty/preview/267

[2022-08-24 16:56] adovrodion commented on #3347
Bounty was created: https://dao.joystream.org/#/bounty/preview/270

[2022-08-25 08:26] #3032 closed

[2022-08-25 08:39] #3144 closed

[2022-08-25 09:05] dmtrjsg opened #3569 "Add loading spinner underneath account selector"
## Context

Unknown status of the staking account takes forever to get validated for accounts which are not bound to memberships:

![Screenshot 2022-08-25 at 09.53.54.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/c4f35941-be0a-46ac-9986-a598b21a939c)

## Scope
- [ ] Add a small loading spinner underneath the selector  with copy "Please wait, validation in progress."
- [ ] Remo

[2022-08-25 09:27] dmtrjsg commented on #2948
@toiletgranny

When the app is loading and signer is connecting we cannot really tell if there is a membership or not, so it will be jumpy with each refresh an on first load. Perhaps we could have another go at this ticket?

cc @kdembler

[2022-08-25 09:53] dmtrjsg opened #3570 "Tx fee is not fetched for binding account"
## Context

Env: DAO.Joystream.org

Cannot create proposal for the unbound account, as fees are not returned to the app

![Screenshot 2022-08-25 at 10.49.32.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/b16c6028-2052-4fe2-a2cb-4b692efa0000)

## Scope

- [ ] Suggestion to return a zero as a quick patch, before Carthage is released, where this is tested and working.

[2022-08-25 10:03] dmtrjsg opened #3571 "Refactor Transaction Modal"

[2022-08-25 10:03] dmtrjsg opened #3572 "Refactor Memberships Modal"
@ QA

Test Create Membership on Carthage Branch. To test go through the app without! selected membrship and try to start the process.

Success= membership selection modal is triggered automatically.
Fail = membership modal is triggered where memebrship does not have to be selected to view side panel (application, council, opening details)

## Context
- #3522 Epic

## Scope

- [ ] Handling switch m

[2022-08-25 10:04] dmtrjsg commented on #3571
https://github.com/Joystream/pioneer/issues/2204

[2022-08-25 10:04] #3571 closed

[2022-08-25 16:24] Songoku1691 commented on #3347
Wow! This will be great if that feature is added on next version of Pioneer.

[2022-08-26 09:16] toiletgranny commented on #2948
@dmtrjsg Oh, that's a spot-on observation. Frankly speaking, I feel a bit embarrassed for not realizing it earlier. I'll punish myself later.

Anyway, I think the ultimate solution for this would be not keeping any dynamic links so high-up in the side nav, and, for example, moving the "My Profile" page link to the bottom section, which is already all about your active profile/membership. This woul

[2022-08-26 09:31] dmtrjsg commented on #2948
@toiletgranny

All g buddy, it was all three of us on the call and we all blanked on it, which is totally fine, assuming the volume of issues we are churning through 👌 😉

So just to re-iterate we have four states:
1. Account not connected
2. Connected but no active membership exists
3. Membership exists but you logged out of it (can re-use the same copy as on 2)
4. Logged in with membership (nothi

[2022-08-26 13:57] dmtrjsg opened #3577 "QA Carthage - 2nd Round"
## Context
We've successfully concluded the first round of testing of new runtime version Carthage. All issues identified and raised, were successfully resolved. During this time a few key changes were introduced to the runtime, which now require a follow up test.

 On a high level the test shall cover a high level (smoke test) of the core functionality, such as memberships, elections and council,

[2022-08-26 14:30] dmtrjsg opened #3578 "Test Invitation Lock coverage of Misc fees Pioneer"
## Context

2nd round of QA, Env details are in the Epic pls see 3577>
- https://github.com/Joystream/pioneer/issues/3577

Testing Invitation Lock Fees Coverage

## Scope
1️⃣ Ensure that 100% Invitation lock funds received from Faucet can only cover the following transactions:

###  ✅  Transactions Supported  Pioneer

   - Forum thread deposit (`forum::create_thread`)
   - Forum post deposit (`for

[2022-08-26 14:30] dmtrjsg opened #3579 "Test Invitation Lock coverage of Misc fees Atlas"
## Context
- https://github.com/Joystream/pioneer/issues/3577

Testing Invitation Lock Fees Coverage

## Scope

1️⃣ Ensure that 100% Invitation lock funds received from Faucet can only cover the following transactions:

###  ✅  Transactions Supported Atlas
- **Standard transaction fees**
- **Bloat bonds**
    - Channel bloat bond (`content::create_channel`)
    - Video bloat bond (`content::create

[2022-08-26 14:30] dmtrjsg opened #3580 "Test That Vesting Locks do not cover tx fees, storage and bloat bond fees Atlas"
## Context
- https://github.com/Joystream/pioneer/issues/3577

Testing Vesting Lock Fees Coverage

## Scope

1️⃣ Ensure that Vesting lock in Atlas cannot cover any of the transactions:

### ⛔ Not Supported
- **Standard transaction fees**
- **Transfers** (`balances::transfer`, `balances::transfer_keep_alive()`, `balances::transfer_all()`)
- **Nft auction bids** (`content::make_english_auction_bid`,

[2022-08-26 14:30] dmtrjsg opened #3581 "Test That Vesting Locks can only be used for staking Pioneer"
## Context

2nd round of QA, Env details are in the Epic pls see 3577>
- https://github.com/Joystream/pioneer/issues/3577

Testing Vesting Lock Fees Coverage

## Scope

1️⃣ Test that Vesting lock can be used for staking

### ✅  Pioneer Transactions Supported
- **Staking**
    - Council candidate stake (`council::announce_candidacy`)
    - Staking account candidate stake (`membership::add_staking_a

[2022-08-26 14:41] #3579 closed

[2022-08-26 14:41] dmtrjsg commented on #3579
Issue moved to [Joystream/atlas #3178](https://github.com/Joystream/atlas/issues/3178) via [**ZenHub**](https://www.zenhub.com/)

[2022-08-26 14:42] #3580 closed

[2022-08-26 15:03] #3570 closed

[2022-08-29 08:04] dmtrjsg opened #3582 "Deploy Carthage PRs"
## Context

This is an umbrella issue to track all Issues/ PRs  that were successfully implemented and tested on Carthage branch.

## Scope
Deploy Carthage Branch, and namely:

### Features:

- #2959
#3366
#2531
#2939
#2657
#2823
#2936
#3321
#1977
#3299
#3387
#2032
#3665
#3669

### UX impr:

- #3365
#3508
#2895
#3564
#3373
#3278
#3536
#3534
#3592
#3620
#3636
#2204

### Tech Tasks
- #3284
#3379
#32

[2022-08-29 08:16] dmtrjsg commented on #2948
Link to figma> https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=10962%3A433202

[2022-08-29 10:52] dmtrjsg opened #3583 "Update Gateways WG to be called Apps"
## Context
- https://github.com/Joystream/joystream/issues/4230

## Scope

- [x] Update WG name from "Gateways" to "Apps"
- [x] Update description to "Apps group runs multiple video streaming apps working on Joystream blockchain and provides support to all exteernal app operators."
- [ ] Update Icon
- [x] Add Tooltip. "Learn more about this group [[external source icon]](https://joystream.gitbook.

[2022-08-29 12:47] ivanturlakov commented on #3464
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://54.172.154.45.nip.io/network/config.json

Category "Test subcategory" has been created in "test".

<img width="1183" alt="Снимок экрана 2022-08-29 в 15 37 26" src="https://user-images.githubusercontent.com/46903215/187203745-6cfd35db-8f12-4dde-b56b-067145854b60.png">
<img width="1180" alt="Снимок экрана 202

[2022-08-29 14:02] dmtrjsg commented on #3411
@freakstatic following the sync call we've got the update, and similarly to channel permissions, the curators permissions in Carthage can only be set up, but not updated. Closing this ticket in the meantime, and will link a new issue to it, once we are able to test it fully.  I am moving this to the mainnet testing scope, and moving to out of scope for the current round.

Could you perhaps update

[2022-08-29 15:05] #2471 closed

[2022-08-29 15:05] #2531 closed

[2022-08-29 15:05] #2675 closed

[2022-08-29 15:05] #2898 closed

[2022-08-29 15:05] #2939 closed

[2022-08-29 15:05] #2959 closed

[2022-08-29 15:05] #3114 closed

[2022-08-29 15:05] #3219 closed

[2022-08-29 15:05] #3272 closed

[2022-08-29 15:05] #3278 closed

[2022-08-29 15:05] #3284 closed

[2022-08-29 15:05] #3366 closed

[2022-08-29 15:05] #3373 closed

[2022-08-29 15:05] #3379 closed

[2022-08-29 15:05] #3383 closed

[2022-08-29 15:05] #3394 closed

[2022-08-29 15:05] #3402 closed

[2022-08-29 15:05] #3418 closed

[2022-08-29 15:05] #3422 closed

[2022-08-29 15:05] #3423 closed

[2022-08-29 15:05] #3436 closed

[2022-08-29 15:05] #3437 closed

[2022-08-29 15:05] #3440 closed

[2022-08-29 15:05] #3449 closed

[2022-08-29 15:05] #3457 closed

[2022-08-29 15:05] #3464 closed

[2022-08-29 15:05] #3465 closed

[2022-08-29 15:05] #3480 closed

[2022-08-29 15:05] #3486 closed

[2022-08-29 15:05] #3487 closed

[2022-08-29 15:05] #3493 closed

[2022-08-29 15:05] #3499 closed

[2022-08-29 15:05] #3503 closed

[2022-08-29 15:05] #3504 closed

[2022-08-29 15:05] #3534 closed

[2022-08-29 15:05] #3536 closed

[2022-08-30 08:56] #3484 closed

[2022-08-30 08:56] dmtrjsg commented on #3217
This Epic is not Complete.

2nd round of testing is undertaken in
- https://github.com/Joystream/pioneer/issues/3577

[2022-08-30 08:56] #3217 closed

[2022-08-30 09:12] dmtrjsg commented on #3453
Retested, "Transaction failed" message shown:

https://polkadot.js.org/apps/?rpc=wss://atlas-next.joystream.org/ws-rpc#/explorer/query/0x8c46549f0d1cef555829fb18f4a85185f3ee6e3582251a9238c5ec84d2ebe0ff

[2022-08-30 09:14] dmtrjsg commented on #3453
Tested on wss://atlas-next.joystream.org/ws-rpc

[2022-08-30 09:18] dmtrjsg commented on #3492
⚠️ Link requires an update. Currently points to old gitbook, but shall point to discrod.  Awaiting guidance from @singulart wrt to best URL to update the link on the modal.

[2022-08-30 10:04] singulart commented on #3578
Assigned to Ivan T#1098

[2022-08-30 10:33] dmtrjsg commented on #3299
Discussed the implication on the design of the Externally managed Pioneer which is unlikely to point to Atlas for Avatar Storage.

As a fallback scenario when the Backend URL is undefined for this module, the modal will still have Avatar URL variation.

[2022-08-30 11:40] freakstatic commented on #3411
I was able to test the following:
## [x] Hire (at least) 3 more curators:

Applications: [#465678](https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0x878b43127f459bd2b46dea34f9efefb0146b1116eea991e09d3f592384764eaf), [#465663](https://polkadot.js.org/apps/?rpc=wss://54.172.154.45.nip.io/ws-rpc#/explorer/query/0x7ec5f311d5e1c2bb4975116b7b6a64011bb9a1adf1508c76f063

[2022-08-30 14:37] dmtrjsg opened #3585 "[USERSNAP] Just voted for candidate. Show election button in account section leads to 404"
## Scope

- [ ] The problem probably stems from fact that election can be _past or present_

rn points to past election only

___

**Taken at**: https://dao-git-carthage-joystream.vercel.app/#/profile
**Fields**:
- Houston, we have a problem.: Just voted for candidate. Show election button in account section leads to 404
- Comment: Show election button leads to related election page
- Feedback: Iv

[2022-08-30 15:34] dmtrjsg commented on #3411
@freakstatic thanks a mil for your update, which network did you test this on?

[2022-08-30 16:11] freakstatic commented on #3411
It was on wss://54.172.154.45.nip.io/ws-rpc
@kdembler suggested to use `wss://atlas-next.joystream.org/ws-rpc` but didn't got the chance to do it.
It's worthy to do it now?

[2022-08-30 18:31] dmtrjsg commented on #3411
@freakstatic yep, also got this one in the bottom from Klaudiusz. I'd say its worth taking for a spin! Thanks for asking, reopening.

[2022-08-30 22:15] mkbeefcake commented on #2715
@isonar Can you please assign this issue for me?

[2022-08-30 22:27] mkbeefcake commented on #2986
@isonar can you please assign this issue to me?

[2022-08-31 16:13] dmtrjsg opened #3588 "Direct mentions"
## Context

Markdown feature allows to tag members directly in Forum posts
![Screenshot 2022-08-31 at 17.07.52.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/318d050b-2190-4d0a-a261-790bd6635d25)

Community members are simulating this feature, but the notifications are not displayed to the tagged user
![Screenshot 2022-08-31 at 17.07.56.png](https://images.zenhubusercontent.com

[2022-09-01 08:06] dmtrjsg commented on #3588
No event is emitted when user gets tagged, so a way to do it is to emit an event on the QN.. so requires both QN and Pioneer.

Plus ☝️ Hydra :
- https://github.com/Joystream/hydra/pull/442

[2022-09-01 08:07] #3535 closed

[2022-09-01 08:10] dmtrjsg commented on #1977
Env where Faucet and QN are updated with External Memberships: ihttps://54.172.204.195.nip.io/network/config.json

[2022-09-01 08:10] dmtrjsg commented on #2032
Env where Faucet and QN are updated with External Memberships: ihttps://54.172.204.195.nip.io/network/config.json

[2022-09-01 08:10] dmtrjsg commented on #3321
Pls try to work with this one: Memberships: ihttps://54.172.204.195.nip.io/network/config.json

[2022-09-01 12:46] ivanturlakov commented on #3578
Tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://54.172.204.195.nip.io/network/config.json

Unexpected behavior is marked with an ❗️

### Transactions Supported Pioneer

✅ Forum thread deposit (forum::create_thread)
**Create category via extrinsic**
https://dao-git-carthage-joystream.vercel.app/#/forum/category/1
https://polkadot.js.org/apps/?rpc=wss%3A%2F%

[2022-09-01 14:10] oleksanderkorn commented on #3452
## Current balance of Alice:
<img width="1652" alt="image" src="https://user-images.githubusercontent.com/9252017/187930103-6b72dd6a-4e8a-4c50-a048-c85fc8c2b3f0.png">

## Membership cannot be created using vested balance (Expected Behaviour) :
<img width="1004" alt="image" src="https://user-images.githubusercontent.com/9252017/187929792-77be9bf4-36ab-4001-94c5-981582b5d352.png">

## Claimed the ve

[2022-09-01 15:12] oleksanderkorn commented on #3452
## Apply to the role using vested balance:

### Balance

<img width="1660" alt="image" src="https://user-images.githubusercontent.com/9252017/187948884-3264792f-f29f-454c-a66c-330783348a73.png">

###  Application
<img width="1223" alt="image" src="https://user-images.githubusercontent.com/9252017/187948639-31648122-efdd-420f-ba16-bdca1d8ba731.png">
<img width="914" alt="image" src="https://user-im

[2022-09-01 15:23] oleksanderkorn commented on #3452
## Proposal to hire Alice as DWG Lead failed:
https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/8

## Retried proposal:
https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/9

<img width="1198" alt="image" src="https://user-images.githubusercontent.com/9252017/187951779-34d4983a-607e-427d-acf6-82c6090e8d12.png">

### Logs Execution failed again:

[code]

[2022-09-01 15:39] oleksanderkorn commented on #3452
## Slash lead worker with 1/2 of the stake

Link: https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/12

<img width="1211" alt="image" src="https://user-images.githubusercontent.com/9252017/187954890-47d9685d-0b73-4d18-ade9-47903d8fef49.png">

Logs (Proposal Executed):

[code]

### Balance:

<img width="1648" alt="image" src="https://user-images.githubusercontent.com/9252017/1879553

[2022-09-01 15:43] oleksanderkorn commented on #3452
## Quit and unstake the Lead Worker

<img width="1660" alt="image" src="https://user-images.githubusercontent.com/9252017/187955567-cbf54110-b4ab-4344-a8d2-52d475a52b21.png">

<img width="929" alt="image" src="https://user-images.githubusercontent.com/9252017/187955807-f070e17a-53c1-4709-b841-c5f62cd9cc14.png">

<img width="930" alt="image" src="https://user-images.githubusercontent.com/9252017/18

[2022-09-01 18:06] adovrodion commented on #2444
Bounty was created: https://dao.joystream.org/#/bounty/preview/390

[2022-09-02 07:19] polikosi commented on #3581
@thesan Hi,I can't claim vested joy (Bob acc)
![image](https://user-images.githubusercontent.com/80429191/188080236-705d53c6-ad57-4292-b7b7-cdf69d3e1484.png)

![image](https://user-images.githubusercontent.com/80429191/188080145-a3c4822d-344b-47a5-a34d-00e325f79765.png)

[2022-09-02 08:59] dmtrjsg opened #3591 "[USERSNAP] can't recover balances from my profile"
**Taken at**: https://dao.joystream.org/#/profile
**Fields**:
- Houston, we have a problem.: can&#39;t recover balances from my profile
- Comment: recover balance
- Link to polkadot block: ?

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/dd734c09-1180-4aea-8258-31e211cb37bd-annotated_521eed09-f122-4ee5-a07e-9754ad969869.png?etag=8a77

[2022-09-05 11:36] singulart commented on #2715
Assigned to @mkbeefcake

[2022-09-05 12:23] adovrodion commented on #3382
Bounty was created: https://dao.joystream.org/#/bounty/preview/431

[2022-09-05 13:00] thesan commented on #3581
@polikosi Bob not being able to recover the fund is expected because unlike the invitation lock, the vesting lock doesn't allow you to pay for transaction fees anymore. On `wss://54.172.204.195.nip.io/ws-rpc` Bob only has 10,000tJOY of vested fund and nothing more to afford transaction fees.

That being said, Pioneer should be clearer about what is going wrong. You shouldn't be able to start a tra

[2022-09-05 13:14] thesan opened #3592 "Don't send transactions if fees can't be afforded"
## Scope
* [x] Report "Inability to pay some fees" errors in the UI
* [x] Don't proceed to transactions if the fees are too high

## Example
On `wss://54.172.204.195.nip.io/ws-rpc` Bob has 10,000tJOY of vested fund but nothing else to pay for the transaction fees needed to claim them. Despite this Pioneer still allow the transaction to be started and doesn't even report the failure reason.

balanc

[2022-09-05 15:30] polikosi commented on #3581
**Staking**

- Council candidate stake (council::announce_candidacy)
![image](https://user-images.githubusercontent.com/80429191/188465147-13d3d8e7-57ba-47fa-8aee-fb6de82f2df3.png)
https://polkadot.js.org/apps/?rpc=wss://54.172.204.195.nip.io/ws-rpc#/explorer/query/0x53377f9c70cc9878f10dc04c7516f9b7eff471f75e5ca776e714bb9fcac78c3c

- Staking account candidate stake (membership::add_staking_account

[2022-09-06 04:35] mochet opened #3594 "Idea: Governance / Forum RSS feeds"
SSIA

[2022-09-07 10:48] WRadoslaw opened #3596 "Update membership modal doesn't show success modal"
## Context
Update membership modal doesn't show success modal, because it's mounted conditionally with `useState`, but button itself gets remounted on query update/tx success and it defaults to `false` when it happends, hiding the modal.

## Scope
- [ ] Transfer UpdateMembershipModal to the GlobalModals should be enough to fix this

[2022-09-07 11:26] thesan commented on #2715
Sorry for being late on this one.
The current behaviour is not accounting for abstentions votes, but apart from that it is mostly correct.

TLDR: IMO the scope should be:
- [ ] Make the quorum `total - abstain` instead of just `total`
- [ ] Add `abstain` to [the story](https://pioneer-2-storybook.vercel.app/?path=/story/proposals-proposalpreview-proposalstatistics--default)
- [ ] Maybe improve the

[2022-09-07 15:38] mkbeefcake commented on #2715
Hello @thesan

do you have discord id? i hope to discuss this via chat more.

[2022-09-07 19:56] adovrodion commented on #2596
Bounty link: https://dao.joystream.org/#/bounty/preview/476

[2022-09-07 23:55] freakstatic commented on #3411
# WIP

Network: wss://atlas-next.joystream.org/ws-rpc

## Check if the Lead can perform all actions without being in any group

### Lead Channel Actions

Trying to delete a channel without being a owner fails which I think it was expected but I'm not sure why it exists the "curator" context :thinking:
  `yarn run joystream-cli content:deleteChannel -c 18` or `yarn run joystream-cli content:deleteC

[2022-09-08 17:15] singulart commented on #2715
@thesan an extensive piece of research in here ☝🏻 please give a reply whenever you got a minute.

[2022-09-09 10:26] thesan commented on #2715
I just contacted you there.

As I mentioned earlier:

You can see this in 2 places in the Rust code:
Here for early rejection:
![image](https://user-images.githubusercontent.com/6571453/189326962-e1211a84-5c4d-453a-a596-528e435e9795.png)
And here it's the last fallback when the vote ends
![image](https://user-images.githubusercontent.com/6571453/189327216-8f445108-98b2-421c-9d12-8a25147b55b1.png)

[2022-09-09 11:33] WRadoslaw commented on #1993
Handled in #2823

[2022-09-09 11:33] #1993 closed

[2022-09-09 17:37] ivanturlakov commented on #3568
Tested on https://polkadot.js.org/apps/?rpc=wss://54.172.204.195.nip.io/ws-rpc#/accounts

**Total issuance 20,000,169,880,920,933,415,342**
<img width="1064" alt="Снимок экрана 2022-09-09 в 19 59 48" src="https://user-images.githubusercontent.com/46903215/189403133-6e64f77f-2645-4ad5-8b9b-69295e1171ae.png">

**Alice balance 33,462.2680 JOY**
<img width="1011" alt="Снимок экрана 2022-09-09 в 19 58

[2022-09-09 19:11] singulart commented on #3125
In progress by @lucky-gru since Sep 7, 2022

[2022-09-09 21:21] mkbeefcake commented on #2715
Hello @thesan
I tried to update the source code, please check it again

[2022-09-10 11:23] Roglizer opened #3603 "cant scroll down"

[2022-09-10 11:24] #3603 closed

[2022-09-10 11:28] Roglizer opened #3604 "cant scroll down"
cant scroll down in the joystream app when trying to submit work or even when typing past a certain point it doesn't auto scroll you literally cant see what your typing anymore
[https://imgur.com/Rmngu4Q](url)
so your probably thinking oh just minimize the screen so yeah about that
[https://imgur.com/IUMpyfP](url)

[2022-09-11 17:05] freakstatic commented on #3411
Is still not possible to test the following points since permissions were moved to mainnet context
- [] Try all actions for each group, eg. delete, edit, censor channel and video, and verify what should be allowed is, and vice versa.

- [] Change the permissions for a group or two, and verify that the new permissions are in effect

[2022-09-12 08:17] dmtrjsg commented on #2936
@thesan pls add the comments on how to set up / test the endpoint on where the report goes.

[2022-09-12 09:37] dmtrjsg commented on #3578
⚠️ 🔁   Retest is required for fixed bloat bonds:

For the account where 100% balance consists of invitation lock:
- [ ] Create thread
- [ ] Create post
- [ ] Edit post

[2022-09-12 11:01] ivanturlakov commented on #3578
Retested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://54.172.204.195.nip.io/network/config.json

**Used freshly created account where 100% balance consists of invitation lock**

✅ **Forum thread deposit (forum::create_thread)**
https://dao-git-carthage-joystream.vercel.app/#/forum/thread/3
Successful transaction: Withdraw, Withdraw, Deposit, NewAccount, Endowe

[2022-09-13 08:37] dmtrjsg commented on #3581
@polikosi

Thanks for the effort 💪 great stuff!

After reviewing a few tx error codes with the team we wanted to ask you to provide some info on one case, and retest the other one, as evidence was insufficient:

1. ☝️ Gifted member balances: please provide the handle to the extrinsic, as the error code meant the field was left empty, but required..
2. Fees not supported: no evidence was provided,

[2022-09-13 12:22] polikosi commented on #3581
Transferable balance = 0
![image](https://user-images.githubusercontent.com/80429191/189884071-e9eac799-250d-4f1c-8029-d18596d5e541.png)

- Gifted member balances (membership::gift_membership)
![image](https://user-images.githubusercontent.com/80429191/189885048-cb7c0f4c-15e9-42b2-9f63-aac212a2d3f4.png)

- Standard transaction fees
I can't transfer a joy
![image](https://user-images.githubusercont

[2022-09-13 12:45] dmtrjsg commented on #3581
@polikosi nice work, thanks a mil! Closing as completed ✅

[2022-09-13 12:45] #3581 closed

[2022-09-13 14:48] dmtrjsg opened #3609 "Refetch QN after Reveal Vote"
SSIA

[2022-09-13 15:16] dmtrjsg commented on #3515
1️⃣ ✅  Proposal Lock Prevents from Staking as Nominator:

<img width="432" alt="Screenshot 2022-09-13 at 18 52 52" src="https://user-images.githubusercontent.com/93924525/189935814-bbfd5850-2057-426f-beec-fbaff844d672.png">

<img width="1294" alt="Screenshot 2022-09-13 at 18 52 26" src="https://user-images.githubusercontent.com/93924525/189936007-88ac1a4f-69e7-42d2-99f5-738bd2c8d21b.png">

2️⃣  Pr

[2022-09-14 07:48] dmtrjsg commented on #2204
Thank you for the input, sending to design backlog to be addressed next week.

cc @toiletgranny

[2022-09-14 08:05] dmtrjsg opened #3610 "Update documentation for Stash Accounts"
@thesan

- [ ] Adding stash accounts to Pioneer Playgrounds
- [ ] Adding well known accounts (Alice, Bob, Charlie, Dave)

Out of scope:
- Treasury and Sudo accs set up as not needed for Local Envs

[2022-09-15 08:16] dmtrjsg commented on #2032
DIscussed and added:
1. Hide empty results form search results (e.g. if hyperlink is empty, don;t show this udner the members component)
2.  Add Search by Membership ID, Add by Account number.
3. Icons for Membership ID and Account to be added.

[2022-09-15 11:49] gyroflaw commented on #3266
Please assign this task to me.

[2022-09-15 12:52] dmtrjsg commented on #2715
Thanks all for looking into this issue and bringing the rust conditions up to the ticket. Makes it easy to take it forward.

I think the best would be to drive it by design team, so we solve this key part once and for good.

Few thoughts of the top of my head as I believe we should:
- Add abstention bar as this is a key part of calculating the thresholds
- Add explainer that unless both thresholds

[2022-09-16 07:48] dmtrjsg opened #3612 "Lock is displayed as unrecovered in Pioneer"
## Scope

- [ ] The problem is that when you vote again with that account the button "Recover lock" will re-appear on the past vote!

⚠️ HOTIFX is applied on PRODUCTION. But this would not be needed for Carthage, however needs to be tested on Carthage branch and validated!

## Context

Reported here: https://discord.com/channels/811216481340751934/812345044094156811/1020230767902736454

The Past V

[2022-09-16 07:50] dmtrjsg opened #3613 "One of the candidates was not elected from top 5 votes"
## Scope
* [ ] Review the underlying problem and try to fix it if it lies on Pioneer side
* [ ] Raise a corresponding runtime bug if its not

## Context
Reported here: https://discord.com/channels/811216481340751934/812345044094156811/1020232217261252608

Problem:

Votes not reflected in the App

![Screenshot 2022-09-16 at 11.48.54.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31

[2022-09-16 09:34] dmtrjsg commented on #3604
Thank you for reporting, acknowledged.. @Roglizer does that prevent you from proceeding with the flow?

We are deprecating Bounties module with Carthage release soon, so unlikely to be fixed. Do you experience this in other modals as well?

[2022-09-16 09:38] dmtrjsg commented on #3470
THe aggregation right now happens on the client and there is a limit of 500 results. Searching for 2 characters would not bring the good results, but we can remove this check..

Suggest to add a message "Minimum of three characters is required"

[2022-09-16 09:40] dmtrjsg commented on #3604
@Roglizer we cannot reproduce and think that maybe one of your browser extenstions is messing with the CSS.

[2022-09-16 09:40] #3604 closed

[2022-09-16 14:04] dmtrjsg commented on #3411
Thanks @freakstatic for pushing it to the realms of possibilities of testing on the curtent version. For now suggesting to close this as completed as we will still need to test curators for Mainnet release, also inclusive some of the new runtime changes for this topic.

Same comment [added to discord](https://discord.com/channels/811216481340751934/812344874099277824/1020334020552306768)

[2022-09-16 14:04] #3411 closed

[2022-09-16 18:53] mochet commented on #3613
@dmtrjsg this was already a known issue and the solution was coded and put into carthage relase: https://github.com/Joystream/joystream/issues/3530

[2022-09-18 21:46] adovrodion opened #3615 "Bounty does not display information"
https://dao.joystream.org/#/bounty/preview/640
I pointed out that the bounty had no winner and gave the reason (the work was copied). On the bounty page the reason is not displayed.
You'd think oracle just forgot to judge the bounty...

Maybe the page should show a Rationale window like successful bounties?
Example:
![image](https://user-images.githubusercontent.com/84832436/190929242-539b45a1-48f

[2022-09-19 07:49] dmtrjsg commented on #3615
Yes certainly makes sense @adovrodion.. We are nearing Carthage release where Bounties will be deprecated, so adding this to icebox for the time being..

[2022-09-19 08:19] dmtrjsg commented on #3612
Seems like a QN issue the state of the lock received from QN (stake recovered=false).
@thesan to have a look.

[2022-09-19 08:21] dmtrjsg commented on #3612
Pioneer can get this info from the extension, so to be refactored to get from there instead of QN.

[2022-09-19 09:16] thesan commented on #3613
The runtime was fixed here: https://github.com/Joystream/joystream/pull/3797

But Pioneer should also order the candidates by voting power first then by votes number second, in the revealing stage and the past elections

[2022-09-19 17:10] WRadoslaw commented on #3591
@dmtrjsg OK, as I see it, the problem is that we display CTA to recover lock which in the case of worker locks is not correct. Stake for application/worker will be recovered at the time of:
- for application at the time of withdrawal
- for worker, after leaving the role and passing the `leaving unstaking period`.

The fix will be:
- less time to implement - remove button and inform the user about

[2022-09-20 08:05] dmtrjsg commented on #3591
Thank you sir for looking into it 🎩.. let's go with Remove button and inform the user via Tooltip.

Copy

"Stake for WG role application and active role participation as worker or lead will be recovered at the time of:
for application - at the time of withdrawal.
for active role -  after leaving the role and elapsed leaving un-staking period."

[2022-09-20 08:10] dmtrjsg commented on #3609
Raised on carthage..

[2022-09-20 11:31] #3453 closed

[2022-09-20 11:31] #3492 closed

[2022-09-20 13:12] #3564 closed

[2022-09-20 13:16] #3566 closed

[2022-09-20 13:16] #3533 closed

[2022-09-20 13:16] #3596 closed

[2022-09-20 13:19] #3523 closed

[2022-09-20 13:24] #3482 closed

[2022-09-20 13:26] #3452 closed

[2022-09-20 13:26] #3578 closed

[2022-09-20 13:26] #3577 closed

[2022-09-20 13:26] #3568 closed

[2022-09-21 06:22] dmtrjsg commented on #3591
After brief chat with Radek, decided to override the tooltip with the "recoverable after.." ETA, similar to this design:
<img width="344" alt="Screenshot 2022-09-21 at 09 21 50" src="https://user-images.githubusercontent.com/93924525/191429300-22eec14d-eb7f-4714-a8ee-4b001f8f5783.png">

[2022-09-21 10:39] #3390 closed

[2022-09-21 10:43] dmtrjsg commented on #2204
## Research

#### Mapping the modals

1. Transfer

<img width="614" alt="Screenshot 2022-09-21 at 10 22 06" src="https://user-images.githubusercontent.com/93924525/191484409-39d65e00-756f-4ac2-abd9-f732170ec173.png">

2. Council Candidate

3. Recover Lock

<img width="656" alt="Screenshot 2022-09-21 at 10 17 38" src="https://user-images.githubusercontent.com/93924525/191484394-efab5821-a623-441e-b

[2022-09-21 11:14] dmtrjsg opened #3619 "Show ETA on council candidate"
![Screenshot 2022-09-21 at 13.54.48.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/1640a134-f157-476e-8ee0-1d8d55eb7f06)

[2022-09-21 11:53] polikosi commented on #2823
Verified on wss://54.172.154.45.nip.io/ws-rpc

The design is slightly different than expected which is provided in figma
Actual:
![image](https://user-images.githubusercontent.com/80429191/191495733-32da4076-e653-4771-b886-80570f1b7150.png)

Expected:
![image](https://user-images.githubusercontent.com/80429191/191495579-74a3e240-75bc-4ff7-a52a-75c78577c817.png)

As for me, it is not necessary to m

[2022-09-21 12:15] dmtrjsg opened #3620 "Show TX Progress Modal for New Memberships Creation"
## Context
https://www.loom.com/share/b107a31234ae4abd85740495c33e7dc3

## Scope
- Show TX progress modal for New Memberships creation flow via Faucet

[2022-09-21 13:26] dmtrjsg opened #3621 "Unable to cover tx fees with invitation lock"
Unable to pay for tx fees with invitation lock

![Screenshot 2022-09-21 at 16.21.08.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/815a03b8-f918-4238-93b6-54996342d27e)

![Screenshot 2022-09-21 at 16.21.04.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/b7dbcbff-1a1f-4fc7-848f-d8896fb7c903)

:warning:  Tested on wss://3.92.226.32.nip.io/ws-rpc

┆Issue is sync

[2022-09-21 13:30] dmtrjsg commented on #3621
Unable to test on 54.172.154.45

[2022-09-22 10:19] dmtrjsg commented on #3612
Needs to be tested on Carthage with the updated QN.

The problem is that when you vote again with that account the button "Recover lock" will re-appear on the past vote!

[2022-09-22 10:44] ivanturlakov commented on #3365
Tested on https://dao-git-carthage-joystream.vercel.app/#/

**Logo (link to /working-groups)**
<img width="508" alt="Снимок экрана 2022-09-22 в 13 35 11" src="https://user-images.githubusercontent.com/46903215/191725229-aa58a83f-2ea0-4e55-af6d-c6b0c9de2ec0.png">

**Footer info (link to https://www.joystream.org/ & https://github.com/Joystream/pioneer in a new browser tab.)**
<img width="225" alt="

[2022-09-22 13:53] dmtrjsg opened #3626 "Transfer full amount"
## Context

![Screenshot 2022-09-22 at 16.49.54.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/eb49ace4-06e7-48bb-9044-dfd667e8bedf)

## Scope

- Update validation on transferring all tokens if manual input. Copy "Insufficient funds to cover tx fees, adjust the transferable amount."

Out of scope:
- Add MAX button for transafers (that populates the fees with full transferable b

[2022-09-22 17:10] ivanturlakov commented on #3569
Tested on https://dao-git-carthage-joystream.vercel.app/#/proposals

With a stable Internet connection, the validation process is very fast and the spinner does not show up. In order to see it, I disconnected from the network at a certain point. If the test doesn't fit, please let me know how to do it.

https://user-images.githubusercontent.com/46903215/191809563-7df1be24-5840-4352-9d63-9fb69ebe77

[2022-09-22 17:47] dmtrjsg commented on #3569
 For the future this may help to test similar cases (like loading states for example which are in the pipeline)

<img width="553" alt="Screenshot 2022-09-22 at 20 46 21" src="https://user-images.githubusercontent.com/93924525/191816296-6b639ca7-edfe-4812-8fff-5adfd7e9c97c.png">

<img width="622" alt="Screenshot 2022-09-22 at 20 46 15" src="https://user-images.githubusercontent.com/93924525/1918163

[2022-09-22 21:30] adovrodion opened #3627 "The bounty itself ended prematurely"
https://dao.joystream.org/#/bounty/preview/648
The bounty itself ended prematurely. I think it was because of a problem with QN, which was.

![image](https://user-images.githubusercontent.com/84832436/191854516-fbb9af2a-9f16-431d-ac94-6cd565a75f12.png)
After that, I can't Withdraw Contribution.
https://polkadot.js.org/apps/?rpc=wss://rpc.joystream.org:9944#/explorer/query/0xd06873a16a7b502da9770e0

[2022-09-23 07:12] dmtrjsg commented on #1977
@WRadoslaw deleting case spotted malfunctioning..

[2022-09-23 08:26] dmtrjsg commented on #2204
Parking the broader problem of UX optimisation here till later time.. for now agreed to

1. Remove chevron selector from accounts in all modals. Show account as not greyed out.
2. Keep the account selector on the create membership modal
3. Show total balance instead of transferable balance on all accounts signing modals. This will help avoid extra explanation that Invitation balance is used for TX

[2022-09-23 08:53] dmtrjsg commented on #2001
Lighter version was done in
- #2936

Adding the full version to backlog

[2022-09-23 08:55] dmtrjsg commented on #2002
The sentiment of migrating to Subsquid has changed since more incompatibilities and risks were discovered by the runtime team. Adding this issue to icebox.

[2022-09-23 08:59] dmtrjsg commented on #2897
should be fixed as we've done refactoring of the modal..

[2022-09-23 08:59] #2897 closed

[2022-09-23 17:10] ivanturlakov commented on #2936
Tested on https://dao-git-carthage-joystream.vercel.app
wss://54.172.154.45.nip.io/ws-rpc

### Candidacy profile preview
<img width="531" alt="Снимок экрана 2022-09-23 в 16 04 20" src="https://user-images.githubusercontent.com/46903215/192010908-7c81d52a-e959-43b3-83ca-be6d01f5f041.png">

### Candidacy profile > Report
<img width="537" alt="Снимок экрана 2022-09-23 в 16 15 15" src="https://user-im

[2022-09-23 17:22] thesan commented on #2936
@ivanturlakov thank you.
Both images appeared on the table:
![image](https://user-images.githubusercontent.com/6571453/192019952-805285de-7cc7-480e-acbd-7b4c78bb961c.png)

I approved (i.e blacklisted) them and started the redeployment

[2022-09-23 17:48] singulart commented on #3125
Moved back to To-Do

[2022-09-23 17:51] singulart commented on #2832
Assigned to @mkblockchaindev on Sep 14th.

[2022-09-23 17:56] ivanturlakov commented on #2936
@thesan thanks! blacklisted imgs removed

### Forum post
<img width="721" alt="Снимок экрана 2022-09-23 в 20 44 25" src="https://user-images.githubusercontent.com/46903215/192027057-8cdaeec1-8858-466b-bbae-f81f6d855d2f.png">

### Candidate profile
<img width="1146" alt="Снимок экрана 2022-09-23 в 20 43 55" src="https://user-images.githubusercontent.com/46903215/192027297-91d4ad38-5a64-4c82-b296-83

[2022-09-23 18:14] singulart commented on #3163
Moved back to To-Do

[2022-09-24 07:33] gyroflaw commented on #3266
Hi @singulart , I reproduce the process, but the error you mentioned wasn't occurred, please check https://www.loom.com/share/29e3ce8f7769472998be641938aa23bf.

[2022-09-25 07:59] singulart commented on #3266
@gyroflaw I think you need to check this with **two** different use accounts!

[2022-09-25 13:18] polikosi commented on #3321
✅Captcha
![image](https://user-images.githubusercontent.com/80429191/192145327-348aa7a5-bdb3-49fa-926f-1806817c0696.png)
![image](https://user-images.githubusercontent.com/80429191/192145386-3aa767fd-d30c-4ffd-9643-5d8d8e31e015.png)

✅Message about tJoy
![image](https://user-images.githubusercontent.com/80429191/192145426-00b91b57-9061-4b74-8a69-b988711f0cb1.png)

[2022-09-25 13:34] polikosi commented on #3592
✅
Notification of insufficient funds in the account.
The button is not clickable, the transaction cannot be completed
![image](https://user-images.githubusercontent.com/80429191/192145981-c5712fd9-56f0-42f1-b26e-2d3d7961e8b5.png)

[2022-09-25 13:50] polikosi commented on #3387
⚠️there is no founding member yet
![image](https://user-images.githubusercontent.com/80429191/192146458-e6c8d017-a884-47b6-9ceb-6d7d7ad96594.png)
✅Council members
![image](https://user-images.githubusercontent.com/80429191/192146823-e33af809-3e4a-4957-a119-ade135882bd0.png)
✅Filter filter by council members and founding members
![image](https://user-images.githubusercontent.com/80429191/192146977-

[2022-09-25 13:56] polikosi commented on #3620
✅Show TX progress modal for New Memberships creation flow via Faucet
![image](https://user-images.githubusercontent.com/80429191/192147328-57712214-3ed0-4c98-8360-64cdafdfb21a.png)

[2022-09-25 16:46] gyroflaw commented on #3266
I just created PR, please check https://github.com/Joystream/pioneer/pull/3630
@singulart

[2022-09-25 20:41] mkbeefcake commented on #2832
Solved the issue on QN node for this.
https://github.com/Joystream/joystream/pull/4309

[2022-09-26 08:36] thesan commented on #3621
Detailed in #3626

[2022-09-26 08:36] #3621 closed

[2022-09-26 11:58] ivanturlakov commented on #2738
Tested on https://dao-git-carthage-joystream.vercel.app/#/settings
Network: wss://3.92.226.32.nip.io/ws-rpc

@WRadoslaw Pls let me know what conditions need to see this red dot.
<img width="289" alt="Снимок экрана 2022-09-26 в 14 45 50" src="https://user-images.githubusercontent.com/46903215/192269458-ea4c4e53-aa91-44f8-a488-b15234ac52e9.png">

Here I am manually disconnected my wifi at the final

[2022-09-26 12:17] WRadoslaw commented on #2738
Hey @ivanturlakov

1. Dot on modal is only displayed when QR indexer is far behind Noda head, which might result in slow performance
2. You didn't see a dot after disconnecting the wifi, bcs it covers only the case explained in point 1

[2022-09-26 12:53] ivanturlakov commented on #2738
@WRadoslaw thanks!

Caught this!
<img width="1440" alt="Снимок экрана 2022-09-26 в 15 49 44" src="https://user-images.githubusercontent.com/46903215/192281401-72971587-0666-421e-b7c3-5c9f30cea00c.png">

[2022-09-26 13:21] Goksel08 opened #3631 "Pioneer Forum Search Engine"
Pioneer Forum Search Engine is not making searches with author names and times. If you enter a existing author name and click search button, got get no results at all.

![Bug01](https://user-images.githubusercontent.com/114411882/192287276-a3c4302d-e7cc-4f5b-91d6-a04f1e67a0b4.png)
![Bug011](https://user-images.githubusercontent.com/114411882/192287326-c2378e7b-03d4-4e2b-81c7-7a327620bfb1.png)

[2022-09-26 13:29] Goksel08 opened #3632 "Missing Explanation Boxes"
* [ ] Recoverable balance is covered already in a diff issue
* [ ] Election round. "Ordinal number of the election round since the genesis block of the network. Learn more>" pointing to https://joystream.gitbook.io/testnet-workspace/system/council#election
* [ ] Minimal stake. "Minimum tokens required to be free from rivalrous locks to be able to stake for the application to this role. Learn more>

[2022-09-26 13:32] Goksel08 opened #3633 "Bounty Search Engine"
Bounty Search Engine doesn't work and displays noting even if you chose existing bounties and words in it.
![Bug03](https://user-images.githubusercontent.com/114411882/192289952-403d49a8-9a0e-4d1c-aa8b-ec6bea344b1c.png)
![Bug031](https://user-images.githubusercontent.com/114411882/192289974-6d5c2a97-fa36-4895-a2b5-7ec0237ceca7.png)
![Bug032](https://user-images.githubusercontent.com/114411882/1922

[2022-09-26 20:22] adovrodion commented on #3471
Bounty was created: https://dao.joystream.org/#/bounty/preview/685

[2022-09-27 07:53] adovrodion commented on #3627
The same situation: https://dao.joystream.org/#/bounty/preview/647
We seem to have a problem with the bounty... In the evening the meter had more than 24 hours left. By morning the bounty was over... And I can't get my contribution back.
![image](https://user-images.githubusercontent.com/84832436/192466878-6e1e4bd9-f0ec-4e45-b5bd-4852911365a7.png)
https://polkadot.js.org/apps/?rpc=wss://rpc.joystr

[2022-09-27 08:05] dmtrjsg commented on #3609
⚠️  Not to waste time you can test it with ⚠️
- #2204

[2022-09-27 09:43] dmtrjsg commented on #1977
@ivanturlakov ready to retest

[2022-09-27 09:50] dmtrjsg commented on #3633
@Goksel08 thank you for raising it! While the issue is important, we're planning to temporarily deprecate bounties module in the Carthage release, so adding this to the backlog for future consideration once this module is worked on again.

[2022-09-27 09:51] dmtrjsg commented on #3632
@Goksel08 nice, thank you for raising, will be addressed after Carthage release and before the mainnet 👍

[2022-09-27 09:55] dmtrjsg commented on #3627
@adovrodion is it possible to get the contributions back via polkadot.js app?

☝️  Please bear in mind we are deprecating the entire bounties module for the Carthage release. Bounties will be then added on runtime level for mainnet or after, with Pioneer to follow later.

[2022-09-27 10:53] ivanturlakov commented on #1977
✅ Retested on https://dao-git-carthage-joystream.vercel.app/#/network-config=https://3.92.226.32.nip.io/network/config.json

https://user-images.githubusercontent.com/46903215/192506875-c229c5e5-2d2d-4c11-908f-e78f959d591a.mov

[2022-09-27 14:44] adovrodion commented on #3627
@dmtrjsg Funds are not refundable.
![image](https://user-images.githubusercontent.com/84832436/192558049-62cf871d-43e8-455b-b808-db42186990c6.png)
signAndSend: status :: {"events":[],"internalError":{},"status":{"inBlock":"0x4b4419705e47cab73c71439bc299f3e2b03f6214c2d04572c9b65d707251b1c7"},"txHash":"0xcbc647857375f224997c405da2e20e70663ea7b2ce6a76f2c980959582f57fe0"}

I understand that the bounty

[2022-09-27 19:54] oleksanderkorn commented on #3470
@dmtrjsg when and where should we show the validation message?

[2022-09-28 09:58] dmtrjsg opened #3636 "Pioneer "Under Maintenance" Screen"
## Context

## Scope

- Implement the placeholder image for maintenance "mode" to be put on during carthage network staggered rollout.
- Link to [Figma>](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=11193%3A434407) (one on the right)
- ⚠️ Copy upd:
"Pioneer is currently undergoing maintenance work to ensure sync up with the updated version of runtime and new features re

[2022-09-28 10:19] singulart commented on #3125
in progress by mkblockchaindev since Sep 27th

[2022-09-28 12:47] singulart commented on #3125
Query executed:

[code]

[2022-09-28 13:29] #3515 closed

[2022-09-29 09:53] ivanturlakov commented on #3299
Tested on https://dao-git-carthage-joystream.vercel.app/
wss://3.92.226.32.nip.io/ws-rpc

https://user-images.githubusercontent.com/46903215/193000884-062b1068-cdc7-41cb-8460-7b7b106ce2c4.mov

[2022-09-29 13:15] WRadoslaw opened #3642 "Forum: Watchlist tab"
Prepare watchlist screen based on the My Thread tab implementation

(Part of https://github.com/Joystream/pioneer/issues/3029)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1203073054886860) by [Unito](https://www.unito.io)

[2022-09-30 05:48] singulart commented on #3316
Assigned to newjoiner The Muscle#4068

[2022-09-30 11:50] WRadoslaw opened #3646 "Forum - Archived Tab"
(Part of https://github.com/Joystream/pioneer/issues/3029)

[2022-09-30 14:22] dmtrjsg opened #3647 "[feature request] Search Button"
**Taken at**: https://dao.joystream.org/#/working-groups
**Fields**:
- Which feature are you missing?: Search Button
- What problem would that solve for you?: We can use a search button on the main page
- Share your Github or Discord so we can get in touch: Ömer_ÖzdemirTR#5183

**Browser**: Opera 90 (Windows 10)
**Screen size**: 1536x864
**[Open #24 in Usersnap](https://app.usersnap.com/l/feedback

[2022-09-30 15:08] dmtrjsg opened #3648 "[USERSNAP] test"
**Taken at**: https://dao.joystream.org/#/working-groups
**Fields**:
- Houston, we have a problem.: test
- Comment: test
- Feedback: test

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/067a9afe-1301-4829-8530-8e51a63928f9-annotated_e08fbd2a-f1b1-4ac5-92c2-1c26b617d6e8.png?etag=845a1261c715dfe375a2b6979ec7e4b0)
*[Download original ima

[2022-10-02 15:23] thesan commented on #2365
See https://github.com/Joystream/joystream/issues/4333 for the validation

[2022-10-03 09:11] toiletgranny commented on #3636
@dmtrjsg I cooked up two options for you to choose from, with my recommendation being the first one, with the illustration on the top. Let me know if there's something else you'd like to explore.

https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-Design?node-id=11193%3A433937

Since you mentioned the rollout might take a few days, I thought we could also include a link to Discord, not to l

[2022-10-03 10:24] polikosi commented on #2948
⚠️the "My Profile" tab is not hidden in any case
tested here - wss://3.92.226.32.nip.io/ws-rpc

**1. Wallet not connected**
Pages:

- My accounts
![image](https://user-images.githubusercontent.com/80429191/193552613-ec8b87cf-1881-42b2-ae5f-65d65e358fdb.png)

- My meberships
![image](https://user-images.githubusercontent.com/80429191/193552659-d9d20de0-62c7-4b68-a539-9e7a0019dfbb.png)

**2. Wallet

[2022-10-03 14:15] dmtrjsg opened #3650 "Show election link points to 404"
## Context

Was raised in this issue
- https://github.com/Joystream/pioneer/issues/3612#issuecomment-1259501493

![Screenshot 2022-10-03 at 18.14.30.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/a487c114-d7c1-4724-82c3-071cec2ad17b)

![Screenshot 2022-10-03 at 18.14.25.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/a55271a6-7e1a-436d-83cb-9bdb7e287680)

##

[2022-10-03 14:20] dmtrjsg commented on #3299
@ivanturlakov sorry to hear that, pls try here: https://44.201.112.198.nip.io/network/config.json

[2022-10-03 14:24] dmtrjsg commented on #3321
@polikosi this is an issue for `Pioneer` .. So pls try to test the same on this instance> https://dao-git-carthage-joystream.vercel.app/#/working-groups

If you need the fresh env, you could use this one> https://44.201.112.198.nip.io/network/config.json

[2022-10-03 14:27] dmtrjsg commented on #3612
The failing scenario is raised in a separate issue

[2022-10-03 14:28] #3612 closed

[2022-10-03 14:28] #2948 closed

[2022-10-03 14:28] #3569 closed

[2022-10-03 14:28] #1977 closed

[2022-10-03 14:29] #2823 closed

[2022-10-03 14:29] #3592 closed

[2022-10-03 14:29] #3387 closed

[2022-10-03 14:30] #3648 closed

[2022-10-03 16:53] ivanturlakov commented on #3299
@dmtrjsg same results on https://pioneer-2.vercel.app/

[2022-10-03 17:20] thesan opened #3651 "Forum UX Upd: duplicated component"
## Context
Currently the codebase has 2 category cards:
- [`CategoryCard`](https://pioneer-2-storybook.vercel.app/?path=/story/forum-facelift-categorycard--default): Looks good but has no props so far
- [`CategoryListItem`](https://pioneer-2-storybook.vercel.app/?path=/story/forum-categories-categorylistitem--default): Functional but it is missing the subcategory on hover feature. Also AFAICS the

[2022-10-04 07:34] dmtrjsg opened #3652 "[USERSNAP] I can't get my vote back"
**Taken at**: https://dao.joystream.org/#/election/past-votes
**Fields**:
- Houston, we have a problem.: I can&#39;t get my vote back
- Comment: &#34;vote which was devoted to a winner can only be freed after the announcing period of the next election begins&#34; - https://joystream.gitbook.io/testnet-workspace/system/council#voting
- Link to polkadot block: https://polkadot.js.org/apps/?rpc=wss:/

[2022-10-04 12:54] dmtrjsg commented on #3652
@WRadoslaw was this already fixed in Carthage?

[2022-10-04 15:11] ivanturlakov commented on #3443
Tested on https://dao-git-staging-joystream.vercel.app/
wss://34.235.154.53.nip.io/ws-rpc

### ✅ Announcing period
<img width="1189" alt="Снимок экрана 2022-10-04 в 17 27 45" src="https://user-images.githubusercontent.com/46903215/193854652-d2f1d672-5543-4069-82f5-73c58b7eda00.png">
<img width="1183" alt="Снимок экрана 2022-10-04 в 17 39 08" src="https://user-images.githubusercontent.com/46903215/

[2022-10-05 06:48] dmtrjsg opened #3656 "Checkly instrumentation for Pioneer"
## Context

- https://github.com/Joystream/atlas/issues/3297
- https://github.com/joystream/atlas/issues/3304

## Scope

- [x] Set up Checkly for Pioneer monitoring

[2022-10-05 08:27] dmtrjsg commented on #3652
The problem is that the vote is recovered, but this screen does not show it as such (due to QN bug, that should already be fixed on Carthage). The best way to verify the lock in the meantime is from my profile > accounts> locks.

[2022-10-05 08:27] #3652 closed

[2022-10-05 09:31] kdembler opened #3657 "Downscale images before uploading to Atlas Avatar Service"
AFAIK, currently when user creates a membership in Pioneer, they are asked to provide a file for their avatar and that file is uploaded to Atlas Avatar Service without any modification. However, it would be beneficial to first downscale that image to some reasonable size to ensure images don't get too big. Let's use the same params as Atlas uses: 192x192, webp format.

For reference, here's an art

[2022-10-05 09:45] dmtrjsg commented on #3647
This would be addressed with the Overview dashboard, that has been parked for the time being but will be revived in the future.

#3030

[2022-10-05 09:45] #3647 closed

[2022-10-05 09:48] dmtrjsg opened #3658 "Web App Load Speed Review"
## Context

Checkly onboarding runs misc performance checks for Pioneer app. Some of the ones below were identified to fall into the yellow and red zone.

## Scope

Review and advise on feasibility and scope of improving the following metrics:

[Total Blocking Time](https://www.checklyhq.com/docs/browser-checks/tracing-web-vitals/#total-blocking-time)

![Screenshot 2022-10-05 at 13.43.57.png](http

[2022-10-05 09:49] dmtrjsg commented on #3658
Related issue:
https://github.com/joystream/atlas/issues/3306

[2022-10-05 11:04] ivanturlakov commented on #3609
Tested on https://dao-git-carthage-joystream.vercel.app/#/election
wss://3.92.226.32.nip.io/ws-rpc
wss://54.172.154.45.nip.io/ws-rpc

@dmtrjsg @thesan

Can't vote for a candidate to proceed and test QN updating.

https://user-images.githubusercontent.com/46903215/194045212-aa01f412-2be1-4774-8ea8-bd639b8afaaa.mov

The console didn't show any errors.

[2022-10-05 11:54] polikosi commented on #3471
verified here wss://44.201.112.198.nip.io/ws-rpc
✅
![image](https://user-images.githubusercontent.com/80429191/194054259-c0b4d898-21f3-4d4d-ab98-912302a92a3a.png)

[2022-10-05 12:08] polikosi opened #3659 "The "My profile, Working groups, Proposals and etc" extend beyond the sidebar"
The "My profile, Working groups, Proposals, etc." extend beyond the sidebar if I have a large account balance (like Alice)

Alice's account is not hidden
![image](https://user-images.githubusercontent.com/80429191/194055961-6f9e7e3e-2514-4af7-a099-bae9d821f507.png)

Alice's account is hidden
![image](https://user-images.githubusercontent.com/80429191/194056842-048009af-01d3-4911-bac7-ea1ab2dd425f.

[2022-10-05 12:14] thesan opened #3660 "Some voting/candidacy stakes migth be wrongfully locked"
## Context

`@/accounts/hooks/useRecoveryConditions` assumes that voting and candidacy locks always relate to the latest election. This assumption looks wrong. However it's strange that this was not reported earlier, so maybe there is more to it.

Also the current logic is kind of unintuitive. `useRecoveryConditions` is only called inside `LocksDetails` so `recoverable` and `nonRecoverable` can be

[2022-10-05 12:32] ivanturlakov commented on #2715
@dmtrjsg pls let me know the best endpoint to test it since this PR merged in staging where we have only one working env https://34.235.154.53.nip.io/network/config.json with one council seat

[2022-10-05 12:37] ivanturlakov commented on #2795
✅ Tested on https://dao-git-staging-joystream.vercel.app/#/election
wss://34.235.154.53.nip.io/ws-rpc

<img width="1177" alt="Снимок экрана 2022-10-05 в 15 34 45" src="https://user-images.githubusercontent.com/46903215/194061767-8d5ad2cf-30b7-421e-b802-fbe21782d2ab.png">

[2022-10-05 12:44] polikosi commented on #3347
verified wss://44.201.112.198.nip.io/ws-rpc

✅date and time added
![image](https://user-images.githubusercontent.com/80429191/194062631-4ea88035-7ccc-4282-a874-1cacde8b91c7.png)

[2022-10-05 13:00] polikosi opened #3661 "Creating new proposal > Specific parameters > search in the "Working Group" field"
## Scope
- [ ] consider UI name mapping for wg names inside search input.

Hint: Operations wg name

<img width="671" alt="Screenshot 2022-10-07 at 12 42 42" src="https://user-images.githubusercontent.com/93924525/194512194-b9ee0069-d918-455a-8b74-14bb9d2bb0d9.png">

## Context
https://user-images.githubusercontent.com/80429191/194066316-29626eb0-e86c-45ff-991b-5f764baeef1a.mp4

[2022-10-05 15:07] dmtrjsg opened #3662 "[USERSNAP] pioneer fails to pick up vote from QN"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:

* Houston, we have a problem.: pioneer fails to pick up vote from QN
* Comment: &gt; &#34;Processing transaction
&gt; Waiting for the query node to process the block.&#34;
Seems to take forever, user has to reload the page.

console shows
&gt; Successful transaction: VoteCast, ExtrinsicSuccess
&gt; on network: wss://rpc.joystream.org:

[2022-10-05 15:18] dmtrjsg commented on #3321
@thesan can you advise pls?

[2022-10-05 15:26] dmtrjsg commented on #3609
Looking into it, @WRadoslaw @thesan pls advise..

[2022-10-05 15:29] dmtrjsg commented on #3609
Hey @ivanturlakov thanks for raising, this is due to old config used. Can you pls try here [44.201.112.198.nip.io/network/config.json](http://44.201.112.198.nip.io/network/config.json)?

[2022-10-05 15:30] dmtrjsg commented on #3321
@polikosi  thanks for raising, looks like Faucet updates were not included into this one, can you pls try here [44.201.112.198.nip.io/network/config.json]?

[2022-10-05 15:36] dmtrjsg commented on #3609
@ivanturlakov can you pls try and test this on the new env: [44.201.112.198.nip.io](http://44.201.112.198.nip.io/)

If no errors that may be an old schema causing mapping issue on the qn side.

[2022-10-05 16:04] ivanturlakov commented on #3609
@dmtrjsg same problem on this env

[2022-10-05 16:18] dmtrjsg opened #3663 "[USERSNAP] `Recover` button does nothing"
**Taken at**: https://dao.joystream.org/#/profile
**Fields**:

* Houston, we have a problem.: `Recover` button does nothing
* Comment: Trying to recover application stakes. They are displayed on `My Profile`, the `Recover` is visible and enabled. Clicking on it seemingly has no effect.

The log shows no error.

* Feedback: l1dev

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4

[2022-10-05 16:42] ivanturlakov commented on #2794
✅ Tested on Staging

https://user-images.githubusercontent.com/46903215/194115206-baecc51a-7dcc-4df1-bcbe-4d82faeeb335.mov

[2022-10-05 16:49] bedeho opened #3664 "Talisman signer does not popup"
When I connect Talisman signer for the first time, one needs to enter the password and select the account, however, there is no popup that actually displays the wallet in this case, which will leave the user blocked, unable to make forward progress, and unaware that Talisman signer in a special signer authentication mode.

I am on Firefox Browser 105.0.1, OSX and Talisman v1.8.0.

┆Issue is synchr

[2022-10-05 17:08] dmtrjsg opened #3665 "[feature request] Withdraw application within pioneer"
**Taken at**: https://dao.joystream.org/#/working-groups/my-applications
**Fields**:

* Which feature are you missing?: Withdraw application within pioneer
* What problem would that solve for you?: Currently to withdraw an application (and recover funds) one has to use https://polkadot.js.org/apps/?rpc=wss://rpc.joystream.org:9944

User wants to withdraw an application on the `My Applications` tab

[2022-10-05 19:06] polikosi commented on #3165
✅ works as expected
![image](https://user-images.githubusercontent.com/80429191/194141382-04698a56-fc69-4538-a8ae-f41f34b207d1.png)

![image](https://user-images.githubusercontent.com/80429191/194141329-c1091f37-f9f7-4968-a6ae-d1954566d718.png)

[2022-10-05 19:12] polikosi commented on #3091
✅works as expected

![image](https://user-images.githubusercontent.com/80429191/194142938-ff4535de-dd46-484d-891e-da3187e23e45.png)

[2022-10-05 19:31] polikosi commented on #3321
Captcha
![image](https://user-images.githubusercontent.com/80429191/194145683-e657e480-8509-4200-909e-3bffc4fa4b2a.png)
![image](https://user-images.githubusercontent.com/80429191/194145845-3ee4890a-e2b5-4883-b817-823ad1bfc0ea.png)
Transaction Notification
![image](https://user-images.githubusercontent.com/80429191/194145911-4c1d2a43-caa7-4e5d-bb53-b052c2044765.png)

Notification of successful mem

[2022-10-05 19:38] polikosi commented on #2895
✅works as expected

before cancellation
![image](https://user-images.githubusercontent.com/80429191/194146922-49546663-3307-48bf-a0fa-8208a242437b.png)
after cancellation
![image](https://user-images.githubusercontent.com/80429191/194147008-863b03b3-fb3c-44a5-90e0-f40ca29cbe63.png)

[2022-10-05 19:40] polikosi commented on #3471
✅Everything is good. Works as expected
![image](https://user-images.githubusercontent.com/80429191/194147863-293609b9-67b0-46fb-9fdd-9d02dd7fddbf.png)

[2022-10-05 19:44] polikosi commented on #3619
✅ETA is showing

![image](https://user-images.githubusercontent.com/80429191/194148667-cfb1222f-52b1-4de4-a57e-39103fbe9d5d.png)

[2022-10-06 08:07] dmtrjsg commented on #2715
@ivanturlakov its fine, we can roll it out and double check on prod later, as there were so many reviews of the code already and it looks solid and the story book holds up, and they are using the same code. 👍

[2022-10-06 08:24] dmtrjsg commented on #3663
NB: Notice that all losing applications are still around in order to allow recovering stake later.

[2022-10-06 08:30] dmtrjsg commented on #3665
We will consider linking the recover stake to withdraw application. Will this be possible for the opening that was already filled?

[2022-10-06 08:40] bedeho commented on #3663
https://joystream.gitbook.io/testnet-workspace/system/working-groups#withdraw-application

[2022-10-06 09:41] dmtrjsg commented on #3321
ℹ️ Change the line to 'light' here> https://github.com/Joystream/pioneer/blob/ab7b03cd9b068e01e9f383b0a0c89dd9fd8d402e/packages/ui/src/memberships/modals/BuyMembershipModal/BuyMembershipFormModal.tsx#L230

[2022-10-06 11:23] ivanturlakov commented on #3508
Tested on https://dao-git-carthage-joystream.vercel.app/#/proposals
wss://44.201.112.198.nip.io/ws-rpc

### ✅ Proposals

https://user-images.githubusercontent.com/46903215/194294006-1c62356e-43af-44f2-a0c1-264a4cc8e584.mov

### ✅ Add New Proposal

https://user-images.githubusercontent.com/46903215/194295120-763bac6d-d12b-4711-a4f0-3377354c3a60.mov

✅ Profile
✅ Working Groups
✅ Council
✅ Election
✅

[2022-10-06 12:41] oleksanderkorn commented on #3470
@dmtrjsg agree

[2022-10-06 13:51] #3591 closed

[2022-10-06 13:53] dmtrjsg commented on #3508
⚠️  Proposals

@WRadoslaw on the proposals page there seems to be a residual loading spinner, that still shows after all of the data is loaded, can you pls have a look 👀

[2022-10-06 14:11] dmtrjsg commented on #3470
@oleksanderkorn pls re-upl the image :)

[2022-10-06 14:15] #3619 closed

[2022-10-06 14:23] #3471 closed

[2022-10-06 14:24] oleksanderkorn commented on #3470
done :)

[2022-10-06 14:55] #3321 closed

[2022-10-06 14:55] #2794 closed

[2022-10-06 14:55] #2833 closed

[2022-10-06 14:55] #3347 closed

[2022-10-06 14:55] #3443 closed

[2022-10-07 01:10] chrlschwb opened #3668 "WG openings application form - order of input data is different while viewing"
When a user applies for a WG role opening on pioneer, they get to select a staking account and create an application form.
The problem is that the input order of form questions gets jumbled after application submission.

Ex: If the first question is Name and second question in the form is birthday, the "My Applications" tab in "Working Groups" field, or the "Application Preview" option in the "My

[2022-10-07 07:07] dmtrjsg commented on #3668
I remember this was fixed, the problem was on the QN side, but I will confirm once we look into it.

[2022-10-07 08:06] dmtrjsg opened #3669 "Update Proposal Statistics Display to reflect the changes of Abstain counting towards Quorum"
## Context
Issue

* https://github.com/Joystream/joystream/issues/4298
PR:
* https://github.com/Joystream/joystream/pull/4345

## Scope
* [ ] Adjust Statistics component to reflect the changes done on the runtime

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1203122076741493) by [Unito](https://www.unito.io)

[2022-10-07 08:07] #3656 closed

[2022-10-07 08:24] dmtrjsg commented on #3427
@mochet thanks for the idea, added to Backlog.

[2022-10-07 08:35] dmtrjsg commented on #3664
we couldn't reproduce, but found a case where membership does not get disconnected when wallet does.

To reproduce:
- start with signed in membership (like alice)
- Disconenect wallet (Polkadot)
- connect with Talisman which does not have alice account
- see how CTAs to sign are blocked

We think that you've caught one of these cases ☝️

## Scope
- Disconnect membership when wallet is disconenecte

[2022-10-07 08:46] dmtrjsg commented on #2025
We are going with the Maintenance screen instead as per team agreement:
- #3636

[2022-10-07 08:46] #2025 closed

[2022-10-07 08:47] dmtrjsg commented on #3631
Already fixed, but will be released AFTER Carthage.

[2022-10-07 08:47] #3631 closed

[2022-10-07 12:05] ivanturlakov commented on #2032
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/members
wss://44.201.112.198.nip.io/ws-rpc

### Accounts
<img width="548" alt="Снимок экрана 2022-10-07 в 14 45 15" src="https://user-images.githubusercontent.com/46903215/194546370-65a94018-37d8-4b5f-ab09-bfe1ac34e845.png">
<img width="545" alt="Снимок экрана 2022-10-07 в 14 59 58" src="https://user-images.githubusercontent.com/46903215/

[2022-10-07 12:24] ivanturlakov commented on #3613
@dmtrjsg In terms of testing, this seems to be the same situation as the #2715? (testing env is set up with one council seat)

[2022-10-07 12:35] dmtrjsg commented on #2847
### My profile
1. Total Locked Balance.
Update "Locks" hyperlink to https://joystream.gitbook.io/testnet-workspace/system/accounts-and-staking?q=lock#locks
<img width="366" alt="Screenshot 2022-10-07 at 16 30 28" src="https://user-images.githubusercontent.com/93924525/194553884-b7b86921-e0b0-4e07-b850-3cb712536d75.png">

2. Total Recoverable Balance
Add tooltip: "Recoverable balance encapsulates a

[2022-10-07 12:55] dmtrjsg commented on #3613
ok will ask to spin up a network with 3 council seats, thank you for raising the comment!

[2022-10-07 14:00] dmtrjsg opened #3670 "Tooltip for stake on signing modal"
Tooltip for stake display in fees
![](https://user-images.githubusercontent.com/93924525/191486205-7fa4d5bf-8107-464b-8982-7205ffa7b1b7.png)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1203257871157340) by [Unito](https://www.unito.io)

[2022-10-07 14:07] dmtrjsg commented on #3613
@ivanturlakov there we go buddy: https://54.227.116.57.nip.io/newtork/config

[2022-10-07 14:11] dmtrjsg commented on #2936
Ready to be tested on the carthage branch!

[2022-10-07 17:59] dmtrjsg opened #3672 "[USERSNAP] Council Elections result and chosen councils are not maches for36 th term elections"
**Taken at**: https://dao.joystream.org/#/council
**Fields**:
- Houston, we have a problem.: Council Elections result and chosen councils are not maches for36 th term elections
- Comment: i was selected 4th candidate on revealing period but i was not in the council. this is unjustes and i lost my incentives for this term to a not chosen member. eigther you must correct the results or give the ince

[2022-10-08 09:36] bedeho opened #3674 "Drop unused images"
There are at least two places in the design where allow using users to specify large previe images has largely resulted in a terribly UX because no user on the publishing side really bothers with setting them. I see no reason why this will change, and it just leads to extra complexity around abuse, hosting, etc. The specific places I have in mind is

- council candidacy
- bounties

Here are some e

[2022-10-08 13:39] ivanturlakov commented on #2936
Tested on https://dao-git-carthage-joystream.vercel.app/#/members

https://user-images.githubusercontent.com/46903215/194710361-dbdbda73-bd4f-4bb3-bdb2-ae47fc4abe91.mov

[2022-10-09 21:24] traumschule opened #3675 "CM stake display"
## Scope

- [ ] Sort candidates by stake (as opposed to by member handle)
- [ ] #3696

## Context

Assuming this is the latest version: https://dao-git-carthage-joystream.vercel.app/#/council

The table shows `VOTERS STAKE` (supposedly the sum of all votes' stakes) as `> 0.01`.

1. Candidate's **own stake** is displayed based on https://github.com/Joystream/pioneer/blob/ca9b298abbb45e157bcb7348033

[2022-10-10 08:17] mochet opened #3676 "Staking accounts required to be in wallet but not actually required"
## Scope
- [ ] QN: Change mappings in the QN to get all accounts bound to membership
- [ ] Pioneer: Show all staking accounts bounded to current membership in all fields where user is prompted to select the staking account.

To be done together with To be done together with
- #3691

Instead of only for looking for accounts in the wallet.

## Context

Scenario:
1. Use membership key to create a pro

[2022-10-10 10:36] #2936 closed

[2022-10-10 11:06] ivanturlakov commented on #3613
@dmtrjsg there is a blocker https://github.com/Joystream/pioneer/issues/3609#issuecomment-1268282935

[2022-10-10 12:01] ivanturlakov commented on #3572
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/working-groups
wss://44.201.112.198.nip.io/ws-rpc

The membership selection window works as expected. No problems were detected.

[2022-10-10 13:08] dmtrjsg opened #3679 "Could not announce candidacy"
## Context
Attempting to test the candidacy stake shown in Election I encountered a strange bug (a few actually)

## Problem
* [ ] Transaction model showed insufficient funds, even thought there were plenty
* [ ] Binding account for staking returned error : Account for staking does not exist

![Screenshot 2022-10-10 at 17.06.48.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/61a

[2022-10-10 13:28] dmtrjsg commented on #3613
@ivanturlakov but I think the 3609 only addresses auto-refetch, but you can do it with page refresh (or wait for a few mins for QN to catchup), or is this a real blocker?

[2022-10-10 14:30] ivanturlakov commented on #3613
@dmtrjsg When I press the vote button, the spinner appears and is visible for a few minutes, the voting window does not open
<img width="1188" alt="Снимок экрана 2022-10-10 в 17 24 06" src="https://user-images.githubusercontent.com/46903215/194889715-0cb4f2f7-5ec7-4fd6-9961-4fa660761124.png">
<img width="1185" alt="Снимок экрана 2022-10-10 в 17 26 10" src="https://user-images.githubusercontent.com

[2022-10-11 08:34] #3672 closed

[2022-10-11 08:34] dmtrjsg commented on #3672
duplicate of above

[2022-10-11 08:46] dmtrjsg commented on #3613
Probably same issue as in
#3609

[2022-10-11 08:48] dmtrjsg commented on #3679
Address: 5He8uJYkBRt9NktabgX89CKYQDveT8Ny4Va6DkqGBkW7yagt

[2022-10-11 09:07] gyroflaw commented on #3518
I am gyroflaw

[2022-10-11 09:27] singulart commented on #3518
Assigned to @gyroflaw

[2022-10-11 10:29] dmtrjsg opened #3682 "Add tooltips to Candidacy Staking Acc and Vote Staking"
## Scope Add tooltips

#### For Candidacy staking

The account holding the stake for the candidate. After announcing the staking account will have locked up REQUIRED_CANDIDACY_STAKE under the relevant council lock. If the candidacy fails - either because the election cycle fails or the candidate receives too few votes, then this lock can be removed by the candidate, otherwise it remains on into th

[2022-10-11 10:37] ivanturlakov commented on #3626
Tested on https://dao-git-carthage-joystream.vercel.app/#/profile
44.201.112.198
3.92.226.32

<img width="1178" alt="Снимок экрана 2022-10-11 в 13 32 41" src="https://user-images.githubusercontent.com/46903215/195067766-b1d6be9e-524d-4ecb-8cf4-63fedbd41049.png">
<img width="913" alt="Снимок экрана 2022-10-11 в 13 33 56" src="https://user-images.githubusercontent.com/46903215/195068003-cdbe5532-4de

[2022-10-11 12:49] #3187 closed

[2022-10-11 14:27] dmtrjsg commented on #3299
Will need to sync up with @thesan to advise, thanks for trying will come back to you asap!

[2022-10-12 08:15] dmtrjsg commented on #3613
This is already fixed in the connected PR (when candidates drop out of the leaderboard (top 5) and get voted back in).

https://gist.github.com/thesan/f57705e850a0a79001f46e1044ceb626
The key transaction is: adovrn +32,000,000 where ferdikesh_studio gets to the 6th position thus looses 7,600,000 which is more than the difference between his final voting power: 36,675,000 and isonar's 35,000,000
It

[2022-10-12 08:20] dmtrjsg opened #3684 "Voting Modal is broken- blocks tests on Pioneer"
## Issue
The voting modal prevents user form voting, issue is detected on carthage.

## Scope
* [ ] Fix voting modal, enable voting for candidates

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1203149003942196) by [Unito](https://www.unito.io)

[2022-10-12 08:25] dmtrjsg commented on #3675
Hey @traumschule, had a little trouble parsing this.. can you pls re-iterate the problem statement? What's the expected behaviour and how does this impact the app?

[2022-10-12 08:29] dmtrjsg commented on #3299
@ivanturlakov pls test this on Cartahge env, and we will update the config for env to include the avatar service now.

the env will be [44.201.112.198.nip.io](http://44.201.112.198.nip.io/)

Will be ready in an hour

[2022-10-12 08:31] dmtrjsg commented on #3508
The loader is waiting for the proposal Vote button in relevant casess, decided to remove this spinner and we will just show button if it applies. 👍

[2022-10-12 08:35] dmtrjsg commented on #3162
Duplicates and implemented in
- https://github.com/joystream/pioneer/issues/3642

[2022-10-12 09:18] dmtrjsg opened #3685 "Triage why council candidate was not able to get created from an account"
## Context

User: MarikJudo#1899

Post on Discord: https://discord.com/channels/811216481340751934/813361923172335648/1029401060617498676

TX:
https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Frpc.joystream.org%3A9944#/explorer/query/0xa070c9ee53390bd837275c72f84f8102141fdde3d7989a6831cd6963df39541d

Suspected reason: Insufcient amount on bonded staking account.

## Scope
- [ ] Confirm the issue
- [ ]

[2022-10-12 10:13] ivanturlakov commented on #3299
Tested on https://dao-git-carthage-joystream.vercel.app/
wss://44.201.112.198.nip.io/ws-rpc

✅ Creating via faucet
✅ Add Membership/New Member
✅ Edit Membership

<img width="771" alt="Снимок экрана 2022-10-12 в 12 41 57" src="https://user-images.githubusercontent.com/46903215/195314617-7fd7eac8-15a2-4233-a134-0256b33892d7.png">
<img width="770" alt="Снимок экрана 2022-10-12 в 12 42 27" src="https:

[2022-10-12 10:52] mochet commented on #3676
I have now realized this is a much bigger security issue than I originally thought.

# Problem
As a user, I should be able to have my staking accounts sign their relationship extrinsics using something that isn't my main device. The current design requires that all staking accounts that will be used not only sign extrinsics but also be present on the wallet.

The closest equivalent I can think of

[2022-10-12 11:07] traumschule commented on #3675
Hey!
1. In the linked version own and voters' stake were swapped. Seems fixed now in https://dao.joystream.org/#/council
2. Small amounts (11k) are displayed as '> 0.01' instead of '< 0.01'.
3. Sort candidates by stake (ought to be fixed before?)

[2022-10-12 11:38] dmtrjsg opened #3687 "[USERSNAP] voting stake tooltip mustn't scroll"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: voting stake tooltip mustn&#39;t scroll
- Comment: This is a design issue. For keys with too low stake a tooltip is shown which when user keeps scrolling movers over the screen.
It shouldn&#39;t move but always point at the bottom of the select container.
- Feedback: l1dev

![SCREENSHOT](https://resources

[2022-10-12 11:55] dmtrjsg opened #3688 "Allow to re-use accounts with voting locks from previous election cycle without recovery."
## Scope
* [ ] In the staking account selector for voting display all accounts user has.
* [ ] Apply same designs we used in proposals account selector to voting accounts with specificities:
Voting lock applied in previous elections can be reused in subsequent elections without recovering
Voting lock applied in current election cannot be reused in current election (show as greyed out with lock ico

[2022-10-12 12:01] traumschule commented on #3688
Please explain the 4d locking period. They ought to be available during announcing stage already.
![votestake](https://user-images.githubusercontent.com/31551045/195337126-a194ffa2-6f1d-4708-9149-de67ba8affd5.png)

So obviously me as a user gets easily confused what needs to be done: 1. Go to past votes 2. recover the stake 3. reopen vote screen

Do you have any ideas to explain that or at least a

[2022-10-12 12:24] bedeho commented on #3676
In what sense does it require it? what bad thing happens if the account is not in the signer at all times?

[2022-10-12 13:06] dmtrjsg opened #3689 "Proposal title length prevents from creating and returns generic failure error code"
## Scope

- [ ] Limit length on proposal title on input
- [ ] Display validation error :Max of X characters allowed.

## Context

https://discord.com/channels/811216481340751934/812345044094156811/1029771650977251339

**Taken at**: https://dao.joystream.org/#/proposals/current
**Fields**:

* Houston, we have a problem.: I can&#39;t create a signal proposal
* Comment: Without error :)
* Link to pol

[2022-10-12 13:35] dmtrjsg commented on #3689
Not reproduceable on Carthage. Will double check and deploy a hot fix if the issue turns out to be severe.

@thesan @WRadoslaw fyi..

[2022-10-12 13:58] dmtrjsg opened #3690 "[USERSNAP] Account selector drop down tooltip must not scroll"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: Account selector drop down tooltip must not scroll
- Comment: https://github.com/Joystream/pioneer/issues/3687

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/fd9040c5-90c2-42c0-84d5-460ce40afc11-annotated_9dcf11f7-52c2-438b-a669-8083358a0a7b

[2022-10-12 13:58] dmtrjsg commented on #3687
duplicate of #3690

[2022-10-12 13:58] #3687 closed

[2022-10-12 14:08] mochet commented on #3676
If the staking account is not present in the wallet, it does not show up in the UI and is unusable.
So it is `mandatory` with the current design for staking accounts to be in the wallet to be able to use them, but it isn't actually necessary.

[2022-10-12 14:20] dmtrjsg commented on #3299
@WRadoslaw what's the max size we allow? We need to add to the validation error. Max file size allowed is X mb.

[2022-10-12 15:24] bedeho opened #3691 "Show accounts bound to membership even if not in signer"
# Background

https://github.com/Joystream/pioneer/issues/3676

# Proposal

Display accounts that are bound, even if not in the wallet of the viewing member, perhaps worth decorating with some sort of information about whether each account is present in the wallet or not.

[2022-10-12 15:25] bedeho commented on #3676
ah ok, well that is super solvable indeed, as the chain holds the information on what accounts are bound, made this issue:

https://github.com/Joystream/pioneer/issues/3691

What do you mean by "use them" in this context? Obviously to actually sign in Pioneer, the signer must have them in the signer.

[2022-10-12 17:57] traumschule commented on #2378
I checked what's going on here. `14410` blocks are hardcoded in

https://github.com/Joystream/pioneer/blob/dev/packages/ui/test/working-groups/modals/ApplyForRoleModal.test.tsx#L103
https://github.com/Joystream/pioneer/blob/dev/packages/ui/test/working-groups/pages/MyRoles.test.tsx#L40
https://github.com/Joystream/pioneer/blob/dev/packages/ui/test/working-groups/model/getNextPayout.test.ts#L11

..