[2022-10-13 08:00] dmtrjsg commented on #3691
@ Design
- add an icon for "perhaps worth decorating with some sort of information about whether each account is present in the wallet or not" + tooltip on Hover with clarification

[2022-10-13 08:06] dmtrjsg commented on #3674
Council candidates
Suggestion to bring the cards closer to the list view, on candidates worth thinking to use an increased avatar size.

Bounties:
Out of scope for this issue, but to be addressed as separate issue at the time when bounties are worked on

[2022-10-13 08:07] dmtrjsg opened #3694 "Update the cards of the bounties list view to drop the image"

[2022-10-13 08:19] dmtrjsg commented on #3662
@traumschule looks like the connection was not stable and we could not reproduce the issue. Does this happen consistently?
We've implemented connectivity status indicator to avoid similar issues, already merged to carthage.

#3032

In the meantime it doesnt seem we can do anything about this issue.
If this happens again, pls shout!

[2022-10-13 08:19] #3662 closed

[2022-10-13 08:20] dmtrjsg commented on #3613
Confirmed this case was due to the bug that was already fixed.

To be tested by @bwhm as part of last round of Cartrhage testing.

[2022-10-13 08:23] dmtrjsg opened #3695 "[USERSNAP] Incorrect display of election results"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: Incorrect display of election results
- Comment: isonar picked up his application but it still shows up on the page
- Feedback: adovrn

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/77f37388-1418-445d-89e4-513189fc51b3-annotated_433051bd-9a6

[2022-10-13 08:30] dmtrjsg opened #3696 "Display small amounts as <0.01 JOY"
now everywhere is > 0.01 Joy

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1203156893140931) by [Unito](https://www.unito.io)

[2022-10-13 08:33] dmtrjsg commented on #3299
Supreseded by
- https://github.com/Joystream/pioneer/issues/3657

So good to be released as is for the time being

[2022-10-13 08:33] #3299 closed

[2022-10-13 08:49] dmtrjsg opened #3697 "Auto release of candidacy lock when using same membership with diff accounts in 2 elections"
## Context
There is also one peculiar behavior of announce_candidacy, I'm not sure if it affects Pioneer though. This is in a following scenario:
I announce candidacy in the 1st election, staking 100 JOY from staking_account_1
I lose the election
At this point I still have 100 JOY candidacy lock on staking_account_1
I announce candidacy in the 2nd election, staking 50 JOY from staking_account_2
Th

[2022-10-13 09:46] thesan opened #3698 "Can't copy some accurate ammount of joy"
![image](https://user-images.githubusercontent.com/6571453/195560598-15539b83-0b99-475f-bc0d-fa9156ca878c.png)
It is sometime possible to select text on pop overs, but the problem is that clicking it also clicks the app under it. So if there is an interactive element under the pop over (e.g button, link, etc...) the pop over will close itself. Also a right click will also close the pop over so sho

[2022-10-13 10:04] ivanturlakov commented on #2221
Tested on https://dao-git-carthage-joystream.vercel.app/#/proposals/preview/2
wss://44.201.112.198.nip.io/ws-rpc

It looks like this bug has been fixed

https://user-images.githubusercontent.com/46903215/195567401-9fdba46f-f6b1-4626-b50d-4081e5249830.mov

[2022-10-14 10:12] ivanturlakov commented on #3684
✅ Tested here #3609

[2022-10-16 14:44] traumschule commented on #2921
It makes sense if you think of it as employments. You can be hired by the same firm twice or more sequentially and on different positions. This is why it helps to see each opening title in the tooltip (compare linkedin).

There's however another  bug because the lead is also listed as worker:
![lead-twice](https://user-images.githubusercontent.com/31551045/196041853-7c2ebb60-6b6a-4210-ba94-2c06eec

[2022-10-16 14:46] traumschule opened #3704 "lead appears twice in workers list"
Task: Filter workers for non-leads.

![lead-twice](https://user-images.githubusercontent.com/31551045/196041853-7c2ebb60-6b6a-4210-ba94-2c06eec8a369.png)
![builders](https://user-images.githubusercontent.com/31551045/196041846-2091f587-22ac-4f89-9f19-efa29ed0ecb8.png)

[2022-10-16 14:46] #2921 closed

[2022-10-16 19:31] polikosi commented on #3661
✅works as expected
![image](https://user-images.githubusercontent.com/80429191/196054323-63e6d53b-c8b8-4dd2-aa8a-db3504c2b09e.png)

[2022-10-17 12:42] dmtrjsg commented on #3695
@traumschule this one was hotfixed to prod, just added to QA lane on project 55 to get validated on the preview branch or production.

[2022-10-17 12:45] #3679 closed

[2022-10-17 12:53] #3508 closed

[2022-10-17 12:54] #3626 closed

[2022-10-17 13:02] dmtrjsg commented on #3266
@gyroflaw  Here I am a little confused as to what was done/ attempted?

Currently the delete button still shows on the thread next to the title, which when clicked results in the error. At the same time the first post cannot be deleted.

<img width="1396" alt="Screenshot 2022-10-17 at 16 59 54" src="https://user-images.githubusercontent.com/93924525/196183798-be2bb674-53da-4c42-a4fd-45b1862eea8a.p

[2022-10-17 13:05] gyroflaw commented on #3266
I will take a look of this issue

[2022-10-17 13:05] #2032 closed

[2022-10-17 13:18] #3661 closed

[2022-10-17 13:19] dmtrjsg commented on #3636
@thesan pls advise on how to test it..

[2022-10-17 13:27] dmtrjsg commented on #2204
## QA

- [ ] Complete transaction for creating new membership (from new account, and from existing accounts)
- [ ] Create proposal with new account (so it gets binded to membership in a multi-step tx)
- [ ] Create proposal for an account that is bound
- [ ] Create election candidate with new account (so it gets binded to membership in a multi-step tx)
- [ ] Create election candidate with account t

[2022-10-17 14:07] dmtrjsg commented on #3636
ℹ️  can be tested on

[2022-10-17 14:07] #3636 closed

[2022-10-17 14:18] #3669 closed

[2022-10-17 14:19] dmtrjsg commented on #3669
Was incorrectly assigning the label, and was meant to raise a separate issue wrt to election blocked. The use case addressed in this PR worked correctly. Abstained counts towards quorum.

[2022-10-17 17:31] polikosi commented on #2204
**Creating new membership from new account**
![image](https://user-images.githubusercontent.com/80429191/196241328-e45fb55f-6734-42a9-82e4-6922c0a80690.png)
![image](https://user-images.githubusercontent.com/80429191/196241449-1ff83cba-d46b-4b9a-8bb4-5ac9dd0ba237.png)

**Creating new membership from existing account**
![image](https://user-images.githubusercontent.com/80429191/196235984-c7bdabd7-4

[2022-10-17 17:42] thesan commented on #3669
The localstorage value for `votes:713` was:
[code]

The QN for `castVotes (where: { electionRound: { cycleId_eq: 713 } })`:
[code]

[2022-10-18 07:15] toiletgranny commented on #3583
@dmtrjsg a few quick clarifying questions:
1. What is/are the Pioneer page(s)/view(s) this affects?
2. Where should the name and description be updated?
3. What is the current icon for Gateways WG? In Figma, there are multiple icons with "Gateway" in their names; I don't know which we're talking about.
4. By "[external source icon]", did you mean any specific icon that's already used in Pioneer? W

[2022-10-18 07:21] dmtrjsg commented on #3583
Hey Adam,

Sure so

Here's the url to the page https://dao-git-carthage-joystream.vercel.app/#/working-groups

Screenshot of the current state:
<img width="1489" alt="Screenshot 2022-10-18 at 11 19 33" src="https://user-images.githubusercontent.com/93924525/196363025-0d8247f5-b71c-4fbb-9050-bce4b2ea547b.png">

Link to tooltips issue for working groups:
https://github.com/Joystream/pioneer/issues/2

[2022-10-18 07:37] dmtrjsg opened #3711 "Revealing issue - unable to reveal more than 1 candidate on network 54.*"
## Context
During the QA test for:
* https://github.com/Joystream/pioneer/issues/3669#issuecomment-1281229788

On `54.227.116.57.nip.io` ( election `cycle_id: 713`) @ivanturlakov:

On the QN only the 3rd vote was revealed:
[code]

The issue comes from the local storage where `votes:713` is:
[code]

## Scope
* [ ] Resolve the bug

┆Issue is synchronized with this [Asana task](https://app.asana.com/

[2022-10-18 10:47] #3572 closed

[2022-10-18 11:10] toiletgranny commented on #3583
Ok, @dmtrjsg, this is ready to be reviewed. Design in Figma [can be found here](https://www.figma.com/file/GlgN8uBRtvtMJtiOsdtDF7/Pioneer-design?node-id=11275%3A434605). A few notes:

1. I put the "Learn more" link at the end of the description, as putting interactive elements in tooltips is typically considered a bad UX practice. Hope this recommendation is okay.
2. It appears there's a character

[2022-10-18 17:16] dmtrjsg commented on #3583
@toiletgranny  thanks for it, good stuff

Re description and icon, sure thing!

Q: The pattern of pointing to external handbook from the tooltip is already adopted in quite a few places. Also issue #2680 suggests to put the tooltip next to the title and saves from calibrating the copy for all other groups to ensure that learn more is visible.. Or would yo suggest to wrap the text if its longer and

[2022-10-19 00:54] traumschule opened #3714 "Proposal search: Proposer selection is not being updated"
Testing #3710 i noticed that proposers are always the same and do not match displayed proposals.

Task: populate the form with actual proposal authors (of all proposals or for selected type, status, timeframe).

![proposers](https://user-images.githubusercontent.com/31551045/196571917-79e94754-fa45-4300-bba5-7a5fa5c77e2e.png)

[2022-10-19 06:59] thesan commented on #3695
@traumschule @dmtrjsg this hotfix was also merged on `carthage` yesterday. So it might be better to test it there

[2022-10-19 08:14] dmtrjsg commented on #3714
@traumschule we suggest to switch the select (drop down) with the input..

Placeholder copy will need to be "Type proposer name" ... and once user starts typing we display the matching results in the list to pick from. Once you select a result, it populates the field and runs search on it.

If you click on it again, then cursor just moves to the field invite user to change the string..

Rationale:

[2022-10-19 09:26] toiletgranny commented on #3583
@dmtrjsg Sorry, I wasn't aware that this would apply to all groups. Having given it more thought, I think going with the tooltip seems to have more sense now, considering it's an already established pattern and the time and effort required to do otherwise.

I updated the designs, added icons, and tooltips, and brought back your original copy for the description. :)

![image](https://user-images.gi

[2022-10-19 10:41] traumschule commented on #3518
Found some more. Few are labeled [ux](https://github.com/Joystream/pioneer/issues?q=is%3Aissue+is%3Aopen+tooltip+label%3Aux) but not all.
- #2520
- #3093
- #3273
- #3333
- #3690

[2022-10-19 11:46] traumschule commented on #1633
Would it be acceptable to have something like a red `!` pill near the `My Votes` counter to remind the user with a tooltip after voting?
Alternatively the reminder could be on `VoteForCouncilSuccessModal.tsx`.

[2022-10-19 12:00] traumschule opened #3717 "Idea: Add unique icons per proposal type"
This would help #2949:
- add an unique and easy to distinguish proposal type specific symbol before or after proposal title
- [out of scope] icons could be community generated (like a pre-mainnet contest to gain traction)

[2022-10-19 13:38] ivanturlakov commented on #3697
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://44.201.112.198.nip.io/network/config.json

### Founded 2 accounts - c11, c12
<img width="1181" alt="Снимок экрана 2022-10-19 в 14 59 56" src="https://user-images.githubusercontent.com/46903215/196703835-15a7b06c-9dfa-434e-9d5e-5721eb4356dc.png">

### Membership c11 created
<img width="1180" alt="Снимок экра

[2022-10-19 18:58] polikosi commented on #3695
✅tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://44.201.112.198.nip.io/network/config.json

![image](https://user-images.githubusercontent.com/80429191/196775403-0ebf4e43-fbd3-4590-9211-15dd8bf01f40.png)
Candidate2 was withdraw

works as expected
![image](https://user-images.githubusercontent.com/80429191/196780197-458cd0a3-b364-4636-9d94-a3ff61c5e7c1.png)

[2022-10-20 08:06] dmtrjsg commented on #2496
We need a change for QN

[2022-10-20 08:09] #3675 closed

[2022-10-20 08:10] dmtrjsg commented on #3685
For some reason the polkadot app link does not have the event, so we could not debug it.

[2022-10-20 08:13] dmtrjsg commented on #3714
I'm pretty flexible tbf.. @WRadoslaw what you recon mate? pls share your thoughts here..

[2022-10-20 08:20] dmtrjsg commented on #3711
@traumschule needs to be re-tested as all hypotheses we could think of ran out .. so we need to validate its a real issue before spending more time on this. Please feel free to assign to qa.

[2022-10-20 09:50] thesan commented on #3711
I might have figured out what happened

[2022-10-20 10:00] WRadoslaw commented on #3714
1. The problem is that the suggestion rn and in general is based on normal member query, which do not have relation with proposals in any way, so there really isn't a simple way I can think of that offers such feature.
2. Seems like quite over-fetching, I don't really see how it would improve the process, could you elaborate of what you want to achieve?

@traumschule

[2022-10-20 11:08] ivanturlakov commented on #3663
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/profile
wss://44.201.112.198.nip.io/ws-rpc

### User applied for a role
<img width="1187" alt="Снимок экрана 2022-10-20 в 13 53 25" src="https://user-images.githubusercontent.com/46903215/196931061-ca6a0f5d-cf20-4cd7-a056-3ceb4184871d.png">

### Recovering
https://user-images.githubusercontent.com/46903215/196930947-28fcc047-7987-47c5-a63

[2022-10-20 11:19] polikosi commented on #3696
🚫tested on wss://44.201.112.198.nip.io/ws-rpc
I expected that in all situations the balance would be displayed <0.01
![image](https://user-images.githubusercontent.com/80429191/196934403-de49797d-1023-4781-b3de-37c108ed752e.png)

![image](https://user-images.githubusercontent.com/80429191/196934050-35e73bf1-b0f8-41d3-b0f3-16320d6f6de7.png)
![image](https://user-images.githubusercontent.com/8042919

[2022-10-20 16:17] thesan opened #3722 "QN subscription is unreliable"
## Context

More and more often Pionneer takes a very long time or fail all together to connect to the QN `stateSubscription` both on the `Joystream-testnet` and `carthage` playgrounds. This happens also occasionally happens on the graphQL playground.

The direct consequence is that the transaction last step "Processing transaction" often never ends. Which result in issues like #3381 and #3662. Al

[2022-10-20 16:18] thesan opened #3723 "After X amount of time failing to establish the `stateSubscription` end the tx flow successfully"
Context in #3722

[2022-10-20 16:18] thesan opened #3724 "Keep a unique subscription in a context at the top of the app"

[2022-10-20 16:18] thesan opened #3725 "Fallback to polling the last processed head with a query when `stateSubscription` fails"
Context in #3722

The QN has to implement this query first

[2022-10-20 17:51] traumschule commented on #3369
duplicate of #3390 #2032 (implemented)

![member search](https://user-images.githubusercontent.com/31551045/197021700-d65abd16-0244-4ad0-9d95-e305e0b1f676.png)

[2022-10-20 17:51] #3369 closed

[2022-10-20 17:51] traumschule commented on #3253
duplicate of #3390 #2032 (implemented)

![member search](https://user-images.githubusercontent.com/31551045/197021700-d65abd16-0244-4ad0-9d95-e305e0b1f676.png)

[2022-10-20 17:51] #3253 closed

[2022-10-20 20:07] traumschule commented on #3685
I was also unable to find an account creation event around 2,899,799 (+/- 10), only this candidacy announcement
![block2899799](https://user-images.githubusercontent.com/31551045/197040424-13202939-6a31-4ae9-bbb2-a7526eb1f8a8.png)

@Lezek123 Do you have a suggstion for the decoding issue?
I tried this approach https://github.com/Joystream/joystream/issues/4008#issuecomment-1286073093 for `rhodes-u

[2022-10-21 03:16] traumschule commented on #3714
How to get suggestible proposers?
The case is user wants to search for proposals within the last month but no more than X and vaguely remembers the author, maybe the type too.
My approach is to effect that query entering `Past Proposals` and save the result on state / localstorage.
This unlocks limiting proposers to actual authors vs all members and filtering suggestions further on input.
A non-em

[2022-10-21 03:48] traumschule commented on #2404
`opening.hiring` used [OpeningDetails.tsx](https://github.com/Joystream/pioneer/blob/dev/packages/ui/src/working-groups/components/OpeningsList/Opening/OpeningDetails.tsx#L49) doesn't contain the number of withdrawn applications, only [current and limit](https://github.com/Joystream/pioneer/blob/dev/packages/ui/src/working-groups/types/WorkingGroupOpening.ts#L52).
How much effort is it to update t

[2022-10-21 06:58] polikosi commented on #3665
✅the application was successfully withdrawn
![image](https://user-images.githubusercontent.com/80429191/197131843-f9eec0e0-ba4f-4300-b9eb-70734816ff06.png)
![image](https://user-images.githubusercontent.com/80429191/197132262-7b896a44-add6-45ee-a47a-459b84f0c15f.png)

@dmtrjsg maybe the application counter needs to be updated after the application is withdrawn?
![image](https://user-images.githubu

[2022-10-21 08:04] bedeho opened #3729 "Introduce semantic versioning and releases"
Same as this https://github.com/Joystream/atlas/issues/3327.

[2022-10-21 08:04] bedeho opened #3730 "Introduce a changelog"
Same as this https://github.com/Joystream/atlas/issues/3358.

[2022-10-21 08:19] dmtrjsg commented on #3714
@traumschule

Thanks for the suggestion, after having discussed the effort involved in making this happen I am afraid we will need to direct our efforts on more strategic items. There is no relation between Members and Proposal types, so it will be really hard and expensive to introduce I am afraid.

Nevertheless to pursue the attempt to improve the problem and enhance the usability, we suggest  t

[2022-10-21 10:45] bedeho commented on #3075
Why would there be any design or engineering needed for _voting_ on a specific proposal? Isn't all of this 100% generic across proposal types?

[2022-10-21 10:47] bedeho commented on #3208
Please confirm whether there is actually a distinct proposal for this, my memory is that there is just one "mega" proposal that allows the council to simultaneously chose whether to update, or not, the full suite of variables associated with payouts, including the payout Merkle root itself, but there is a least a 22% chance I am wrong.

[2022-10-21 11:49] traumschule opened #3734 "application counter needs to be updated after the application is withdrawn"
see https://github.com/Joystream/pioneer/issues/3665#issuecomment-1286540191
![](https://user-images.githubusercontent.com/80429191/197132659-7000dd0f-41c2-4218-a1e5-859d2fcae531.png)

[2022-10-21 11:54] traumschule commented on #3714
agree, thanks for boiling it down!

[2022-10-21 12:02] traumschule commented on #3153
this was inactive for a bit, unassigning for now because #3029 is in `mainnet` scope. #3562 was reverted, @thesan how should we go from here?

[2022-10-21 12:54] thesan opened #3736 "CI keeps on failing at `UI: DeleteThreadModal › Transaction success`"
See: https://github.com/Joystream/pioneer/actions/runs/3297294384/jobs/5437939367

[2022-10-21 13:12] traumschule commented on #3682
@mkbeefcake can you have a look please

[2022-10-21 13:19] mkbeefcake commented on #3682
Ok. i will check it

[2022-10-21 13:37] traumschule opened #3737 "QA Election issues + Component refreshes"
*Keeping track of issues relating council elections to test on Carthage staging*

Announcing
- #3290
- #3291

Voting, stake selection
- #3684
- #3131
- #3660
- #3688
- #2594

Revealing & election outcome
- #3711
- #3613

QN issues
- #3337

Verify component update after tx
- #3585
- #2985
- #2986
- #2991
- #3695

UX
- #3479
- #3682
- #3426
- #1633
- #3168
- #3427
- #3545
- #3554

[2022-10-21 14:40] ivanturlakov commented on #3688
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/election
wss://44.201.112.198.nip.io/ws-rpc

Accounts with voting locks from the previous election cycle can be reused without recovery

### Prev election cycle locks
<img width="1184" alt="Снимок экрана 2022-10-21 в 16 52 37" src="https://user-images.githubusercontent.com/46903215/197218853-88241a18-8ff9-4b97-8814-492c96f3d414.png">

###

[2022-10-21 20:39] traumschule commented on #3133
From my research to update the left sidepane call `setActive(member)` on state.machine('success')
[code]
This *should* automatically update `My Profile` as well.

Just confirming there's no better way, @dmtrjsg @thesan

[2022-10-23 15:44] traumschule commented on #1158
The currently merged solution queries all 6 levels in one go so maybe there's no need to clarify anymore.

IIUIC `5` would be served from cache for consecutive requests and possibly even parts of `4` if they were part of the first response.

### Request 1
[code]

Response
[code]

### Request 2
[code]
*In theory* `id`, `title` and `parent` will be served from cache for 4, 3, 2, including `id` and `

[2022-10-23 16:07] traumschule commented on #1788
Similar suggestion: #2914 (without knowing about this one).

Quick fix for `Proposals` page: merge tabs and add `Pending` option to the status _select_:
![status-select](https://user-images.githubusercontent.com/31551045/197402877-911e824c-bdc1-466d-9dda-1b3125945462.png)

[2022-10-23 22:59] traumschule commented on #1099
Started with (1) in #3742
(2) Could we reuse the type filter from `ProposalFilters.tsx` without the rest?

![typefilter](https://user-images.githubusercontent.com/31551045/197422108-e6fb727f-f7d2-4ec3-a91f-35dfc4a9b086.png)

[2022-10-23 23:06] traumschule commented on #1496
Implemented

![sidebar-roles](https://user-images.githubusercontent.com/31551045/197422512-3879bf8e-6cf1-435e-ac31-88c8b0853447.png)

[2022-10-23 23:06] #1496 closed

[2022-10-23 23:37] traumschule commented on #2496
What about when the proposal is executed,
- add a reference to the opening description similar to what the forum editor uses (eg. `#proposal:1212`)
- create the opening
- add a comment to the proposal discussion with a link to the opening

[2022-10-23 23:57] traumschule commented on #2309
@gyroflaw can you have a look please

[2022-10-24 00:12] traumschule commented on #3670
Hey @dmtrjsg, what shall it say?

[2022-10-24 00:15] traumschule commented on #3333
@mkbeefcake please check this one

[2022-10-24 00:18] traumschule commented on #3273
@mkbeefcake please check this one

[2022-10-24 00:26] traumschule opened #3743 "Refactor `TooltipExternalLink`"
Tooltips with inline `TooltipExternalLink` produce bulky un-DRY code.

Replace `TooltipExternalLink` inside `tooltipText` with `tooltipLinkURL` on `<Tooltip/>`.

## Problem
[code]
## Solution
[code]

## Occurences

1. https://github.com/Joystream/pioneer/blob/dev/packages/ui/src/memberships/modals/BuyMembershipModal/BuyMembershipFormModal.tsx#L270
2. https://github.com/Joystream/pioneer/blob/dev/p

[2022-10-24 02:03] traumschule commented on #306
The lead opening proposals are implemented.

Additionally leads need to create worker openings with a similar form but without proposal. So far this is only possible via CLI.
- Add `working-groups/modals/AddOpening` with a form based on the according proposal form.
- option to upload a template json (like `-i` in the CLI)
- option to backup form input
- add / reuse hook to submit transaction with

[2022-10-24 02:39] traumschule opened #3744 "Expose WG lead / worker storage & remark extrinsics"
On WG `About` tab add buttons depending which wallet is connected:

**lead**
- [`Set status text`](https://github.com/Joystream/pioneer/blob/dev/packages/types/src/augment/augment-api-tx.ts#L500) (analog `working-groups:updateGroupMetadata` in CLI)
- `leadRemark`

**worker**
- `Set my status` (`workerRemark`)
- [updateRoleStorage](https://github.com/Joystream/pioneer/blob/dev/packages/types/src/au

[2022-10-24 02:43] traumschule opened #3745 "Expose WGL extrinsics"
Lead actions according to #2178 based on #315 singled out for mainnet release.

**design suggestions**

1. #307: Add button `Fill Opening` for active openings that opens modal to #308

2. #306: add button on `#/working-groups/builders` Openings tab

3. #3744

4. On the worker sidebar for each role add a button next to `Opening Preview` with following actions
- #309
- #310
- #311
- #312

![sidebar-

[2022-10-24 06:43] #3663 closed

[2022-10-24 07:06] #3688 closed

[2022-10-24 07:06] dmtrjsg commented on #3665
@polikosi  thanks for testing this, re your question - I believe you are correct and the counter should reflect the amount of current applications. I'll have a chat with @WRadoslaw and we will decide if this can be fixed as a follow up PR or raised as separate issue 👍

[2022-10-24 07:09] #2204 closed

[2022-10-24 07:13] #3697 closed

[2022-10-24 08:21] dmtrjsg commented on #3665
We changed the UI a little to optmise the code, so now it has Status = [withdrawn, pending and hired].  Need to kindly retest this @polikosi

Cc @traumschule

[2022-10-24 08:38] gyroflaw commented on #2309
Ok, I will take a look

[2022-10-24 10:14] #2676 closed

[2022-10-24 10:23] dmtrjsg commented on #3696
@WRadoslaw perhaps you could pick this one up?  I think it looks good on the modals and in the fee calc component, but some account balances are not shown correctly, pls see the test restuls.

[2022-10-24 10:39] thesan commented on #3696
@polikosi @dmtrjsg I'm not sure this is incorrect. `1.009 tJOY` would show has `1.01 tJOY` so it make sense to me that `0.009 tJOY` shows has `0.01 tJOY`. WDYT ?

[2022-10-24 10:56] traumschule commented on #3674
Bounties module will be disabled until mainnet+. For candidacies it's a different story i think because no/low effort images help to discriminate candidates (-> low-prio). Feel free to assign me if you think it is important.

[2022-10-24 10:58] dmtrjsg commented on #3696
@thesan I see that we are round it up in one case.. just to clarify if it goes 0.006 it shows as 0.01, but if it is 0.004 it shows as <0.01?

In any case this is a very rare occasion to have actual balances display like it.. and we designed this for tx fess mostly as that's where it is likely to be shown more often, although with the latest weights also unlikely :)

[2022-10-24 11:06] thesan commented on #3696
Yes you can check this here: https://pioneer-2-storybook-git-carthage-joystream.vercel.app/?path=/story/common-tokenvalue--default&args=value:000+0040000000

[2022-10-24 12:24] traumschule opened #3751 "Investigate CPU load on `AddNewProposal` modal"
### Scope:
Identify and fix effect causing CPU load spikes when the modal is opened.

### Tech guidance:
 It is possible to disable the web worker in this file, which will help with debugging: packages/ui/src/api/index.ts

### Context
Related: #3318 _webworker is probably the reason for it_

![cpu-new-proposal](https://user-images.githubusercontent.com/31551045/197524341-93d67219-8997-4ec3-a053-a2

[2022-10-24 12:41] WRadoslaw commented on #3585
Duplicate #3650

[2022-10-24 12:41] #3585 closed

[2022-10-24 14:05] polikosi commented on #3660
![image](https://user-images.githubusercontent.com/80429191/197527543-2fe71a8c-0e6d-4091-ba5d-de7dae566d11.png)

**candidacy stakes**
![image](https://user-images.githubusercontent.com/80429191/197528234-02e916fd-7f3d-477d-b9f5-b6f86cf267ef.png)
**voting stakes**
![image](https://user-images.githubusercontent.com/80429191/197529349-cef6888a-aefa-4825-b90b-8ee3a9ffb7e3.png)

**voting stakes can be

[2022-10-24 14:44] polikosi commented on #3665
works as expected. Status = [withdrawn, pending and hired] are displayed correctly

[2022-10-24 14:48] dmtrjsg opened #3753 "Carthage Release Notes"
## Context

Carthage network release was the core focus of the runtime and infrastructure since mid June. During this time the Pioneer team had to introduce certain changes cascaded down from the runtime team, as well as keep building the features that were introduced in earlier network release - Rhodes, and already took their place in the design and dev pipeline along with multiple UX improvement

[2022-10-24 23:13] traumschule commented on #3665
Closing as implemented: it is actually possible to withdraw applications from active openings within pioneer, thanks all!
Withdrawing applications from closed openings should be fixed with the next release: https://github.com/Joystream/pioneer/issues/3251#issuecomment-1181452704
Counter follow-up: #2404 #3734

[2022-10-24 23:13] #3665 closed

[2022-10-25 08:09] dmtrjsg commented on #3696
We show approximate values everywhere so in this case (which will also be super rare to be displayed in the balances) the decision taken after discussing with the team to keep it like that. If it gets reported by any of the users we will look into reopening this again. Thanks guys for testing and raising this up!

[2022-10-25 08:09] #3696 closed

[2022-10-25 10:01] dmtrjsg commented on #3753
## Transaction Fees

- https://github.com/Joystream/pioneer/issues/2898
- https://github.com/Joystream/pioneer/issues/3373
- https://github.com/Joystream/pioneer/issues/2531

Up until Carthage release, transaction fees of including data into blockchain were set up to be always zero. With Carthage release however, the real transaction weights are calculated and apps interacting with the blockchain,

[2022-10-25 10:15] dmtrjsg commented on #3753
## Joystream Address Format

With Carthage, Joystream network adopted a custom [ss58 address format](https://github.com/Joystream/ss58-registry/pull/1). All Joystream addresses are now starting with `J4` prefix. On the UX side, in the funds transfer modals, users are able to provide both Generic substrate and Joystream specific addresses to the transfer form fields, while in the background all add

[2022-10-25 10:20] dmtrjsg commented on #3753
## Vesting Locks and Claiming Vested Joy Tokens

- #2959

With Carthage release, in preparation for mainnet release where genesis block will have JOY tokens allocated to specific members in the form of the vesting locks, the features to display and claim vested tokens were introduced.

New widgets were added, that display the total compound amount of  tokens across all affected accounts split into

[2022-10-25 10:37] dmtrjsg commented on #3753
##

- https://github.com/Joystream/atlas/issues/3178
- https://github.com/Joystream/atlas/issues/3179
- https://github.com/Joystream/atlas/issues/3089

It is important to note that TX fees coverage by different locks has also changed in Carthage from the previous release - Rhodes. Also, vesting lock was introduced.

While the changes for locks coverage were mainly implemented outside of Pioneer co

[2022-10-25 10:49] dmtrjsg commented on #3753
## New  Logo and Link to Joystream Resources

To increase the difference in perception between Joystream platform as a whole and individual instances of Pioneer codebase, we've given Pioneer its very own Logo and added a link to the footer of the top nav pointing to Joystream marketing website. Once we are on mainnet the app will be hosted on a separate domain pioneerapp.xyz which will further enh

[2022-10-25 10:57] dmtrjsg commented on #3753
## Bounties Module Temporarily Deprecated

In order to ensure the security and adherence to timing of mainnet release, Bounties module v1, which is now superseded with Bounties v2 module on runtime, was temporarily excluded only to be added later. As a result of this, Pioneer has removed Bounties module support and will re-introduce it in one of the post-mainnet releases to follow.

#### Design Pr

[2022-10-25 11:04] dmtrjsg commented on #3753
## Adding New Working Groups- Applications
- https://github.com/joystream/pioneer/issues/3366
- https://github.com/Joystream/pioneer/issues/3583

Joystream was built to support multiple Streaming Apps at its core. In Carthage we've taken the necessary steps to introduce the tools for external apps (gateways) operators to spin up their very own instance and run with it. Pioneer has added a new Work

[2022-10-25 11:10] dmtrjsg commented on #3753
## External Resources for Memberships
- https://github.com/Joystream/pioneer/issues/1977
- https://github.com/Joystream/pioneer/issues/2032

With Carthage we are introducing more ways to connect with the DAO participants. Now pioneer members have an opportunity to add more external resources to member profiles, covering most popular social media platforms and communication mediums.

Pioneer users

[2022-10-25 11:20] dmtrjsg commented on #3753
## FM status is displayed for qualifying members
- #3387

FM member status will have its own unambiguous way to get recognised on the platform with a badge, which will work in conjunction with the custom Joystream limited edition avatars only available to founding members. Search by FM status is also supported.

#### Design preview:
<img width="370" alt="Screenshot 2022-10-25 at 15 17 00" src="htt

[2022-10-25 11:41] dmtrjsg commented on #3753
###  Add Links to Polkadot Apps
- https://github.com/Joystream/pioneer/issues/2823

We added the links to polkadot explorer from the onboarding flow and settings menu. This may come handy for someone interested in more advanced block explorer or participating in running nominator and validator nodes.

#### Design preview:

Onboarding flow:
<img width="604" alt="Screenshot 2022-10-25 at 15 38 30" s

[2022-10-25 11:53] dmtrjsg commented on #3753
### Image Safety and Reporting
- #2936

We introduced the safety mechanism to moderate images across the app. With the configurable backend, this service can be connected with a suitable solution of choice. For the specific JSG implementation, all images reported by users via GUI in pioneer get added to the Airtable for review. The moderation of images happens with a config file of blacklisted ass

[2022-10-25 12:09] dmtrjsg commented on #3753
###  Proposal Voting Quorum Calculation Upd
- #3669

We added Abstained votes to count towards proposal quorum, to bring it more in-line with the common voting model used in parliamentary voting. This increases the role of abstention votes and makes it possible to approve the proposals with less votes in support. Previous logic did not count abstain votes towards quorum, so in cases when more coun

[2022-10-25 16:26] beeust commented on #3632
I'm interested in this ticket, and please assign it to me!

[2022-10-25 17:24] traumschule commented on #3632
Thanks and welcome! Just to clarify you can ignore the first image, it's handled in #3738.

[2022-10-25 18:10] traumschule commented on #2365
Moving this up a bit. Feel free to suggest designs, might give it a go.

[2022-10-25 18:52] traumschule commented on #3426
From what i can see there is no definitive outcome status available via QN.
[code]
This incomplete query enables to infer the outcome based on
- was there a voting / revealing stage
- how many candidates (consider withdrawn) => at least `council size +1`
- how many cast votes => at least `council size`
- how many revealed votes => seems reasonable election would fail not enough votes for min. 5 ca

[2022-10-25 20:12] traumschule commented on #3093
This needs clarification.
![](https://cdn.discordapp.com/attachments/944116776550154250/1034550517633929346/unknown.png)
![](https://cdn.discordapp.com/attachments/944116776550154250/1034550518418259989/unknown.png)
Thanks for testing @adovrodion!

[2022-10-25 20:59] traumschule commented on #2221
Thanks!

[2022-10-25 20:59] #2221 closed

[2022-10-26 07:45] mochet commented on #2673
I think this can be closed.
Memberships were never free and the `100 tJOY` has I believe always been the correct fee.

The user is creating a new membership without using the faucet so as far as I can see all of this behavior is 100% correct.

[2022-10-26 18:35] thesan opened #3762 "All signer errors are reported as insuficent fees"
![image](https://user-images.githubusercontent.com/6571453/198108187-bde1ea5d-d076-46b6-839a-d8860ef20c31.png)

[2022-10-27 10:47] dmtrjsg commented on #2327
At creation
Show:

~the current budget for the WG~ ✅  - Already done
~the current budget for the Council~ - ✅  Already done
➕ 👉  the expected size of the (next) payout(s)  + blockheight + expected time until the (next) payout(s).  + message "Expected payouts can be impacted by hiring and firing decisions made before the date of payout."

➕  👉  Add _custom_ Warnings:
If the user wants to decrease -

[2022-10-27 18:50] traumschule commented on #3122
Just to be sure

[2022-10-27 19:55] dmtrjsg commented on #3670
@traumschule How about "Signing this transaction will result in the specified amount of JOY tokens staked for the chosen purpose, resulting in a rivalrous lock applied to this amount until the stake gets recovered."?

[2022-10-27 19:56] dmtrjsg commented on #2496
@thesan can advise best on the above ☝️

[2022-10-27 20:01] #3684 closed

[2022-10-27 20:02] dmtrjsg commented on #3153
@traumschule we've decided to finish the forum in the team internally, so pls feel free to ignore all Forum tasks for communty dev for the time being.

[2022-10-27 20:06] dmtrjsg commented on #3208
@bedeho we did not build it just yet.. the way it was designed that min/max can be updated via the "mega' proposal flow as the only params, but smth tells me there was a specific request to ONLY update min/max. It's not too late to just skip this task as we have not started yet in Pioneer, still awaiting QN side full review and merge..

[2022-10-27 20:09] dmtrjsg commented on #3075
Proposal voting is generic indeed, its only the `proposal details page` with params placed into widgets required design. Looks like Matt put this e2e journey together for completeness back in the days..

[2022-10-28 02:18] traumschule opened #3767 "Remaining tooltips"
#3518

Some of these need text suggestions.

Update Dec 13th: Current list of files with 'Lorem' on `dev`:
[code]

[2022-10-28 04:58] Songoku1691 opened #3768 "Joystream Pioneer Forum Back Link"
### Scope
- [ ]  Add page number to the url so "back" in-app button brings to the right previous page in case of paginated prev page.

### Context

Hello Guys;

I observed a limitation in Joystream Pioneer Forum. I'm not sure if it's a bug (not working) or improvement (no feature of this function).
Please see this Atlas video: https://play.joystream.org/video/27767

You will notice I clicked a for

[2022-10-28 07:03] bedeho commented on #3208
Why? that is just redundant, because sometime you will want to do both at the same time, so just the one proposal with everything configurable would cover all bases.

[2022-10-28 07:19] dmtrjsg commented on #3208
Sure thing!

[2022-10-28 08:20] dmtrjsg commented on #3208
Ok just confirmed :) closing this issue as such 👍

[2022-10-28 08:20] #3208 closed

[2022-10-28 11:10] thesan opened #3769 "Isolate localstorage writes from the forum tread watchlist"
Once #3719 will have made its way into `dev`. To prevent users from loosing some of their watchlist by adding threads from different browser tabs, it would be good to change these into something like:
[code]

_Originally posted by @thesan in https://github.com/Joystream/pioneer/pull/3654#discussion_r1007942049_

[2022-10-28 11:41] dmtrjsg commented on #1633
I'm with @traumschule here, best to do it on the confirmation message and add a CTA to start the backup process right from  this modal 👌

[2022-10-28 11:53] dmtrjsg commented on #3518
⚠️ Bounty flow will be reviewed as part of v2 and we will adress the tooltips as part of this release so no need to address it rn. Ability to use markup has a low chance of making to mainnet, but its in the design backlog rn so will be addressed at the earliest opp subject to other priorities..

[2022-10-28 12:09] dmtrjsg commented on #3722
3724 - removed based on the changes that will be implemented on the QN side.
3725 - may be removed after more tests are done

[2022-10-28 12:10] dmtrjsg opened #3770 "Resubscribing to QN on every transaction"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1203259055086107) by [Unito](https://www.unito.io)

[2022-10-28 12:18] #3695 closed

[2022-10-28 12:28] #3725 closed

[2022-10-28 12:40] dmtrjsg commented on #3767
Will take care of the copy.

[2022-10-28 12:51] dmtrjsg commented on #3730
Taking this to sprint to start from Carthage release.. @bedeho can you share a good example which you mentioned on the morning call a few days ago to be used as reference pls?

[2022-10-28 12:56] dmtrjsg commented on #3744
@traumschule how often is this used? There is a bunch of flows that are not implemented as well in Pioneer covering extrinsics that are only used by Workers.. so since you are in the expert position there can you help us prioritise them or is this one your number one?

I feel like this one prob of higher prio? > https://github.com/Joystream/pioneer/issues/2432 wdyt?

[2022-10-28 12:58] dmtrjsg commented on #3768
Thanks you've explained it very well and extra points for the nice music 😄   I agree this is pretty annoying for a heavy Forum user..

[2022-10-28 13:06] dmtrjsg commented on #3133
@traumschule Hey will be okay to go like that 👌 , thanks for driving it by us!

[2022-10-28 13:11] dmtrjsg commented on #3745
Def will be on the list of prios for post-mainnet 👌

[2022-10-28 14:58] dmtrjsg commented on #3650
to be tested on dev: https://dao-git-dev-joystream.vercel.app/#/profile

[2022-10-28 15:14] #3723 closed

[2022-10-29 07:24] bedeho commented on #3730
Here is the raw file https://github.com/arvidn/libtorrent/blob/RC_2_0/ChangeLog, and this is how it is used in Github releases https://github.com/arvidn/libtorrent/releases.

[2022-10-29 11:46] ivanturlakov commented on #3613
@dmtrjsg @traumschule

Tested on https://dao-git-carthage-joystream.vercel.app/#/election
wss://54.227.116.57.nip.io/ws-rpc

3 council seats

### Candidates

<img width="1179" alt="Снимок экрана 2022-10-29 в 14 24 27" src="https://user-images.githubusercontent.com/46903215/198828964-107f9084-cf3f-4b8e-ab87-60f61ad55026.png">

### Alice voted 55,000 for herself
<img width="1179" alt="Снимок экрана

[2022-10-29 12:21] ivanturlakov commented on #3583
Tested on https://dao-git-carthage-joystream.vercel.app/#/working-groups

### ✅ Items listed in scope updated
<img width="1436" alt="Снимок экрана 2022-10-29 в 15 11 56" src="https://user-images.githubusercontent.com/46903215/198830760-7edbd0f2-73b8-4ffc-888f-30d42914f289.png">

@dmtrjsg there are some places where the old name remains

<img width="1439" alt="Снимок экрана 2022-10-29 в 15 12 13" s

[2022-10-29 13:40] traumschule opened #3772 "WG Roles review"
re: #717

Some issues that make it hard to find (past) worker info. As lead i'd like to see past roles for former workers (with `Hired`, `Earned total` etc.) like on [my-roles](https://github.com/Joystream/pioneer/blob/dev/packages/ui/src/app/pages/WorkingGroups/MyRoles/MyRoles.tsx) tab.

Think in conjunction with #2901 where focus is on own contributions while this is about lead perspective to re

[2022-10-29 18:28] ivanturlakov commented on #3650
Tested on https://dao-git-dev-joystream.vercel.app/#/election
wss://3.92.226.32.nip.io/ws-rpc

Still get 404

btn link address - https://dao-git-dev-joystream.vercel.app/#/election/past-elections/3323
<img width="1440" alt="Снимок экрана 2022-10-29 в 21 16 59" src="https://user-images.githubusercontent.com/46903215/198847121-38236ca1-0ccf-49ce-8888-3b490aa8ab21.png">

<img width="447" alt="Снимок

[2022-10-30 00:56] traumschule commented on #3583
did not check current content, just a grep on dev minus changed files:

- packages/ui/src/working-groups/types/locks.ts:  gatewayWorkingGroup: 'Gateway Worker',

- packages/ui/src/working-groups/constants/index.ts: gatewayWorkingGroup: 'Gateway',

- packages/ui/src/working-groups/components/WorkingGroupImage.stories.tsx:        Group names: bandwidth, storage, forum, membership, content, discovery

[2022-10-30 06:27] traumschule commented on #3613
Thanks! For this one we need to reproduce a case that failed on Rhodes in same voting and revealing order. @dmtrjsg or can we skip this because it was tested pro grammatically?

out of scope:
- Was the `55 000 after the page reload` fixed automatically or did you have reload?
- My Stake: #2985
- Sounds like you didn't experience #2986 and it can be closed?

[2022-10-30 11:44] ivanturlakov commented on #3613
I checked it again. The update to 55,000 only happens after the revealing period is over. During the revealing period, this field shows 60,000, even if I refresh the page

.

No, it's still happening

[2022-10-30 12:57] dmtrjsg commented on #3613
@traumschule  I think this requires manual testing and would be good to test the exact order of revealing 👍

Just a refresher on the scenario to test:

  // This is how the referendum goes:
    // 1. Candidate 1 gets a vote = 100
    // 2. Candidate 2 gets a vote = 50
    // 3. Candidate 3 gets a vote = 30
    // 4. Candidate 3 gets a vote = 30
    // 5. Candidate 3 gets a vote = 30
    // 6. Vote

[2022-10-30 16:45] traumschule commented on #2977
use solution suggested in #3768

[2022-10-30 21:24] traumschule opened #3777 "1b balance breaks Sidebar design"
Above 1b balance the sidebar design breaks.

![wales-sidebar-issue](https://user-images.githubusercontent.com/31551045/198902183-83a68523-06f8-49ca-afed-91b1aa869f7f.png)

[2022-10-31 09:19] dmtrjsg opened #3779 "Keep testnet after Carthage and Mainnet release"
## Scope
* Keep TestNet Autoconfig, Local and add Mainnet in the settings module

* Make mainnet as default

## QA

Can be tested on: https://pioneer-2-git-mainnet-joystream.vercel.app/ where mainnet shoud be set to `34.230.5.182.nip.io`

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1203268493487179) by [Unito](https://www.unito.io)

[2022-10-31 10:14] thesan opened #3780 "Maintenance screen stays when set to `false`"
Webpack doesn't parse this to a boolean unlike the values set in `.env`:
![image](https://user-images.githubusercontent.com/6571453/198984314-451f5919-0fb3-4fcf-baac-46e79ff0ed14.png)

[2022-10-31 12:58] polikosi commented on #3122
tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://44.201.112.198.nip.io/network/config.json

a thread only includes the blockheight
![image](https://user-images.githubusercontent.com/80429191/199012823-6f421d4f-abea-4ef9-8ec6-710d016f2f2b.png)

[2022-10-31 13:15] bedeho opened #3781 "Support for display and proposals for DAO content terms"
# Background

https://github.com/Joystream/joystream/issues/4416

# Proposal

Add proposals, but also display is needed for easy access to current documents.

[2022-10-31 13:19] polikosi commented on #3660
tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://44.201.112.198.nip.io/network/config.json

The same problems

🚫once the next election begins voting stakes can't be recover
![image](https://user-images.githubusercontent.com/80429191/199017247-c3256dc3-2afc-4e98-9b96-aa248efd1f9d.png)

🚫update ESTIMATED TIME TO RECOVER for voting. So that it showed the same

[2022-10-31 13:25] dmtrjsg opened #3782 "Indicate that app is connected to testnet"

[2022-10-31 14:03] polikosi commented on #3273
tested on https://dao-git-fork-mkbeefcake-fix-tooltipshowthreadtitle-joystream.vercel.app/#/forum/category/1
✅
![image](https://user-images.githubusercontent.com/80429191/199026205-7e8bb637-9f8b-4630-af5f-b00996821a44.png)

[2022-10-31 14:11] polikosi commented on #2929
tested on https://dao-git-fork-gyroflaw-fix-avg-stake-tooltips-joystream.vercel.app/#/working-groups/membership

![image](https://user-images.githubusercontent.com/80429191/199027453-7f90b079-10a3-4a85-af57-554b61e84a9d.png)

https://joystream.gitbook.io/testnet-workspace/system/working-groups?q=lock#staking
this link goes to this page
![image](https://user-images.githubusercontent.com/80429191/19

[2022-10-31 14:54] ivanturlakov commented on #3613
Tested on https://dao-git-carthage-joystream.vercel.app/#/election
wss://54.227.116.57.nip.io/ws-rpc

@dmtrjsg @traumschule
I had to tweak the scenario a bit to fit the parameters of the env(3 council seats; 300 - min vote):

// This is how the referendum goes:
// 0. Candidate a gets a vote = 1500
// 1. Candidate 1 gets a vote = 1000
// 2. Candidate 2 gets a vote = 500
// 3. Candidate 3 gets a vot

[2022-10-31 15:19] dmtrjsg opened #3783 "Proposal Module Enhancements"

[2022-10-31 16:20] #270 closed

[2022-10-31 16:22] #395 closed

[2022-10-31 16:22] traumschule commented on #3251
The remaining scope here is to withdraw stakes for closed openings. WDYT about a recover button near the stake field on `ApplicationsList`?
[code]

[2022-10-31 16:22] #3027 closed

[2022-10-31 16:23] #1923 closed

[2022-10-31 16:40] dmtrjsg commented on #3251
@traumschule let's go with this! I think we can try and go without design based on common understanding and reusing some of the patterns that already exist..  I we can then review the PR on preview branch and curate from there 👍

[2022-10-31 16:40] dmtrjsg commented on #3251
Adding to community pipeline now..

[2022-10-31 17:05] thesan commented on #3251
Just to keep track of the code most of this feature was implemented in #3671

@traumschule would removing the `!past` in [@/working-groups/components/ApplicationsList.tsx:98](https://github.com/Joystream/pioneer/pull/3671/files#diff-8ae3c0d7a70d8bdabe946ed0ccaeab41843614c22c68484017def470e098ef08). Solve the use case you're referring too ?

[2022-10-31 18:55] traumschule opened #3787 "Add padding to icons block on Accounts"
Icons grown into balance and need some spacing.

![icons-overgrow](https://user-images.githubusercontent.com/31551045/198926335-a22e6a35-f461-4b32-8994-dac4e663a7b4.png)

[2022-10-31 19:15] SO-HYBE commented on #3787
I will do that assign me

[2022-11-01 06:51] dmtrjsg commented on #3787
⚠️ pls also fix the same issue in:
- [ ] Proposal staking acc selector
- [ ] My accounts
- [ ] Members view

<img width="1297" alt="Screenshot 2022-11-01 at 10 50 37" src="https://user-images.githubusercontent.com/93924525/199175852-ac1231b8-d26f-49d3-8789-eb9844635e86.png">
<img width="818" alt="Screenshot 2022-11-01 at 10 50 26" src="https://user-images.githubusercontent.com/93924525/199175854-d

[2022-11-01 06:54] dmtrjsg commented on #3478
Duplicate of:
- https://github.com/Joystream/pioneer/issues/3787

[2022-11-01 06:54] #3478 closed

[2022-11-01 09:28] ivanturlakov commented on #3711
✅ Tested here https://github.com/Joystream/pioneer/issues/3613#issuecomment-1297210516

[2022-11-01 10:44] traumschule commented on #3734
Let's test it once more please. https://github.com/Joystream/pioneer/issues/3665#issuecomment-1288516739

[2022-11-01 11:01] traumschule commented on #2451
Related to #306

[2022-11-01 11:03] ivanturlakov commented on #3290
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/election
wss://54.227.116.57.nip.io/ws-rpc

To test I am announcing a candidacy but skipped the last step(Set candidacy note) by switching to a Profile page. Then come back to the Election page.

<img width="1188" alt="Снимок экрана 2022-11-01 в 11 57 24" src="https://user-images.githubusercontent.com/46903215/199212891-13200bff-337b-4d8c

[2022-11-01 11:04] dmtrjsg commented on #2451
hey @traumschule I believe these could be attempted without design, based on the metaprotocol schema and the opening for the WG lead.. wdyt?

[2022-11-01 13:54] XxFlameCatxX commented on #3382
Like this? I'm planning to fix it. It seems like a CSS bug, but since the project manage with different programming language i will need to adapt to it

[2022-11-01 14:13] dmtrjsg commented on #3382
@traumschule

please decide if this can be done together with
- https://github.com/Joystream/pioneer/issues/3787#issuecomment-1298098690

and feel free to assign both to a single person if that makes sense from your pov.

Just saying that Lock icons are misplaced in three locations.

[2022-11-01 18:33] dementopro commented on #3659
I can fix this issue.

[2022-11-01 18:53] traumschule commented on #3131
I looked at the code and this seems to be implemented in https://github.com/Joystream/pioneer/blob/dev/packages/ui/src/common/utils/validation.tsx#L163
Please re-test.

[2022-11-01 20:01] traumschule commented on #2943
I'd like to take this on at some point and suggest following changes:
- add tooltip to the Sidebar next to total balance saying "You have n recoverable locks, m tJOY total. <Button>Recover all</Button>" (inside the modal) that opens `RecoverAllModal`
- `RecoverAllModal.tsx`: Modal with `AccountLockInfo` list for all recoverable locks reusing the existing modal with sign and submut button as usual.

[2022-11-01 20:11] traumschule commented on #2009
This is big for SP-1 at least for newcomers.
We can try together with the other loading states during Carthage.

[2022-11-01 20:20] traumschule commented on #1214
Agreed. Less user having to fiddle with things is favorable.
Also agree the requirement for having less `loading` is more caching. I experimented with this on joystreamstats.live a bit and ran into storage limitations (as expected).

With a global 'chain state' skeleton just referencing IDs and some metadata including proposal and thread titles would reduce user waiting time already. With sensible

[2022-11-01 20:49] traumschule commented on #3779
To be clear this about the ability to connect to a staging network with same types? There could be complications to connect to say a Rhodes chain, except someone maintains an archival instance.

[2022-11-02 08:25] dmtrjsg commented on #2943
@traumschule we have designs for the button to "recover all", its a button placed to the Recoverable Balance widget>

<img width="390" alt="Screenshot 2022-11-02 at 12 23 46" src="https://user-images.githubusercontent.com/93924525/199437383-8311c6ad-ab6b-4196-bbc5-ce513f34199f.png">

[2022-11-02 09:35] dmtrjsg commented on #2943
moving to community dev

[2022-11-02 09:37] dmtrjsg commented on #2942
Duplicate of:
- https://github.com/Joystream/pioneer/issues/2943

[2022-11-02 09:37] #2942 closed

[2022-11-02 09:46] dmtrjsg commented on #2009
@traumschule Estimates updated, yes best to do it all in one go! 👍

[2022-11-02 09:49] dmtrjsg commented on #1214
@traumschule just a note that this epic is focussed on the Better Loading States, just visual scaffolding .. For the performance and page load optimisations please do feel free to raise separate targeted issues with tech-debt label and they will be triaged in the duly manner. Thank you in advance 🙏

[2022-11-02 09:52] dmtrjsg commented on #3779
This is to preserve multiple networks support for Pioneer App, and keep the networks selectable in the settings menu. The test network will be auto-conf set up and we will always try to keep the version of the test network closest to the one launched to production.

Also, this issue is earmarked to be attempted by the JSG team.

[2022-11-02 11:21] ivanturlakov commented on #1260
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/forum
wss://44.201.112.198.nip.io/ws-rpc

@traumschule @oleksanderkorn  Let me know if there is a specific scenario I need to test

https://user-images.githubusercontent.com/46903215/199476248-0aa3da5d-3f30-4a87-9725-fc1219c567ba.mov

[2022-11-02 12:55] ivanturlakov commented on #3291
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/election
wss://44.201.112.198.nip.io/ws-rpc
<img width="326" alt="Снимок экрана 2022-11-02 в 14 29 48" src="https://user-images.githubusercontent.com/46903215/199489894-f108601d-392f-439e-aed3-1f222e7c0726.png">
Chrome 107.0.5304.87, (x86_64)

While filling out the application, I tried to load the editor as much as possible and keep the m

[2022-11-02 13:29] XxFlameCatxX commented on #3382
okay, changing margin-top don't do much thing. It seems a responsvity error. Which resolution are you using? Maybe it's related to resolution thing

[2022-11-02 13:50] polikosi commented on #3734
tested on wss://44.201.112.198.nip.io/ws-rpc
✅works as expected

submitted an application
![image](https://user-images.githubusercontent.com/80429191/199506142-ad3f0d73-c6f4-4520-b04f-2fd4acda68a5.png)
the application has been withdrawn
![image](https://user-images.githubusercontent.com/80429191/199506198-c14bfda4-9468-4256-9fd9-8a1b8d35d3b8.png)

[2022-11-02 14:15] polikosi commented on #3337
tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://44.201.112.198.nip.io/network/config.json

as for me all works fine

https://user-images.githubusercontent.com/80429191/199512224-7caefe49-9d7f-40dd-a7d8-9e7d246ce1b9.mp4

[2022-11-02 14:21] polikosi commented on #3131
tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://44.201.112.198.nip.io/network/config.json
✅ works as expected

**Applying for role**
![image](https://user-images.githubusercontent.com/80429191/199508215-b79aa494-f246-4d5c-a19b-4f9fe6ad851d.png)
**Creating new proposal**
![image](https://user-images.githubusercontent.com/80429191/199508644-7b321a9e-a53a-408

[2022-11-02 14:27] traumschule commented on #3734
Thanks!

[2022-11-02 14:27] #3734 closed

[2022-11-02 14:35] dmtrjsg commented on #3131
@polikosi @traumschule we should not display the current balance in the validation error. The error should be "Insufficient funds to cover staking amount."

[2022-11-02 14:44] polikosi commented on #2985
tested on https://dao-git-carthage-joystream.vercel.app/#/settings?network-config=https://44.201.112.198.nip.io/network/config.json

![image](https://user-images.githubusercontent.com/80429191/199518754-a2bd4c4d-c717-43d7-a25e-7908f77f89a2.png)

I staked from this acc (candidate8) 1k tjoy but it shows 10k tjoy
![image](https://user-images.githubusercontent.com/80429191/199519758-afbf0098-de89-41c9

[2022-11-02 20:15] traumschule commented on #3337
Closing as not reproducible.

[2022-11-02 20:15] #3337 closed

[2022-11-03 09:17] thesan opened #3799 "Add a button to refresh the `auto-conf` network config"
## Scope
- [x] Add button underneath the network selection ONLY when Auto-conf network is chosen
- [x] Remember the configuration URL  (so store it somewhere)
- [ ] Design of button

<img width="433" alt="Screenshot 2022-11-08 at 15 00 37" src="https://user-images.githubusercontent.com/93924525/200548011-64076dee-f6f3-4c4b-9d4e-505ada6cf9b3.png">

## Context
The config url will have to be saved an

[2022-11-03 10:14] ivanturlakov commented on #3762
✅ Tested on https://dao-git-carthage-joystream.vercel.app/#/profile

Transaction interrupted

<img width="1422" alt="Снимок экрана 2022-11-03 в 12 01 24" src="https://user-images.githubusercontent.com/46903215/199694921-30f0c5e5-1775-4e3c-8f60-918651de1cd5.png">
<img width="1440" alt="Снимок экрана 2022-11-03 в 12 02 01" src="https://user-images.githubusercontent.com/46903215/199694622-80f28ea4-31

[2022-11-03 15:18] vrrayz commented on #3768
I'll like to take this up as well. I just dropped a fix for [#2977](https://github.com/Joystream/pioneer/issues/2977) in this PR [here](https://github.com/Joystream/pioneer/pull/3798)

[2022-11-04 12:39] ivanturlakov commented on #3479
@traumschule  That's what needed to be added, did I get it right?

<img width="1052" alt="Снимок экрана 2022-11-04 в 14 29 56" src="https://user-images.githubusercontent.com/46903215/199973015-1707693a-1cf5-4ca6-8d0c-7acc68ee8f45.png">

Looks like it hasn't been added yet.

https://pioneer-2-joystream.vercel.app/#/profile

<img width="1175" alt="Снимок экрана 2022-11-04 в 14 27 33" src="https://us

[2022-11-04 15:51] traumschule opened #3804 "Disable `Connect Wallet` until needed connection is established"
## Scope
- [ ] Allow user to start the onboarding process even if the chain is not connected.
- [ ] Disable Join Now if the chain is not connected

## Context

if user is not connected with the chain they cannot see the onboarding modal.

=> sidebar

<img width="444" alt="Screenshot 2022-11-08 at 14 58 16" src="https://user-images.githubusercontent.com/93924525/200547313-1313c7f4-bb86-40a2-b5ec-d4

[2022-11-04 19:53] traumschule commented on #3479
The modal was changed on `BuyMembershipSignModal` that's the signing confirmation creating a membership. I had to remove the `shouldInformAboutLock` to see it because the wallet is too rich. (the PR didn't change logic)

![sign-buy-membership](https://user-images.githubusercontent.com/31551045/200062577-925dfc44-4c05-46a8-be35-0337cb4e4819.png)

It's supposed to look like this on My Accounts, i ag

[2022-11-04 21:58] chrlschwb commented on #2451
issue #2451

[2022-11-05 14:55] traumschule opened #3805 "Api keeps disconnecting after a while"
### Scope
- [ ] Change the colour of the dot to yellow
- [ ] Change the message to "The Query Node is currently experiencing delays in processing and its blockheight is below the Joystream Runtime RPC node. Please be aware that some information fetched from it may be outdated compared to the actual state. You can still submit the transaction but may not see the result in Pioneer immediately."

###

[2022-11-05 16:29] traumschule opened #3806 "Optimize tests / code quality"
TBD

[code]

[code]
- Without checkout it be possible lower log level to info if tx are expected to fail.

[2022-11-05 19:30] traumschule opened #3807 ""And 1 more role" tooltip improvements"
The tooltip does not name the role but consumes its space.
- Filter badges to only contain active roles.
- Sort badges by `member since` (descending, ie. latest hires first)
- Add `tooltipLinkURL={WorkingGroupsRoutes.myRole}` and `tooltipLinkText="See all my Roles"`.
- Bonus: List all current, then past roles with badge and role description inside the '1more' tooltip.
- Bonus: Inside the tooltip o

[2022-11-07 00:28] traumschule opened #3810 "Hide wallet accounts restricted to other networks"
This is an edge case for users who selected a different network for accounts in their polkadot-js wallet. It appears those are listed under My Accounts and available for signing. The wallet does not seem to filter or reject signing with them.

It is however possible to hide an account which would presumably also make it unavailable for other websites:

![account-visability](https://user-images.git

[2022-11-07 08:40] polikosi commented on #2847
**My profile**
🚫 Actual link: https://joystream.gitbook.io/joystream-handbook/key-concepts/staking#locks
Expected link: https://joystream.gitbook.io/testnet-workspace/system/accounts-and-staking?q=lock#locks
![image](https://user-images.githubusercontent.com/80429191/200259684-bd553eb0-22a1-4663-a4f5-639c5d9706e0.png)

**Working Groups**
🚫Tab > Openings
"Current budget"
Actual link: https://joystr

[2022-11-07 09:14] dmtrjsg commented on #3670
Hey quick note.. when the PR is merged to Dev let's not assign `carthage` label ;)

[2022-11-07 09:29] dmtrjsg commented on #2847
@polikosi this needs to be tested on dev: https://dao-git-dev-joystream.vercel.app/#/profile

[2022-11-07 10:29] polikosi commented on #2847
**My profile**
🚫 Actual link: https://joystream.gitbook.io/joystream-handbook/key-concepts/staking#locks
Expected link: https://joystream.gitbook.io/testnet-workspace/system/accounts-and-staking?q=lock#locks
![image](https://user-images.githubusercontent.com/80429191/200284321-89193e04-2179-4e45-bf75-fbaf43c75ce0.png)

**Working Groups**
Tab > Openings
"Current budget"
![image](https://user-images

[2022-11-07 10:37] polikosi commented on #3297
root account:

[2022-11-07 10:44] WRadoslaw commented on #2815
Resolved by modal refactor

[2022-11-07 12:42] ivanturlakov commented on #2991
Tested on https://dao-git-carthage-joystream.vercel.app/#/election
wss://54.227.116.57.nip.io/ws-rpc

@traumschule @dmtrjsg  Looks like not fixed yet

⚠️ The votes are restored from file but user has to reload the page manually. Tested on Voting and Revealing stages.

To test this case, I voted for a few candidates then backup votes, and then deleted votes from Local Storage.

[2022-11-07 14:53] traumschule commented on #2815
Just a quick QA check.

[2022-11-07 15:51] #3613 closed

[2022-11-07 15:52] #3711 closed

[2022-11-07 15:52] #3762 closed

[2022-11-07 15:58] dmtrjsg commented on #2929
@gyroflaw pls kindly upd the link to : https://joystream.gitbook.io/testnet-workspace/system/working-groups#staking

[2022-11-07 16:05] gyroflaw commented on #2929
Ok, I will fix it

[2022-11-07 19:11] traumschule commented on #2847
Thanks for catching these, going with https://github.com/Joystream/pioneer/issues/2929#issuecomment-1305822584
Soon to be merged here: #3775

[2022-11-07 22:33] traumschule commented on #2673
It's < 17 JOY on Carthage and there's a faucet. Please reopen if you think it's still a problem.

![carthage-fee](https://user-images.githubusercontent.com/31551045/200429316-d38c5c92-c1ed-400d-a4a5-fec29566bbc8.png)

[2022-11-07 22:33] #2673 closed

[2022-11-08 09:44] dmtrjsg commented on #3594
@mochet could you pls elaborate on the triggers/ events that you'd benefit from the most?

[2022-11-08 10:05] traumschule opened #3816 "Allow banner upload for candidacy"
location: https://dao.joystream.org/#/election -> Announce candidacy modal

Currently banner has to be a link which makes it more likely to share a GIF than quality home-made candidacy stuff.

[2022-11-08 10:14] dmtrjsg commented on #2815
This was tested by @WRadoslaw and its merged on dev.

[2022-11-08 10:14] #2815 closed

[2022-11-08 10:29] #3770 closed

[2022-11-08 10:30] #3722 closed

[2022-11-08 10:47] dmtrjsg commented on #3806
That will be already covered by the tests that @thesan is updating as part of refactoring work.. Thank you for raising tho we share your sentiment 🤝

[2022-11-08 10:47] #3806 closed

[2022-11-08 10:51] traumschule commented on #3291
Unfortunately i got some to back this up again.

I just filled out my candidacy and it felt like the tab would crash anytime. At first everything was fine filling bullet points, adding a description, going back and forth but i think what "broke" it (ie caused some kind of loop and continues load) was the editor as assumed before.

Specifically links and marking text via cursor (shift + arrows) or

[2022-11-08 10:56] dmtrjsg commented on #3804
@traumschule why would you want this? we think it may make sense to disable "join now" button before the connection is established to show memberships but no such problem with the wallet.. wdyt?

[2022-11-08 11:07] dmtrjsg commented on #3424
Let's keep it there as if you have 0 across ALL memberships there's a modal with the CTA:

<img width="1008" alt="Screenshot 2022-11-08 at 15 06 34" src="https://user-images.githubusercontent.com/93924525/200548920-e49c4c33-e8d4-4969-8d77-0fc2f073d996.png">

[2022-11-08 11:07] #3424 closed

[2022-11-08 11:12] dmtrjsg commented on #3594
I don;t think this would be ideal to work on without proper Backend, which is in the pipeline now
#3491

[2022-11-08 11:21] dmtrjsg commented on #3816
quick solution: One option is to create a data URL input so that the image is written on chain but that would increase the Tx fees quite a lot.

In this case we will reduce the image to a small resolution and if it is above it then we throw an error of max limit size.

This issue is blocked by

#3702

longer term: The other option to wait for the storage system to host avatars as well as any other

[2022-11-08 12:46] ivanturlakov commented on #3470
Tested here #3635

[2022-11-08 13:42] #3780 closed

[2022-11-08 13:42] dmtrjsg commented on #2326
Can be tested on dev

[2022-11-08 14:04] polikosi commented on #2326
Create Proposal
![image](https://user-images.githubusercontent.com/80429191/200583197-767a7f13-d580-4a1f-bef1-6929b51265c3.png)
![image](https://user-images.githubusercontent.com/80429191/200583413-b675f98d-6515-4c49-ae3f-c2138510b4b3.png)
![image](https://user-images.githubusercontent.com/80429191/200583464-0a8849e7-cb2b-4e73-808b-169359245440.png)
[TX](https://polkadot.js.org/apps/?rpc=wss://3.9

[2022-11-08 14:24] polikosi commented on #3251
tested on https://dao-git-dev-joystream.vercel.app/#/settings?network-config=https://3.92.226.32.io/network/config.json

Apply to opening
![image](https://user-images.githubusercontent.com/80429191/200587221-9861366f-e9c2-4275-9a1a-522432e0c1e2.png)
[TX](https://polkadot.js.org/apps/?rpc=wss://3.92.226.32.nip.io/ws-rpc#/explorer/query/0xb1143b6373e30416e6763bae943f670e50b1355661da772f5e1054934ad01

[2022-11-08 14:46] polikosi commented on #3664
I think everything is working fine. What do yo think? WDYT @dmtrjsg

https://user-images.githubusercontent.com/80429191/200595131-dd473ffa-282b-4622-aa48-1bf1dae345c2.mp4

[2022-11-08 14:47] dmtrjsg opened #3818 "[feature request] Add WG name to Opening breadcrumb"
**Taken at**: https://dao.joystream.org/#/working-groups/openings/operationsWorkingGroupAlpha-50
**Fields**:
- Which feature are you missing?: Add WG name to Opening breadcrumb
- What problem would that solve for you?: Helps navigation to know current group, link and browse to it + adds context for back button.
See `packages/ui/src/app/constants/breadcrumbs.ts`
- Share your Github or Discord so we

[2022-11-08 16:33] ivanturlakov commented on #3714
✅ Tested on https://dao-git-dev-joystream.vercel.app/
wss://44.201.112.198.nip.io/ws-rpc

Members list removed
<img width="1440" alt="Снимок экрана 2022-11-08 в 18 31 28" src="https://user-images.githubusercontent.com/46903215/200622102-22818003-4bb4-44b1-be4e-fa69acd63a4c.png">

[2022-11-08 18:21] traumschule commented on #3804
Right, lacked some detail here. The problem is the button does nothing until endpoint connection is established. So
1. Add/Verify logic to indicate if buttons are already usable or not. Mostly already in place.
2. On top of that `Connect wallet` would have to be disabled until api connection and it may not be completely clear to new users why.
3. More tooltips could help to some degree.

To determ

[2022-11-08 21:54] bedeho opened #3819 "Validation & Nomination screen"
We currently have nothing here, but there is a very serious need to make this process better. We always imagined Polkadot apps could be used, but that product not only evolves to focus on various changes that have occurred that are not relevant to us (e.g. nomination pools), but more importantly solves the identity issue using the `identity`pallet, which Joystream does not have. This makes it diff

[2022-11-09 10:21] ivanturlakov commented on #2346
Tested on https://dao-git-dev-joystream.vercel.app/#/proposals/current

@traumschule

⚠️ Small typo
<img width="686" alt="Снимок экрана 2022-11-09 в 12 09 28" src="https://user-images.githubusercontent.com/46903215/200803333-7361bfd7-56d7-43f5-aa81-e29bcf28e459.png">
<img width="1438" alt="Снимок экрана 2022-11-09 в 12 05 01" src="https://user-images.githubusercontent.com/46903215/200803373-864301

[2022-11-09 12:22] dmtrjsg commented on #3664
Yep all g! thanks for testing @polikosi 👍

[2022-11-09 14:19] dmtrjsg commented on #2326
@polikosi

I am sorry, seems I have missed it with the proper description.

Here what was changed is that execution constraints were set up with the creation constraints.

here to test the negative scenario one would need to set the reward for the WG where Lead is not set. This would need to trigger a warning message saying that the way how it is set up now the proposal will fail.

__

bases on th

[2022-11-09 14:42] traumschule commented on #2346
Fixed in #3775

[2022-11-09 16:09] traumschule commented on #3291
not reproducible on dev, closing

[2022-11-09 16:09] #3291 closed

[2022-11-09 16:16] traumschule commented on #3131
@polikosi please test this once more

[2022-11-09 17:44] ivanturlakov commented on #3458
Tested on https://dao-git-dev-joystream.vercel.app/#/working-groups
wss://44.201.112.198.nip.io/ws-rpc

<img width="551" alt="Снимок экрана 2022-11-09 в 14 03 09" src="https://user-images.githubusercontent.com/46903215/200899383-6782c647-8c6e-4d55-b434-4ec666d993f8.png">

### ⚠️ Stake increased but title says - Slashed
<img width="534" alt="Снимок экрана 2022-11-09 в 18 26 50" src="https://user-im

[2022-11-10 09:35] WRadoslaw commented on #2404
Fixed by #3732

[2022-11-10 09:35] #2404 closed

[2022-11-10 12:12] ivanturlakov commented on #2507
✅ Tested on https://dao-git-dev-joystream.vercel.app/#/election
wss://44.201.112.198.nip.io/ws-rpc

<img width="1183" alt="Снимок экрана 2022-11-10 в 14 10 50" src="https://user-images.githubusercontent.com/46903215/201088479-befc0612-a51c-4b5e-b658-627ce929336c.png">

[2022-11-10 13:38] WRadoslaw commented on #2324
Closing since none of the checks from fill worker opening transaction applies to the proposal lead equivalent.

[2022-11-10 13:38] #2324 closed

[2022-11-10 20:24] traumschule commented on #2451
As I understand [this comment](https://github.com/Joystream/pioneer/pull/3788#issuecomment-1309998057) on Carthage we only show currently active applications - without the counter for withdrawn. cc @dmtrjsg
So in above illustration `6/10 0/10` means 6 of 10 applied with `applicants` being 6 at a `hiring.limit` of 10.
`hiring.current` is 0 until the opening is closed or if no one got hired.

[2022-11-14 09:11] dmtrjsg commented on #3268
@traumschule pls assign to qa

cc @polikosi @ivanturlakov

[2022-11-14 09:14] #3266 closed

[2022-11-14 09:34] dmtrjsg commented on #2326
So we've checked how this works on the QN side, and there isn't much we could do on the Pioneer side to unset lead. The extrinsic has to be called by the engine when the proposal to terminate the lead is executed.  Potentially a runtime bug but we need more time to check.

[2022-11-14 10:38] dmtrjsg opened #3831 "Add Chain Metadata For Signers"
![Screenshot 2022-11-14 at 14.33.41.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/91b50ec8-8d15-4152-8fdf-c32c5270198a)

![Screenshot 2022-11-14 at 14.33.46.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/3fa58349-8e6d-4042-b612-b593c6aefd68)

[2022-11-14 11:10] WRadoslaw commented on #3689
@dmtrjsg There is already length validation for the proposal title, so either we exceed the scope or this ticket can be closed

[2022-11-15 02:48] traumschule commented on #2326
Ok thanks for checking, then there's no problem.

Similar case below, it's not possible to select unset lead. Should it still get an extra warning?

![](https://cdn.discordapp.com/attachments/910968995379822633/1041804095712936018/no-group.png)

[2022-11-15 07:35] Songoku1691 opened #3834 "Update TJoy to Joy in Pioneer UI since we are in Carthage Release already"
Hello Guys:

I just observed on Pioneer UI. For Carthage release, I think we should be using Joy instead of TJoy.
Please see picture on link below...

https://discord.com/channels/811216481340751934/1035124220012810280/1041979345448730665

Thanks.

[2022-11-15 09:09] dmtrjsg opened #3835 "Update Copy on the Move Funds Modal"
## Context
User got confused as they did not understand what was required from them to apply to council membership
![Screenshot 2022-11-15 at 13.03.48.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/6c4a4955-6736-4fb3-85c7-c8ff00323093)

## Scope
- [ ] Update copy to "Unfortunately, you don't have enough balance on the account associated with currently selected membership to cov

[2022-11-15 09:18] dmtrjsg commented on #2326
@traumschule one needs to select the WG and lead is populated automatically..

[2022-11-15 09:57] kdembler commented on #3834
Those are still testnet JOYs, they will become real JOYs only on mainnet

[2022-11-15 11:12] Songoku1691 commented on #3834
Oh. Thanks for update Sir. In my Pioneer UI, I could see my joy token allocation already but unit is TJoy.

[2022-11-15 11:59] dmtrjsg opened #3836 "Tooltips for Vesting Lock Widgets"
## Context

Missing tooltips:
![Screenshot 2022-11-15 at 15.45.40.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/35b26b4b-31ad-4202-b9fc-775e70b21ff3)

## Scope
- [ ] Upd tooltip for Total Initial Vesting

Total Initial vesting is the amount of tokens that are allocated to this account in the Genesis block, or via vesting transfer. From the very beginning this amount is fully l

[2022-11-15 15:27] traumschule opened #3838 "Claim modal starts with error"
taken at: https://dao.joystream.org/#/profile => `Claim`
Waiting or switching account helps, still confusing at first.

![claimable-error](https://user-images.githubusercontent.com/31551045/201958403-69fbca2b-220c-4efa-b48b-a9922ef8c87b.png)

[2022-11-15 16:42] traumschule commented on #3831
Implementations
- 'outdated metadata' banner: https://github.com/polkadot-js/apps/blob/master/packages/page-accounts/src/Accounts/BannerExtension.tsx#L42
- Pioneer1: Settings > update metadata: https://github.com/Joystream/joystream/blob/giza/pioneer/packages/page-settings/src/useExtensions.ts#L47
- same in Polkadot-JS: https://github.com/polkadot-js/apps/blob/master/packages/page-settings/src/use

[2022-11-16 09:14] dmtrjsg commented on #2326
QN fix is required..

[2022-11-16 09:15] dmtrjsg commented on #3479
@traumschule pls have a look

[2022-11-16 11:48] ivanturlakov commented on #3268
Pls, elaborate on what testing scenario should be used here.
Also cant reach testing env https://dao-git-dev-joystream.vercel.app/#/settings?network-config=https://54.163.55.37.nip.io/network/config.json
=> We’ll be right back!

[2022-11-16 15:47] ivanturlakov commented on #3657
Tested on https://dao-git-dev-joystream.vercel.app/#/settings?network-config=https://54.163.55.37.nip.io/network/config.json

Avatar didn't show up after a member created

<img width="888" alt="Снимок экрана 2022-11-16 в 17 41 36" src="https://user-images.githubusercontent.com/46903215/202227070-8f884082-8f7f-47f0-9c8c-a6de8d32995e.png">

[2022-11-16 18:57] traumschule opened #3850 "Hide passing leads in WG select"
Follow-Up to [#2326](https://github.com/Joystream/pioneer/issues/2326#issuecomment-1310336954)

## Scope

Update [group filter](https://github.com/Joystream/pioneer/blob/dev/packages/ui/src/working-groups/components/SelectWorkingGroup/SelectWorkingGroup.tsx#L53) after the QN fix was deployed.

## Context

@dmtrjsg For leaving leads what will the fix change the worker status to?

[2022-11-16 19:40] traumschule opened #3851 "Add `Invitation Lock` tooltip on MyAccounts"
Follow-Up to https://github.com/Joystream/pioneer/issues/3479#issuecomment-1304099476

Hint: Add tooltip on [MyAccounts](https://github.com/Joystream/pioneer/blob/dev/packages/ui/src/app/pages/Profile/MyAccounts.tsx) => [Accounts](https://github.com/Joystream/pioneer/blob/dev/packages/ui/src/accounts/components/Accounts.tsx) => [InvitationLockItem](https://github.com/Joystream/pioneer/blob/dev/pac

[2022-11-17 09:38] polikosi commented on #2929
nice, works as expected
link: https://joystream.gitbook.io/testnet-workspace/system/working-groups#staking
![image](https://user-images.githubusercontent.com/80429191/202410436-d57c24be-f6db-45b7-9a24-5921b8391c00.png)

[2022-11-17 12:00] ivanturlakov commented on #2915
✅ Tested on https://dao-git-dev-joystream.vercel.app/#/proposals/past
wss://54.163.55.37.nip.io/ws-rpc

https://user-images.githubusercontent.com/46903215/202440620-4396e571-a3eb-4b0f-82a9-a6c3d8265d1e.mov

<img width="1440" alt="Снимок экрана 2022-11-17 в 13 54 51" src="https://user-images.githubusercontent.com/46903215/202440636-89d01e65-3b2c-47bc-a5ea-a818c58be346.png">

[2022-11-17 16:07] traumschule opened #3856 "Rejected applicant is displayed as `Pending`"
Follow-Up to #2913 ([context](https://github.com/Joystream/pioneer/pull/3789#issuecomment-1317293382))

If an applicant wasn't hired display `Rejected` status.

![](https://user-images.githubusercontent.com/46903215/202234756-2722015b-9c35-4345-98f8-3027ebb9cb38.png)

![](https://user-images.githubusercontent.com/46903215/202234755-21167e2e-8f19-4cd6-ab91-0f8e9fd95909.png)

[2022-11-18 13:18] ivanturlakov commented on #3583
Tested on https://dao-git-carthage-joystream.vercel.app/#/working-groups
wss://54.163.55.37.nip.io/ws-rpc

The old name still remains in some places

<img width="601" alt="Снимок экрана 2022-11-18 в 15 16 03" src="https://user-images.githubusercontent.com/46903215/202713798-e2e3a0d2-76ea-4e1c-ba27-e5fea79ae1d5.png">
<img width="819" alt="Снимок экрана 2022-11-18 в 15 13 20" src="https://user-image

[2022-11-18 15:40] chrlschwb commented on #2451
PR 3860

[2022-11-18 15:42] chrlschwb commented on #2491
fixed this with PR 3861

[2022-11-18 15:47] chrlschwb commented on #2513
fixed this with PR 3862.
"Property 'updatedAt' does not exist on type 'WorkingGroupOpening'."

[2022-11-18 15:49] chrlschwb commented on #2466
state change from "Gracing" to "Executed" and countdown eliminated accordingly

[2022-11-19 17:35] traumschule opened #3865 "Allow to reuse previous candidacy"
## Rationale

On every election former candidates or even CM have to re-enter their notes from scratch.

## Scope

During announcing offer `Reuse Candidacy` button on past elections list row where the user announced before.
On click open the announce candidacy modal with prior details filled in to be edited.

[2022-11-20 20:25] traumschule opened #3867 "Markdown for member `About`"
Parse markdown on member `About` drawer tab.

![shameless plug](https://user-images.githubusercontent.com/31551045/202924386-d8d17683-6abe-4a01-a96d-4c0877f8fbd3.png)

[2022-11-21 10:21] thesan opened #3869 "Fix balance used to validate the voting stake"
Voting:
1. Transferable balance -> Total Balance
2. Validation message should be “Insufficient balance to cover staking amount provided.”

![image](https://user-images.githubusercontent.com/6571453/203023862-e10e036e-2a84-449c-ae96-382c600fb55c.png)

[2022-11-21 10:34] #3689 closed

[2022-11-21 10:43] dmtrjsg opened #3870 "When App is not connected to the chain, Onboarding modal cannot be opened"
## Context

When App is not connected to the chain, the wallet cannot be connected

## Scope
- [ ] Allow to start onboarding flow (Connect wallet part) even if the network is not connected

[2022-11-21 10:53] dmtrjsg opened #3871 "Send Tx Metadata to Signer"
Same as this one but for Pioneer:
- https://github.com/Joystream/atlas/issues/3434

[2022-11-21 11:14] traumschule commented on #3869
Fixed in #3866 please review.

[2022-11-21 12:05] traumschule commented on #3870
discussed in #3804

[2022-11-21 12:57] traumschule commented on #3816
Hope that's fine since you worked on uploads recently.

[2022-11-21 12:57] #3805 closed

[2022-11-21 13:02] traumschule commented on #3273
(would assign @mkbeefcake but lack permission. @dmtrjsg @mnaamani)

[2022-11-21 13:09] traumschule commented on #3819
@dmtrjsg i can take care of the data part. Is this a suitable task for design applicants?

[2022-11-21 13:31] dmtrjsg commented on #3073
Discussed on the morning standup and some changes required to design and runtime:

1. Commitment field - optional > Not adding to the create proposal
2. Payload hash string. Pioneer will generate it automatically > remove input from designs, but it will need to show on the proposal when viewed in Pioneer to help council with validating that payload is correct.
4. Create Metaprotocol task for these

[2022-11-21 14:05] dmtrjsg commented on #3819
I'd say only for successful ones, after they get used to the flow with working on these issues first:

<img width="665" alt="Screenshot 2022-11-21 at 18 04 57" src="https://user-images.githubusercontent.com/93924525/203074698-51aa43f6-80e3-4127-aedf-19d273c0d4ae.png">

[2022-11-22 09:09] dmtrjsg commented on #2326
@traumschule how is this tested and ready for prod if QN fix was required?

cc @thesan

[2022-11-22 15:31] ivanturlakov commented on #3650
✅ Tested on https://dao-git-dev-joystream.vercel.app/#/election/past-elections/00000005
wss://54.163.55.37.nip.io/ws-rpc

https://user-images.githubusercontent.com/46903215/203354470-0a74ea12-d70a-41d4-8239-fa16d5b0136f.mov

[2022-11-22 16:47] traumschule opened #3873 "Votes can't be revealed although present in local store"
## Context

Votes are not displayed in my votes either.

![](https://cdn.discordapp.com/attachments/815192060276506664/1044638554527125514/image.png)

![](https://cdn.discordapp.com/attachments/815192060276506664/1044653635411382302/image.png)

[Report](https://discord.com/channels/811216481340751934/815192060276506664/1044634842324815962)

## QA

Go through an election, just to check that what wa

[2022-11-22 19:43] bedeho opened #3874 "Handle governance blacklisting"
https://github.com/Joystream/joystream/issues/2927

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202078489349362/1203422525277066) by [Unito](https://www.unito.io)

[2022-11-22 20:08] traumschule opened #3883 "Carthage election stakes mismatch"
It was reported that the revealed / credited stake does not match the vote stake.

Vote stake 250k
![](https://cdn.discordapp.com/attachments/813361923172335648/1044699945497808987/image.png)

"Total stake" 150k
![](https://cdn.discordapp.com/attachments/813361923172335648/1044699701699678229/image.png)

Additionally there are multiple reports for problems revealing with pioneer / p-js Joystream/p

[2022-11-23 08:34] dmtrjsg opened #3876 "Accounts with voting locks cannot be used for creating proposals on Carthage"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1203425219197208) by [Unito](https://www.unito.io)

[2022-11-23 08:46] dmtrjsg commented on #3873
This comment indicates that polkadot.js app usage experiences same problem: https://discord.com/channels/811216481340751934/815192060276506664/1044669116830724227

[2022-11-23 09:13] dmtrjsg commented on #3873
Root acc vote could be revealed but not the other ones.. even thought they are in the local storage

[2022-11-23 16:16] traumschule commented on #3869
Expected validation error is now: `Selected amount exceeds account balance.`

[2022-11-23 16:23] traumschule commented on #2991
There's a fix in #3868 by @mkbeefcake.

[2022-11-23 19:49] traumschule commented on #3660
I think i got it now.

Also check if this assumption affect the candidacy/councilor lock

Expected change:  if not elected for both candidate and voter revealing has to be possible after the next election started (different `cycleId`).

[2022-11-23 23:01] chrlschwb commented on #2596
2596

[2022-11-24 09:08] traumschule opened #3882 "Display to be imported votes"
On top of #2991 i suggest to

Show a confirmation of to be imported votes inside the modal below the confirmation of the user selected file with "The following votes will be imported:" directly after selecting the file.

This gives user an idea what to expect to happen.

[2022-11-24 09:18] dmtrjsg commented on #1633
Can this be updated to

"Import your file with voting salt here and submit the transaction to restore votes."

<img width="459" alt="Screenshot 2022-11-24 at 13 16 40" src="https://user-images.githubusercontent.com/93924525/203744763-54bd72c3-53f0-41d3-94be-f50c6c358746.png">

in a separate PR?

[2022-11-24 09:19] #3876 closed

[2022-11-24 09:19] dmtrjsg commented on #3876
was tested by @thesan and confirmed to be working okay

[2022-11-24 09:50] traumschule commented on #1633
[Had sneaked in new text](https://github.com/Joystream/pioneer/commit/02cd4c66b6ed1eb37087cbe901e35995129d0dbd)

Still change?

[2022-11-24 10:08] traumschule commented on #3873
Just tested on https://dao.joystream.org/#/election
![votes-not-shown](https://user-images.githubusercontent.com/31551045/203756494-224201b4-022a-458f-bce4-83f0edce7e89.png)

[2022-11-24 10:30] traumschule commented on #2596
Do we have influence over what browser suggests based on field name and saved suggestions? It's possible to change field name to avoid collisions.

[2022-11-24 10:40] dmtrjsg commented on #3122
@traumschule pls feel free to assign for fix

[2022-11-24 10:42] dmtrjsg commented on #3583
@WRadoslaw pls feel free to take care of the last few small bits

[2022-11-24 10:48] dmtrjsg commented on #2847
Closing based on the comment above "Soon to be merged here: https://github.com/Joystream/pioneer/pull/3775"

[2022-11-24 10:49] #3729 closed

[2022-11-24 11:33] dmtrjsg commented on #1099
@traumschule could be done I guess but aren't there more pertinent issues or is this one a real pain?

[2022-11-24 12:01] dmtrjsg commented on #3153
was done in a diff PR but worth testing based on issue description

[2022-11-24 12:26] dmtrjsg commented on #1633
@traumschule Nah thats cool mate 👍 ready for qa-then no need in follow up PR, thanks for taking ownership of this ⭐

[2022-11-24 13:00] traumschule opened #3884 "Replace proposal Caution modal"
Suggestion to replace the disruptive `Caution` modal with a checkbox with warning and a tooltip to the left inside `AddNewProposal` modal footer which has a lot of free space.

![caution](https://user-images.githubusercontent.com/31551045/203790056-6a4214a8-e4b3-4ff8-9b8a-ca520736bb46.png)

![add-proposal-modal](https://user-images.githubusercontent.com/31551045/203790141-1c0d74f2-f0d6-4179-b60a-9

[2022-11-24 13:03] dmtrjsg opened #3885 "Hide tooltip on locked accounts as soon as contents of scroll bar (accounts) start to get scrolled"
## Context

Tooltip is flipping when accounts are scrolled
![Screenshot 2022-11-24 at 17.02.06.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/b160edc3-deb8-4588-8ca0-29dafa569570)

## Scope
- [ ] Close tooltip as soon as user starts scrolling the accounts up or down

[2022-11-24 13:04] dmtrjsg commented on #3885
@traumschule pls feel free to assign

[2022-11-24 13:14] WRadoslaw commented on #3885
@oleksanderkorn This might fix the issue

[code]

[2022-11-24 14:38] traumschule commented on #3660
Is this fixed now?

[2022-11-24 21:56] thesan commented on #3873
@traumschule what's strange on this screenshot is that the "My votes" count is 0, so the votes aren't returned from the QN... Please could you pm me on discord one of the account which has a non revealed votes, so I can check wether the QN actually has a commitment for this account ?

[2022-11-25 09:09] traumschule commented on #1099
No not that, rather the caution modal.

[2022-11-25 09:56] #3582 closed

[2022-11-25 10:01] dmtrjsg opened #3889 "Update pioneer based on WG change and LockID change"
## Context

LockId and WG names were changed and merged to Runtime mainnet branch, before the release Pioneer has to do the respective changes

- https://github.com/Joystream/joystream/pull/4388

## Scope
- [x] Changes  for lock id
- [x] Changes for WG name

⚠️ SHOULD BE MERGED ON MAINNET

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1203438066757237) by [

[2022-11-25 10:08] dmtrjsg opened #3890 "Follow up on Payouts Proposal"
## Context

#payout

##  Scope

- Metaprotocol additions (link to tool and payload hash)
- Change of WG budget

[2022-11-26 09:11] traumschule opened #3892 "Do not forget form input after failed transaction"
## Rationale

Current fail-and-forget is really bad UX. A proposal fails because of runtime restraints. Pioneer tries to apply them in advance but not all of them.

## Scope

After the failed tx offer user to download their form input or offer to retry in a new / the same modal instance.

[2022-11-27 00:56] traumschule commented on #3268
This needs work. I updated the description a few days back to change current behavior (re-labeling) to re-route long chain section to public descriptor. Disregard if you think it's fine. Sorry for the delay!

[2022-11-27 01:06] traumschule commented on #306
please correct. took this on to give leads easier access, also with regards to the now fixed cli error. def some swag to @mnaamani for the [quick response](https://discord.com/channels/811216481340751934/812343711870091285/1046103098202005514)! https://github.com/Joystream/joystream/pull/4468

[2022-11-28 03:27] traumschule commented on #2807
What is X: `200,000 + 5,533.38 - X = 200,562.46`
![cm-difference](https://user-images.githubusercontent.com/31551045/204184404-3f1c38d4-ebad-4809-8b43-8208c97cc972.png)

[2022-11-28 10:23] dmtrjsg opened #3895 "[USERSNAP] incorrect text (latin words) once push withdraw button for Council election"
**Taken at**: https://dao.joystream.org/#/election
**Fields**:
- Houston, we have a problem.: incorrect text (latin words) once push withdraw button for Council election
- Comment: incorrect text (latin words) once push withdraw button for Council election

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/31bc076d-8bb5-4d31-9450-7b26c19

[2022-11-28 12:12] dmtrjsg opened #3897 "[USERSNAP] Comment in wrong place"
**Taken at**: https://dao.joystream.org/#/proposals/preview/27
**Fields**:
- Houston, we have a problem.: Comment in wrong place
- Comment: I postad comment and it is displayed in middle of old comments
- Link to polkadot block: https://dao.joystream.org/#/proposals/preview/27

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/95423c19-3

[2022-11-28 13:21] polikosi commented on #2985
tested on: https://dao-git-dev-joystream.vercel.app/#/settings?network-config=https://34.230.5.182.nip.io/network/config.json

"My votes" shows correct numbers for "My Stake"
![image](https://user-images.githubusercontent.com/80429191/204287646-cd1a75fe-fa4b-4137-baf3-9804bb73ee7c.png)

[2022-11-28 13:27] ivanturlakov commented on #3657
✅ Tested on https://dao-git-dev-joystream.vercel.app/#/settings
wss://34.230.5.182.nip.io/ws-rpc

### Create a New Membership
<img width="879" alt="Снимок экрана 2022-11-28 в 15 15 11" src="https://user-images.githubusercontent.com/46903215/204287705-391de103-60f5-4f51-acdc-54010f88ebaa.png">
<img width="528" alt="Снимок экрана 2022-11-28 в 15 17 39" src="https://user-images.githubusercontent.com/

[2022-11-28 13:44] polikosi opened #3899 "successfully announced candidacy modal bug"
https://dao-git-dev-joystream.vercel.app/#/settings?network-config=https://34.230.5.182.nip.io/network/config.json

https://user-images.githubusercontent.com/80429191/204292341-c6bf1b03-0ed0-4afb-a426-e60bb951f56a.mp4

[2022-11-28 13:50] polikosi commented on #3869
tested on: https://dao-git-dev-joystream.vercel.app/#/settings?network-config=https://34.230.5.182.nip.io/network/config.json
![image](https://user-images.githubusercontent.com/80429191/204293757-e95ccf05-071c-408d-8db6-a19b7d4803a3.png)

[2022-11-28 13:51] ivanturlakov commented on #3583
✅ Tested on https://dao-git-dev-joystream.vercel.app/#/working-groups
wss://34.230.5.182.nip.io/ws-rpc

Name updated 👍

[2022-11-28 13:52] polikosi commented on #3690
tested on: https://dao-git-dev-joystream.vercel.app/#/settings?network-config=https://34.230.5.182.nip.io/network/config.json

Announce candidacy:

https://user-images.githubusercontent.com/80429191/204294398-d04d4fda-4a26-4314-8e46-2f31bb7f1137.mp4

Vote for council:

https://user-images.githubusercontent.com/80429191/204294348-087aeed3-7a74-4406-a9da-f683b79843d6.mp4

[2022-11-28 14:04] polikosi commented on #3899
same problem with the Proposals:

https://user-images.githubusercontent.com/80429191/204297029-fa6d1140-a58c-409b-b4cd-0d4a915413b5.mp4

[2022-11-28 14:06] traumschule commented on #3899
Thanks @polikosi. Confirm-close-confirmation (#3718) comes up after successful announcement / proposal creation and shouldn't.

[2022-11-28 14:26] polikosi opened #3900 "Update tooltip text Proposals>Preview>Discussion Open"
Update tooltip text. Remove "Dolore magna anim eu nisi qui."
![image](https://user-images.githubusercontent.com/80429191/204300922-396f17d1-68df-4815-90a1-9d3e58d8bbb1.png)

[2022-11-28 14:26] traumschule commented on #3895
Could be this reported [here](https://discord.com/channels/811216481340751934/815192060276506664/1046721663846338631)

![](https://cdn.discordapp.com/attachments/815192060276506664/1046721663535943720/image.png)

[2022-11-28 14:52] traumschule commented on #2060
Hey @dmtrjsg is this up for community-dev?

[2022-11-28 14:56] traumschule commented on #3900
@dmtrjsg is there something smart to tell about the forum?

[2022-11-28 15:03] traumschule commented on #2466
Thanks @polikosi, to confirm

The automatic refresh for the transition from gracing to executed works now?

The timer is expected to disappear.

[2022-11-28 15:21] #3897 closed, assigned to dmtrjsg

[2022-11-28 16:30] thesan commented on #3736
It happened again here: https://github.com/Joystream/pioneer/actions/runs/3565964834/jobs/5991807716#step:7:547

[2022-11-28 17:05] polikosi commented on #2466
@traumschule The automatic update  from gracing to executed works when there were -7 blocks and the timer disappeared.

So, after -7 blocks, everything works as it should.

[2022-11-28 17:44] ivanturlakov commented on #3263
Tested on https://dao-git-dev-joystream.vercel.app/#/profile/memberships
wss://34.230.5.182.nip.io/ws-rpc

⚠️ Edit membership Modal: Spaces and special characters are still acceptable

https://user-images.githubusercontent.com/46903215/204344841-035b93ea-7f15-43f9-a9c7-ad28165d5ac6.mov

[2022-11-28 20:33] dmtrjsg opened #3902 "[USERSNAP] Proposal does not display the necessary information"
**Taken at**: https://dao.joystream.org/#/proposals/preview/40
**Fields**:
- Houston, we have a problem.: Proposal does not display the necessary information
- Comment: Set Membership Lead Invitation Quota Proposal.
Proposal for 100 invites.  The proposal, for some unknown reason, does not display this information.
- Feedback: adovrn

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a

[2022-11-28 21:01] dmtrjsg opened #3903 "[USERSNAP] GRACING Period"
**Taken at**: https://dao.joystream.org/#/proposals/preview/40
**Fields**:
- Houston, we have a problem.: GRACING Period
- Comment: Set Membership Lead Invitation Quota Proposal does not show gracing period in hours/blocks
- Feedback: adovrn

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/822c49ac-0712-45d0-88d4-ddb6da6d8db9-annotated

[2022-11-29 02:15] dmtrjsg opened #3904 "[feature request] Forum Category Description is cut"
**Taken at**: https://dao.joystream.org/#/forum
**Fields**:
- Which feature are you missing?: Forum Category Description is cut
- What problem would that solve for you?: Please check Forum Category with long description. It is cut. There is no way you can read the whole description. I hope it can be improved by putting &#39;Show More&#39; like feature.
- Share your Github or Discord so we can get

[2022-11-29 04:22] dmtrjsg opened #3905 "[feature request] Feedback Test"
**Taken at**: https://dao.joystream.org/#/working-groups/my-applications
**Fields**:
- Which feature are you missing?: Feedback Test
- What problem would that solve for you?: Trying to see how the feedback button works
- Share your Github or Discord so we can get in touch: Chaos77#8632

**Browser**: Chrome 107 (Windows 10)
**Screen size**: 2560x1080
**[Open #28 in Usersnap](https://app.usersnap.co

[2022-11-29 05:56] #3905 closed

[2022-11-29 05:57] chrlschwb commented on #3905
Feedback feature working as expected

[2022-11-29 12:55] ivanturlakov commented on #2291
✅ Tested on https://dao-git-dev-joystream.vercel.app/#/proposals/current
wss://34.230.5.182.nip.io/ws-rpc

https://user-images.githubusercontent.com/46903215/204533985-6c9143a2-a3d7-4c94-945a-b454369a5b89.mov

[2022-11-29 13:09] ivanturlakov opened #3907 "Closing confirmation modal issue"
#2291

Show my proposal button triggers Closing confirmation modal

https://user-images.githubusercontent.com/46903215/204536625-6a141260-44d3-44e5-a5e8-9bed74988505.mov

Back to proposals button triggers Closing confirmation modal

https://user-images.githubusercontent.com/46903215/204536547-36100a52-0676-4bdf-94b7-d1496726a1e7.mov

[2022-11-30 08:31] dmtrjsg opened #3908 "[feature request] New Categories Limit of Pioneer"
**Taken at**: https://dao.joystream.org/#/forum/category/5
**Fields**:
- Which feature are you missing?: New Categories Limit of Pioneer
- What problem would that solve for you?: I&#39;m creating New Categories on Pioneer Forum. I&#39;ve read from documents there is maximum of 40 categories. After making 14 categories, I encountered mapsize limit. Accdg. to Sir Freakstatic there maybe runtime limi

[2022-11-30 09:12] dmtrjsg commented on #2913
@traumschule ready to be assigned for QA

[2022-11-30 11:27] ivanturlakov commented on #3907
Add new thread
<img width="999" alt="Снимок экрана 2022-11-30 в 13 26 17" src="https://user-images.githubusercontent.com/46903215/204784526-e766955f-0f43-4081-8129-c47f1aaa24b0.png">

[2022-11-30 11:50] ivanturlakov commented on #3907
Add Post
<img width="968" alt="Снимок экрана 2022-11-30 в 13 49 20" src="https://user-images.githubusercontent.com/46903215/204788969-305d0b8a-6e07-4626-9477-4d45e52cda96.png">

[2022-11-30 12:21] ivanturlakov commented on #3151
✅ Tested on https://dao-git-staging-joystream.vercel.app/#/settings?network-config=https://34.230.5.182.nip.io/network/config.json

https://user-images.githubusercontent.com/46903215/204791555-d5b1b1a4-4bdc-4e98-8bfa-eceeb957cbbc.mov

⚠️ @dmtrjsg `text-overflow: ellipsis;` could be applied for long thread titles(as on member handle), if we have a time

<img width="1197" alt="Снимок экрана 2022-11-

[2022-11-30 12:48] dmtrjsg opened #3909 "[USERSNAP] can't create proposals"
**Taken at**: https://dao.joystream.org/#/proposals/current
**Fields**:
- Houston, we have a problem.: can&#39;t create proposals
- Comment: can&#39;t create proposals is we have many proposals approved and in the gracing period

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/f147eadb-c1c8-4703-bf7e-4395de381e12-annotated_d453cf05-ce3

[2022-11-30 14:29] ivanturlakov commented on #3152
Tested on https://dao-git-staging-joystream.vercel.app/#/settings?network-config=https://34.230.5.182.nip.io/network/config.json

✅ Section name My threads
✅ Display all threads as individual cards (basically filter by creator)
✅ Sorty by date starting with newest on top
✅ Show number of replies (same design as threads on homepage)
⚠️ Threads counter on tab is missed

<img width="1213" alt="Снимок

[2022-11-30 14:32] dmtrjsg opened #3910 "Add threads counter to the tab"
## Context

Threads counter to be added to the tab
![Screenshot 2022-11-30 at 18.31.01.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/d95b5ed1-736d-417b-a7c9-76706c6b4caf)

![Screenshot 2022-11-30 at 18.31.10.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/776547b6-645d-41e9-a25e-19fd90e02539)

## Scope

- [ ] Add counter of threads to the tab
- [ ] Do not sh

[2022-11-30 14:43] dmtrjsg commented on #3152
Will add counter as a separate issue! Thanks @ivanturlakov for a fast turnaround 🙏
- #3910

[2022-11-30 19:48] polikosi commented on #3155
![image](https://user-images.githubusercontent.com/80429191/204894263-4a41a4a5-1290-4dc4-a9be-9259242a7904.png)

![image](https://user-images.githubusercontent.com/80429191/204894164-87650a13-0a99-4bb9-b8e2-07c5ace6cc5a.png)

[2022-11-30 19:55] ivanturlakov commented on #3154
Tested on https://dao-git-staging-joystream.vercel.app/#/settings?network-config=https://34.230.5.182.nip.io/network/config.json

✅ Font upd
✅ Centered on screen w padding
🚫 Action buttons moved to the left
🚫 Sticky title

<img width="1440" alt="Снимок экрана 2022-11-30 в 21 51 02" src="https://user-images.githubusercontent.com/46903215/204895385-49081c3d-58e3-4235-bec3-da8810ee81f3.png">

[2022-11-30 20:33] polikosi commented on #3157
✅Header - Categories

✅Order of categories is hard-coded with fixed positioning
All new categories get added to the bottom of the list.

Categories
![image](https://user-images.githubusercontent.com/80429191/204901920-fcff106d-bf4e-427a-b75f-8c52892a293c.png)

✅New categories get added to the bottom of the list
Added new category "Governance"
![image](https://user-images.githubusercontent.com/8042